{% block content %}

  <section class="invite">

    <article class="invite--content">

      <h1>I would love to have you on the stage at Front-End Conf&nbsp;'13.</h1>
      <p>I heard Gene mentioned that I'd be making it official, so here it is!</p>

      <h2>What, Where and When is it?</h2>
      <p>Front-End Conf is a two-day event with a focus on content, presentation, and behavior. This one will be in St. Petersburg, Florida on July 11-12.

      <h2>Why Me?</h2>
      <p>I've been a fan of your work for a few years, but when I saw you do your presentation at Converge SE I was so pumped! On top of your work being so awesome, your story is so important. You are a perfect example of what happens when you "work hard and be kind".</p>

      <h2>What Do You Want From Me?</h2>
      <p>A presentation that can fill a 50 minute window, including Q&amp;A. Topics are ultimately up to the speaker as I believe that you'll always be your best if it's something you're really passionate about. If you're not tired of doing it, I'd love the presentation you did last year. It would be very powerful for the people here and we do it in this awesome theater where we can crank up the rock!</p>

      <h2>What about Compensation?</h2>
      <p>We like to keep this event affordable for people who freelance or don't work for companies with conf budgets, so we can't offer speaker payment. We do cover expenses so we will fly you out, cover your hotel stay for 3 nights, do a fun speaker dinner, etc.</p>

      <h2>What's Next?</h2>
      <p>If you're still interested, just shoot me an email at <a href="mailto:dan@frontenddesignconference.com">dan@frontenddesignconference.com</a> and I can answer any questions that you have.</p>

      <p>Or, <a href="/">check out the site</a> if you're still on the fence.</p>

    </article>

  </section>

{% endblock %}