{% block content %}

  <section class="invite invite--ryan">

    <div class="invite--content">

      <h1>Join us in Portland?</h1>

      <ol class="invite--details">
        <li>August 22, 2014 at the Portland Center Stage aka The Armory.</li>
        <li>Same deal as in the past: 50 minute window and we'll hook up travel, hotel, and some fun.</li>
        <li>This will be the last Front-End Conf in this format. We'll be changing things up in the future.</li>
      </ol>

      <p class="invite--personal">Hey Ryan! Your presentation in 2011 was one of the most popular ones of all. We'd love to have you up on the stage again for our last event of this style.</p>

    </div>

  </section>

  <script>

    $(function() {
      $("body").addClass("fadeSwap");
    });

  </script>

{% endblock %}
