  <div class="wrapper hero clearfix stay_informed">
        <!-- <h3>Dan Denney has built an amazing event over the last few years and it gets better every time! <a href="http://frontenddesign.tumblr.com/post/104365452033/dan-denney-is-a-hero">Read more about the partnership.</a></h3> -->
    
        <div class="content information">
            <div class="mailinglist_form">
                <form class="clearfix" action="//frontenddesignconference.us2.list-manage.com/subscribe/post?u=040435af75d83823cc94edc9b&amp;id=88b2a28d01" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                    <h3><label for="email">Keep up to date on The Front End Design Conference.</label></h3>
                    <input type="text" name="EMAIL" id="email" placeholder="Your email...">
                    <button class="button" type="submit">Sign Up</button>
                </form>
            </div><div class="blog_link">
                <h3>The Front End Design Blog</h3>
                <a class="button blog_button" href="http://frontenddesign.tumblr.com/">FrontEndDesign.Tumblr.com</a>
            </div>
        </div>

        <div class="social content">
            <a class="twitter" href="http://twitter.com/frontendconf">
                <span class="icon-twitter"></span>
                <span>Twitter</span>
            </a>
            <a class="facebook" href="https://www.facebook.com/FrontEndDesign">
                <span class="icon-facebook"></span>
                <span>Facebook</span>
            </a>
            <a class="lanyrd" href="http://lanyrd.com/2014/frontendconf/">
                <span class="icon-lanyrd"></span>
                <span>Lanyrd</span>
            </a>
        </div>
        </div>

    </div>
    
    <div class="wrapper stakeholders">
        <div class="presenters content clearfix">
            <h3>Presented by:</h3>
            <a class="ums" href="http://www.unmatchedstyle.com">
                <span>UnmatchedStyle</span>
                <img src="/img/2015/svg/ums.svg" onerror="this.src='/img/2015/gif/ums.gif';this.onerror=null" alt="UnmatchedStyle">
            </a><a class="tiy" href="http://www.theironyard.com">
                <span>The Iron Yard</span>
                <img src="/img/2015/svg/ironyard.svg" onerror="this.src='/img/2015/gif/ironyard.gif';this.onerror=null" alt="IronYard">
            </a>
        </div>  
    </div>
    
    
    
    <div class="wrapper footer">
        <div class="content clearfix">
            <h2>Sponsors:</h2>
           		
           		<a href="http://www.ibm.com/design/"><img src="/img/2015/ibmdesign.png" alt="IBM" style="border:0;"></a>

				<a href="http://www.envylabs.com"><img src="/img/2015/envy.png" alt="Envy" style="border:0;"></a>

				<a href="http://purplerockscissors.com/"><img src="/img/2015/prprl.png" alt="Purple, Rock, Scissors" style="border:0;"></a>

				<a href="https://www.codeschool.com"><img src="/img/2015/codeschool.png" alt="CodeSchool" style="border:0;"></a>

				<a href="http://www.shopify.com"><img src="/img/2015/shopify.png" alt="Shopify" style="border:0;"></a>

				<a href="http://www.creativecircle.com/"><img src="/img/2015/CreativeCircle_TealWithTag.png" alt="Creative Circle" style="border:0;"></a>
        </div>  
    </div>
    
    
    <div class="wrapper footer" id="mobile">
        <div class="footer_nav">
            <h3>Menu</h3>
            <?php require "navigation.php" ?>
        </div>

        <p class="secondary_nav">&copy; 2015 Front End Design Conference & UnmatchedStyle.com</p>
        
        <p class="past_sites">
            <a href="http://www.frontenddesignconference.com/2014-portland.html">2014 Portland</a> |
            <a href="http://www.frontenddesignconference.com/2014-st-pete.html">2014 St. Pete</a> |
            <a href="http://www.frontenddesignconference.com/2013.html">2013</a> | 
            <a href="http://www.frontenddesignconference.com/2012.html">2012</a> | 
            <a href="http://www.frontenddesignconference.com/2011.html">2011</a> | 
            <a href="http://www.frontenddesignconference.com/2010.html">2010</a> | 
            <a href="http://www.frontenddesignconference.com/2009.html">2009</a>
        </p>
    </div>
</body>

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78034-60', 'auto');
  ga('send', 'pageview');

</script>

</html>