<footer class="bg-black flex flex-wrap items-center justify-center p-6">
  <nav class="flex">
    <a class="link" href="/">Home</a>
    <a class="link ml-4" href="/tinkerings">Tinkerings</a>
    <a class="link ml-4" href="/blips">Blips</a>
    <a class="link ml-4" href="/posts">Posts</a>
  </nav>
</footer>