<header class="flex flex-wrap items-center justify-center p-8 sm:justify-between">
  <a class="mb-4 sm:mb-0" href="/"><img alt="Illustration of Dan Denney, by Ricardo Gimenes" src="/img/dan-denney-circle.svg" width="60" /></a>
  <nav class="flex">
    <a class="link ml-4" href="/tinkerings">Tinkerings</a>
    <a class="link ml-4" href="/blips">Blips</a>
    <a class="link ml-4" href="/posts">Posts</a>
  </nav>
</header>