<!doctype html>
  <html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>{% block title %}Front-End Conf 2013{% endblock %}</title>
      {{ "app.css" | asset_url | stylesheet_tag }}     
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    </head>
    <body class="{% if mixture.url == 'index' %}home{% elsif mixture.url == '2012' %}prev-2012{% elsif mixture.url == '2011' %}prev-2011{% elsif mixture.url == '2010' %}prev-2010{% elsif mixture.url == '2009' %}prev-2009{% elsif mixture.url == 'registration-info' %}registration{% endif %}">
      <nav class="nav--toggle">
        <a href="/" {% if mixture.url == "index" %}class="current"{% endif %}>Home</a>
        <a href="/registration-info" {% if mixture.url == "registration-info" %}class="current"{% endif %}>Registration</a>
        <a href="/registration-info#pre-conf" class="sub {% if mixture.url == "registration-info#pre-conf" %}current{% endif %}">#pre-conf</a>
        <a href="/registration-info#day-one" class="sub {% if mixture.url == "registration-info#day-one" %}current{% endif %}">#day-one</a>
        <a href="/registration-info#day-two" class="sub {% if mixture.url == "registration-info#day-two" %}current{% endif %}">#day-two</a>
        <a href="/registration-info#area-info" class="sub {% if mixture.url == "registration-info#area-info" %}current{% endif %}">#area-info</a>
        <a href="/2012" class="{% if mixture.url == "2012" %}current{% endif %}">2012</a>
        <a href="/2011" class="{% if mixture.url == "2011" %}current{% endif %}">2011</a>
        <a href="/2010" class="{% if mixture.url == "2010" %}current{% endif %}">2010</a>
        <a href="/2009" class="{% if mixture.url == "registration-info#2009" %}current{% endif %}">2009</a>
      </nav>
      <header>
        <a href="/" class="logo">
          Front-End <span>Design Conference</span>
        </a>
        <i aria-role="hidden" data-icon="&#x6d;" class="nav--toggle nav--trigger"></i> 
      </header>
      <main>
        {% block content %}{% endblock %}
      </main>
      <footer>
        {% include "navigation" %}
        <div class="contact">
          Contact Info: 
          <a href="https://twitter.com/frontendconf">
            <i aria-role="hidden" data-icon="&#x74;"></i> 
          </a>
          <a href="http://www.facebook.com/FrontEndDesign">
            <i aria-role="hidden" data-icon="&#x66;"></i> 
          </a>
          <a href="https://dandenney.wufoo.com/forms/frontend-design-conference-support/">
            <i aria-role="hidden" data-icon="&#x63;"></i> 
          </a>
        </div>
        <a href="http://mixture.io" class="mixture">Built and hosted with Mixture.io <img src="{{ "mixture.png" | asset_url }}" alt="Mixture.io" /></a>
      </footer>
      {{ "app.js" | asset_url | script_tag }}
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3589831-5']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    </body>
  </html>