{% block content %}

  <div class="presentation inner">

    <h1>Choose!</h1>

    <div class="iframe">
      <img src="{{ "no-slides.svg" | asset_url }}" alt="Sorry! No Slides" class="no-slides">
    </div>

    <aside>

      <h5>Presented by:</h5>
        
      <img src="{{ "carl-smith.jpg" | asset_url }}" alt="Carl Smith">

      <img src="{{ "carl-smith.svg" | asset_url }}" alt="Carl Smith" class="character">
      
      <h4>Carl Smith</h4>

      <p>Carl is the "Chief Keeper Upper" at <a href="http://www.ngenworks.com">nGen Works</a>, which is based out of Jacksonville, Florida. He and his awesome team "use strategy technology and creativity to help people kick ass in the digital world". He is an all-around great dude and a very dynamic speaker. I've been lucky enough to see him speak at ConvergeSE and In Control. You will be inspired!</p>
      
      <p class="h5">June 8, 2012 - 02:20PM to 03:10PM</p>

    </aside>

  </div>

  <section id="feedback" class="inner">

    <h2>Feedback</h2>

    <ul class="tweets">
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">I really, really, really want a @github T-Shirt! #really #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cmchase" title="cmchase"><img src="http://a0.twimg.com/profile_images/2084430798/icon_normal.png" alt="cmchase"/></a></li>
          <li class="tw-tweet">Wow! #frontendconf @carlsmith</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/itsRayLand" title="itsRayLand"><img src="http://a0.twimg.com/profile_images/2119441149/image_normal.jpg" alt="itsRayLand"/></a></li>
          <li class="tw-tweet">RT @GavinStark: "Don't be the monkey that doesn't grab the bananas" #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kellikreighbaum" title="kellikreighbaum"><img src="http://a0.twimg.com/profile_images/1346912695/profile-sm_reasonably_small_normal.jpg" alt="kellikreighbaum"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Choose! Always try, trust yourself and stop listening to others. #trythebananas @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Brand180" title="Brand180"><img src="http://a0.twimg.com/profile_images/2289513193/image_normal.jpg" alt="Brand180"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Choose! Always try, trust yourself and stop listening to others. #trythebananas @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanbarresi" title="ryanbarresi"><img src="http://a0.twimg.com/profile_images/2288479070/wfy2iw3xh78j5hpgusac_normal.jpeg" alt="ryanbarresi"/></a></li>
          <li class="tw-tweet">“Not knowing where I’m going is a lot better then not having a place to go”
- Prince via @carlsmith  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brennaob" title="brennaob"><img src="http://a0.twimg.com/profile_images/2188924069/DSC_0460_normal.JPG" alt="brennaob"/></a></li>
          <li class="tw-tweet">"Don't be the monkey that doesn't go for the banana." Loads of inspiration from @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alexswanson09" title="alexswanson09"><img src="http://a0.twimg.com/profile_images/2228966513/photo444-sml_normal.jpg" alt="alexswanson09"/></a></li>
          <li class="tw-tweet">RT @shayhowe: "Don't hire anyone you don't like, you will have to work with them." via @ carlsmith at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/philrulesdesign" title="philrulesdesign"><img src="http://a0.twimg.com/profile_images/1280780842/self_portrait_normal.jpeg" alt="philrulesdesign"/></a></li>
          <li class="tw-tweet">Two Portal references in one #frontendconf? — Magic. Thanks, @carlsmith.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Choose! Always try, trust yourself and stop listening to others. #trythebananas @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/itsRayLand" title="itsRayLand"><img src="http://a0.twimg.com/profile_images/2119441149/image_normal.jpg" alt="itsRayLand"/></a></li>
          <li class="tw-tweet">yes I am!! “@iMuriente: No, I wish. Im following it though. R u? “@itsRayLand: @iMuriente yo! My friend!!!! Are you at #frontendconf ??? :)”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/DesignDocent" title="DesignDocent"><img src="http://a0.twimg.com/profile_images/1215080011/twitter_icon_normal.jpg" alt="DesignDocent"/></a></li>
          <li class="tw-tweet">"don't be the monkey that doesn't grab the bananas" - @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alexswanson09" title="alexswanson09"><img src="http://a0.twimg.com/profile_images/2228966513/photo444-sml_normal.jpg" alt="alexswanson09"/></a></li>
          <li class="tw-tweet">"the bananas are a lie" #portal @carlsmith #FrontEndConf awesome presentation!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/itsRayLand" title="itsRayLand"><img src="http://a0.twimg.com/profile_images/2119441149/image_normal.jpg" alt="itsRayLand"/></a></li>
          <li class="tw-tweet">Fail forward.Listen.Trust yourself.Never quit.Find a way.Relax.Find common goals.Laugh.Adapt.Stop losing.Choose. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Great presentation! Very funny! @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jackiesmith1011" title="jackiesmith1011"><img src="http://a0.twimg.com/profile_images/1669677086/me-2_normal.jpg" alt="jackiesmith1011"/></a></li>
          <li class="tw-tweet">RT @Meeetcute: #frontendconf folks: If you're a freelancer Meeetcute is for you. Form working relationships with other designers/devs. h ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/travislopes" title="travislopes"><img src="http://a0.twimg.com/profile_images/1259262098/eightbit-cb08c275-7a1c-4631-aa4e-063c84ac8b51_normal.png" alt="travislopes"/></a></li>
          <li class="tw-tweet">RT @GavinStark: "Don't be the monkey that doesn't grab the bananas" #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">RT @GavinStark: "Don't be the monkey that doesn't grab the bananas" #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alisonmf" title="alisonmf"><img src="http://a0.twimg.com/profile_images/1774016779/alison-twitter-square-prett_normal.jpg" alt="alisonmf"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Choose! Always try, trust yourself and stop listening to others. #trythebananas @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kellikreighbaum" title="kellikreighbaum"><img src="http://a0.twimg.com/profile_images/1346912695/profile-sm_reasonably_small_normal.jpg" alt="kellikreighbaum"/></a></li>
          <li class="tw-tweet">We listen to each other too much!!! - good advice!!! From @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf choose, believe, try</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nightshiftc" title="nightshiftc"><img src="http://a0.twimg.com/profile_images/1349224468/5695764117_3ebfdc7ca3_b_normal.jpg" alt="nightshiftc"/></a></li>
          <li class="tw-tweet">"don't be the monkey that doesn't grab the bananas" @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/GavinStark" title="GavinStark"><img src="http://a0.twimg.com/profile_images/421546158/4ffa397c06b8c8b3b8be65c255ccc06a_normal.jpeg" alt="GavinStark"/></a></li>
          <li class="tw-tweet">"Don't be the monkey that doesn't grab the bananas" #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">Most inspiring talk today by Mr. @carlsmith. Tough to top! #frontendconf @frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Choose! Always try, trust yourself and stop listening to others. #trythebananas @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">The bananas are a lie. @carlsmith #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/michaelmcgee" title="michaelmcgee"><img src="http://a0.twimg.com/profile_images/2235208550/freddie_normal.png" alt="michaelmcgee"/></a></li>
          <li class="tw-tweet">"Stop losing, duh!" #FrontEndConf @carlsmith</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Charlie Sheen got the biggest laugh. "Stop losing, why am i listening to Charlie Sheen?" @carlsmith  #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf tiger blood!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Don't get rushed, start when your ready. @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/1887697806/image_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">. @carlsmith shows others why assholes and angels are necessary for success #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jordancjohnson" title="jordancjohnson"><img src="http://a0.twimg.com/profile_images/2238663728/JJtweet_normal.jpg" alt="jordancjohnson"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: Muhammad Ali was the master of physiological warfare. Invented "rope a dope". @carlsmith  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/FiveOneDigital" title="FiveOneDigital"><img src="http://a0.twimg.com/profile_images/2256168125/fiveone-logo-MAIN_normal.png" alt="FiveOneDigital"/></a></li>
          <li class="tw-tweet">Just searching #frontendconf on twitter right now you can find lots of great #html #JavaScript #css #jQuery slides &amp; resources! Great stuff!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: "Learn to laugh at yourself" @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Focus on what's important, and then look at the other stuff. #dailycommitment @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">RT @internetAaron: Love how @carlsmith is interacting with the signer during his talk. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Fail forward, learn from your mistakes. Get up and start again. Treat life like a video game. @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: "Spidy says don't do crack." @carlsmith #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Muhammad Ali was the master of physiological warfare. Invented "rope a dope". @carlsmith  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/michaelmcgee" title="michaelmcgee"><img src="http://a0.twimg.com/profile_images/2235208550/freddie_normal.png" alt="michaelmcgee"/></a></li>
          <li class="tw-tweet">Ali! Bumaye! Ali! Bumaye! #FrontEndConf @carlsmith</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MinaMarkham" title="MinaMarkham"><img src="http://a0.twimg.com/profile_images/1878583862/me-instagramed-no-border_normal.jpg" alt="MinaMarkham"/></a></li>
          <li class="tw-tweet">RT @nikibrown: Highlight of the day: watching the sign language interpreter blush when translating ‘douchebag’. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">ali boombaye!!!! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: Don King was too dumb to know he couldn't succeed. @carlsmith #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">RT @jasonvanlue: I love how @carlsmith is a master story teller #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">"Learn to laugh at yourself" @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/timothybsmith" title="timothybsmith"><img src="http://a0.twimg.com/profile_images/1743072755/avatar-tim22_normal.jpg" alt="timothybsmith"/></a></li>
          <li class="tw-tweet">I can make you feel bad for Will Shatner

—@carlsmith, #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/GavinStark" title="GavinStark"><img src="http://a0.twimg.com/profile_images/421546158/4ffa397c06b8c8b3b8be65c255ccc06a_normal.jpeg" alt="GavinStark"/></a></li>
          <li class="tw-tweet">"I can make you feel bad for Shatner. That's awesome." #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/michaelmcgee" title="michaelmcgee"><img src="http://a0.twimg.com/profile_images/2235208550/freddie_normal.png" alt="michaelmcgee"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: "Spidy says don't do crack." @carlsmith #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/FiveOneDigital" title="FiveOneDigital"><img src="http://a0.twimg.com/profile_images/2256168125/fiveone-logo-MAIN_normal.png" alt="FiveOneDigital"/></a></li>
          <li class="tw-tweet">+1 //RT @darcy_clarke My #frontendconf slides are now live! See here (lots of helpful links+resources): http://t.co/bkkKkRPR #js #css #html</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/rchlm" title="rchlm"><img src="http://a0.twimg.com/profile_images/1846708934/RichIconStar2_normal.png" alt="rchlm"/></a></li>
          <li class="tw-tweet">View from the balcony. #frontendconf http://t.co/cqPTRZZu</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jasonvanlue" title="jasonvanlue"><img src="http://a0.twimg.com/profile_images/1797130406/JVL_twitter-new_normal.jpg" alt="jasonvanlue"/></a></li>
          <li class="tw-tweet">I love how @carlsmith is a master story teller #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Don King was too dumb to know he couldn't succeed. @carlsmith #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cmdshiftdesign" title="cmdshiftdesign"><img src="http://a0.twimg.com/profile_images/1376883230/photo_normal.jpg" alt="cmdshiftdesign"/></a></li>
          <li class="tw-tweet">#frontendconf to be fair, i think i have a crush on all of todays awesome speakers! &lt;3</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/FiveOneDigital" title="FiveOneDigital"><img src="http://a0.twimg.com/profile_images/2256168125/fiveone-logo-MAIN_normal.png" alt="FiveOneDigital"/></a></li>
          <li class="tw-tweet">+1 Sounds like an awesome web dev conference. Hope everyone is enjoying! //RT @thealina #frontendconf enjoy failure</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a0.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">“don’t hire anyone you don’t like. You’re going to have to work with them” #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cmdshiftdesign" title="cmdshiftdesign"><img src="http://a0.twimg.com/profile_images/1376883230/photo_normal.jpg" alt="cmdshiftdesign"/></a></li>
          <li class="tw-tweet">RT @pagebreakpdcst: yay! clay shirky reference in @carlsmith #frontendconf! talk :) Read his book, do it! And listen to episode 7: http: ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nikibrown" title="nikibrown"><img src="http://a0.twimg.com/profile_images/2279345632/b6ip672dj6n2q0oej4lh_normal.jpeg" alt="nikibrown"/></a></li>
          <li class="tw-tweet">RT @pagebreakpdcst: yay! clay shirky reference in @carlsmith #frontendconf! talk :) Read his book, do it! And listen to episode 7: http: ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/shayhowe" title="shayhowe"><img src="http://a0.twimg.com/profile_images/1718704725/shay_normal.jpg" alt="shayhowe"/></a></li>
          <li class="tw-tweet">"Don't hire anyone you don't like, you will have to work with them." via @ carlsmith at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pagebreakpdcst" title="pagebreakpdcst"><img src="http://a0.twimg.com/profile_images/1126497211/pagebreak_logo_normal.png" alt="pagebreakpdcst"/></a></li>
          <li class="tw-tweet">yay! clay shirky reference in @carlsmith #frontendconf! talk :) Read his book, do it! And listen to episode 7: http://t.co/vamYIaTj</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kellikreighbaum" title="kellikreighbaum"><img src="http://a0.twimg.com/profile_images/1346912695/profile-sm_reasonably_small_normal.jpg" alt="kellikreighbaum"/></a></li>
          <li class="tw-tweet">Carl smiths preso! #frontendconf   @ Palladium Theater http://t.co/oVRDLzls</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/_jnav" title="_jnav"><img src="http://a0.twimg.com/profile_images/1712889404/me_normal.jpg" alt="_jnav"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Fail forward, learn from your mistakes. Get up and start again. Treat life like a video game. @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a0.twimg.com/profile_images/1752968445/wbm-ibjhb_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">RT @thealina: #frontendconf enjoy failure</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf "twitterbitch" best new phrase</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Embrace your connections, relax. Don't worry about what authority and those who oppose you. Just do it! @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cmdshiftdesign" title="cmdshiftdesign"><img src="http://a0.twimg.com/profile_images/1376883230/photo_normal.jpg" alt="cmdshiftdesign"/></a></li>
          <li class="tw-tweet">maybe its my belly full of pizza &amp; beer talking or maybe its his awesome talk, but i think i have a little crush on @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/1887697806/image_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">RT @xirclebox: Spiderman says don't use bath salts #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @thealina: #frontendconf enjoy failure</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Fail forward, learn from your mistakes. Get up and start again. Treat life like a video game. @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Haha! RT @xirclebox: Spiderman says don't use bath salts #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">Spiderman says don't use bath salts #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">"Spidy says don't do crack." @carlsmith #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1868043304/daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">RT @nikibrown: Highlight of the day: watching the sign language interpreter blush when translating ‘douchebag’. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Fail forward, learn from your mistakes. Get up and start again. Treat life like a video game. @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">"Enjoy failure". @carlsmith #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf enjoy failure</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/BigSea" title="BigSea"><img src="http://a0.twimg.com/profile_images/1551437548/twitter-sep11_normal.jpg" alt="BigSea"/></a></li>
          <li class="tw-tweet">RT @darcy_clarke: My #frontendconf slides are now live! Check them out here (lots of helpful links+resources): http://t.co/YWOLndTY #js  ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a0.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">Almost made me laugh out loud during this presentation… #frontendconf RT @r38y: Current status http://t.co/PSiasKJZ</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Celebrate your successes, but not too much. Keep your eye on the ball! @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nikibrown" title="nikibrown"><img src="http://a0.twimg.com/profile_images/2279345632/b6ip672dj6n2q0oej4lh_normal.jpeg" alt="nikibrown"/></a></li>
          <li class="tw-tweet">Highlight of the day: watching the sign language interpreter blush when translating ‘douchebag’. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cnewvine" title="cnewvine"><img src="http://a0.twimg.com/profile_images/2226154295/Colleen_Newvine_mugshot_2012_normal.JPG" alt="cnewvine"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: Dumbo was the only movie from Disney that was on-time and on-budget because Walt Disney wasn't involved. #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nightshiftc" title="nightshiftc"><img src="http://a0.twimg.com/profile_images/1349224468/5695764117_3ebfdc7ca3_b_normal.jpg" alt="nightshiftc"/></a></li>
          <li class="tw-tweet">@carlsmith is fucking hilarious. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Pongs w/ "martial aids". Boom. @carlsmith #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/SMNoob" title="SMNoob"><img src="http://a0.twimg.com/profile_images/1852048217/image_normal.jpg" alt="SMNoob"/></a></li>
          <li class="tw-tweet">RT @Soben: Nikola Tesla all the way! RT @brennaob: All of #frontendconf just yelled "asshole" at a picture of Edison. Nicely done, @carl ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ZedLove" title="ZedLove"><img src="http://a0.twimg.com/profile_images/1869491282/creeperZak_normal.jpg" alt="ZedLove"/></a></li>
          <li class="tw-tweet">THIS! RT @brennaob: All of #frontendconf just yelled "asshole" at a picture of Edison. Nicely done, @carlsmith. #nerds</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a0.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">Nikola Tesla all the way! RT @brennaob: All of #frontendconf just yelled "asshole" at a picture of Edison. Nicely done, @carlsmith. #nerds</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/michaelmcgee" title="michaelmcgee"><img src="http://a0.twimg.com/profile_images/2235208550/freddie_normal.png" alt="michaelmcgee"/></a></li>
          <li class="tw-tweet">RT @brennaob: All of #frontendconf just yelled "asshole" at a picture of Edison. Nicely done, @carlsmith. #nerds</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanaduffy" title="ryanaduffy"><img src="http://a0.twimg.com/profile_images/1185375857/avatar_normal.png" alt="ryanaduffy"/></a></li>
          <li class="tw-tweet">"It's not how you start, just keep failing forward and don't give up" - @carlsmith #frontendconf http://t.co/b5EO4ETX</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Changes are about starting new, trusting yourself and never quiting. It's never too late. @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">It's not how you start. Never quit. Trust youtself. Walt Disney started out crappy, invented alot. #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brennaob" title="brennaob"><img src="http://a0.twimg.com/profile_images/2188924069/DSC_0460_normal.JPG" alt="brennaob"/></a></li>
          <li class="tw-tweet">All of #frontendconf just yelled "asshole" at a picture of Edison. Nicely done, @carlsmith. #nerds</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/codex73" title="codex73"><img src="http://a0.twimg.com/profile_images/2288402697/sxnz9cwc0sonsztborn8_normal.png" alt="codex73"/></a></li>
          <li class="tw-tweet">RT @benmarte: he's awesome “@ShawnCBerg: Fuckin love this guy! @carlsmith @frontendconf #frontendconf”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Dumbo was the only movie from Disney that was on-time and on-budget because Walt Disney wasn't involved. #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a0.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">RT @bermonpainter: Carla the sign language lady at #frontendconf is amazing. She rocks along with the presenters like nobody's business. ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/eugegim" title="eugegim"><img src="http://a0.twimg.com/profile_images/238015080/Zoidberg_normal.png" alt="eugegim"/></a></li>
          <li class="tw-tweet">RT @darcy_clarke: My #frontendconf slides are now live! Check them out here (lots of helpful links+resources): http://t.co/YWOLndTY #js  ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/michigangraham" title="michigangraham"><img src="http://a0.twimg.com/profile_images/2205309246/twitter-avatar_normal.png" alt="michigangraham"/></a></li>
          <li class="tw-tweet">Get @bermonpainter‘s slides featured on @speakerdeck http://t.co/oDKqzOqt #frontendconf @frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/internetAaron" title="internetAaron"><img src="http://a0.twimg.com/profile_images/1452429444/headShot_normal.png" alt="internetAaron"/></a></li>
          <li class="tw-tweet">Love how @carlsmith is interacting with the signer during his talk. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @bermonpainter: Carla the sign language lady at #frontendconf is amazing. She rocks along with the presenters like nobody's business. ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">he's awesome “@ShawnCBerg: Fuckin love this guy! @carlsmith @frontendconf #frontendconf”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanbarresi" title="ryanbarresi"><img src="http://a0.twimg.com/profile_images/2288479070/wfy2iw3xh78j5hpgusac_normal.jpeg" alt="ryanbarresi"/></a></li>
          <li class="tw-tweet">RT @bermonpainter: Presentation from #frontendconf 

CSS Pre-Processors: Sass, Less &amp; Stylus https://t.co/fGPZlIOF</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">RT @bermonpainter: Presentation from #frontendconf 

CSS Pre-Processors: Sass, Less &amp; Stylus https://t.co/fGPZlIOF</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">RT @bermonpainter: Presentation from #frontendconf 

CSS Pre-Processors: Sass, Less &amp; Stylus https://t.co/fGPZlIOF</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bermonpainter" title="bermonpainter"><img src="http://a0.twimg.com/profile_images/2206496373/mustache_normal.png" alt="bermonpainter"/></a></li>
          <li class="tw-tweet">Presentation from #frontendconf 

CSS Pre-Processors: Sass, Less &amp; Stylus https://t.co/fGPZlIOF</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/1887697806/image_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">RT @bermonpainter: Carla the sign language lady at #frontendconf is amazing. She rocks along with the presenters like nobody's business. ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">RT @ejstembler: 3 days of @carlsmith awesomeness! #frontendconf #lessmoney</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bermonpainter" title="bermonpainter"><img src="http://a0.twimg.com/profile_images/2206496373/mustache_normal.png" alt="bermonpainter"/></a></li>
          <li class="tw-tweet">Carla the sign language lady at #frontendconf is amazing. She rocks along with the presenters like nobody's business. http://t.co/2OVjSXKt</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/fisheespix" title="fisheespix"><img src="http://a0.twimg.com/profile_images/1879353858/about_andy-merhaut_480x681_normal.jpg" alt="fisheespix"/></a></li>
          <li class="tw-tweet">Thoreau - beware all enterprises that require new clothes. I am overdressed for #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Never enter any enterprise if you have to change your appearance or language, be yourself. @carlsmith #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">Fuckin love this guy! @carlsmith @frontendconf #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/internetAaron" title="internetAaron"><img src="http://a0.twimg.com/profile_images/1452429444/headShot_normal.png" alt="internetAaron"/></a></li>
          <li class="tw-tweet">RT @darcy_clarke: My #frontendconf slides are now live! Check them out here (lots of helpful links+resources): http://t.co/YWOLndTY #js  ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/themattbrown" title="themattbrown"><img src="http://a0.twimg.com/profile_images/2239608343/temp1337652744strip20120521-32765-175yq7o_normal" alt="themattbrown"/></a></li>
          <li class="tw-tweet">RT @nrrrdcore: If a talk doesn't make you want to leave your seat and go build something, it's probably not one worth hearing. @darcy_cl ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/seandeladead" title="seandeladead"><img src="http://a0.twimg.com/profile_images/651764742/glasses_normal.jpg" alt="seandeladead"/></a></li>
          <li class="tw-tweet">@carlsmith is the best #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ejstembler" title="ejstembler"><img src="http://a0.twimg.com/profile_images/1815681020/ejs_profile_normal.png" alt="ejstembler"/></a></li>
          <li class="tw-tweet">3 days of @carlsmith awesomeness! #frontendconf #lessmoney</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Next up @carlsmith "Choose" #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nikibrown" title="nikibrown"><img src="http://a0.twimg.com/profile_images/2279345632/b6ip672dj6n2q0oej4lh_normal.jpeg" alt="nikibrown"/></a></li>
          <li class="tw-tweet">Love that my #frontendconf badge has my illustration by @behindcadi     http://t.co/FwHGcaKY</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Transition" title="Transition"><img src="http://a0.twimg.com/profile_images/1786446745/reflectionSmall2_normal.png" alt="Transition"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: CSS Flexible Box Layout was mentioned. Here's a good link explaining it: http://t.co/TFOJ25rA #frontendconf @darcy_c ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @kevinrazmus: #frontendconf just got back from lunch #redmesa with @benmarte @lecdesign.  ready for second half. Great conference!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @bermonpainter: Thanks #frontendconf folks for the nice comments.  Give @teamsassdesign a follow to keep tabs on new #teamsass design ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/TeufelAbgott" title="TeufelAbgott"><img src="http://a0.twimg.com/profile_images/2169814184/image_normal.jpg" alt="TeufelAbgott"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: #frontendconf "The only intuitive interface is the nipple." @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @darcy_clarke: My #frontendconf slides are now live! Check them out here (lots of helpful links+resources): http://t.co/YWOLndTY #js  ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kevinrazmus" title="kevinrazmus"><img src="http://a0.twimg.com/profile_images/612984535/profile_normal.jpg" alt="kevinrazmus"/></a></li>
          <li class="tw-tweet">#frontendconf just got back from lunch #redmesa with @benmarte @lecdesign.  ready for second half. Great conference!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nightshiftc" title="nightshiftc"><img src="http://a0.twimg.com/profile_images/1349224468/5695764117_3ebfdc7ca3_b_normal.jpg" alt="nightshiftc"/></a></li>
          <li class="tw-tweet">RT @jasonvanlue: Had a blast with that talk, thanks everyone for the kind words. Slides are here - https://t.co/RS0Q7uCx

#frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/timothybsmith" title="timothybsmith"><img src="http://a0.twimg.com/profile_images/1743072755/avatar-tim22_normal.jpg" alt="timothybsmith"/></a></li>
          <li class="tw-tweet">@Transition I say go for it. Only way to learn is to try. #frontendconf 

Cc:/ @nikibrown</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/AlxRodz" title="AlxRodz"><img src="http://a0.twimg.com/profile_images/2194417997/temp1336272194strip20120505-7362-3p4d9q_normal" alt="AlxRodz"/></a></li>
          <li class="tw-tweet">RT @darcy_clarke: My #frontendconf slides are now live! Check them out here (lots of helpful links+resources): http://t.co/YWOLndTY #js  ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kellikreighbaum" title="kellikreighbaum"><img src="http://a0.twimg.com/profile_images/1346912695/profile-sm_reasonably_small_normal.jpg" alt="kellikreighbaum"/></a></li>
          <li class="tw-tweet">We ll be late back but the food is super good #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/mike_key" title="mike_key"><img src="http://a0.twimg.com/profile_images/2055593154/newavatar_normal.jpg" alt="mike_key"/></a></li>
          <li class="tw-tweet">Back at #frontendconf (@ Palladium Theater w/ 5 others) http://t.co/uQtKxc5v</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Transition" title="Transition"><img src="http://a0.twimg.com/profile_images/1786446745/reflectionSmall2_normal.png" alt="Transition"/></a></li>
          <li class="tw-tweet">@nikibrown we want to hear about CSS preprocs on @pagebreakpdcst. Snippet! Or, a whole #frontendconf show. @cmdshiftdesign, take notes!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nightshiftc" title="nightshiftc"><img src="http://a0.twimg.com/profile_images/1349224468/5695764117_3ebfdc7ca3_b_normal.jpg" alt="nightshiftc"/></a></li>
          <li class="tw-tweet">RT @darcy_clarke: My #frontendconf slides are now live! Check them out here (lots of helpful links+resources): http://t.co/YWOLndTY #js  ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/tonyjcamp" title="tonyjcamp"><img src="http://a0.twimg.com/profile_images/1747242993/avatar_normal.jpg" alt="tonyjcamp"/></a></li>
          <li class="tw-tweet">RT @darcy_clarke: My #frontendconf slides are now live! Check them out here (lots of helpful links+resources): http://t.co/YWOLndTY #js  ...</li>
        </ul>
      </li>
    
    </ul>
    


  </section>

{% endblock %}