{% block content %}

  <div class="presentation inner">

    <h1>CSS-Preprocessors: Stylus,&nbsp;Less and&nbsp;Sass,&nbsp;Oh&nbsp;My!</h1>

    <div class="iframe">
      <script async class="speakerdeck-embed" data-id="4fd2403f469d20018702f76a" data-ratio="1.3333333333333333" src="//speakerdeck.com/assets/embed.js"></script>
    </div>

    <aside>

      <h5>Presented by:</h5>
        
      <img src="{{ "bermon-painter.jpg" | asset_url }}" alt="Bermon Painter">

      <img src="{{ "bermon-painter.svg" | asset_url }}" alt="Bermon Painter" class="character">
      
      <h4>Bermon Painter</h4>

      <p>Bermon is a hybrid designer/developer and super active in the community. In Charlotte, he heads up multiple meetups and participates in others. You can keep up with it all on <a href="http://bermonpainter.com">his site</a>. On top of his day job and all of that, he also is part of the team that is redesigning the <a href="http://sass-lang.com">Sass site</a>. As a lover of cupcakes, he fits right in!</p>
      
      <p class="h5">June 8, 2012 - 12:30PM to 01:20PM</p>

    </aside>

  </div>

  <section id="feedback" class="inner">

    <h2>Feedback</h2>

    <ul class="tweets">
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bermonpainter" title="bermonpainter"><img src="http://a0.twimg.com/profile_images/2206496373/mustache_normal.png" alt="bermonpainter"/></a></li>
          <li class="tw-tweet">Getting 250 people to send a virtual hug. Fantastic crowd! #frontendconf   @ Palladium Theater http://t.co/ihBzsslW</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">NOM #frontendconf (@ Chipotle Mexican Grill) http://t.co/JwmO17pq</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Lunch time at Chipotle. #frontendconf http://t.co/UMDPYWJg</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">#Frontendconf lunch break (@ Wood Fired Pizza &amp; Nightlife) [pic]: http://t.co/QfXgqBsj</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/TheSassWay" title="TheSassWay"><img src="http://a0.twimg.com/profile_images/1480289407/album-art-3_normal.png" alt="TheSassWay"/></a></li>
          <li class="tw-tweet">RT @chrismorata: Pumped for @bermonpainter's talk on CSS Preprocessors. Especially @TheSassWay :) #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/theshoutingfox" title="theshoutingfox"><img src="http://a0.twimg.com/profile_images/2281975177/s9w3uqrnl5ds1425ea4c_normal.png" alt="theshoutingfox"/></a></li>
          <li class="tw-tweet">RT @richardsession: Some good stuff under the #frontendconf hashtag</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/theshoutingfox" title="theshoutingfox"><img src="http://a0.twimg.com/profile_images/2281975177/s9w3uqrnl5ds1425ea4c_normal.png" alt="theshoutingfox"/></a></li>
          <li class="tw-tweet">RT @kellikreighbaum: My new favorite word!! "automagically" via @bermonpainter #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/iMuriente" title="iMuriente"><img src="http://a0.twimg.com/profile_images/2072293419/image_normal.jpg" alt="iMuriente"/></a></li>
          <li class="tw-tweet">No, I wish. Im following it though. R u? “@itsRayLand: @iMuriente yo! My friend!!!! Are you at #frontendconf ??? :)”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/fabuloso" title="fabuloso"><img src="http://a0.twimg.com/profile_images/1509031510/5999850623_4b0e93be8d_o_normal.jpg" alt="fabuloso"/></a></li>
          <li class="tw-tweet">“Just warned Wood Fired Pizza that we're coming en masse, so join us for lunch if you'd like. 4th st &amp; 1st Ave S #Frontendconf” @codex73</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/leonardorb" title="leonardorb"><img src="http://a0.twimg.com/profile_images/1881662850/180615_1704637690820_1084345653_31469201_6995048_n_normal.jpg" alt="leonardorb"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: More on Sass control directives: @if, @for, @each and @while http://t.co/CD7IDwZb #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/69_GrandPrix" title="69_GrandPrix"><img src="http://a0.twimg.com/profile_images/74500359/Picture4_010_normal.jpg" alt="69_GrandPrix"/></a></li>
          <li class="tw-tweet">RT @TamiFromMiami: Yes... Automagically! Love that word. Thanks @bermonpainter #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jonfriskicsucf" title="jonfriskicsucf"><img src="http://a0.twimg.com/profile_images/1276496859/fctl_friskics_twitter_normal.jpg" alt="jonfriskicsucf"/></a></li>
          <li class="tw-tweet">Walking down to @TijuanaFlats for lunch if anyone wants to come with/meet up #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Lunch time at #frontendconf, will return around 2:20. #whatareweeating</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jocelyne_s" title="jocelyne_s"><img src="http://a0.twimg.com/profile_images/1173245309/profile_normal.jpg" alt="jocelyne_s"/></a></li>
          <li class="tw-tweet">glad to hear there is hope of never having to make a sprite again.. #sass #compass #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">@AlyssaNicoll @bermonpainter did you say *fun* math? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frontendconf" title="frontendconf"><img src="http://a0.twimg.com/profile_images/1218667040/front-end-twitter-avatar_normal.png" alt="frontendconf"/></a></li>
          <li class="tw-tweet">RT @kellikreighbaum: My new favorite word!! "automagically" via @bermonpainter #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/danielnolan" title="danielnolan"><img src="http://a0.twimg.com/profile_images/1215215394/d_s-tat_normal.jpg" alt="danielnolan"/></a></li>
          <li class="tw-tweet">RT @ryanbarresi: Watching @bermonpainter talk per-processors @frontendconf 

#frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kellikreighbaum" title="kellikreighbaum"><img src="http://a0.twimg.com/profile_images/1346912695/profile-sm_reasonably_small_normal.jpg" alt="kellikreighbaum"/></a></li>
          <li class="tw-tweet">My new favorite word!! "automagically" via @bermonpainter #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">RT @_jnav: great talk about sass @bermonpainter #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frankiejramirez" title="frankiejramirez"><img src="http://a0.twimg.com/profile_images/2281491651/OXeJuruR_normal" alt="frankiejramirez"/></a></li>
          <li class="tw-tweet">#teamsass @bermonpainter #frontendconf that is all.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/_jnav" title="_jnav"><img src="http://a0.twimg.com/profile_images/1712889404/me_normal.jpg" alt="_jnav"/></a></li>
          <li class="tw-tweet">great talk about sass @bermonpainter #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/AlyssaNicoll" title="AlyssaNicoll"><img src="http://a0.twimg.com/profile_images/1785400687/alyssa_normal.jpg" alt="AlyssaNicoll"/></a></li>
          <li class="tw-tweet">@bermonpainter Sounds like compass takes all the fun math out of sprite making :( #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jackiesmith1011" title="jackiesmith1011"><img src="http://a0.twimg.com/profile_images/1669677086/me-2_normal.jpg" alt="jackiesmith1011"/></a></li>
          <li class="tw-tweet">RT @SabaDesignz: @bermonpainter just blew my mind about how compass will compile and create sprites for you AND generate the code at #fr ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kpkody" title="kpkody"><img src="http://a0.twimg.com/profile_images/1274933271/168786_1775486503629_1133332635_2013706_1522781_n_normal.jpg" alt="kpkody"/></a></li>
          <li class="tw-tweet">CSS pre-processors are where its at. Def switching, love the variables. #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">@bermonpainter just shouted out @chriseppstein, great guy. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/richardsession" title="richardsession"><img src="http://a0.twimg.com/profile_images/2051334540/photo2_normal.jpg" alt="richardsession"/></a></li>
          <li class="tw-tweet">Some good stuff under the #frontendconf hashtag</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">@TamiFromMiami @fabuloso @thealina @MinaMarkham @catidahlia @giodif ... @Soben and @BigSea  are doing pizza #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/SabaDesignz" title="SabaDesignz"><img src="http://a0.twimg.com/profile_images/2169188239/sa_normal.png" alt="SabaDesignz"/></a></li>
          <li class="tw-tweet">@bermonpainter just blew my mind about how compass will compile and create sprites for you AND generate the code at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">You can do CSS Sprites easily without SASS or LESS. Find apps like this in the Mac App Store. http://t.co/s9Mfj1H3 #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">I now have a better view of Compass - http://t.co/Ahrt7zL6 Thanks @bermonpainter #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">We've been playing with Compass for handling sprites. Very handy #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kevinrazmus" title="kevinrazmus"><img src="http://a0.twimg.com/profile_images/612984535/profile_normal.jpg" alt="kevinrazmus"/></a></li>
          <li class="tw-tweet">#frontendconf really like what I'm hearing about compass and sprites. time to start learning how to use it!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a0.twimg.com/profile_images/2025541023/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">I started using #sass 2 months ago and love it. I recently wrote about my experience and helpful tips. http://t.co/Y26nPRUh #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thatsoftwareguy" title="thatsoftwareguy"><img src="http://a0.twimg.com/profile_images/66159438/avatar_normal.jpg" alt="thatsoftwareguy"/></a></li>
          <li class="tw-tweet">Listening to @bermonpainter talk SASS, Less, Stylus makes me feel like Fred Flintstone.  Need to upgrade.  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">@dougneiner @sabadesignz ... Nice. Thanks for the link #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Compass is an extension of SASS that deals with CSS3 specific items. #FrontEndConf http://t.co/i53FPvm1</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/timothybsmith" title="timothybsmith"><img src="http://a0.twimg.com/profile_images/1743072755/avatar-tim22_normal.jpg" alt="timothybsmith"/></a></li>
          <li class="tw-tweet">RT @xirclebox: "Responsive Design. Buzz word. Whatever" @bermonpainter #frontendconf #shrugs</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/parenteau" title="parenteau"><img src="http://a0.twimg.com/profile_images/2167429710/michael_normal.png" alt="parenteau"/></a></li>
          <li class="tw-tweet">RT @bloqhead: It's settled. Sass will be my new way of life. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/TheFrosty" title="TheFrosty"><img src="http://a0.twimg.com/profile_images/1931590944/austin_normal.jpg" alt="TheFrosty"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: CSS Flexible Box Layout was mentioned. Here's a good link explaining it: http://t.co/TFOJ25rA #frontendconf @darcy_c ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/timothybsmith" title="timothybsmith"><img src="http://a0.twimg.com/profile_images/1743072755/avatar-tim22_normal.jpg" alt="timothybsmith"/></a></li>
          <li class="tw-tweet">@bermonpainter does such a great job of explaining things.. I think he'd be a great guest for @the_eastwing #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/AlyssaNicoll" title="AlyssaNicoll"><img src="http://a0.twimg.com/profile_images/1785400687/alyssa_normal.jpg" alt="AlyssaNicoll"/></a></li>
          <li class="tw-tweet">@olivierlacan @aimeebooth #frontendconf   @ Palladium Theater http://t.co/Ogmu0X78</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/AlxRodz" title="AlxRodz"><img src="http://a0.twimg.com/profile_images/2194417997/temp1336272194strip20120505-7362-3p4d9q_normal" alt="AlxRodz"/></a></li>
          <li class="tw-tweet">Great intro to CSS Preprocessors by @bermonpainter. Actually learned some things! #frontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MinaMarkham" title="MinaMarkham"><img src="http://a0.twimg.com/profile_images/1878583862/me-instagramed-no-border_normal.jpg" alt="MinaMarkham"/></a></li>
          <li class="tw-tweet">RT @Soben: Same. RT @norcross: thanks to @bermonpainter, I FINALLY understand all the CSS pre-processor love. time to learn how to use i ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Good info on SASS respond-to here: http://t.co/2YNAdwGj #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">"Responsive Design. Buzz word. Whatever" @bermonpainter #frontendconf #shrugs</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Pre-Processors allow you to implement "Responsive Design" media queries within your nesting. #wow @bermonpainter #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alisonmf" title="alisonmf"><img src="http://a0.twimg.com/profile_images/1774016779/alison-twitter-square-prett_normal.jpg" alt="alisonmf"/></a></li>
          <li class="tw-tweet">RT @bloqhead: It's settled. Sass will be my new way of life. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Want to check out Sencha (http://t.co/vvelIZoi) which provides web app frameworks and tools. #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/BigSea" title="BigSea"><img src="http://a0.twimg.com/profile_images/1551437548/twitter-sep11_normal.jpg" alt="BigSea"/></a></li>
          <li class="tw-tweet">Just warned Wood Fired Pizza that we're coming en masse, so join us for lunch if you'd like. 4th st &amp; 1st Ave S #Frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jaredfager" title="jaredfager"><img src="http://a0.twimg.com/profile_images/1254133798/twitter_normal.jpg" alt="jaredfager"/></a></li>
          <li class="tw-tweet">I’d like to get some workflow tips for using Sass while designing in the browser. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kevinrazmus" title="kevinrazmus"><img src="http://a0.twimg.com/profile_images/612984535/profile_normal.jpg" alt="kevinrazmus"/></a></li>
          <li class="tw-tweet">RT @Soben: Same. RT @norcross: thanks to @bermonpainter, I FINALLY understand all the CSS pre-processor love. time to learn how to use i ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alisonmf" title="alisonmf"><img src="http://a0.twimg.com/profile_images/1774016779/alison-twitter-square-prett_normal.jpg" alt="alisonmf"/></a></li>
          <li class="tw-tweet">RT @ryanbarresi: Watching @bermonpainter talk per-processors @frontendconf 

#frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanaduffy" title="ryanaduffy"><img src="http://a0.twimg.com/profile_images/1185375857/avatar_normal.png" alt="ryanaduffy"/></a></li>
          <li class="tw-tweet">SASS introduced @ extend to reduce redundancy in output. Doesn't exist in LESS at the moment. #bigdeal #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">@codex73 @ibjhb @bdkjones #sublimetext2 has some css helper plugins for sass and less not sure about style #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frontendconf" title="frontendconf"><img src="http://a0.twimg.com/profile_images/1218667040/front-end-twitter-avatar_normal.png" alt="frontendconf"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: Seriously switching to a CSS pre-precessor. Variables and watchers are worth it alone. #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jordancjohnson" title="jordancjohnson"><img src="http://a0.twimg.com/profile_images/2238663728/JJtweet_normal.jpg" alt="jordancjohnson"/></a></li>
          <li class="tw-tweet">@giodif awesome job with interesting perspective. Top presenter today #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">SASS allows you to use if, else, each &amp; while operations while pre-processing. #verycool @bermonpainter #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Responsive Grids For Compass: http://t.co/CD7IDwZb #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a0.twimg.com/profile_images/1752968445/wbm-ibjhb_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">RT @bloqhead: It's settled. Sass will be my new way of life. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1868043304/daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">It's settled. Sass will be my new way of life. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Use the nested IE extender to intcorporate IE hacks without using a seperate stylesheet. #organized @bermonpainter #f ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frontendconf" title="frontendconf"><img src="http://a0.twimg.com/profile_images/1218667040/front-end-twitter-avatar_normal.png" alt="frontendconf"/></a></li>
          <li class="tw-tweet">RT @Soben: Same. RT @norcross: thanks to @bermonpainter, I FINALLY understand all the CSS pre-processor love. time to learn how to use i ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">More on Sass control directives: @if, @for, @each and @while http://t.co/CD7IDwZb #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dougneiner" title="dougneiner"><img src="http://a0.twimg.com/profile_images/1219117972/doug-html5-2_normal.jpg" alt="dougneiner"/></a></li>
          <li class="tw-tweet">@xirclebox @sabadesignz You can use as much structure as you want with Stylus. I use CSS format: https://t.co/qcJi6dO0 #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/AlyssaNicoll" title="AlyssaNicoll"><img src="http://a0.twimg.com/profile_images/1785400687/alyssa_normal.jpg" alt="AlyssaNicoll"/></a></li>
          <li class="tw-tweet">@allisonhouse #frontendconf  http://t.co/s7IdiIeR</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nickrp" title="nickrp"><img src="http://a0.twimg.com/profile_images/1663940936/nickpettit_2012_normal.jpg" alt="nickrp"/></a></li>
          <li class="tw-tweet">Didn't realize how many of my friends are here at #frontendconf in St Petersburg. This is great!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Use the nested IE extender to intcorporate IE hacks without using a seperate stylesheet. #organized @bermonpainter #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">@chrislema trying to determine that now at #FrontEndConf. LESS or SASS looking good at this point.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanbarresi" title="ryanbarresi"><img src="http://a0.twimg.com/profile_images/2288479070/wfy2iw3xh78j5hpgusac_normal.jpeg" alt="ryanbarresi"/></a></li>
          <li class="tw-tweet">Watching @bermonpainter talk per-processors @frontendconf 

#frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kellikreighbaum" title="kellikreighbaum"><img src="http://a0.twimg.com/profile_images/1346912695/profile-sm_reasonably_small_normal.jpg" alt="kellikreighbaum"/></a></li>
          <li class="tw-tweet">Looking forward to @carlsmith speak after lunch #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a0.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">Same. RT @norcross: thanks to @bermonpainter, I FINALLY understand all the CSS pre-processor love. time to learn how to use it #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">How to use LESS CSS Pre-Preprocessor mix-ins - http://t.co/xKEXSF7v #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/codex73" title="codex73"><img src="http://a0.twimg.com/profile_images/2288402697/sxnz9cwc0sonsztborn8_normal.png" alt="codex73"/></a></li>
          <li class="tw-tweet">I'm thinking burger! @frontendconf any joints around here @CherrieDenney @dandenney #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1868043304/daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">RT @timothybsmith: After this talk, I'm so switching to a pre-processor. The amount of time they save is ridiculous. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a0.twimg.com/profile_images/1752968445/wbm-ibjhb_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">I wish CodeKit didn't require Mac OS 10.7+.  Bummer.     /cc @bdkjones   #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/timothybsmith" title="timothybsmith"><img src="http://a0.twimg.com/profile_images/1743072755/avatar-tim22_normal.jpg" alt="timothybsmith"/></a></li>
          <li class="tw-tweet">After this talk, I'm so switching to a pre-processor. The amount of time they save is ridiculous. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/BritMeronek" title="BritMeronek"><img src="http://a0.twimg.com/profile_images/1718704958/267705_10150242348996607_545796606_7782615_5996097_n_normal.jpeg" alt="BritMeronek"/></a></li>
          <li class="tw-tweet">"Go way the fuck out to left field and know when to reel it back." @giodif Conceptual design is so damn important. #frontendconf/li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">So many minds are about to be blown with mixin's (if they haven't already). #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/SabaDesignz" title="SabaDesignz"><img src="http://a0.twimg.com/profile_images/2169188239/sa_normal.png" alt="SabaDesignz"/></a></li>
          <li class="tw-tweet">@alisonmf - I agree it seems like it would be too confusing to use, and very easy to mess something up #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">@alisonmf ... Looks like it but ok still curious about it. #stylus #CSS #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/fisheespix" title="fisheespix"><img src="http://a0.twimg.com/profile_images/1879353858/about_andy-merhaut_480x681_normal.jpg" alt="fisheespix"/></a></li>
          <li class="tw-tweet">Bermon Painter from #sass talking css preprocessors. Tip: avoid excessive specificity in your stylesheets #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/aimeebooth" title="aimeebooth"><img src="http://a0.twimg.com/profile_images/1213197103/aimee_normal.jpg" alt="aimeebooth"/></a></li>
          <li class="tw-tweet">Am totally stealing @bermonpainter's Jurassic Park joke if I ever do a screencast about the command line. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/allisongrayce" title="allisongrayce"><img src="http://a0.twimg.com/profile_images/2158007485/allison01_normal.jpg" alt="allisongrayce"/></a></li>
          <li class="tw-tweet">@mwestafer Any @RWCC folks at #frontendconf?</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Don't be overly specific in your CSS, pre-processor or not. @bermonpainter #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MarciaLKing" title="MarciaLKing"><img src="http://a0.twimg.com/profile_images/2199255373/circle-m_normal.jpg" alt="MarciaLKing"/></a></li>
          <li class="tw-tweet">RT @eddiemachado: Chocolate covered bacon at #frontendconf http://t.co/pGTIBQgw</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: Seriously switching to a CSS pre-precessor. Variables and watchers are worth it alone. #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Don't overdo it on your specificity on your CSS. @bermonpainter #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">Enjoying @bermonpainter/Bill "The Butcher" Cutting's talk on CSS pre-processors. http://t.co/xdYFDh3j #frontendconf #justsayin</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alisonmf" title="alisonmf"><img src="http://a0.twimg.com/profile_images/1774016779/alison-twitter-square-prett_normal.jpg" alt="alisonmf"/></a></li>
          <li class="tw-tweet">Is it just me or does Stylus lack structure? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Thank you! RT @giodif: #frontendconf This audience is the business, totally boss, super cool. Thanks for listening to me ramble :)</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Seriously switching to a CSS pre-precessor. Variables and watchers are worth it alone. #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/giodif" title="giodif"><img src="http://a0.twimg.com/profile_images/1315281560/Photo_on_2011-04-17_at_19.37__2_normal.jpg" alt="giodif"/></a></li>
          <li class="tw-tweet">#frontendconf This audience is the business, totally boss, super cool. Thanks for listening to me ramble :)</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">SASS you can use brackets. For *kinkier SASS*, you don't need brackets. @bermonpainter #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Get up and running really fast with CSS Pre-Processors use @codekit @bermonpainter #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Blueys" title="Blueys"><img src="http://a0.twimg.com/profile_images/1059004456/41723_12600313_6095_n_normal.jpg" alt="Blueys"/></a></li>
          <li class="tw-tweet">#frontendconf is always an awesomely well rounded conference. I'm actually learning things!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Matt_HY" title="Matt_HY"><img src="http://a0.twimg.com/profile_images/1485554477/MY6.sm_normal.jpg" alt="Matt_HY"/></a></li>
          <li class="tw-tweet">Anyone who makes awesome word combos (Wombos) like that is a friend of mine. “@brennaob: .@giodif had me at "Sharktopus" #frontendconf”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/itsRayLand" title="itsRayLand"><img src="http://a0.twimg.com/profile_images/2119441149/image_normal.jpg" alt="itsRayLand"/></a></li>
          <li class="tw-tweet">@iMuriente yo! My friend!!!! Are you at #frontendconf ??? :)</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/codex73" title="codex73"><img src="http://a0.twimg.com/profile_images/2288402697/sxnz9cwc0sonsztborn8_normal.png" alt="codex73"/></a></li>
          <li class="tw-tweet">RT @olivierlacan: I really really want to help designers to not be afraid of the command line anymore. 

Anybody want to help? #frontendconf</li>
        </ul>
      </li>
    
    </ul>
    
  </section>

{% endblock %}