{% block content %}

  <div class="presentation inner">

    <h1>CSS Pseudo Elements for&nbsp;Fun&nbsp;and&nbsp;Profit!</h1>

    <div class="iframe">
      <script async class="speakerdeck-embed" data-id="4e77c6ec60cf9e003f00071e" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
    </div>

    <aside>

      <h5>Presented by:</h5>

      <img src="{{ "chris-coyier.jpg" | asset_url }}" alt="Chris Coyier">

      <img src="{{ "chris-coyier.svg" | asset_url }}" alt="Chris Coyier" class="character">

      <h4>Chris Coyier</h4>

      <p>Chris is a web craftsman, blogger, author and speaker. In his own words "Web design is what I do. I create websites and help people make theirs better through writing, speaking, and working on web applications. I consider myself a lucky man."</p>
      
      <p class="h5">July 22, 2011 - 3:30PM to 4:20PM</p>

    </aside>

  </div>

  <section id="feedback" class="inner">

    <h2>Feedback</h2>

    <ul class="tweets">
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">@house is in the house. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/LarryHipp" title="LarryHipp"><img src="http://a0.twimg.com/profile_images/118479269/Copy_of_IMG_1374_normal.JPG" alt="LarryHipp"/></a></li>
          <li class="tw-tweet">Thanks for the great #frontendconf talk @chriscoyier! Tampa is definitely going to miss such a great tech resource.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">Slides from @chriscoyier   http://bit.ly/oFkIqA  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1178865094/beanie_daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">@chriscoyier is an excellent presenter. A++ WOULD SEE AGAIN. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">RT @fabuloso: sweet! “@ericazares: Hey, wake up! Can you find yourself in the crowd? http://t.co/YBDZe1c #frontendconf @tourwrist @front ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">Hey #frontendconf people.  I'm looking for 'enterprise' JavaScript and Flash/Flex cool people. Ping me if you are here and looking for work!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/mfegter" title="mfegter"><img src="http://a3.twimg.com/profile_images/808211841/IMG_5454-small_normal.jpg" alt="mfegter"/></a></li>
          <li class="tw-tweet">@imbradmiller @misternifty  #frontendconf So, what good stuff am I missing?</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">RT @ibjhb: Pure CSS Icons:   http://nicolasgallagher.com/pure-css-gui-icons/demo/    #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">"85% of browsers support pseudo elements, that's some use it now shit, yo." @chriscoyier #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/elyssarachel" title="elyssarachel"><img src="http://a0.twimg.com/sticky/default_profile_images/default_profile_5_normal.png" alt="elyssarachel"/></a></li>
          <li class="tw-tweet">@chriscoyier is great presenter, too bad css isn't my bag #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">Watch "Blob Jump Official Guinness World Record" on YouTube http://bit.ly/pR4cBE #frontendconf #random</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/fabuloso" title="fabuloso"><img src="http://a2.twimg.com/profile_images/1268229431/fab-sobe_normal.jpg" alt="fabuloso"/></a></li>
          <li class="tw-tweet">holy shit “@ibjhb: Pure CSS Icons:   http://t.co/iAqEaQu    #frontendconf”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">This shit is NASTY! wow.... “@ibjhb: Pure CSS Icons:   http://t.co/EzdoPTq    #frontendconf”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/fabuloso" title="fabuloso"><img src="http://a2.twimg.com/profile_images/1268229431/fab-sobe_normal.jpg" alt="fabuloso"/></a></li>
          <li class="tw-tweet">sweet! “@ericazares: Hey, wake up! Can you find yourself in the crowd? http://t.co/YBDZe1c #frontendconf @tourwrist @frontendconf”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">Pure CSS Icons:   http://nicolasgallagher.com/pure-css-gui-icons/demo/    #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alttext" title="alttext"><img src="http://a2.twimg.com/profile_images/1167540653/ben-head-avatar-flip-w-border_normal.png" alt="alttext"/></a></li>
          <li class="tw-tweet">RT @jpetersen: Design isn't just about layout - @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">RT @MissDestructo: Way too cool :) RT @ericazares: Hey, wake up! Can you find yourself in the crowd? http://bit.ly/olkdL7 #frontendconf  ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Desirai" title="Desirai"><img src="http://a3.twimg.com/profile_images/1180430657/Desirai_CU_normal.jpg" alt="Desirai"/></a></li>
          <li class="tw-tweet">“@jackiesmith1011: @chriscoyier is hilarious and genius! Great combo in a speaker." #frontendconf Agreed!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/douglogue" title="douglogue"><img src="http://a3.twimg.com/profile_images/645238720/t_normal.jpg" alt="douglogue"/></a></li>
          <li class="tw-tweet">Thanks @dandenney for supporting @impressto and for putting together an awesome #frontendconf!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bermonpainter" title="bermonpainter"><img src="http://a2.twimg.com/profile_images/1318967907/bermon-painter-designer-developer-charlotte_normal.png" alt="bermonpainter"/></a></li>
          <li class="tw-tweet">Hating I'm missing #frontendconf. Sounds like things it's turned out to be full of awesome once again.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MissDestructo" title="MissDestructo"><img src="http://a3.twimg.com/profile_images/1139984138/twittericon_normal.jpg" alt="MissDestructo"/></a></li>
          <li class="tw-tweet">Way too cool :) RT @ericazares: Hey, wake up! Can you find yourself in the crowd? http://bit.ly/olkdL7 #frontendconf @tourwrist</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MissDestructo" title="MissDestructo"><img src="http://a3.twimg.com/profile_images/1139984138/twittericon_normal.jpg" alt="MissDestructo"/></a></li>
          <li class="tw-tweet">That's awesome. RT @ibjhb: @chriscoyier  Is ridiculous and hilarious.  And not wearing shoes.  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/redheadjessica" title="redheadjessica"><img src="http://a1.twimg.com/profile_images/125164589/7500193_N04_normal.jpg" alt="redheadjessica"/></a></li>
          <li class="tw-tweet">Sorry everyone else on earth, @chriscoyier is my favorite person on earth. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thedotmack" title="thedotmack"><img src="http://a3.twimg.com/profile_images/1308405923/tweeto_normal.png" alt="thedotmack"/></a></li>
          <li class="tw-tweet">It's settled. @chriscoyier is to CSS as @ppk is to quirks. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ericazares" title="ericazares"><img src="http://a2.twimg.com/profile_images/1429358483/image_normal.jpg" alt="ericazares"/></a></li>
          <li class="tw-tweet">Hey, wake up! Can you find yourself in the crowd? http://t.co/Ecb6yxs #frontendconf @tourwrist @frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/mosesngone" title="mosesngone"><img src="http://a3.twimg.com/profile_images/1121072321/yurs-truly_normal.jpg" alt="mosesngone"/></a></li>
          <li class="tw-tweet">Anyone keeping count of how much SUPER COOL stuff @chriscoyier  has? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/SorcaDesign" title="SorcaDesign"><img src="http://a0.twimg.com/profile_images/1260230189/profile_normal.jpg" alt="SorcaDesign"/></a></li>
          <li class="tw-tweet">"Nested Divs like that are like super un-cool you guys" - Chris Coyier #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/831695864/blockhead_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">The hand demo was hilarious, I wish i
Got a pic of him and the gesture lady.
#frontendconf @chriscoyier</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/makedesign" title="makedesign"><img src="http://a3.twimg.com/profile_images/1453997468/2c6445ab5f946d4a20a71e268c3312ee_normal.jpg" alt="makedesign"/></a></li>
          <li class="tw-tweet">RT @see_kay: Your mom is hot.. lolz http://yfrog.com/kkv4ehej #frontendconf  @chriscoyier</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/orionengleton" title="orionengleton"><img src="http://a0.twimg.com/profile_images/1410162634/DSC_0093-8x4-72dpi_normal.jpg" alt="orionengleton"/></a></li>
          <li class="tw-tweet">@chriscoyier is a comedian .. enjoying the talk.. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/see_kay" title="see_kay"><img src="http://a2.twimg.com/profile_images/1357664762/buh_normal.jpg" alt="see_kay"/></a></li>
          <li class="tw-tweet">Your mom is hot.. lolz http://yfrog.com/kkv4ehej #frontendconf  @chriscoyier</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">Keeping us super awake after lunch - @chriscoyier is a riot up on stage teaching CSS at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brianburridge" title="brianburridge"><img src="http://a1.twimg.com/profile_images/1366751587/Photo1-2_normal.jpg" alt="brianburridge"/></a></li>
          <li class="tw-tweet">Thanks to @CherrieDenney @dandenney and #frontendconf it will take me a week to burn off today's calories...but tasty!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">@chriscoyier's talk is awesome! Funny and really informative. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/grovesdesign" title="grovesdesign"><img src="http://a0.twimg.com/profile_images/1224194448/karen_normal.jpg" alt="grovesdesign"/></a></li>
          <li class="tw-tweet">chris coyier is a really fun speaker... #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">@chriscoyier  Is ridiculous and hilarious.  And not wearing shoes.  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/seandeladead" title="seandeladead"><img src="http://a1.twimg.com/profile_images/651764742/glasses_normal.jpg" alt="seandeladead"/></a></li>
          <li class="tw-tweet">My brain just exploded. #frontendconf #csstriangle</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a2.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">Lol, I love that Chris Coyler went over to the asL interpreter so the hard of hearing can see his hand movements. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/353890446/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">I think @chriscoyier just made up his own CSS sign language #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brandmitchell" title="brandmitchell"><img src="http://a3.twimg.com/profile_images/1352367031/IMG_20100622_170844_normal.png" alt="brandmitchell"/></a></li>
          <li class="tw-tweet">RT @lorielue: Awesome pseudo talk by @chriscoyier #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MinaMarkham" title="MinaMarkham"><img src="http://a3.twimg.com/profile_images/1114338590/avatar-240x240_normal.jpg" alt="MinaMarkham"/></a></li>
          <li class="tw-tweet">RT @lorielue: Awesome pseudo talk by @chriscoyier #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/see_kay" title="see_kay"><img src="http://a2.twimg.com/profile_images/1357664762/buh_normal.jpg" alt="see_kay"/></a></li>
          <li class="tw-tweet">Your mom is hot.. lolz http://yfrog.com/khykunwj #frontendconf #css3</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">We use the term "tool-tip" to refer to someone who's being a prick #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">@chriscoyier funny talk! #frontendconf http://t.co/jyW3pNL</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MissDestructo" title="MissDestructo"><img src="http://a3.twimg.com/profile_images/1139984138/twittericon_normal.jpg" alt="MissDestructo"/></a></li>
          <li class="tw-tweet">@saulcolt Hey there Saul! Hope you are enjoying your time at #frontendconf, wish I could have seen ya! As far as that area no idea.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/353890446/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">What was the company that threw out shirts prior to Chris' presentation? Missed the name. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dougneiner" title="dougneiner"><img src="http://a0.twimg.com/profile_images/1219117972/doug-html5-2_normal.jpg" alt="dougneiner"/></a></li>
          <li class="tw-tweet">RT @lorielue: Awesome pseudo talk by @chriscoyier #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">Enjoying the CSS talk at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/catidahlia" title="catidahlia"><img src="http://a0.twimg.com/profile_images/1302187230/cata_normal.jpg" alt="catidahlia"/></a></li>
          <li class="tw-tweet">my 1st viewing of monty python 2 days ago has paid off. I got the joke & learning tons of css @chriscoyier #frontendconf great presentation!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">Awesome pseudo talk by @chriscoyier #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brand_clay" title="brand_clay"><img src="http://a0.twimg.com/profile_images/1317722864/logo-avatar_normal.jpg" alt="brand_clay"/></a></li>
          <li class="tw-tweet">hey @cbrauckmuller just pointed out that @chriscoyier isn't wearing any shoes, this guys a riot! haha #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a1.twimg.com/profile_images/1180017791/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">I used the counter just yesterday to style an ordered list. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brianburridge" title="brianburridge"><img src="http://a1.twimg.com/profile_images/1366751587/Photo1-2_normal.jpg" alt="brianburridge"/></a></li>
          <li class="tw-tweet">Yes he does! RT @IsmaelBurciaga: Nice! @dandenney knows how to throw a conference :-) #frontendconf  http://instagr.am/p/IQTv1/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bybrandonbrown" title="bybrandonbrown"><img src="http://a0.twimg.com/profile_images/1180562381/kitty_normal.jpg" alt="bybrandonbrown"/></a></li>
          <li class="tw-tweet">RT @jackiesmith1011: @chriscoyier is hilarious and genius! Great combo in a speaker. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/hollygirl99" title="hollygirl99"><img src="http://a1.twimg.com/profile_images/1356869905/Hollygirl_001_normal.jpg" alt="hollygirl99"/></a></li>
          <li class="tw-tweet">@cherriedenney @dandenney #frontendconf Rave Reviews !! I am teary eyed! seriously!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brand_clay" title="brand_clay"><img src="http://a0.twimg.com/profile_images/1317722864/logo-avatar_normal.jpg" alt="brand_clay"/></a></li>
          <li class="tw-tweet">Even though I have no front end development experience, @chriscoyier is completely entertaining! haha #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a1.twimg.com/profile_images/1180017791/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">RT @IsmaelBurciaga: Nice! @dandenney knows how to throw a conference :-) #frontendconf  http://instagr.am/p/IQTv1/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/OhThatMeagan" title="OhThatMeagan"><img src="http://a3.twimg.com/profile_images/1404486127/Screen_shot_2011-06-20_at_9.32.35_AM_normal.png" alt="OhThatMeagan"/></a></li>
          <li class="tw-tweet">@chriscoyier willy nilly ampersands :) #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">@allisongrayce I just realized he never put them back on lmao #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">RT @IsmaelBurciaga: Nice! @dandenney knows how to throw a conference :-) #frontendconf  http://instagr.am/p/IQTv1/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jackiesmith1011" title="jackiesmith1011"><img src="http://a0.twimg.com/profile_images/1425024993/me-2_normal.jpg" alt="jackiesmith1011"/></a></li>
          <li class="tw-tweet">@chriscoyier is hilarious and genius! Great combo in a speaker. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/IsmaelBurciaga" title="IsmaelBurciaga"><img src="http://a1.twimg.com/profile_images/1447426337/5722415393_9648133eaa_z_normal.jpg" alt="IsmaelBurciaga"/></a></li>
          <li class="tw-tweet">Nice! @dandenney knows how to throw a conference :-) #frontendconf  http://instagr.am/p/IQTv1/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a1.twimg.com/profile_images/1180017791/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">@chriscoyier makes CSS so entertaining. #frontendconf #csspseudoelements</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/allisongrayce" title="allisongrayce"><img src="http://a1.twimg.com/profile_images/1403680614/profile-pic_normal.jpg" alt="allisongrayce"/></a></li>
          <li class="tw-tweet">The fact that Chris Coyier is not wearing shoes makes him even funnier. LOL. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">RT @kellikreighbaum: Killer and funny preso by @chriscoyier #frontendconf  http://t.co/9Wx6qj9</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/831695864/blockhead_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">Learning and laugh with @chriscoyier at the #frontendconf  btw he's presenting in his socks! http://t.co/VUOktCX</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/olivierlacan" title="olivierlacan"><img src="http://a2.twimg.com/profile_images/1180341979/home_twitter_normal.jpg" alt="olivierlacan"/></a></li>
          <li class="tw-tweet">Hilariously interesting talk with @chriscoyer. Hope he shows data-attributes with :before/:after & the content property. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kellikreighbaum" title="kellikreighbaum"><img src="http://a0.twimg.com/profile_images/1346912695/profile-sm_reasonably_small_normal.jpg" alt="kellikreighbaum"/></a></li>
          <li class="tw-tweet">Killer and funny preso by @chriscoyier #frontendconf  http://t.co/9Wx6qj9</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a3.twimg.com/profile_images/1447793633/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">Brilliant AND funny - ladies and gentlemen - @chriscoyier ! Put your hands together... #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/saulcolt" title="saulcolt"><img src="http://a3.twimg.com/profile_images/1217473551/headshot_normal.jpg" alt="saulcolt"/></a></li>
          <li class="tw-tweet">@dandenney Dan! We had to run to the Airport for a poorly scheduled flight but thanks so much for today. The #frontendconf was awesome!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/unmatchedstyle" title="unmatchedstyle"><img src="http://a0.twimg.com/profile_images/750223819/Ums_icon_normal.png" alt="unmatchedstyle"/></a></li>
          <li class="tw-tweet">"the ocean don't make ruin, it makes newun" #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/tabithakarcher" title="tabithakarcher"><img src="http://a1.twimg.com/profile_images/1411035454/38892ce_normal.jpg" alt="tabithakarcher"/></a></li>
          <li class="tw-tweet">@chriscoyier is highly entertaining at explaining case techniques #frontendconf :D</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Impressto" title="Impressto"><img src="http://a3.twimg.com/profile_images/1140216871/impressto_avatar_normal.jpg" alt="Impressto"/></a></li>
          <li class="tw-tweet">@chriscoyier informative and comedic! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/haddnin" title="haddnin"><img src="http://a0.twimg.com/profile_images/1312614275/blindChayo-twitter_normal.png" alt="haddnin"/></a></li>
          <li class="tw-tweet">@house Good Luck! Would love to see some slides later. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dandenney" title="dandenney"><img src="http://a2.twimg.com/profile_images/1216037299/dan-social-avatar_normal.png" alt="dandenney"/></a></li>
          <li class="tw-tweet">Chris Coyier at #frontendconf  http://instagr.am/p/IQRzV/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bybrandonbrown" title="bybrandonbrown"><img src="http://a0.twimg.com/profile_images/1180562381/kitty_normal.jpg" alt="bybrandonbrown"/></a></li>
          <li class="tw-tweet">@chriscoyier & @house sliding onto the #frontendconf stage. Been really looking forward to these last talks!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">Super laser time  @chriscoyier  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/parenteau" title="parenteau"><img src="http://a1.twimg.com/profile_images/544158810/miguel-manga-blue-beenie_normal.png" alt="parenteau"/></a></li>
          <li class="tw-tweet">@dandenney I made it back with Alex from Relevance, w00t! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/murdaugh" title="murdaugh"><img src="http://a1.twimg.com/profile_images/1172971260/bryan-square_normal.png" alt="murdaugh"/></a></li>
          <li class="tw-tweet">If you didn't already know, @chriscoyier is an unbelievable speaker. #frontendconf #fb</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/wddbs" title="wddbs"><img src="http://a3.twimg.com/profile_images/1386227472/twittericon_normal.png" alt="wddbs"/></a></li>
          <li class="tw-tweet">RT @xirclebox: Up now, @chriscoyier talking about CSS #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">Learning about pseudo elements from @chriscoyier at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/DesignDocent" title="DesignDocent"><img src="http://a2.twimg.com/profile_images/1215080011/twitter_icon_normal.jpg" alt="DesignDocent"/></a></li>
          <li class="tw-tweet">@chriscoyier takes the stage at #frontendconf. This should be good!!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">Up now, @chriscoyier talking about CSS #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Non_E" title="Non_E"><img src="http://a0.twimg.com/sticky/default_profile_images/default_profile_1_normal.png" alt="Non_E"/></a></li>
          <li class="tw-tweet">Not even finished and my mind is officially blown #frontendconf</li>
        </ul>
      </li>
    
    </ul>

  </section>

{% endblock %}