{% block content %}

  <div class="presentation inner">

    <h1>Making Money with&nbsp;Web&nbsp;Design</h1>
    <h3 class="sub-title">(without clients, contracts,&nbsp;or&nbsp;all-nighters)</h3>

    <div class="iframe">
      <script src="http://speakerdeck.com/embed/4e38bc1d6a6e81000100a077.js?size=preview"></script>
    </div>

    <aside>

      <h5>Presented by:</h5>

      <img src="{{ "brandon-jones.jpg" | asset_url }}" alt="Brandon Jones">

      <img src="{{ "brandon-jones.svg" | asset_url }}" alt="Brandon Jones" class="character">

      <h4>Brandon Jones</h4>

      <p>Brandon is a top-selling author on ThemeForest, a marketplace for buying and selling website themes. He is also the site editor for Webdesigntuts+, a blog made to house and showcase some of the best web design tutorials and articles around.</p>
      
      <p class="h5">July 22, 2011 - 2:20PM to 3:10PM</p>

    </aside>

  </div>

  <section id="feedback" class="inner">

    <h2>Feedback</h2>

    <ul class="tweets">
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/grovesdesign" title="grovesdesign"><img src="http://a0.twimg.com/profile_images/1224194448/karen_normal.jpg" alt="grovesdesign"/></a></li>
          <li class="tw-tweet">chris coyier up next at #frontendconf to talk about pseudo elements #css</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cogsprocket" title="cogsprocket"><img src="http://a3.twimg.com/profile_images/1340764411/IMG_0080_normal.jpg" alt="cogsprocket"/></a></li>
          <li class="tw-tweet">@dougneiner Could you give out the link to the resources from your presentation?  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MissDestructo" title="MissDestructo"><img src="http://a3.twimg.com/profile_images/1139984138/twittericon_normal.jpg" alt="MissDestructo"/></a></li>
          <li class="tw-tweet">Want! RT @rchlm: I have way too much chocolate covered bacon in my possession. Come see me if you want some!  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Impressto" title="Impressto"><img src="http://a3.twimg.com/profile_images/1140216871/impressto_avatar_normal.jpg" alt="Impressto"/></a></li>
          <li class="tw-tweet">Why not keep 100% of your theme sales? http://bit.ly/qKb7VO #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Impressto" title="Impressto"><img src="http://a3.twimg.com/profile_images/1140216871/impressto_avatar_normal.jpg" alt="Impressto"/></a></li>
          <li class="tw-tweet">Why not keep 100% of your theme sales? http://impressto.com #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a1.twimg.com/profile_images/1180017791/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">Have enjoyed thinking about Web templates and their place in Web design practice. Thanks @makedesign  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ericazares" title="ericazares"><img src="http://a2.twimg.com/profile_images/1429358483/image_normal.jpg" alt="ericazares"/></a></li>
          <li class="tw-tweet">Couldnt make it to #frontendconf ? Here's the (empty) venue from the stage! (flash needed) http://t.co/b19AuOD</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/rchlm" title="rchlm"><img src="http://a1.twimg.com/profile_images/1361721039/rich_normal.jpg" alt="rchlm"/></a></li>
          <li class="tw-tweet">I have way too much chocolate covered bacon in my possession. Come see me if you want some! Thanks @CherrieDenney! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a1.twimg.com/profile_images/1180017791/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">@ericsharp_ Enjoyed hanging out with you for a bit @frontendconf. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/831695864/blockhead_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">“@olivierlacan: Just delivered an almost life size Allison @House to #frontendconf  http://t.co/skee7aV” killer instagram photo!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xmetal" title="xmetal"><img src="http://a3.twimg.com/profile_images/1122000639/X_normal.jpg" alt="xmetal"/></a></li>
          <li class="tw-tweet">Sounds like a lot of great info coming out of #frontendconf. Feel like a goober for not attending. Next year for sure!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/olivierlacan" title="olivierlacan"><img src="http://a2.twimg.com/profile_images/1180341979/home_twitter_normal.jpg" alt="olivierlacan"/></a></li>
          <li class="tw-tweet">Just delivered an almost life size Allison @House to #frontendconf  http://instagr.am/p/IQIaE/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">Thanks for suggesting and driving to lunch @BigSea! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a3.twimg.com/profile_images/1447793633/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">Won Ethan Marcotte's A Book Apart "Responsive Web Design" at #frontendconf, then got to listen to his presentation. Excellent thoughts.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/see_kay" title="see_kay"><img src="http://a2.twimg.com/profile_images/1357664762/buh_normal.jpg" alt="see_kay"/></a></li>
          <li class="tw-tweet">Can't wait for tomorrow's presenters and to come back next year! I'm learning so much today at the @frontendconf #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/internetAaron" title="internetAaron"><img src="http://a3.twimg.com/profile_images/1452429444/headShot_normal.png" alt="internetAaron"/></a></li>
          <li class="tw-tweet">I'll second that!  “@oelbrenner: Sad to be missing #frontendconf but happy some of the @spatialnetworks and @izonanalytics crew is there”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/wddbs" title="wddbs"><img src="http://a3.twimg.com/profile_images/1386227472/twittericon_normal.png" alt="wddbs"/></a></li>
          <li class="tw-tweet">RT @dandenney: Brandon Jones at #frontendconf  http://instagr.am/p/IQHvG/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dandenney" title="dandenney"><img src="http://a2.twimg.com/profile_images/1216037299/dan-social-avatar_normal.png" alt="dandenney"/></a></li>
          <li class="tw-tweet">Brandon Jones at #frontendconf  http://instagr.am/p/IQHvG/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dorisuzanne" title="dorisuzanne"><img src="http://a2.twimg.com/profile_images/1403671445/Photo_on_2011-05-17_at_10.50_normal.jpg" alt="dorisuzanne"/></a></li>
          <li class="tw-tweet">Step number one BE HONEST #frontendconf good stuff</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pothoven" title="pothoven"><img src="http://a0.twimg.com/profile_images/1312003434/portait_by_amanda_waugh_cropped_normal.jpg" alt="pothoven"/></a></li>
          <li class="tw-tweet">RT @brianburridge: Had lunch w/3 lovely, smart, talented design gals today. Follow & hire them all: @kellikreighbaum @ohthatmeagan @alli ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brianburridge" title="brianburridge"><img src="http://a1.twimg.com/profile_images/1366751587/Photo1-2_normal.jpg" alt="brianburridge"/></a></li>
          <li class="tw-tweet">Had lunch w/3 lovely, smart, talented design gals today. Follow & hire them all: @kellikreighbaum @ohthatmeagan @allisongrayce #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MissDestructo" title="MissDestructo"><img src="http://a3.twimg.com/profile_images/1139984138/twittericon_normal.jpg" alt="MissDestructo"/></a></li>
          <li class="tw-tweet">@oelbrenner I am this close to starting #fauxendconf for all of us that couldn't go to #frontendconf.... what topics should we discuss?</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/oelbrenner" title="oelbrenner"><img src="http://a2.twimg.com/profile_images/437497251/nYpClUQXWVgazBUZC0eupWB3eb6U8_mdCKlLSdVeY-5mtO5AoWTYptWWP-s7XFKJ_normal.jpg" alt="oelbrenner"/></a></li>
          <li class="tw-tweet">Sad to be missing #frontendconf but happy some of the @spatialnetworks and @izonanalytics crew is there</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">web templates aren't necessarily the end product #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ralonzosinclair" title="ralonzosinclair"><img src="http://a3.twimg.com/profile_images/1257958282/theEYEShaveit_normal.jpg" alt="ralonzosinclair"/></a></li>
          <li class="tw-tweet">#frontendconf web template usage can be profitable for designers</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MissDestructo" title="MissDestructo"><img src="http://a3.twimg.com/profile_images/1139984138/twittericon_normal.jpg" alt="MissDestructo"/></a></li>
          <li class="tw-tweet">RT @sprjrx: Apparently all my pals are having a grand time at #frontendconf. Le missing the party sigh. That's french for not happy I co ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">we templates aren't necessarily the end product #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/SorcaDesign" title="SorcaDesign"><img src="http://a0.twimg.com/profile_images/1260230189/profile_normal.jpg" alt="SorcaDesign"/></a></li>
          <li class="tw-tweet">Really loved the bit where there was a giant tarantula on the screen for 5 minutes #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/353890446/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">RT @jonfriskicsucf: the first half of #frontendconf was so awesome that I might not be able to handle the second half.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/wddbs" title="wddbs"><img src="http://a3.twimg.com/profile_images/1386227472/twittericon_normal.png" alt="wddbs"/></a></li>
          <li class="tw-tweet">RT @brianburridge: There are so many awesome people here I need 3 days just to talk to them all. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a1.twimg.com/profile_images/1180017791/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">Thanks Less guys for pizza for lunch . @lessfilms #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dandenney" title="dandenney"><img src="http://a2.twimg.com/profile_images/1216037299/dan-social-avatar_normal.png" alt="dandenney"/></a></li>
          <li class="tw-tweet">Teaching how to Dougie at #frontendconf  http://instagr.am/p/IQERu/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brianburridge" title="brianburridge"><img src="http://a1.twimg.com/profile_images/1366751587/Photo1-2_normal.jpg" alt="brianburridge"/></a></li>
          <li class="tw-tweet">There are so many awesome people here I need 3 days just to talk to them all. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">On deck now @makedesign (Brandon Jones) speaking about "making money with design" #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/sprjrx" title="sprjrx"><img src="http://a2.twimg.com/profile_images/1439739882/twitter_normal.png" alt="sprjrx"/></a></li>
          <li class="tw-tweet">Apparently all my pals are having a grand time at #frontendconf. Le missing the party sigh. That's french for not happy I couldn't go.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/seandeladead" title="seandeladead"><img src="http://a1.twimg.com/profile_images/651764742/glasses_normal.jpg" alt="seandeladead"/></a></li>
          <li class="tw-tweet">RT @jonfriskicsucf: the first half of #frontendconf was so awesome that I might not be able to handle the second half.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/CherrieDenney" title="CherrieDenney"><img src="http://a0.twimg.com/profile_images/1374373018/Denney-27_normal.jpg" alt="CherrieDenney"/></a></li>
          <li class="tw-tweet">“@thatgirlallie: @missdestructo Man, that's a brilliant idea. @Freshbooks #frontendconf” they look awesome too! http://t.co/CGVrnHo</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Desirai" title="Desirai"><img src="http://a3.twimg.com/profile_images/1180430657/Desirai_CU_normal.jpg" alt="Desirai"/></a></li>
          <li class="tw-tweet">I think I might have spotted someone wearing an @Official_PAX 2010 shirt at #frontendconf NICE!</li>
        </ul>
      </li>
    
    </ul>

  </section>

{% endblock %}