{% block content %}

  <div class="presentation inner">

    <h1>Responsive Web Design</h1>

    <div class="iframe">
      <img src="{{ "/images/slides/no-slides.svg" | asset_url }}" alt="Sorry! No Slides" class="no-slides" />
    </div>

    <aside>

      <h5>Presented by:</h5>

      <img src="{{ "ethan-marcotte.jpg" | asset_url }}" alt="Ethan Marcotte">

      <img src="{{ "ethan-marcotte.svg" | asset_url }}" alt="Ethan Marcotte" class="character">

      <h4>Ethan Marcotte</h4>

      <p>Ethan is a web designer &amp; developer, a speaker and author. He lives in Boston, Massachusetts, and is passionate about beautiful design, elegant code, and the intersection of the two. His book on Responsive Web Design has been published and is available at <a href="http://www.abookapart.com/products/responsive-web-design">abookapart.com</a>.</p>
      
      <p class="h5">July 22, 2011 - 12:30AM to 1:20AM</p>

    </aside>

  </div>

  <section id="feedback" class="inner">

    <h2>Feedback</h2>

    <ul class="tweets">
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/freshbooks" title="freshbooks"><img src="http://a1.twimg.com/profile_images/111898528/fb-leaf_normal.gif" alt="freshbooks"/></a></li>
          <li class="tw-tweet">#frontendconf folks also ran a first one to invoice me with FreshBooks wins a book contest.  Why didn't we think of that? :)</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/localredhead" title="localredhead"><img src="http://a0.twimg.com/profile_images/483392854/cloak_and_10101s_thumb_normal.gif" alt="localredhead"/></a></li>
          <li class="tw-tweet">RT @parenteau: Full on chocolate covered bacon strips! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Talmadge" title="Talmadge"><img src="http://a1.twimg.com/profile_images/1010500220/me-blue-2_normal.jpg" alt="Talmadge"/></a></li>
          <li class="tw-tweet">Sweet! RT @MissDestructo: @freshbooks: folks at the #frontendconf made life size cartoon cardboard cut outs of speakers for photo ops.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/grovesdesign" title="grovesdesign"><img src="http://a0.twimg.com/profile_images/1224194448/karen_normal.jpg" alt="grovesdesign"/></a></li>
          <li class="tw-tweet">great talk on responsive design by ethan marcotte @ #frontendconf..and I won his book</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/devfish" title="devfish"><img src="http://a1.twimg.com/profile_images/655038137/IMG_3245_normal.JPG" alt="devfish"/></a></li>
          <li class="tw-tweet">RT @derekbender: img {max-width: 100%;} is my new fav css trick (sorry overflow:hidden;). From @beep at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/CherrieDenney" title="CherrieDenney"><img src="http://a0.twimg.com/profile_images/1374373018/Denney-27_normal.jpg" alt="CherrieDenney"/></a></li>
          <li class="tw-tweet">@bybrandonbrown tell me about it! I got about 4 and trying to figure out how I can fit in a nap before the #frontendconf after party</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pauljbeaton" title="pauljbeaton"><img src="http://a2.twimg.com/profile_images/1441517031/image_normal.jpg" alt="pauljbeaton"/></a></li>
          <li class="tw-tweet">RT @derekbender: img {max-width: 100%;} is my new fav css trick (sorry overflow:hidden;). From @beep at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">Anybody have the links from @beep 's presentation? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MissDestructo" title="MissDestructo"><img src="http://a3.twimg.com/profile_images/1139984138/twittericon_normal.jpg" alt="MissDestructo"/></a></li>
          <li class="tw-tweet">LOL :) RT @freshbooks: The folks at the #frontendconf made life size cartoon cardboard cut outs of all the speakers for photo ops.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/hollygirl99" title="hollygirl99"><img src="http://a1.twimg.com/profile_images/1356869905/Hollygirl_001_normal.jpg" alt="hollygirl99"/></a></li>
          <li class="tw-tweet">RT @CherrieDenney: Mmmm...the pizza smells mighty good! downstairs for lunch thanks to @lessaccounting for provinding them! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">ensure content is available for everyone, but be intelligent in what your serving it through. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/CherrieDenney" title="CherrieDenney"><img src="http://a0.twimg.com/profile_images/1374373018/Denney-27_normal.jpg" alt="CherrieDenney"/></a></li>
          <li class="tw-tweet">Mmmm...the pizza smells mighty good! downstairs for lunch thanks to @lessaccounting for provinding them! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/831695864/blockhead_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">Putting out there- listing to @beep made this confrence worth every penny. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/imbradmiller" title="imbradmiller"><img src="http://a1.twimg.com/profile_images/818817135/Photo_on_2009-09-20_at_10.12__2_normal.jpg" alt="imbradmiller"/></a></li>
          <li class="tw-tweet">RT @viaAndrea: Good luck to @imbradmiller who's going to be speaking at #frontendconf tomorrow!! He's a rockstar don't miss it. #truestory</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/tabithakarcher" title="tabithakarcher"><img src="http://a1.twimg.com/profile_images/1411035454/38892ce_normal.jpg" alt="tabithakarcher"/></a></li>
          <li class="tw-tweet">Got @beep 's responsive web design book free from @frondendconf and @freshbooks - thank you! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/catidahlia" title="catidahlia"><img src="http://a0.twimg.com/profile_images/1302187230/cata_normal.jpg" alt="catidahlia"/></a></li>
          <li class="tw-tweet">I'm suffering of compatibility anxiety, browsers, sizes, devices, aaahh #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/derekbender" title="derekbender"><img src="http://a3.twimg.com/profile_images/1370033782/4_normal.jpg" alt="derekbender"/></a></li>
          <li class="tw-tweet">Btw, check out the #frontendconf feed over at http://t.co/sf2G1LS Good stuff @Impressto</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a2.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">@renderedVisions because they're cute! And easy to keep. #frontendconf http://yfrog.com/ki6cyyij</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/JJ_Web" title="JJ_Web"><img src="http://a3.twimg.com/profile_images/1137674223/9f1a466a-fbb2-488b-938e-458eb82fed1a_normal.png" alt="JJ_Web"/></a></li>
          <li class="tw-tweet">The presentation about Responsive Web Design by @beep is fantastic. His passion is infectious! His Grandma seems awesome, too #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/viaAndrea" title="viaAndrea"><img src="http://a2.twimg.com/profile_images/1436318874/IMG_2890_normal.jpg" alt="viaAndrea"/></a></li>
          <li class="tw-tweet">Good luck to @imbradmiller who's going to be speaking at #frontendconf tomorrow!! He's a rockstar don't miss it. #truestory</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nhagianis" title="nhagianis"><img src="http://a0.twimg.com/profile_images/1316558715/side_profile_normal.jpg" alt="nhagianis"/></a></li>
          <li class="tw-tweet">RT @gabrielvaldivia: .@beep is blowing minds left and right at #frontendconf. Definitely living up to @dandenney's hype!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/luxuryluke" title="luxuryluke"><img src="http://a0.twimg.com/profile_images/1450950968/luxuryluke-bom_normal.png" alt="luxuryluke"/></a></li>
          <li class="tw-tweet">RT @chriscoyier: Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/derekbender" title="derekbender"><img src="http://a3.twimg.com/profile_images/1370033782/4_normal.jpg" alt="derekbender"/></a></li>
          <li class="tw-tweet">Best talk yet! What a great lineup! @beep's Responsive Design #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/intriguewd" title="intriguewd"><img src="http://a3.twimg.com/profile_images/448898524/INTRIGUE_logo-crop_normal.jpg" alt="intriguewd"/></a></li>
          <li class="tw-tweet">No Dog . RT @renderedVisions: Why do every designer/dev have a cat? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NikitaP" title="NikitaP"><img src="http://a2.twimg.com/profile_images/1256422347/3_normal.png" alt="NikitaP"/></a></li>
          <li class="tw-tweet">@renderedVisions I do not have one #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Impressto" title="Impressto"><img src="http://a3.twimg.com/profile_images/1140216871/impressto_avatar_normal.jpg" alt="Impressto"/></a></li>
          <li class="tw-tweet">Have you requested an invite for the creative storefront community yet? http://bit.ly/ngWXJc #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Impressto" title="Impressto"><img src="http://a3.twimg.com/profile_images/1140216871/impressto_avatar_normal.jpg" alt="Impressto"/></a></li>
          <li class="tw-tweet">Have you requested an invite for the creative storefront community yet? http://ow.ly/1uSlMB #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/flpatriot" title="flpatriot"><img src="http://a3.twimg.com/profile_images/1432809106/Mad_Men__icon__normal.jpeg" alt="flpatriot"/></a></li>
          <li class="tw-tweet">Anyone in St Pete for #frontendconf up for dinner? Not attending, but I *do* live there and whatnot.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/renderedVisions" title="renderedVisions"><img src="http://a3.twimg.com/profile_images/1439984437/rbug_normal.jpg" alt="renderedVisions"/></a></li>
          <li class="tw-tweet">Why do every designer/dev have a cat? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/derekbender" title="derekbender"><img src="http://a3.twimg.com/profile_images/1370033782/4_normal.jpg" alt="derekbender"/></a></li>
          <li class="tw-tweet">img {max-width: 100%;} is my new fav css trick (sorry overflow:hidden;). From @beep at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pauljbeaton" title="pauljbeaton"><img src="http://a2.twimg.com/profile_images/1441517031/image_normal.jpg" alt="pauljbeaton"/></a></li>
          <li class="tw-tweet">@ibjhb I'm a developer at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/hollygirl99" title="hollygirl99"><img src="http://a1.twimg.com/profile_images/1356869905/Hollygirl_001_normal.jpg" alt="hollygirl99"/></a></li>
          <li class="tw-tweet">RT @JayTeeD: “@threecleartones: only two speakers in and I already love this conference. coming back next year #frontendconf @frontendconf”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/gabrielvaldivia" title="gabrielvaldivia"><img src="http://a0.twimg.com/profile_images/1303557742/eightbit-aca81297-c2d0-449a-98d2-0c18c484c3a0_normal.png" alt="gabrielvaldivia"/></a></li>
          <li class="tw-tweet">.@beep is blowing minds left and right at #frontendconf. Definitely living up to @dandenney's hype!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/intriguewd" title="intriguewd"><img src="http://a3.twimg.com/profile_images/448898524/INTRIGUE_logo-crop_normal.jpg" alt="intriguewd"/></a></li>
          <li class="tw-tweet">RT @chriscoyier: Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pauljbeaton" title="pauljbeaton"><img src="http://a2.twimg.com/profile_images/1441517031/image_normal.jpg" alt="pauljbeaton"/></a></li>
          <li class="tw-tweet">RT @jackiesmith1011: Design isn't just about layout. - Ethan Marcotte #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/catidahlia" title="catidahlia"><img src="http://a0.twimg.com/profile_images/1302187230/cata_normal.jpg" alt="catidahlia"/></a></li>
          <li class="tw-tweet">A big thank you to Sign language interpreters at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pauljbeaton" title="pauljbeaton"><img src="http://a2.twimg.com/profile_images/1441517031/image_normal.jpg" alt="pauljbeaton"/></a></li>
          <li class="tw-tweet">RT @chriscoyier: Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jasonvanlue" title="jasonvanlue"><img src="http://a3.twimg.com/profile_images/1162702100/JVL-Twitter_normal.jpg" alt="jasonvanlue"/></a></li>
          <li class="tw-tweet">Moral of @beep's story: test and iterate. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">@pirateheist @frontendconf what's lfg? We're going to Three Birds Tavern at 4th St and 13th Ave N. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">A flexible foundation is key @beep . #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nhagianis" title="nhagianis"><img src="http://a0.twimg.com/profile_images/1316558715/side_profile_normal.jpg" alt="nhagianis"/></a></li>
          <li class="tw-tweet">A flexible foundation is key to a responsive design. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MarracheCo" title="MarracheCo"><img src="http://a1.twimg.com/profile_images/1422073782/mike_normal.jpg" alt="MarracheCo"/></a></li>
          <li class="tw-tweet">wishing I was at #frontendconf... I'll be there next year!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/tichaelmucker" title="tichaelmucker"><img src="http://a0.twimg.com/profile_images/60408589/Photo_40_normal.jpg" alt="tichaelmucker"/></a></li>
          <li class="tw-tweet">@beep is nailing his responsive design talk & previewing an album drop of sorts with The Boston Globe's responsive [re]design #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MarracheCo" title="MarracheCo"><img src="http://a1.twimg.com/profile_images/1422073782/mike_normal.jpg" alt="MarracheCo"/></a></li>
          <li class="tw-tweet">Wishing I was at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/freshbooks" title="freshbooks"><img src="http://a1.twimg.com/profile_images/111898528/fb-leaf_normal.gif" alt="freshbooks"/></a></li>
          <li class="tw-tweet">The folks at the #frontendconf made life size cartoon cardboard cut outs of all the speakers for photo oops. Really cool/funny idea!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MobileMerger" title="MobileMerger"><img src="http://a0.twimg.com/profile_images/1365965953/screenshot_08_normal.jpg" alt="MobileMerger"/></a></li>
          <li class="tw-tweet">RT @douglogue: Nearly half of all American adults get their news from a mobile device. #frontendconf #mobile</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/threecleartones" title="threecleartones"><img src="http://a3.twimg.com/sticky/default_profile_images/default_profile_4_normal.png" alt="threecleartones"/></a></li>
          <li class="tw-tweet">love that they have sign language interpreters for #frontendconf. accessibility! responsive conference design!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/tooner440" title="tooner440"><img src="http://a0.twimg.com/profile_images/57481170/curious_george_ether_001_normal.jpg" alt="tooner440"/></a></li>
          <li class="tw-tweet">love that they have sign language interpreters for #frontendconf. accessibility! responsive conference design!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/megcarpen" title="megcarpen"><img src="http://a3.twimg.com/profile_images/1125205943/Me.9.10_normal.jpg" alt="megcarpen"/></a></li>
          <li class="tw-tweet">RT @jpetersen: Design isn't just about layout - @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">RT @seandeladead: This talk about responsive design is my favorite so far #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Impressto" title="Impressto"><img src="http://a3.twimg.com/profile_images/1140216871/impressto_avatar_normal.jpg" alt="Impressto"/></a></li>
          <li class="tw-tweet">Great resource! RT @chrismorata: To help with the math, a fluid grid calculator: http://bit.ly/oiwt0Y #frontendconf #rwd</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Impressto" title="Impressto"><img src="http://a3.twimg.com/profile_images/1140216871/impressto_avatar_normal.jpg" alt="Impressto"/></a></li>
          <li class="tw-tweet">Great resource! RT @chrismorata: To help with the math, a fluid grid calculator: http://csswizardry.com/fluid-grids/ #frontendconf #rwd</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/seandeladead" title="seandeladead"><img src="http://a1.twimg.com/profile_images/651764742/glasses_normal.jpg" alt="seandeladead"/></a></li>
          <li class="tw-tweet">This talk about responsive design is my favorite so far #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Impressto" title="Impressto"><img src="http://a3.twimg.com/profile_images/1140216871/impressto_avatar_normal.jpg" alt="Impressto"/></a></li>
          <li class="tw-tweet">Rinse, repeat, and refine as needed. #responsivewebdesign #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pauljbeaton" title="pauljbeaton"><img src="http://a2.twimg.com/profile_images/1441517031/image_normal.jpg" alt="pauljbeaton"/></a></li>
          <li class="tw-tweet">@nhagianis Great talk on jQuery at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">RT @jpetersen: 84% of mobile access is done at home - @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chadsmith" title="chadsmith"><img src="http://a1.twimg.com/profile_images/1129350550/engagement-photo_normal.jpg" alt="chadsmith"/></a></li>
          <li class="tw-tweet">@shwaxinator @3rdmartini Why are we not at #frontendconf? It sounds like we're missing out. (cc @americopywriter @lathidesilva)</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/zakiwarfel" title="zakiwarfel"><img src="http://a1.twimg.com/profile_images/422448916/20090410_Todd_Warfel_25_W_normal.jpg" alt="zakiwarfel"/></a></li>
          <li class="tw-tweet">RT @jpetersen: Design isn't just about layout - @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a2.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">RT @nhagianis: I didn't understand why people were using grid systems until today. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pauljbeaton" title="pauljbeaton"><img src="http://a2.twimg.com/profile_images/1441517031/image_normal.jpg" alt="pauljbeaton"/></a></li>
          <li class="tw-tweet">RT @allisongrayce: What wifi network is everyone on? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cameronmoll" title="cameronmoll"><img src="http://a0.twimg.com/profile_images/1281607754/cameron-400bw-2009-square_normal.jpg" alt="cameronmoll"/></a></li>
          <li class="tw-tweet">Stopped in at #frontendconf for a couple hours, now watching @beep give a revised version of his RWD talk. A fabulous revision, in fact.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a2.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">RT @chrismorata: To help with the math, a fluid grid calculator: http://csswizardry.com/fluid-grids/ #frontendconf #rwd</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1178865094/beanie_daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">@xirclebox that sounds more like torture. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a1.twimg.com/profile_images/1180017791/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">Just because we have the space does not mean we have to use it (desktop). @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">@cameronmoll Just wanted to let you know that your site was the first one that got me thinking about user experience - 2006 #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dougneiner" title="dougneiner"><img src="http://a0.twimg.com/profile_images/1219117972/doug-html5-2_normal.jpg" alt="dougneiner"/></a></li>
          <li class="tw-tweet">RT @allisongrayce: I am impressed that the sign language person can keep up with Doug Neiner! What is the sign for jQuery? Dribbble? Hmm ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dianeleeper" title="dianeleeper"><img src="http://a2.twimg.com/profile_images/1239640834/icon_plain_purOrangChannel9_normal.png" alt="dianeleeper"/></a></li>
          <li class="tw-tweet">@beep showing ugly percentage numbers in income turns into beautiful responsive design at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">"Taylor break points to the need of your content" @beep  #frontendconf #responsiveDesign</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/douglogue" title="douglogue"><img src="http://a3.twimg.com/profile_images/645238720/t_normal.jpg" alt="douglogue"/></a></li>
          <li class="tw-tweet">@beep's presentation is blowing my mind #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">RT @IsmaelBurciaga: img { max-width: auto } IMO BEST CODE EVER FOR RESPONSIVE WEB DESIGN!!! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">RT @chrismorata: To help with the math, a fluid grid calculator: http://csswizardry.com/fluid-grids/ #frontendconf #rwd</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/tabithakarcher" title="tabithakarcher"><img src="http://a1.twimg.com/profile_images/1411035454/38892ce_normal.jpg" alt="tabithakarcher"/></a></li>
          <li class="tw-tweet">RT @chrismorata: To help with the math, a fluid grid calculator: http://csswizardry.com/fluid-grids/ #frontendconf #rwd</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NikitaP" title="NikitaP"><img src="http://a2.twimg.com/profile_images/1256422347/3_normal.png" alt="NikitaP"/></a></li>
          <li class="tw-tweet">Didn't know what to call it b4 but I have been attempting Responsive Web Design for years, but now have a name - to lean more! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/IsmaelBurciaga" title="IsmaelBurciaga"><img src="http://a1.twimg.com/profile_images/1447426337/5722415393_9648133eaa_z_normal.jpg" alt="IsmaelBurciaga"/></a></li>
          <li class="tw-tweet">img { max-width: auto } IMO BEST CODE EVER FOR RESPONSIVE WEB DESIGN!!! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a1.twimg.com/profile_images/1180017791/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">"My site will meet you wherever you are at." @TrentWalton 

Great way to think of responsive design. @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/353890446/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">To help with the math, a fluid grid calculator: http://csswizardry.com/fluid-grids/ #frontendconf #rwd</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/SRhyne" title="SRhyne"><img src="http://a0.twimg.com/profile_images/1123080625/Screen_shot_2010-09-13_at_10.34.43_AM_normal.png" alt="SRhyne"/></a></li>
          <li class="tw-tweet">RT @ibjhb: Using mockjax and jQuery templating is EXACTLY how we build enterprise websites (desktop and mobile). Very cool!!! @dougneine ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brandmitchell" title="brandmitchell"><img src="http://a3.twimg.com/profile_images/1352367031/IMG_20100622_170844_normal.png" alt="brandmitchell"/></a></li>
          <li class="tw-tweet">RT @allisongrayce: I am impressed that the sign language person can keep up with Doug Neiner! What is the sign for jQuery? Dribbble? Hmm ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/douglogue" title="douglogue"><img src="http://a3.twimg.com/profile_images/645238720/t_normal.jpg" alt="douglogue"/></a></li>
          <li class="tw-tweet">RT @jpetersen: 84% of mobile access is done at home - @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">Thanks for answering my TextMate/TextEdit/Coda poll. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pauljbeaton" title="pauljbeaton"><img src="http://a2.twimg.com/profile_images/1441517031/image_normal.jpg" alt="pauljbeaton"/></a></li>
          <li class="tw-tweet">Mobile first design makes us focus on the most important experience for the user. @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nhagianis" title="nhagianis"><img src="http://a0.twimg.com/profile_images/1316558715/side_profile_normal.jpg" alt="nhagianis"/></a></li>
          <li class="tw-tweet">I didn't understand why people were using grid systems until today. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/JeffreyPia" title="JeffreyPia"><img src="http://a2.twimg.com/profile_images/1207770353/n325600031_3114_2754_normal.jpg" alt="JeffreyPia"/></a></li>
          <li class="tw-tweet">RT @chriscoyier: Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/olivierlacan" title="olivierlacan"><img src="http://a2.twimg.com/profile_images/1180341979/home_twitter_normal.jpg" alt="olivierlacan"/></a></li>
          <li class="tw-tweet">"It's not about mobile first, but about content first" – Ethan Marcotte (@beep), loosely paraphrased on Responsive Web Design #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/831695864/blockhead_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">RT @LarryHipp: Very impressed by the presentation given by @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brandmitchell" title="brandmitchell"><img src="http://a3.twimg.com/profile_images/1352367031/IMG_20100622_170844_normal.png" alt="brandmitchell"/></a></li>
          <li class="tw-tweet">"Context doesn't necessarily determine the user's intent." @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">#frontendconf is trending in Tampa -  http://twitpic.com/5u2ubo</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">RT @redheadjessica: "The game becomes finding the content" LOL! What a crappy game! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/traeregan" title="traeregan"><img src="http://a0.twimg.com/profile_images/1324394706/Screen_shot_2011-04-25_at_12.28.07_AM_normal.jpg" alt="traeregan"/></a></li>
          <li class="tw-tweet">RT @PatNarciso: @dougneiner digging your session -- you're on fire! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/831695864/blockhead_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">RT @chriscoyier: Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">84% of mobile access is done at home - @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NikitaP" title="NikitaP"><img src="http://a2.twimg.com/profile_images/1256422347/3_normal.png" alt="NikitaP"/></a></li>
          <li class="tw-tweet">@ibjhb MSFT .NET / Silverlight / Windows Phone 7 #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">"Mobile / desktop" synonymous with "less / more" @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a2.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">@ibjhb @NikitaP I do a little of both. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/LarryHipp" title="LarryHipp"><img src="http://a0.twimg.com/profile_images/118479269/Copy_of_IMG_1374_normal.JPG" alt="LarryHipp"/></a></li>
          <li class="tw-tweet">Very impressed by the presentation given by @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ajtrego" title="ajtrego"><img src="http://a1.twimg.com/profile_images/1321350728/imwddicon_normal.png" alt="ajtrego"/></a></li>
          <li class="tw-tweet">Think mobile first when designing @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/redheadjessica" title="redheadjessica"><img src="http://a1.twimg.com/profile_images/125164589/7500193_N04_normal.jpg" alt="redheadjessica"/></a></li>
          <li class="tw-tweet">Seeing a merging of "mobile" and "desktop" design is awesome to me. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">Merlin Mann's Flickr Noise to Noise set: http://t.co/T2RZAhS #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/redheadjessica" title="redheadjessica"><img src="http://a1.twimg.com/profile_images/125164589/7500193_N04_normal.jpg" alt="redheadjessica"/></a></li>
          <li class="tw-tweet">"The game becomes finding the content" LOL! What a crappy game! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/SorcaDesign" title="SorcaDesign"><img src="http://a0.twimg.com/profile_images/1260230189/profile_normal.jpg" alt="SorcaDesign"/></a></li>
          <li class="tw-tweet">On mobile: Narrower screens force us to focus (on what matters to users) #frontendconf @beep</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/rblalock" title="rblalock"><img src="http://a1.twimg.com/profile_images/648015214/DSC05663_normal.jpg" alt="rblalock"/></a></li>
          <li class="tw-tweet">RT @douglogue: Nearly half of all American adults get their news from a mobile device. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MathewtLewis" title="MathewtLewis"><img src="http://a2.twimg.com/profile_images/555132180/Photo_6_normal.jpg" alt="MathewtLewis"/></a></li>
          <li class="tw-tweet">RT @Desirai: “@xirclebox: A beautifuly designed web site might as well be a poster if users can't use it. #frontendconf” Exactly!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">Luke's site:  http://lukew.com/ff/entry.asp?933  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jasonvanlue" title="jasonvanlue"><img src="http://a3.twimg.com/profile_images/1162702100/JVL-Twitter_normal.jpg" alt="jasonvanlue"/></a></li>
          <li class="tw-tweet">We need to ask questions more than we need answers. (via @beep) #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/tabithakarcher" title="tabithakarcher"><img src="http://a1.twimg.com/profile_images/1411035454/38892ce_normal.jpg" alt="tabithakarcher"/></a></li>
          <li class="tw-tweet">We need to ask questions more than we need answers. @beeps #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/353890446/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">When @beep talks it's like listening to the Beatles for the first time #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1178865094/beanie_daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">RT @Impressto: RT @chriscoyier: Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NikitaP" title="NikitaP"><img src="http://a2.twimg.com/profile_images/1256422347/3_normal.png" alt="NikitaP"/></a></li>
          <li class="tw-tweet">@ibjhb I'm a developer #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">How many developers (instead of designers) here at #frontendconf ??</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/tabithakarcher" title="tabithakarcher"><img src="http://a1.twimg.com/profile_images/1411035454/38892ce_normal.jpg" alt="tabithakarcher"/></a></li>
          <li class="tw-tweet">@frontendconf Hooray! Thank you! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">we give our work a constraint, a dimension, and beyond this, no work shall pass. @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/catidahlia" title="catidahlia"><img src="http://a0.twimg.com/profile_images/1302187230/cata_normal.jpg" alt="catidahlia"/></a></li>
          <li class="tw-tweet">Design and Development need to talk. This is getting better and it's so nice to see the results when we work together. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">Enjoying @beep's presentation at #frontendconf http://t.co/QUlFdyd</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jasongraphix" title="jasongraphix"><img src="http://a1.twimg.com/profile_images/1275786717/geekcred_normal.jpg" alt="jasongraphix"/></a></li>
          <li class="tw-tweet">Wish I was in St. Pete right now for #frontendconf. Seen rave reviews from all the talks & it sounds like @beep is killing it (as usual).</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dougneiner" title="dougneiner"><img src="http://a0.twimg.com/profile_images/1219117972/doug-html5-2_normal.jpg" alt="dougneiner"/></a></li>
          <li class="tw-tweet">Super excited to meet so many great people here at #frontendconf @IsmaelBurciaga @jglovier @garand plus @beep @cameronmoll and @rjs</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/imbradmiller" title="imbradmiller"><img src="http://a1.twimg.com/profile_images/818817135/Photo_on_2009-09-20_at_10.12__2_normal.jpg" alt="imbradmiller"/></a></li>
          <li class="tw-tweet">@dougneiner great job bro!!! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanolson" title="ryanolson"><img src="http://a0.twimg.com/profile_images/1363824237/IMG_0665_normal.jpg" alt="ryanolson"/></a></li>
          <li class="tw-tweet">RT: @chriscoyier Just one A+ talk after another at #frontendconf 

^wish I was there...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Danielletorres_" title="Danielletorres_"><img src="http://a3.twimg.com/profile_images/1333906125/25171_659258005118_60717176_36653775_1770391_n_normal.jpg" alt="Danielletorres_"/></a></li>
          <li class="tw-tweet">Getting a bit of down time to watch Ethan Marcotte at #frontendconf on responsive design</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">@nhagianis Don't worry, I just found out at the very end of May. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/LegoCzar" title="LegoCzar"><img src="http://a0.twimg.com/profile_images/1414044737/profile_normal.png" alt="LegoCzar"/></a></li>
          <li class="tw-tweet">I am angry that I am out of town for #frontendconf.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/SrLuisReyes" title="SrLuisReyes"><img src="http://a1.twimg.com/profile_images/1178717073/Untitled-4_normal.jpg" alt="SrLuisReyes"/></a></li>
          <li class="tw-tweet">@dougneiner Thanks for clarifying the performance advantage of ID selection vs classes #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bybrandonbrown" title="bybrandonbrown"><img src="http://a0.twimg.com/profile_images/1180562381/kitty_normal.jpg" alt="bybrandonbrown"/></a></li>
          <li class="tw-tweet">RT @pirateheist We shouldn't forget that nearly half of American adults do not get their news from a mobile device #frontendconf #goodpoint</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/see_kay" title="see_kay"><img src="http://a2.twimg.com/profile_images/1357664762/buh_normal.jpg" alt="see_kay"/></a></li>
          <li class="tw-tweet">Ethan Marcotte!! http://yfrog.com/kl8vyrtj #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Impressto" title="Impressto"><img src="http://a3.twimg.com/profile_images/1140216871/impressto_avatar_normal.jpg" alt="Impressto"/></a></li>
          <li class="tw-tweet">RT @chriscoyier: Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/allisongrayce" title="allisongrayce"><img src="http://a1.twimg.com/profile_images/1403680614/profile-pic_normal.jpg" alt="allisongrayce"/></a></li>
          <li class="tw-tweet">RT @jpetersen: Design isn't just about layout - @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/andrewschmid" title="andrewschmid"><img src="http://a3.twimg.com/profile_images/1121032509/IMG_0596_normal.jpg" alt="andrewschmid"/></a></li>
          <li class="tw-tweet">Nice presentation by @dougneiner at #frontendconf . Always love learning some new jQuery goodness</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">RT @jackiesmith1011: Design isn't just about layout. - Ethan Marcotte #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nhagianis" title="nhagianis"><img src="http://a0.twimg.com/profile_images/1316558715/side_profile_normal.jpg" alt="nhagianis"/></a></li>
          <li class="tw-tweet">Just saw some examples of responsive design from @beep looks awesome, how did I not know about this. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brianburridge" title="brianburridge"><img src="http://a1.twimg.com/profile_images/1366751587/Photo1-2_normal.jpg" alt="brianburridge"/></a></li>
          <li class="tw-tweet">RT @chriscoyier: Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">RT @douglogue: Nearly half of all American adults get their news from a mobile device. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/olivierlacan" title="olivierlacan"><img src="http://a2.twimg.com/profile_images/1180341979/home_twitter_normal.jpg" alt="olivierlacan"/></a></li>
          <li class="tw-tweet">RT @chriscoyier: Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/parenteau" title="parenteau"><img src="http://a1.twimg.com/profile_images/544158810/miguel-manga-blue-beenie_normal.png" alt="parenteau"/></a></li>
          <li class="tw-tweet">“@GavinStark: I see @thinkrelevance sponsors #frontendconf  I bet they are as awesome to work FOR as they are to work WITH.”  It is Awesome!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jpetersen" title="jpetersen"><img src="http://a1.twimg.com/profile_images/1312063322/Jesse-brown-shirt-full_normal.jpg" alt="jpetersen"/></a></li>
          <li class="tw-tweet">Design isn't just about layout - @beep #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jackiesmith1011" title="jackiesmith1011"><img src="http://a0.twimg.com/profile_images/1425024993/me-2_normal.jpg" alt="jackiesmith1011"/></a></li>
          <li class="tw-tweet">Design isn't just about layout. - Ethan Marcotte #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bybrandonbrown" title="bybrandonbrown"><img src="http://a0.twimg.com/profile_images/1180562381/kitty_normal.jpg" alt="bybrandonbrown"/></a></li>
          <li class="tw-tweet">RT @chriscoyier: Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/erikstmartin" title="erikstmartin"><img src="http://a1.twimg.com/profile_images/115069408/me_normal.jpg" alt="erikstmartin"/></a></li>
          <li class="tw-tweet">“@stevenbristol: “@erikstmartin: @stevenbristol just ordered 50 pizzas for #frontendconf” &lt;- @allanbranch too!” and the smart one too :)</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pirateheist" title="pirateheist"><img src="http://a1.twimg.com/profile_images/1379158250/Screen_shot_2011-06-02_at_2.18.20_PM_normal.png" alt="pirateheist"/></a></li>
          <li class="tw-tweet">We shouldn't forget that nearly half of American adults do not get their news from a mobile device. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/douglogue" title="douglogue"><img src="http://a3.twimg.com/profile_images/645238720/t_normal.jpg" alt="douglogue"/></a></li>
          <li class="tw-tweet">Boston Globe releasing responsive web site design summer 2011. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brandmitchell" title="brandmitchell"><img src="http://a3.twimg.com/profile_images/1352367031/IMG_20100622_170844_normal.png" alt="brandmitchell"/></a></li>
          <li class="tw-tweet">The Boston Globe will be launching a full responsive site this summer. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frontendconf" title="frontendconf"><img src="http://a0.twimg.com/profile_images/1218667040/front-end-twitter-avatar_normal.png" alt="frontendconf"/></a></li>
          <li class="tw-tweet">Congrats to Tabitha Karcher for sending the first @freshbook invoice and winning @beep's book! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chriscoyier" title="chriscoyier"><img src="http://a3.twimg.com/profile_images/1177838998/Gravatar_normal.png" alt="chriscoyier"/></a></li>
          <li class="tw-tweet">Just one A+ talk after another at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/joshsearles" title="joshsearles"><img src="http://a0.twimg.com/profile_images/1294906815/icon_normal.png" alt="joshsearles"/></a></li>
          <li class="tw-tweet">I couldn't make it to #frontendconf this year, But I'll be there next year for sure!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dougneiner" title="dougneiner"><img src="http://a0.twimg.com/profile_images/1219117972/doug-html5-2_normal.jpg" alt="dougneiner"/></a></li>
          <li class="tw-tweet">RT @ibjhb: Using mockjax and jQuery templating is EXACTLY how we build enterprise websites (desktop and mobile). Very cool!!! @dougneine ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/douglogue" title="douglogue"><img src="http://a3.twimg.com/profile_images/645238720/t_normal.jpg" alt="douglogue"/></a></li>
          <li class="tw-tweet">Nearly half of all American adults get their news from a mobile device. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/wddbs" title="wddbs"><img src="http://a3.twimg.com/profile_images/1386227472/twittericon_normal.png" alt="wddbs"/></a></li>
          <li class="tw-tweet">RT @dandenney: Ethan Marcotte at #frontendconf  http://instagr.am/p/IPmWg/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/allisongrayce" title="allisongrayce"><img src="http://a1.twimg.com/profile_images/1403680614/profile-pic_normal.jpg" alt="allisongrayce"/></a></li>
          <li class="tw-tweet">I wish @Jhaldane could see the facial hair on @beep's slide right now at the #frontendconf cc @ohthatmeagan @kkreighbaum</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">what's been lost in social media is the artifact of the narrative that can be left behind. #frontendconf @beep</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dandenney" title="dandenney"><img src="http://a2.twimg.com/profile_images/1216037299/dan-social-avatar_normal.png" alt="dandenney"/></a></li>
          <li class="tw-tweet">Ethan Marcotte at #frontendconf  http://instagr.am/p/IPmWg/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/JayTeeD" title="JayTeeD"><img src="http://a2.twimg.com/profile_images/1455227663/image_normal.jpg" alt="JayTeeD"/></a></li>
          <li class="tw-tweet">Amazing story telling by @beep, Love Love the history! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1178865094/beanie_daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">@beep's presentation is fantastic thus far #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/LarryHipp" title="LarryHipp"><img src="http://a0.twimg.com/profile_images/118479269/Copy_of_IMG_1374_normal.JPG" alt="LarryHipp"/></a></li>
          <li class="tw-tweet">#frontendconf Eating toast</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/see_kay" title="see_kay"><img src="http://a2.twimg.com/profile_images/1357664762/buh_normal.jpg" alt="see_kay"/></a></li>
          <li class="tw-tweet">@dougneiner can I ask your thoughts about jQTouch vs jQuery mobile? :) #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">@xirclebox Thanks for the link #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/olivierlacan" title="olivierlacan"><img src="http://a2.twimg.com/profile_images/1180341979/home_twitter_normal.jpg" alt="olivierlacan"/></a></li>
          <li class="tw-tweet">"We're a community of diarists." – Ethan Marcotte (@beep) about the Web. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a2.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">@xirclebox I keep forgetting to pick up that book. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">A Book Apart, Responsive Web Design
http://www.abookapart.com/products/responsive-web-design #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">@world_famous @dandenney speaking of, doesn't the next season premiere this Sunday? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a1.twimg.com/profile_images/1180017791/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">Ethan is in the house! @beep #frontendconf http://t.co/r297rpX</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pauljbeaton" title="pauljbeaton"><img src="http://a2.twimg.com/profile_images/1441517031/image_normal.jpg" alt="pauljbeaton"/></a></li>
          <li class="tw-tweet">@beep talking about Responsive Web Design at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">RT @IsmaelBurciaga: So excited to hear @beep on Responsive Web Design #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bybrandonbrown" title="bybrandonbrown"><img src="http://a0.twimg.com/profile_images/1180562381/kitty_normal.jpg" alt="bybrandonbrown"/></a></li>
          <li class="tw-tweet">RT @murdaugh: Very impressed with @dougneiner. #jQuery #frontendconf #fb</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/IsmaelBurciaga" title="IsmaelBurciaga"><img src="http://a1.twimg.com/profile_images/1447426337/5722415393_9648133eaa_z_normal.jpg" alt="IsmaelBurciaga"/></a></li>
          <li class="tw-tweet">So excited to hear @beep on Responsive Web Design #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dougmays" title="dougmays"><img src="http://a1.twimg.com/profile_images/1455360060/member_6076056_normal.jpeg" alt="dougmays"/></a></li>
          <li class="tw-tweet">what was dan denney's email address for the fresh books invoice? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">RT @BigSea: Despite the delicious offer of free pizza, we're opting for beer and food at Three Birds #frontendconf  Join us!</li>
        </ul>
      </li>
    
    </ul>
    

  </section>

{% endblock %}