{% block content %}

  <div class="presentation inner">

    <h1>Three Pipe Problems and How&nbsp;Design&nbsp;Can&nbsp;Solve&nbsp;Them</h1>

    <div class="iframe">
      <script async class="speakerdeck-embed" data-id="4fd1f6975d5029053c001be0" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
    </div>

    <aside>

      <h5>Presented by:</h5>
        
      <img src="{{ "jason-vanlue.jpg" | asset_url }}" alt="Jason VanLue">

      <img src="{{ "jason-vanlue.svg" | asset_url }}" alt="Jason VanLue" class="character">
      
      <h4>Jason VanLue</h4>

      <p>Jason is the design lead at <a href="http://envylabs.com">Envy Labs</a>, an Orlando-based company. On top of building web apps, they provide training via talks, podcasts and <a href="http://codeschool.com">Code School</a>. He is extremely talented, shares his thoughts on his site and is a natural speaker. I saw him give a talk at Barcamp Orlando and knew in 30 seconds that I had to ask him to share with you.</p>
      
      <p class="h5">June 8, 2012 - 09:40AM to 10:30AM</p>

    </aside>

  </div>

  <section id="feedback" class="inner">

    <h2>Feedback</h2>

    <ul class="tweets">
      
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frontendconf" title="frontendconf"><img src="http://a0.twimg.com/profile_images/1218667040/front-end-twitter-avatar_normal.png" alt="frontendconf"/></a></li>
          <li class="tw-tweet">RT @pagebreakpdcst: #frontendconf peeps winning 'Design is a job': would love to hear your thoughts on our latest show on the book:  htt ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">@darcy_clarke is a computer. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a0.twimg.com/profile_images/1752968445/wbm-ibjhb_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">Awesome presentation at #frontendconf !  Place is packed out!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">My team and I still have to support IE7. We ran into "quirks mode" issues yesterday with some old code #sadFace #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/adellecharles" title="adellecharles"><img src="http://a0.twimg.com/profile_images/1879886585/circle_normal.png" alt="adellecharles"/></a></li>
          <li class="tw-tweet">.@carbonads loves @frontendconf! #frontendconf http://t.co/4sEVTaPy</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">RT @MinaMarkham: This is the modern web. If you don’t see your browser, change it now. #FrontEndConf http://t.co/FQCqzxxU</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/autodafe" title="autodafe"><img src="http://a0.twimg.com/profile_images/1800677256/58OmE_normal.png" alt="autodafe"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: We as designers can change the world, simply pay attention to the needs of others. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MinaMarkham" title="MinaMarkham"><img src="http://a0.twimg.com/profile_images/1878583862/me-instagramed-no-border_normal.jpg" alt="MinaMarkham"/></a></li>
          <li class="tw-tweet">This is the modern web. If you don’t see your browser, change it now. #FrontEndConf http://t.co/FQCqzxxU</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/sunforged" title="sunforged"><img src="http://a0.twimg.com/profile_images/64114604/etsyicon2_normal.jpg" alt="sunforged"/></a></li>
          <li class="tw-tweet">RT @norcross: "the only intuitive interface is the nipple. everything else has to be designed" via @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Google Chrome Frame plugin for IE allows the visitor to browse your site in a Chrome engine.@darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">@darcy_clarke WHAT ABOUT IE6?!?!?!?!? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/michigangraham" title="michigangraham"><img src="http://a0.twimg.com/profile_images/2205309246/twitter-avatar_normal.png" alt="michigangraham"/></a></li>
          <li class="tw-tweet">Get @jasonvanlue’s excellent presentation on @speakerdeck http://t.co/HRpqnukS #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/BigSea" title="BigSea"><img src="http://a0.twimg.com/profile_images/1551437548/twitter-sep11_normal.jpg" alt="BigSea"/></a></li>
          <li class="tw-tweet">RT @pagebreakpdcst: #frontendconf peeps winning 'Design is a job': would love to hear your thoughts on our latest show on the book:  htt ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/douglogue" title="douglogue"><img src="http://a0.twimg.com/profile_images/645238720/t_normal.jpg" alt="douglogue"/></a></li>
          <li class="tw-tweet">I've done some webkit only stuff that I felt pretty dirty about. @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">The modern web #frontendconf  http://t.co/94NdzspY</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: The lack of IE on @darcy_clarke list of the "modern web" brought big laughs. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">There's one IE fan in the audience that's sinking in his chair right now. Poor guy/gril. @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">The lack of IE on @darcy_clarke list of the "modern web" brought big laughs. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">The modern web is: Chrome, Firefox, Opera and Safari. No IE! @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/betweenbrain" title="betweenbrain"><img src="http://a0.twimg.com/profile_images/1769263879/matt-jab11-avatar_normal.jpg" alt="betweenbrain"/></a></li>
          <li class="tw-tweet">RT @nightshiftc: "We're designing for people, we're not just designing for screens." @jasonvanlue #frontendConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alisonmf" title="alisonmf"><img src="http://a0.twimg.com/profile_images/1774016779/alison-twitter-square-prett_normal.jpg" alt="alisonmf"/></a></li>
          <li class="tw-tweet">Going back down memory lane at #frontendconf. Browser hacks. Code bloat, etc. ugh! Glad it's not 2002 anymore.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">RT @aimeebooth: "Isaac Newton: Original Badass" - @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Pre-2010 Web Development contained Markup Bloat, Resource Bloat, Browser Hacks, Support Variants &amp; Anal clients! @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/mike_key" title="mike_key"><img src="http://a0.twimg.com/profile_images/2055593154/newavatar_normal.jpg" alt="mike_key"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: some of us did things we aren't proud of for box shadows &amp; browser hacks in 2002-2010. @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">I try to avoid browser hacks at all costs. Obviously IE is the worst. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">RT @aimeebooth: "Isaac Newton: Original Badass" - @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">some of us did things we aren't proud of for box shadows &amp; browser hacks in 2002-2010. @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nikibrown" title="nikibrown"><img src="http://a0.twimg.com/profile_images/2279345632/b6ip672dj6n2q0oej4lh_normal.jpeg" alt="nikibrown"/></a></li>
          <li class="tw-tweet">empty divs, rounded corners, shudder... #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nikibrown" title="nikibrown"><img src="http://a0.twimg.com/profile_images/2279345632/b6ip672dj6n2q0oej4lh_normal.jpeg" alt="nikibrown"/></a></li>
          <li class="tw-tweet">RT @pagebreakpdcst: #frontendconf peeps winning 'Design is a job': would love to hear your thoughts on our latest show on the book:  htt ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pagebreakpdcst" title="pagebreakpdcst"><img src="http://a0.twimg.com/profile_images/1126497211/pagebreak_logo_normal.png" alt="pagebreakpdcst"/></a></li>
          <li class="tw-tweet">#frontendconf peeps winning 'Design is a job': would love to hear your thoughts on our latest show on the book:  http://t.co/omn2FOmC</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/aimeebooth" title="aimeebooth"><img src="http://a0.twimg.com/profile_images/1213197103/aimee_normal.jpg" alt="aimeebooth"/></a></li>
          <li class="tw-tweet">"Isaac Newton: Original Badass" - @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/AestheticRain" title="AestheticRain"><img src="http://a0.twimg.com/profile_images/2269121692/o240edp3kbam7hew81uo_normal.jpeg" alt="AestheticRain"/></a></li>
          <li class="tw-tweet">RT @sazzy: Loving the talk by @jasonvanlue at #frontendconf - 
  “Solve real problems. Design real solutions for real people.”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">2002-2010 The web was a depressiong time for web developers. @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/1887697806/image_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">Love the @neiltyson and issac newton love here at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/InVisionApp" title="InVisionApp"><img src="http://a0.twimg.com/profile_images/1251585468/invision_avatar_normal.png" alt="InVisionApp"/></a></li>
          <li class="tw-tweet">. @darcy_clarke of the #jquery team bringing the heat at #frontendconf http://t.co/86WwqCZx</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf @darcy_clarke 2002-2010 was a despressing area for front-end coders. things were "code bloat" and tables bad.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">Lack of “@xirclebox: "The enemy of creativity is confidence" #frontendconf @jasonvanlue” Is not being confident you mean /via @TamiFromMiami</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dandenney" title="dandenney"><img src="http://a0.twimg.com/profile_images/2218944904/dan-social-avatar_normal.png" alt="dandenney"/></a></li>
          <li class="tw-tweet">RT @aimeebooth: "Think in open mode. Execute in closed mode." - @jasonvanlue at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Quote: "Issac Newton is an all around Badass" @darcy_clarke #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/owendesign" title="owendesign"><img src="http://a0.twimg.com/profile_images/1550302724/314436_10150392526490225_548350224_10474316_1020822302_n_normal.jpg" alt="owendesign"/></a></li>
          <li class="tw-tweet">Part of my team is at #frontendconf today. Looking forward to hearing what they bring back.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/aimeebooth" title="aimeebooth"><img src="http://a0.twimg.com/profile_images/1213197103/aimee_normal.jpg" alt="aimeebooth"/></a></li>
          <li class="tw-tweet">"Think in open mode. Execute in closed mode." - @jasonvanlue at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/helenhousandi" title="helenhousandi"><img src="http://a0.twimg.com/profile_images/1900237318/emogeek_normal.jpg" alt="helenhousandi"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: #frontendconf designers can contribute time to WordPress UI. They are always looking for talent: http://t.co/ripuhrBp</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/granitd" title="granitd"><img src="http://a0.twimg.com/profile_images/1614547913/photo_normal.jpg" alt="granitd"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Design should be about solving problems, and making life better. It doesn't have to be complicated, just solve a prob ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf @dary_clarke is up w/ front-end dev techniques. like the fact that his slides are html. def. a raising trend.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/1887697806/image_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">Reserving tweets for conserving battery life. Boo! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/fisheespix" title="fisheespix"><img src="http://a0.twimg.com/profile_images/1879353858/about_andy-merhaut_480x681_normal.jpg" alt="fisheespix"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Next up, @darcy_clarke - Front-end techniques for the modern web #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @xirclebox: Birthdays are going to become a part of #frontendconf Happy Birthday Melanie</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ShawnCBerg" title="ShawnCBerg"><img src="http://a0.twimg.com/profile_images/1269949301/Avatar2_normal.jpg" alt="ShawnCBerg"/></a></li>
          <li class="tw-tweet">RT @xirclebox: Birthdays are going to become a part of #frontendconf Happy Birthday Melanie</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/kellikreighbaum" title="kellikreighbaum"><img src="http://a0.twimg.com/profile_images/1346912695/profile-sm_reasonably_small_normal.jpg" alt="kellikreighbaum"/></a></li>
          <li class="tw-tweet">@jasonvanlue great talk man! #frontendconf #inspiring :D</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frankiejramirez" title="frankiejramirez"><img src="http://a0.twimg.com/profile_images/2281491651/OXeJuruR_normal" alt="frankiejramirez"/></a></li>
          <li class="tw-tweet">Very inspirational talk by @jasonvanlue at #frontendconf. Going to leave a dent in the world through my work.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cmdshiftdesign" title="cmdshiftdesign"><img src="http://a0.twimg.com/profile_images/1376883230/photo_normal.jpg" alt="cmdshiftdesign"/></a></li>
          <li class="tw-tweet">SRSLY! *GULP* RT @_fasterhorses: Stage for my first conference talk. …OH GOD! #frontendconf http://t.co/qDaGJewX</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a0.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">RT @xirclebox: Birthdays are going to become a part of #frontendconf Happy Birthday Melanie</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">Birthdays are going to become a part of #frontendconf Happy Birthday Melanie</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Haha! RT @xDanMorgan: a choir of 250 nerds singing happy birthday to @jasonvanlue's wife, great end to a great talk #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Next up, @darcy_clarke - Front-end techniques for the modern web #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MadPow" title="MadPow"><img src="http://a0.twimg.com/profile_images/1404457155/MP_TwitterIcon_normal.jpg" alt="MadPow"/></a></li>
          <li class="tw-tweet">RT @_fasterhorses: Stage for my first conference talk. 

  …OH GOD! #frontendconf http://t.co/bDAUMyRW</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xDanMorgan" title="xDanMorgan"><img src="http://a0.twimg.com/profile_images/1498707110/Screen_shot_2011-08-16_at_2.44.47_PM_normal.png" alt="xDanMorgan"/></a></li>
          <li class="tw-tweet">a choir of 250 nerds singing happy birthday to @jasonvanlue's wife, great end to a great talk #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/SKOOLIOSTYLES" title="SKOOLIOSTYLES"><img src="http://a0.twimg.com/profile_images/2260341410/me_normal.png" alt="SKOOLIOSTYLES"/></a></li>
          <li class="tw-tweet">RT @sazzy: Loving the talk by @jasonvanlue at #frontendconf - 
  “Solve real problems. Design real solutions for real people.”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf @jasonvanlue says "my wife is here today..." and i heard a few women (and men?) sigh.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nightshiftc" title="nightshiftc"><img src="http://a0.twimg.com/profile_images/1349224468/5695764117_3ebfdc7ca3_b_normal.jpg" alt="nightshiftc"/></a></li>
          <li class="tw-tweet">"We're designing for people, we're not just designing for screens." @jasonvanlue #frontendConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/iPullRank" title="iPullRank"><img src="http://a0.twimg.com/profile_images/1128289593/Corporate-Mike_normal.jpg" alt="iPullRank"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Design should be about solving problems, and making life better. It doesn't have to be complicated, just solve a prob ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dougneiner" title="dougneiner"><img src="http://a0.twimg.com/profile_images/1219117972/doug-html5-2_normal.jpg" alt="dougneiner"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: We as designers can change the world, simply pay attention to the needs of others. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf @jasonvanlue was a great choice to get the conference started. he's HUMAN COFFEE.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanplasma" title="ryanplasma"><img src="http://a0.twimg.com/profile_images/2229016300/37759_1345025026401_1254510058_30925608_4840937_n_normal.jpg" alt="ryanplasma"/></a></li>
          <li class="tw-tweet">"Solve real problems. Design real solutions" - great talk by @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alexswanson09" title="alexswanson09"><img src="http://a0.twimg.com/profile_images/2228966513/photo444-sml_normal.jpg" alt="alexswanson09"/></a></li>
          <li class="tw-tweet">@jasonvanlue #FrontEndConf  awesome first talk</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">I'm at #frontendconf (with @TamiFromMiami and Chris at Palladium Theater) [pic] — http://t.co/34OJPAB5</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/geticonify" title="geticonify"><img src="http://a0.twimg.com/profile_images/2244113551/twitter_logo_normal.png" alt="geticonify"/></a></li>
          <li class="tw-tweet">We are creatives. The pixel pushing, type addicted, 50mm wielding, makers of tomorrow.. http://t.co/QIa65vgN #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1868043304/daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">@jasonvanlue gets the gears turning. Awesome stuff. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nickhurley" title="nickhurley"><img src="http://a0.twimg.com/profile_images/2189365299/offices_normal.jpg" alt="nickhurley"/></a></li>
          <li class="tw-tweet">RT @sazzy: Loving the talk by @jasonvanlue at #frontendconf - 
  “Solve real problems. Design real solutions for real people.”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nightshiftc" title="nightshiftc"><img src="http://a0.twimg.com/profile_images/1349224468/5695764117_3ebfdc7ca3_b_normal.jpg" alt="nightshiftc"/></a></li>
          <li class="tw-tweet">"Design solves problems." @jasonvanlue #frontendConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/redheadjessica" title="redheadjessica"><img src="http://a0.twimg.com/profile_images/1769191568/Screen_shot_2011-07-14_at_2.43.55_AM_normal.png" alt="redheadjessica"/></a></li>
          <li class="tw-tweet">Soo bummed to be missing #frontendconf this year. Miss you guys! &lt;3</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/catidahlia" title="catidahlia"><img src="http://a0.twimg.com/profile_images/1954873212/image_normal.jpg" alt="catidahlia"/></a></li>
          <li class="tw-tweet">"Think in the open mode and execute in close  mode" @Jasonvanlue #frontendconf great first talk!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/sazzy" title="sazzy"><img src="http://a0.twimg.com/profile_images/1842116154/Saz_normal.png" alt="sazzy"/></a></li>
          <li class="tw-tweet">Loving the talk by @jasonvanlue at #frontendconf - 
  “Solve real problems. Design real solutions for real people.”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Thanks @jasonvanlue, great talk! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/OhThatMeagan" title="OhThatMeagan"><img src="http://a0.twimg.com/profile_images/1869983210/Screen_shot_2011-06-20_at_9.32.35_AM_normal.png" alt="OhThatMeagan"/></a></li>
          <li class="tw-tweet">Great talk @jasonvanlue! #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">We as designers can change the world, simply pay attention to the needs of others. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanaduffy" title="ryanaduffy"><img src="http://a0.twimg.com/profile_images/1185375857/avatar_normal.png" alt="ryanaduffy"/></a></li>
          <li class="tw-tweet">Keys to creativity: time, confidence, humor. #frontendconf + @InVisionAppli>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">Good opp for #frontendconf folks RT @HanekeDesign: Career Opportunities at Haneke Design! - User Interface Designer http://t.co/ajlkfxm4</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @alexswanson09: "You can not understand good design if you do not understand people" @jasonvanlue #Frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">@jasonvanlue #FrontEndConf why did the chicken cross the road?</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/world_famous" title="world_famous"><img src="http://a0.twimg.com/profile_images/1887697806/image_normal.jpg" alt="world_famous"/></a></li>
          <li class="tw-tweet">Being reminiscent of the flood gate problems when searching for creative zen even tho 9-5 grind can burn people out. #maketime #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">"The enemy of creativity is confidence" #frontendconf @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/mancypino" title="mancypino"><img src="http://a0.twimg.com/profile_images/1456644196/jmb_normal.jpg" alt="mancypino"/></a></li>
          <li class="tw-tweet">RT @shayhowe: "You cannot understand design if you do not understand people." via @jasonvanlue at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: #frontendconf designers need to be less protective and contribute more, especially to open source projects.  @jasonv ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jackiesmith1011" title="jackiesmith1011"><img src="http://a0.twimg.com/profile_images/1669677086/me-2_normal.jpg" alt="jackiesmith1011"/></a></li>
          <li class="tw-tweet">RT @chrismorata: @frontendconf Incorporating John Cleese, Star Wars, and nipples in a 50 min talk? @jasonvanlue may be my new favorite s ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">How to enter a creative Open Mode: Give yourself more space, more time, more confidence and humor. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @Soben: “we must allow ourselves to think in the open mode, and execute in the closed mode” #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @shayhowe: "You cannot understand design if you do not understand people." via @jasonvanlue at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf we need to be confident and no idea is bad. so my chocolate salad idea isn't bad? yes! @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/erikstmartin" title="erikstmartin"><img src="http://a0.twimg.com/profile_images/1468094461/me_normal.jpg" alt="erikstmartin"/></a></li>
          <li class="tw-tweet">Love a lot of the quotes in @jasonvanlue 's talk at #frontendconf hope the slides are available later. #inspired</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/InVisionApp" title="InVisionApp"><img src="http://a0.twimg.com/profile_images/1251585468/invision_avatar_normal.png" alt="InVisionApp"/></a></li>
          <li class="tw-tweet">"Creativity isn't a talent. It's a frame of mind." - John Cleese #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/llahnoraa" title="llahnoraa"><img src="http://a0.twimg.com/profile_images/1349450320/aaron_normal.png" alt="llahnoraa"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: #frontendconf designers need to be less protective and contribute more, especially to open source projects.  @jasonv ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf @jasonvanlue TIME! you need a time space oasis so you can think creatively. Give yourself more TIME!!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf sometimes the design decision we make is "good enough" to get it off our plates. allow more time for better solutions.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/justin_chi" title="justin_chi"><img src="http://a0.twimg.com/profile_images/683588669/jc_normal.jpg" alt="justin_chi"/></a></li>
          <li class="tw-tweet">RT @allisongrayce: "If design solves problems, creativity fuels design." @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/BigSea" title="BigSea"><img src="http://a0.twimg.com/profile_images/1551437548/twitter-sep11_normal.jpg" alt="BigSea"/></a></li>
          <li class="tw-tweet">RT @alexswanson09: "You can not understand good design if you do not understand people" @jasonvanlue #Frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf get into open mode by giving yourself a "time space" oasis. @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/tjerabek" title="tjerabek"><img src="http://a0.twimg.com/profile_images/1158229688/avatar_normal.jpg" alt="tjerabek"/></a></li>
          <li class="tw-tweet">RT @allisongrayce: "If design solves problems, creativity fuels design." @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/OhThatMeagan" title="OhThatMeagan"><img src="http://a0.twimg.com/profile_images/1869983210/Screen_shot_2011-06-20_at_9.32.35_AM_normal.png" alt="OhThatMeagan"/></a></li>
          <li class="tw-tweet">Creativity isn't a talent, it's a frame of mind, @jasonvanlue  #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alexswanson09" title="alexswanson09"><img src="http://a0.twimg.com/profile_images/2228966513/photo444-sml_normal.jpg" alt="alexswanson09"/></a></li>
          <li class="tw-tweet">"You can not understand good design if you do not understand people" @jasonvanlue #Frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alisonmf" title="alisonmf"><img src="http://a0.twimg.com/profile_images/1774016779/alison-twitter-square-prett_normal.jpg" alt="alisonmf"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: #frontendconf designers need to be less protective and contribute more, especially to open source projects.  @jasonv ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alisonmf" title="alisonmf"><img src="http://a0.twimg.com/profile_images/1774016779/alison-twitter-square-prett_normal.jpg" alt="alisonmf"/></a></li>
          <li class="tw-tweet">RT @timothybsmith: "The Brooklyn Nets, Facebook and Weather apps are not problems worth our time." 

  —Jason Van Lue, #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a0.twimg.com/profile_images/1809136673/Untitled-1_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @allisongrayce: "If design solves problems, creativity fuels design." @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf i think @jasonvanlue looks a bit like "the world's most photogenic guy". Agree? http://t.co/mpauQAso</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a0.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">“we must allow ourselves to think in the open mode, and execute in the closed mode” #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/alisonmf" title="alisonmf"><img src="http://a0.twimg.com/profile_images/1774016779/alison-twitter-square-prett_normal.jpg" alt="alisonmf"/></a></li>
          <li class="tw-tweet">RT @shayhowe: "You cannot understand design if you do not understand people." via @jasonvanlue at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">RT @ryanplasma: “We must allow ourselves to think in the open mode and execute in the closed mode.” - @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanplasma" title="ryanplasma"><img src="http://a0.twimg.com/profile_images/2229016300/37759_1345025026401_1254510058_30925608_4840937_n_normal.jpg" alt="ryanplasma"/></a></li>
          <li class="tw-tweet">“We must allow ourselves to think in the open mode and execute in the closed mode.” - @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Designers can be more creative in free thinking mode, clear your que and your mind. Great design comes from nothingness. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">@frontendconf Incorporating John Cleese, Star Wars, and nipples in a 50 min talk? @jasonvanlue may be my new favorite speaker. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jackiesmith1011" title="jackiesmith1011"><img src="http://a0.twimg.com/profile_images/1669677086/me-2_normal.jpg" alt="jackiesmith1011"/></a></li>
          <li class="tw-tweet">RT @jglovier: Awesome and personally challenging talk by @jasonvanlue on finding meaningful problems to solve through design at #fronten ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xDanMorgan" title="xDanMorgan"><img src="http://a0.twimg.com/profile_images/1498707110/Screen_shot_2011-08-16_at_2.44.47_PM_normal.png" alt="xDanMorgan"/></a></li>
          <li class="tw-tweet">RT @thealina: #frontendconf "you can not understand good design if you do not understand people"</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/_jnav" title="_jnav"><img src="http://a0.twimg.com/profile_images/1712889404/me_normal.jpg" alt="_jnav"/></a></li>
          <li class="tw-tweet">"if design solves problems, creativity fuels design" nice! @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf @jasonvanlue Humans have two types of thinking moods, 1. Closed "get things done" 2. Open "free thinking" / creative</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/creativewatts" title="creativewatts"><img src="http://a0.twimg.com/profile_images/2269407358/me5uk0h9znfttszgfouo_normal.jpeg" alt="creativewatts"/></a></li>
          <li class="tw-tweet">RT @allisongrayce: "If design solves problems, creativity fuels design." @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/manspaugh" title="manspaugh"><img src="http://a0.twimg.com/profile_images/2200803777/DadnNat_normal.jpg" alt="manspaugh"/></a></li>
          <li class="tw-tweet">RT @dougneiner: "Design for the other side of the screen" (The person) – @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/norcross" title="norcross"><img src="http://a0.twimg.com/profile_images/2167046973/meagain_normal.jpg" alt="norcross"/></a></li>
          <li class="tw-tweet">love the plug for designers to contribute to the open source community by @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/FiveOneDigital" title="FiveOneDigital"><img src="http://a0.twimg.com/profile_images/2256168125/fiveone-logo-MAIN_normal.png" alt="FiveOneDigital"/></a></li>
          <li class="tw-tweet">#frontendconf sounds great! RT @NathanielDeal Design should be about solving problems. Doesnt have to be complicated, just solve a problem.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/manspaugh" title="manspaugh"><img src="http://a0.twimg.com/profile_images/2200803777/DadnNat_normal.jpg" alt="manspaugh"/></a></li>
          <li class="tw-tweet">RT @timothybsmith: "The Brooklyn Nets, Facebook and Weather apps are not problems worth our time." 

  —Jason Van Lue, #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xDanMorgan" title="xDanMorgan"><img src="http://a0.twimg.com/profile_images/1498707110/Screen_shot_2011-08-16_at_2.44.47_PM_normal.png" alt="xDanMorgan"/></a></li>
          <li class="tw-tweet">RT @TamiFromMiami: As designers, we can make things better #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/allisongrayce" title="allisongrayce"><img src="http://a0.twimg.com/profile_images/2158007485/allison01_normal.jpg" alt="allisongrayce"/></a></li>
          <li class="tw-tweet">"If design solves problems, creativity fuels design." @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf designers can contribute time to WordPress UI. They are always looking for talent: http://t.co/ripuhrBp</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Contribute to social causes and education. Don't keep your talent to yourself. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">RT @NathanielDeal: Design should be about solving problems, and making life better. It doesn't have to be complicated, just solve a prob ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf @jasonvanlue "contribute to the community" via open source projects that benefit the community</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">RT @thealina: #frontendconf "you can not understand good design if you do not understand people"</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">Awesome and personally challenging talk by @jasonvanlue on finding meaningful problems to solve through design at #frontendconf. Inspiring.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Designers should take note from the Open Source Community and contribute more. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cmdshiftdesign" title="cmdshiftdesign"><img src="http://a0.twimg.com/profile_images/1376883230/photo_normal.jpg" alt="cmdshiftdesign"/></a></li>
          <li class="tw-tweet">"what problem do YOU want to solve?" ill be thinking about this question for sure, thanks @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf designers need to be less protective and contribute more, especially to open source projects.  @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">Keep the user in mind. #frontendconf  http://t.co/yCEToVZ6</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Design should be about solving problems, and making life better. It doesn't have to be complicated, just solve a problem. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/timothybsmith" title="timothybsmith"><img src="http://a0.twimg.com/profile_images/1743072755/avatar-tim22_normal.jpg" alt="timothybsmith"/></a></li>
          <li class="tw-tweet">"The Brooklyn Nets, Facebook and Weather apps are not problems worth our time." 

  —Jason Van Lue, #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MinaMarkham" title="MinaMarkham"><img src="http://a0.twimg.com/profile_images/1878583862/me-instagramed-no-border_normal.jpg" alt="MinaMarkham"/></a></li>
          <li class="tw-tweet">RT @michigangraham: “The only intuitive interface is the nipple. Everything else after that is learned.” #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/michigangraham" title="michigangraham"><img src="http://a0.twimg.com/profile_images/2205309246/twitter-avatar_normal.png" alt="michigangraham"/></a></li>
          <li class="tw-tweet">“You cannot understand good design if you do not understand people. Design is made for people.” #frontendconf @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/PatNarciso" title="PatNarciso"><img src="http://a0.twimg.com/profile_images/408497195/l_69298b8c125fc2c9ce442b8a877a6904_normal.jpg" alt="PatNarciso"/></a></li>
          <li class="tw-tweet">@CherrieDenney you're a rockstar; thank you! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf if your producet reaches people, you NEED design. it shouldn't be an afterthought. @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">If your product reaches people, then you need design. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanplasma" title="ryanplasma"><img src="http://a0.twimg.com/profile_images/2229016300/37759_1345025026401_1254510058_30925608_4840937_n_normal.jpg" alt="ryanplasma"/></a></li>
          <li class="tw-tweet">"It doesn't have to be complicated, it just has to be for people" - @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanaduffy" title="ryanaduffy"><img src="http://a0.twimg.com/profile_images/1185375857/avatar_normal.png" alt="ryanaduffy"/></a></li>
          <li class="tw-tweet">"We need to design for the other side of the screen." (for people) @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/shayhowe" title="shayhowe"><img src="http://a0.twimg.com/profile_images/1718704725/shay_normal.jpg" alt="shayhowe"/></a></li>
          <li class="tw-tweet">"You cannot understand design if you do not understand people." via @jasonvanlue at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Design is not about the trends of today, its about building interfaces for the future. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dougneiner" title="dougneiner"><img src="http://a0.twimg.com/profile_images/1219117972/doug-html5-2_normal.jpg" alt="dougneiner"/></a></li>
          <li class="tw-tweet">"Design for the other side of the screen" (The person) – @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf "you can not understand good design if you do not understand people"</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frontendconf" title="frontendconf"><img src="http://a0.twimg.com/profile_images/1218667040/front-end-twitter-avatar_normal.png" alt="frontendconf"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: #frontendconf design should be treated more than plumbing and not just decoration @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf we design for people. you cannot understand good design if you don't understand people. @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frontendconf" title="frontendconf"><img src="http://a0.twimg.com/profile_images/1218667040/front-end-twitter-avatar_normal.png" alt="frontendconf"/></a></li>
          <li class="tw-tweet">RT @ryanaduffy: "Design can change the world. It sounds cliche, but I believe it can." - @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanplasma" title="ryanplasma"><img src="http://a0.twimg.com/profile_images/2229016300/37759_1345025026401_1254510058_30925608_4840937_n_normal.jpg" alt="ryanplasma"/></a></li>
          <li class="tw-tweet">"If we want design to be seen as more than decoration, we must remember that development is more than plumbing." #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Designers and Developers must work together, there is no way around it. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf design should be treated more than plumbing and not just decoration @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brianburridge" title="brianburridge"><img src="http://a0.twimg.com/profile_images/1366751587/Photo1-2_normal.jpg" alt="brianburridge"/></a></li>
          <li class="tw-tweet">RT @frontendconf: If you tweet with #frontendconf, your tweets will go on to each speaker’s presentation page :)</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">Good talk on using design to solve real world problems such as making communication more effective for the hearing impaired. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanplasma" title="ryanplasma"><img src="http://a0.twimg.com/profile_images/2229016300/37759_1345025026401_1254510058_30925608_4840937_n_normal.jpg" alt="ryanplasma"/></a></li>
          <li class="tw-tweet">.@jasonvanlue - "We are building environments around screens and it’s up to us what we build." #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/andymcfee" title="andymcfee"><img src="http://a0.twimg.com/profile_images/2182522833/Andy-dark-thumb_normal.jpg" alt="andymcfee"/></a></li>
          <li class="tw-tweet">RT @dougneiner: Regarding Designers: “@timothybsmith: "At our core, we are problem solvers"

  —Jason Van Lue, #frontendconf”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dustiarab" title="dustiarab"><img src="http://a0.twimg.com/profile_images/2244738236/newheadshot1_normal.jpg" alt="dustiarab"/></a></li>
          <li class="tw-tweet">RT @norcross: "the only intuitive interface is the nipple. everything else has to be designed" via @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">RT @michigangraham: “The only intuitive interface is the nipple. Everything else after that is learned.” #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">RT @TamiFromMiami: As designers, we can make things better #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">RT @dougneiner: Regarding Designers: “@timothybsmith: "At our core, we are problem solvers"

  —Jason Van Lue, #frontendconf”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/danielmcgaw" title="danielmcgaw"><img src="http://a0.twimg.com/profile_images/2246620512/Twitter-image_normal.png" alt="danielmcgaw"/></a></li>
          <li class="tw-tweet">RT @jasonvanlue: Getting ready to head on stage at #frontendconf - pretty stoked</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jglovier" title="jglovier"><img src="http://a0.twimg.com/profile_images/1769773577/joel-backyard-07-2011-med_normal.jpg" alt="jglovier"/></a></li>
          <li class="tw-tweet">RT @xirclebox: Jason VanLue speaking. "Three Pipe Problem and How Design Can Solve Them #frontendconf  http://t.co/uotLKyVx</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/michigangraham" title="michigangraham"><img src="http://a0.twimg.com/profile_images/2205309246/twitter-avatar_normal.png" alt="michigangraham"/></a></li>
          <li class="tw-tweet">“The only intuitive interface is the nipple. Everything else after that is learned.” #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanaduffy" title="ryanaduffy"><img src="http://a0.twimg.com/profile_images/1185375857/avatar_normal.png" alt="ryanaduffy"/></a></li>
          <li class="tw-tweet">"Design can change the world. It sounds cliche, but I believe it can." - @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: #frontendconf  Henry Ford was seeking to make things better, not to reinvent transportation. @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf  Henry Ford was seeking to make things better, not to reinvent transportation. @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Design is about making things better! @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Transition" title="Transition"><img src="http://a0.twimg.com/profile_images/1786446745/reflectionSmall2_normal.png" alt="Transition"/></a></li>
          <li class="tw-tweet">RT @cmdshiftdesign: im at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dougneiner" title="dougneiner"><img src="http://a0.twimg.com/profile_images/1219117972/doug-html5-2_normal.jpg" alt="dougneiner"/></a></li>
          <li class="tw-tweet">Regarding Designers: “@timothybsmith: "At our core, we are problem solvers"

  —Jason Van Lue, #frontendconf”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">"Design can change the world." #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">RT @thealina: #frontendconf "design can change the world"!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf "design can change the world"!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Design is becoming more popular and companies are finally seeing the need for designers. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frontendconf" title="frontendconf"><img src="http://a0.twimg.com/profile_images/1218667040/front-end-twitter-avatar_normal.png" alt="frontendconf"/></a></li>
          <li class="tw-tweet">Jason is getting things off to a great start. Loving getting the crowd changing lanes with their eyes closed. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf design is about solving problems and asking why and why not</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Design is about asking why? And why not? @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/pat_ramsey" title="pat_ramsey"><img src="http://a0.twimg.com/profile_images/1374922323/pat-cig_normal.jpg" alt="pat_ramsey"/></a></li>
          <li class="tw-tweet">“@norcross: "the only intuitive interface is the nipple. everything else has to be designed" via @jasonvanlue #frontendconf” so true</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/timothybsmith" title="timothybsmith"><img src="http://a0.twimg.com/profile_images/1743072755/avatar-tim22_normal.jpg" alt="timothybsmith"/></a></li>
          <li class="tw-tweet">"At our core, we are problem solvers"

  —Jason Van Lue, #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thealina" title="thealina"><img src="http://a0.twimg.com/profile_images/2282603561/p6cqld8m6wiv9lho04o9_normal.jpeg" alt="thealina"/></a></li>
          <li class="tw-tweet">#frontendconf testing 123</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Interfaces aren't naturally intuitive, it's a natural problem. @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cmdshiftdesign" title="cmdshiftdesign"><img src="http://a0.twimg.com/profile_images/1376883230/photo_normal.jpg" alt="cmdshiftdesign"/></a></li>
          <li class="tw-tweet">star wars clip playing on screen behind @jasonvanlue, i back that. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Ipstenu" title="Ipstenu"><img src="http://a0.twimg.com/profile_images/2208029837/IMG_0009_normal.jpeg" alt="Ipstenu"/></a></li>
          <li class="tw-tweet">Word. RT @norcross: "the only intuitive interface is the nipple. everything else has to be designed" via @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf instant win for @jasonvanlue for incorporating nipples and Star Wars into a design talk.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">Jason VanLue speaking. "Three Pipe Problem and How Design Can Solve Them #frontendconf  http://t.co/uotLKyVx</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf i'm driving with my eyes closed. In Mimami, we do this all the time. @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">RT @frontendconf: If you tweet with #frontendconf, your tweets will go on to each speaker’s presentation page :)</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frontendconf" title="frontendconf"><img src="http://a0.twimg.com/profile_images/1218667040/front-end-twitter-avatar_normal.png" alt="frontendconf"/></a></li>
          <li class="tw-tweet">If you tweet with #frontendconf, your tweets will go on to each speaker’s presentation page :)</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryancduff" title="ryancduff"><img src="http://a0.twimg.com/profile_images/2227756831/2E419630-8634-4AE2-AEAF-50FC458DA27B_normal" alt="ryancduff"/></a></li>
          <li class="tw-tweet">#fact RT @norcross: "the only intuitive interface is the nipple. everything else has to be designed" via @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/burciaga" title="burciaga"><img src="http://a0.twimg.com/profile_images/1568238642/tumblr_lqn38rcmLJ1qdc28xo1_1280_normal.jpg" alt="burciaga"/></a></li>
          <li class="tw-tweet">CHA CHING!!!! “@MinaMarkham: Lookie what I found in my #frontendconf swag bag! http://t.co/vsN2oSnv”</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/1667680103/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">"The only intuitive interface is the nipple." -@jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/rchlm" title="rchlm"><img src="http://a0.twimg.com/profile_images/1846708934/RichIconStar2_normal.png" alt="rchlm"/></a></li>
          <li class="tw-tweet">"The only intuitive interface is the nipple. Everything else after that is learned." #FrontEndConf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/norcross" title="norcross"><img src="http://a0.twimg.com/profile_images/2167046973/meagain_normal.jpg" alt="norcross"/></a></li>
          <li class="tw-tweet">"the only intuitive interface is the nipple. everything else has to be designed" via @jasonvanlue #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/geticonify" title="geticonify"><img src="http://a0.twimg.com/profile_images/2244113551/twitter_logo_normal.png" alt="geticonify"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: #frontendconf "The only intuitive interface is the nipple." @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">#frontendconf "The only intuitive interface is the nipple." @jasonvanlue</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a0.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">RT @xirclebox: It's @dandenney on stage. Don't pass out :) #frontendconf  http://t.co/asRkuV4u</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/erikstmartin" title="erikstmartin"><img src="http://a0.twimg.com/profile_images/1468094461/me_normal.jpg" alt="erikstmartin"/></a></li>
          <li class="tw-tweet">Thanks @github for sponsoring the #frontendconf after party!!! Looking forward to it.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cmdshiftdesign" title="cmdshiftdesign"><img src="http://a0.twimg.com/profile_images/1376883230/photo_normal.jpg" alt="cmdshiftdesign"/></a></li>
          <li class="tw-tweet">im at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/thatsoftwareguy" title="thatsoftwareguy"><img src="http://a0.twimg.com/profile_images/66159438/avatar_normal.jpg" alt="thatsoftwareguy"/></a></li>
          <li class="tw-tweet">RT @dimensionmedia: #frontendconf looks like a full house. http://t.co/w2Fndwh3</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Soben" title="Soben"><img src="http://a0.twimg.com/profile_images/1378357886/avatar_normal.jpg" alt="Soben"/></a></li>
          <li class="tw-tweet">RT @webcraftsman: Looking forward to @jasonvanlue's talk and the beautfiful slides I am sure he created. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/webcraftsman" title="webcraftsman"><img src="http://a0.twimg.com/profile_images/2025541023/profile-pict_normal.jpg" alt="webcraftsman"/></a></li>
          <li class="tw-tweet">Looking forward to @jasonvanlue's talk and the beautfiful slides I am sure he created. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">Shout out to @gethub for sponsoring the #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cheriana" title="cheriana"><img src="http://a0.twimg.com/profile_images/1130277366/33509_596308161748_24702249_34546085_6194430_n_normal.jpg" alt="cheriana"/></a></li>
          <li class="tw-tweet">Frontend design  thanks github #frontendconf (@ Palladium Theater w/ 22 others) http://t.co/J2ofZpzs</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/NathanielDeal" title="NathanielDeal"><img src="http://a0.twimg.com/profile_images/2036880150/nate-html5_normal.jpg" alt="NathanielDeal"/></a></li>
          <li class="tw-tweet">First up, @jasonvanlue - 3 Pipe Problems and How Design can Solve Them #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/nikibrown" title="nikibrown"><img src="http://a0.twimg.com/profile_images/2279345632/b6ip672dj6n2q0oej4lh_normal.jpeg" alt="nikibrown"/></a></li>
          <li class="tw-tweet">thanks @github #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/JimmyWmiller" title="JimmyWmiller"><img src="http://a0.twimg.com/profile_images/1271735500/7228_620092961882_31102408_36644790_3353863_n_normal.jpg" alt="JimmyWmiller"/></a></li>
          <li class="tw-tweet">Really wish I was in St. Petersburg Florida today for #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/jonfriskicsucf" title="jonfriskicsucf"><img src="http://a0.twimg.com/profile_images/1276496859/fctl_friskics_twitter_normal.jpg" alt="jonfriskicsucf"/></a></li>
          <li class="tw-tweet">Thank you #frontendconf sponsors!  @freshbooks @github @offscreenmag @threadbird @stickermule custombagshq @carbonads @InVisionApp !!!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dimensionmedia" title="dimensionmedia"><img src="http://a0.twimg.com/profile_images/2077195320/avatar_medium_compressed_normal.jpg" alt="dimensionmedia"/></a></li>
          <li class="tw-tweet">Nice to bump into @dandenny before the event. He's up on stage now. http://t.co/JYDh0KlT #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/afferennen" title="afferennen"><img src="http://a0.twimg.com/profile_images/1270727900/image_normal.jpg" alt="afferennen"/></a></li>
          <li class="tw-tweet">Front-End Design Conference #frontendconf http://t.co/appLd3la</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a0.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">It's @dandenney on stage. Don't pass out :) #frontendconf  http://t.co/asRkuV4u</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/GavinStark" title="GavinStark"><img src="http://a0.twimg.com/profile_images/421546158/4ffa397c06b8c8b3b8be65c255ccc06a_normal.jpeg" alt="GavinStark"/></a></li>
          <li class="tw-tweet">The awesome @dandenney kicking off #frontendconf http://t.co/jOs9OEbC</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1868043304/daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">I think I have the oldest MacBook in the building. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ryanplasma" title="ryanplasma"><img src="http://a0.twimg.com/profile_images/2229016300/37759_1345025026401_1254510058_30925608_4840937_n_normal.jpg" alt="ryanplasma"/></a></li>
          <li class="tw-tweet">HERE WE GO! #livetweet #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/dougneiner" title="dougneiner"><img src="http://a0.twimg.com/profile_images/1219117972/doug-html5-2_normal.jpg" alt="dougneiner"/></a></li>
          <li class="tw-tweet">It's starting!! #frontendconf http://t.co/9HBXpx7s</li>
        </ul>
      </li>
    
    </ul>

  </section>

{% endblock %}