{% block content %}

  <div class="presentation inner">

    <h1>Web Typography and the Case&nbsp;of&nbsp;the&nbsp;Voluptuous&nbsp;Curl</h1>

    <div class="iframe">
      <script src="http://speakerdeck.com/embed/4e4eb9a6275686000100828b.js?size=preview"></script>
    </div>

    <aside>

      <h5>Presented by:</h5>

      <img src="{{ "allison-house.jpg" | asset_url }}" alt="Allison House">

      <img src="{{ "allison-house.svg" | asset_url }}" alt="Allison House" class="character">

      <h4>Allison House</h4>

      <p>Allison's background in user interface design is accented by a multi-disciplinary skillset that includes visual design, content strategy and project management. She is currently making the web industry a smarter, happier place with Carsonified.</p>
      
      <p class="h5">July 22, 2011 - 4:20PM to 5:10PM</p>

    </aside>

  </div>

  <section id="feedback" class="inner">

    <h2>Feedback</h2>

    <ul class="tweets">
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/murdaugh" title="murdaugh"><img src="http://a1.twimg.com/profile_images/1172971260/bryan-square_normal.png" alt="murdaugh"/></a></li>
          <li class="tw-tweet">#frontendconf - @chriscoyier is the Zach Galifianakis of web design. #amiright? #fb</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/MathewtLewis" title="MathewtLewis"><img src="http://a2.twimg.com/profile_images/555132180/Photo_6_normal.jpg" alt="MathewtLewis"/></a></li>
          <li class="tw-tweet">RT @Desirai: “@jackiesmith1011: @chriscoyier is hilarious and genius! Great combo in a speaker." #frontendconf Agreed!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/redheadjessica" title="redheadjessica"><img src="http://a1.twimg.com/profile_images/125164589/7500193_N04_normal.jpg" alt="redheadjessica"/></a></li>
          <li class="tw-tweet">We're heading to Red Mesa Cantina which is the same building downstairs of Push. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a3.twimg.com/profile_images/1065388918/27370_569653453_1479_q_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">RT @frontendconf: We had one last copy of @beep's book. So, we stashed it on the couch at the Kahwa on the next block #frontendconf - be ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a3.twimg.com/profile_images/1065388918/27370_569653453_1479_q_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">@frontendconf I guess a lot of people left after lunch? #foodcoma #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Blue642" title="Blue642"><img src="http://a2.twimg.com/profile_images/1377552483/image_normal.jpg" alt="Blue642"/></a></li>
          <li class="tw-tweet">Sad that @chriscoyier is leaving us in Tampa behind, but glad I got to see him at #frontendconf.

Too bad I didn't get to shake his hand.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a3.twimg.com/profile_images/1065388918/27370_569653453_1479_q_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">@frontendconf whats up with all the empty seats? I thought it was sold out? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/frontendconf" title="frontendconf"><img src="http://a0.twimg.com/profile_images/1218667040/front-end-twitter-avatar_normal.png" alt="frontendconf"/></a></li>
          <li class="tw-tweet">We had one last copy of @beep's book. So, we stashed it on the couch at the Kahwa on the next block #frontendconf - be sure to tweet it</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/benmarte" title="benmarte"><img src="http://a3.twimg.com/profile_images/1065388918/27370_569653453_1479_q_normal.jpg" alt="benmarte"/></a></li>
          <li class="tw-tweet">To all the people @frontendconf stop making me hate myself more than I do #frontendconf #FML</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Agent_G" title="Agent_G"><img src="http://a0.twimg.com/profile_images/1183506295/Greg_Hemphill_187x187_bigger_normal.png" alt="Agent_G"/></a></li>
          <li class="tw-tweet">Where's everyone going to dinner? #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/murdaugh" title="murdaugh"><img src="http://a1.twimg.com/profile_images/1172971260/bryan-square_normal.png" alt="murdaugh"/></a></li>
          <li class="tw-tweet">RT @IsmaelBurciaga: Nice! @dandenney knows how to throw a conference :-) #frontendconf  http://instagr.am/p/IQTv1/</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">I agree ... RT @bloqhead: @frontendconf never fails to send me home with a basket full of new knowledge. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/brandalist" title="brandalist"><img src="http://a3.twimg.com/profile_images/1432661225/brandalist-twitter_normal.jpg" alt="brandalist"/></a></li>
          <li class="tw-tweet">Good times at #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1178865094/beanie_daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">@frontendconf never fails to send me home with a basket full of new knowledge. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/rjs" title="rjs"><img src="http://a2.twimg.com/profile_images/1350846329/Screen_shot_2011-05-12_at_12.02.32_PM_normal.png" alt="rjs"/></a></li>
          <li class="tw-tweet">Re: non-mobile mobile, here at #frontendconf I have my iPad and my iPhone, but I'm using the iPhone because it's more private.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/SorcaDesign" title="SorcaDesign"><img src="http://a0.twimg.com/profile_images/1260230189/profile_normal.jpg" alt="SorcaDesign"/></a></li>
          <li class="tw-tweet">Not reallly sure how video games relate to web typography, but waiting for the talk to come full circle. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bybrandonbrown" title="bybrandonbrown"><img src="http://a0.twimg.com/profile_images/1180562381/kitty_normal.jpg" alt="bybrandonbrown"/></a></li>
          <li class="tw-tweet">RT @bloqhead: @house is referencing a bunch of video games I've beaten, in a discussion about web typography. #geekoverload #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Desirai" title="Desirai"><img src="http://a3.twimg.com/profile_images/1180430657/Desirai_CU_normal.jpg" alt="Desirai"/></a></li>
          <li class="tw-tweet">Lots of game examples in @House's presentation. w00t! I love meeting other gamer chics! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/wddbs" title="wddbs"><img src="http://a3.twimg.com/profile_images/1386227472/twittericon_normal.png" alt="wddbs"/></a></li>
          <li class="tw-tweet">RT @natashaisneat: "Narrative on the web is largely unexplored." @house #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/joe_steele" title="joe_steele"><img src="http://a0.twimg.com/profile_images/703778277/Photo_on_2010-02-04_at_10.47_normal.jpg" alt="joe_steele"/></a></li>
          <li class="tw-tweet">@ibjhb are you are here at #frontendconf? are you going to the after party?</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/bloqhead" title="bloqhead"><img src="http://a0.twimg.com/profile_images/1178865094/beanie_daryn_normal.jpg" alt="bloqhead"/></a></li>
          <li class="tw-tweet">@house is referencing a bunch of video games I've beaten, in a discussion about web typography. #geekoverload #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/allisongrayce" title="allisongrayce"><img src="http://a1.twimg.com/profile_images/1403680614/profile-pic_normal.jpg" alt="allisongrayce"/></a></li>
          <li class="tw-tweet">Allison @house from @thinkvitamin is speaking at #frontendconf and I want her awesome tights!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">RT @ibjhb: I'm looking for 'enterprise' JavaScript and Flash/Flex cool programmers. Ping me if you are here and looking for work!     #f ...</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/tabithakarcher" title="tabithakarcher"><img src="http://a1.twimg.com/profile_images/1411035454/38892ce_normal.jpg" alt="tabithakarcher"/></a></li>
          <li class="tw-tweet">Yay for female gamers and designers! @house #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/gabrielvaldivia" title="gabrielvaldivia"><img src="http://a0.twimg.com/profile_images/1303557742/eightbit-aca81297-c2d0-449a-98d2-0c18c484c3a0_normal.png" alt="gabrielvaldivia"/></a></li>
          <li class="tw-tweet">.@house is talking video games at #frontendconf. She cannot get any cooler!</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/BigSea" title="BigSea"><img src="http://a2.twimg.com/profile_images/1303530785/Screen_shot_2010-04-19_at_10.01.15_AM_normal.png" alt="BigSea"/></a></li>
          <li class="tw-tweet">Thoroughly impressed by so many shops/people doing so much great work  - good stuff going on! #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/ibjhb" title="ibjhb"><img src="http://a2.twimg.com/profile_images/1047794449/ibjhb-Eiffel_normal.jpg" alt="ibjhb"/></a></li>
          <li class="tw-tweet">I'm looking for 'enterprise' JavaScript and Flash/Flex cool programmers. Ping me if you are here and looking for work!     #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/natashaisneat" title="natashaisneat"><img src="http://a0.twimg.com/profile_images/1455659797/Screen_shot_2011-06-23_at_5.35.26_PM_normal.png" alt="natashaisneat"/></a></li>
          <li class="tw-tweet">"Narrative on the web is largely unexplored." @house #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/cogsprocket" title="cogsprocket"><img src="http://a3.twimg.com/profile_images/1340764411/IMG_0080_normal.jpg" alt="cogsprocket"/></a></li>
          <li class="tw-tweet">@house Just pronounced @rogie "Row-gee".   Don't let his kind face fool you.  He's an angry man.  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/lorielue" title="lorielue"><img src="http://a2.twimg.com/profile_images/1246537167/NY_normal.png" alt="lorielue"/></a></li>
          <li class="tw-tweet">RT @bloqhead: @chriscoyier is an excellent presenter. A++ WOULD SEE AGAIN. #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/chrismorata" title="chrismorata"><img src="http://a0.twimg.com/profile_images/353890446/chrismorata_normal.jpg" alt="chrismorata"/></a></li>
          <li class="tw-tweet">RT @see_kay: It's okay to be yourself! @house (Allison House) #frontendconf http://yfrog.com/kfrb5tyj</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/intriguewd" title="intriguewd"><img src="http://a3.twimg.com/profile_images/448898524/INTRIGUE_logo-crop_normal.jpg" alt="intriguewd"/></a></li>
          <li class="tw-tweet">Hey @chrisCoyier thanks for the awesome talk @frontendconf #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/see_kay" title="see_kay"><img src="http://a2.twimg.com/profile_images/1357664762/buh_normal.jpg" alt="see_kay"/></a></li>
          <li class="tw-tweet">It's okay to be yourself! @house (Allison House) #frontendconf http://yfrog.com/kfrb5tyj</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/parenteau" title="parenteau"><img src="http://a1.twimg.com/profile_images/544158810/miguel-manga-blue-beenie_normal.png" alt="parenteau"/></a></li>
          <li class="tw-tweet">@dandenney thanks for the plug out for @thinkrelevance #frontendconf this has been a good show so far.</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/redheadjessica" title="redheadjessica"><img src="http://a1.twimg.com/profile_images/125164589/7500193_N04_normal.jpg" alt="redheadjessica"/></a></li>
          <li class="tw-tweet">RT @BigSea: Where's everyone heading for dinner/drinks before the after-party?  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/BigSea" title="BigSea"><img src="http://a2.twimg.com/profile_images/1303530785/Screen_shot_2010-04-19_at_10.01.15_AM_normal.png" alt="BigSea"/></a></li>
          <li class="tw-tweet">Or wait - just realized there's not a lot of time between ... still.  Food?  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/BigSea" title="BigSea"><img src="http://a2.twimg.com/profile_images/1303530785/Screen_shot_2010-04-19_at_10.01.15_AM_normal.png" alt="BigSea"/></a></li>
          <li class="tw-tweet">Where's everyone heading for dinner/drinks before the after-party?  #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/xirclebox" title="xirclebox"><img src="http://a2.twimg.com/profile_images/1259277712/saycheese_orNot_normal.jpg" alt="xirclebox"/></a></li>
          <li class="tw-tweet">Carsonified @house Allison house talking about web typography is closing out day 1 of #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/Impressto" title="Impressto"><img src="http://a3.twimg.com/profile_images/1140216871/impressto_avatar_normal.jpg" alt="Impressto"/></a></li>
          <li class="tw-tweet">Up now @house from @thinkvitamin! #stoked #frontendconf</li>
        </ul>
      </li>
    
      <li>
        <ul class="tweet">
          <li class="tw-profile"><a href="http://twitter.com/grovesdesign" title="grovesdesign"><img src="http://a0.twimg.com/profile_images/1224194448/karen_normal.jpg" alt="grovesdesign"/></a></li>
          <li class="tw-tweet">last speaker of the day allison house of carsonified. #frontendconf</li>
        </ul>
      </li>
    
    </ul>

  </section>

{% endblock %}