---
layout: layouts/2016.njk
permalink: /2016/about/
title: Front-End Conf 2016 About
---

    <div class="wrapper subpage_content">

        <div class="section_header">
            <h2 class="section_title">About The Front End Design Conference</h2>
            <p>Front End Design Conference is two  days of immersive web design and front end development delivered via keynote style talks. There is also a day of more in-depth workshops thrown in for good measure.</p>
        </div>

        <div class="content">
 
<h2>How did we get here?</h2>

<div class="instagram-media-container">
    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="4" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">

        <div style="padding:8px;">
            <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;">
                <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
            </div>
            <p style=" margin:8px 0 0 0; padding:0 4px;">
                <a href="https://instagram.com/p/qUV-ATv_i5/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_top">Welcome to the @unmatchedstyle Wrecking Crew @dandenney! #frontendconf</a>
            </p>
            <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Jay Barry (@petridisc) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2014-07-11T16:42:21+00:00">Jul 7, 2014 at 9:42am PDT</time></p>
        </div>
    </blockquote>
    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
</div>

<p>Dan has been hosting The Front-End Design Conference since way back in 2009. He helped to foster a growing community of web folks in and around the Tampa/St.Pete area and has built one of the most heartfelt and genuine conferences in the country. It’s little surprise, because when we think of Dan, those words come so easily to mind: Genuine and Heartfelt.</p>
<p>The Front-End Design Conference was one of the first conferences we got involved in and continued to attend year after year. This conference has become our home away from home and we’ve become emotionally attached to it and Dan.</p>
<p>Our experiences at Dan’s conference shaped our expectations of what a web conference should be and as the crew that hosts Converge, BDConf and Grok, we always try to recreate some of that welcoming atmosphere and positive energy at each of our conferences.</p>
<h2>Long Live the Conf!</h2>
<p>Dan and his wife Cherrie have decided to hang up their hats and cease hosting Front-End. While we understand their reasons and wish them all the best, it’s hard to let go of a good thing. We want to keep Front-End alive and with that in mind, UnmatchedStyle will take over the heavy lifting of organizing the event, so that they can focus on other things. They will still be there with us and stay active, but we’ll manage the events and help wrangle speakers.</p>
<p>We hope that you will join us in this joint venture. The Front-End Design Conference lives!</p>
<p>- Gene, Gio, Jay, Aaron - UnmatchedStyle</p>

<h3>What is an Unmatchedstyle production?</h3>
<h2>The crew:</h2>

<p>Gene Crawford | <a href="http://twitter.com/genecrawford">@genecrawford</a></p>

<p>Dan Denney | <a href="http://twitter.com/dandenney">@dandenney</a></p>

<p>Giovanni DiFeterici | <a href="http://twitter.com/giodif">@giodif</a></p>

<p>Jay Barry | <a href="http://twitter.com/petridisc">@petridisc</a></p>

<p>Aaron Griswold | <a href="http://twitter.com/thegrizzwolf">@thegrizzwolf</a></p>

<p>We are a passionate group of people who've worked in the web industry for quite a few years.</p>

<p>UnmatchedStyle started out as just a CSS Web Design gallery, but over the past 10 years has evolved into much more. UnmatchedStyle always strives to bring inspiration to web designers across the web, from providing quality content in the form of informative articles, interviews, podcasts and events.</p>

<p>Past event productions include: <a href="http://convergese.com">ConvergeSE</a> (7 years old), <a href="http://artifactconf.com">ARTIFACT</a>, <a href="http://convergefl.com">ConvergeFL</a>, <a href="http://convergerva.com">ConvergeRVA</a>, <a href="http://grok.cc">Grok</a> and <a href="http://bdconf.com">Breaking Development: Beyond the Desktop</a></p>

<p>Check us out at <a href="http://unmatchedstyle.com">UnmatchedStyle.com</a> when you get a chance!</p>
           
        </div>
    </div>

    
    

 