---
layout: layouts/2016.njk
permalink: /2016/
title: Front-End Conf 2016
---

<div class="wrapper">
    <div class="section_header call_to_register">
        <h2>A Conference for Web Professionals Who Love their Community, the Web, and Learning.</h2>
        <p>St. Petersburg, Florida</br><span>June 15<sup>th</sup> - June 17<sup>th</sup></span></p>
        <a class="button button_blue" href="https://account.unmatchedstyle.com/register/fedc2016/" class="button">Register Now</a>
    </div>
    <div class="homepage_speaker_content content">
        <h2>Speakers</h2>
        <ul class="homepage_speakers">
          <li>
              <div class="speaker_img">
                  <div>
                      <img src="/img/2016/speakers/aaron-draplin.jpg" alt="Aaron Draplin" />
                  </div>
              </div>
              <div class="speaker_info">
                  <h3><a href="http://twitter.com/draplin">Aaron Draplin</a></h3>
              </div>
          </li>
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/ethan-marcotte.jpg" alt="Ethan Marcotte" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/beep">Ethan Marcotte</a></h3>
                </div>
            </li>
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/samantha-warren.jpg" alt="Samantha Warren" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/samanthatoy">Samantha Warren</a></h3>
                </div>
            </li>
            <li>
              <div class="speaker_img">
                  <div>
                      <img src="/img/2016/speakers/sam-kapila.jpg" alt="Sam Kapila" />
                  </div>
              </div>
              <div class="speaker_info">
                  <h3><a href="http://twitter.com/samkap">Sam Kapila</a></h3>
              </div>
          </li>
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/ron-edelen.jpg" alt="Ron Edelen" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/ronedelen">Ron Edelen</a></h3>
                </div>
            </li>
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/doug-neiner.jpg" alt="Doug Neiner" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/dougneiner">Doug Neiner</a></h3>
                </div>
            </li>
            
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/smith-schwartz.jpg" alt="Smith Schwartz" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/smithschwartz">Smith Schwartz</a></h3>
                </div>
            </li>
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/rachel-smith.jpg" alt="Rachel Smith" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/rachsmithtweets">Rachel Smith</a></h3>
                </div>
            </li>
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/greg-rewis.jpg" alt="Greg Rewis" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/garazi">Greg Rewis</a></h3>
                </div>
            </li>
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/matt-griffin.jpg" alt="Matt Griffin" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/elefontpress">Matt Griffin</a></h3>
                </div>
            </li>
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/gabriel-levine.jpg" alt="Gabriel Levine" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/MyLawyerGabe">Gabriel Levine</a></h3>
                </div>
            </li>
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/amanda-cheung.jpg" alt="Amanda Cheung" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/acacheung">Amanda Cheung</a></h3>
                </div>
            </li>
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/tiago-garcia.jpg" alt="Tiago Garcia" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/tiagooo_romero/">Tiago Garcia</a></h3>
                </div>
            </li>
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/carl-smith.jpg" alt="Carl Smith" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/carlsmith">Carl Smith</a></h3>
                </div>
            </li>
            
            
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/michel-ferreira.jpg" alt="Michel Ferreira" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/multimichel">Michel Ferreira</a></h3>
                </div>
            </li>
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/andy-warburton.jpg" alt="Andy Warburton" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/awarburton">Andy Warburton</a></h3>
                </div>
            </li>
            
            
            <li>
                <div class="speaker_img">
                    <img src="/img/2016/speakers/scott-padgett.jpg" alt="Dr. Scott Padgett" />
                </div>
                <div class="speaker_info">
                    <h3><a href="http://twitter.com/antiboniver">Dr. Scott Padgett</a></h3>
                </div>
            </li>
        </ul>
    </div>
</div> 