---
layout: layouts/2016.njk
permalink: /2016/schedule/
title: Front-End Conf 2016 Schedule
---



<div class="wrapper schedule">

    <div class="section_header">
        <h2 class="section_title">Schedule</h2>  
    </div>

    <ul class="content">
        <li class="day day1">
            <div class="day_header">
                <h2 class="date">Wednesday 6/15 | Workshops</h2>
            </div>
            <ul>
            
                <li class="session">
                    <p>2 Amazing Workshops: <span class="time"><a href="/2016/workshops">Check out all the workshop Details Here</a></p>
                </li>
                <li class="break">
            <p><span class="time">6:00pm to 9:00pm</span> The Iron Yard Open House & Kick Off Party for Front End Design Conference <a href="http://www.meetup.com/The-Iron-Yard-Tampa-Bay/events/231742909/">Sign up here, it's FREE</a></p>
            <p>
              260 1st Ave South, Suite 300, St. Petersburg, FL (<a href="https://www.google.com/maps?f=q&hl=en&q=260+1st+Ave+South,+Suite+300,+Saint+Petersburg,+FL,+us">map</a>)
            </p>

<p>We are located on the third floor of the white, Station House Building. Take the gold elevator on the outside of the building to the third floor. Parking is available at the metered spaces out front or paid parking is available at parking garages.
            </p>
        </li>
        
          <li class="session">
                    <p>**Bonus: Portfolio Review by our sponsor <a href="http://www.creativecircle.com/">Creative Circle</a> <em>(So have that portfolio ready to show off!)</em><br />**Two walk-in sessions 10 a.m. to 12 p.m. and from 2 p.m. to 5 p.m.</p>
                </li>
        
        
        
        
        
            </ul>
        </li>
        
            
        
                
        
        <li class="day day2">
            <div class="day_header">
                <h2 class="date">Thursday 6/16 | Main Conference Day 1</h2>
            </div>
            <ul>
            
                <li class="break">
                    <p><span class="time">8:00am to 9:00am</span> Check in (We'll have coffee & light breakfast food) - Location: The Palladium Theater 253 Fifth Ave. N, St. Petersburg, FL 33701 (<a href="https://goo.gl/maps/RLYqc">Map</a>)</p>
                </li>
                
                <li class="session">
                    <p class="time">Start Up @ 9:00am</p>
                </li>
      
      
                <li class="session">    
                    <div class="session_header">
                        <h5 class="title">I, Web Designer</h5>
                    </div>
                    <h3 class="speaker">Matt Griffin</h3>
                    <div class="description">
                        <p>Matt Griffin (founder, Bearded) has been thinking about what it means to be a "web designer," grappling with the many (and sometimes misunderstood) disciplines that come into play. All of the rapid changes in technology we grapple with every day have resulted in a shifting landscape of skills and responsibilities. What’s a designer to do? Luckily, Matt is in the unique position to answer this question from a variety of perspectives and experiences.
                <p>To create his documentary film about the web, What Comes Next Is the Future, Matt conducted dozens of hours of interviews, many of which could not make it into the final film. This talk draws on that additional footage, capturing the thoughts and experiences of industry leaders Trent Walton (founder, Paravel), Irene Au (operating partner, Khosla Ventures), Ethan Marcotte (author, Responsive Web Design), Indi Young (founder, Adaptive Path), Brad Frost (author, Atomic Design), Yesenia Perez-Cruz, Kelly Goto (founder, gotoresearch), and many more.</p>
                <p>With Matt as a guide, these luminaries' perspectives create a cohesive, multi-faceted view of the modern web industry and a designer’s place in it.</p>
                    </div>
                </li>

                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Mind The Gap: Becoming a better designer by owning your blind spots</h5>
        </div>
                    <h3 class="speaker">Samantha Warren</h3>
                    <div class="description">
                        <p>As a designer you have great taste, and you know what looks good — and what works. But what happens when the things you make don’t live up to your own standards? Whether you are a designer, developer or just want to make something new, we all have discouraging moments where what we make doesn’t align with our original expectations. How do you get past that crippling feeling? Samantha shares how she overcomes these hangups and reframes them as a solution, not only as a designer but also as a aspiring ceramicist. Learn how to make the intimidating journey of creating an invaluable part of your design process for you and your clients.</p>                        </div>
                </li>
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Design Research</h5>
        </div>
                    <h3 class="speaker">Sam Kapila</h3>
                    <div class="description">
                        <p>Making design decisions can be subjective and arbitrary. How can designers, developers, and clients make objective decisions that are backed by valid reasons? In this talk, I’ll cover aspects of design research, considering accessibility, usability, device technology, and branding strategy, helping kick projects off on the right foot.</p>
                    </div>
                </li>
                
                
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Speaker Panel - Talks Recap/Q&amp;A</h5>
        </div>
                    <h3 class="speaker">Previous Speakers</h3>
                    <div class="description">The previous speakers will assemble on-stage for a wrap up discussion and some audience Q&amp;A</div>
                </li>

                <li class="break">
                    <p><span class="time">12:00pm</span> Lunch Break (1.5 hours) Enjoy Lunch Around Downtown St. Pete.</p>
                </li>
                
                
                
                <li class="session">
                    <p class="time">Start Back Up @ 1:30pm</p>
                </li>
                
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Well-Designed Development: Sass for Engineers</h5>
                    </div>
                    <h3 class="speaker">Smith Schwartz</h3>
                    <div class="description">
                        <p>It's not uncommon for back-end engineers to outnumber web designers and front-end devs 5 to 1. So, how do we as maintainers of front-end architecture help unruly coders fall in line when they write Sass files? We start by laying out straightforward and precise internal guidelines and styleguides, then make sure to communicate these clearly and effectively all while keeping in mind the ultimate goal: building stronger teams that understand the many aspects of the project, styles and design included. This talk will layout a roadmap for workshops, tailor­made for your engineering team, to help them better understand the fundamentals of how writing shiny Sass goes hand-­in-­hand with great design. In the end, we hope to get everyone excited about Sass that compiles to clean, coherent CSS that makes everyone’s day a little bit brighter.</p>
                    </div>
                </li>
                                    
                
                
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Beyond Boxes</h5>
                    </div>
                    <h3 class="speaker">Rachel Smith</h3>
                    <div class="description">
                        <p>As an industry we’ve refined our design and development skills to a point where we’re consistently creating clean and beautiful sites and apps with design systems based around grids. Our work is so consistent that some have gone as far to say it is bordering on boring! Join Rachel as she gives you a peak inside the creative web - where people are breaking out of mainstream design trends to create unique interactive experiences. In this talk you’ll learn how to get started writing your own creative code as well as see how a little motion and a willingness to experiment can bring User Interfaces to life.</p>
                    </div>
                </li>
            
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Tall Tales from a Large Man</h5>
                    </div>
                    <h3 class="speaker">Aaron Draplin</h3>
                    <div class="description">
                        <p>Using scientific proof and state-of-the-art multimedia techniques, Aaron Draplin delivers a suckerpunch of a talk that aims to provide bona fide proof of work, the highs and lows of a ferociously independent existence and a couple of tall tales from his so-called career in the cutthroat world of contemporary graphic design. Just a regular American guy with a trajectory a little dirtier than yours, this video is available to all viewers—who are brave enough to watch. If you are a youngster, you may find yourself inspired to attack your design future in a different way. If you are established, you may leave feeling grateful you don’t have anything to do with him. Hard to say.</p>
                    </div>
                </li>
                
                
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Speaker Panel - Talks Recap/Q&amp;A</h5>
        </div>
                    <h3 class="speaker">Previous Speakers</h3>
                    <div class="description">The previous speakers will assemble on-stage for a wrap up discussion and some audience Q&amp;A</div>
                </li>
            
                <li class="break">
                    <p><span class="time">7:00pm to 9:00pm</span> Conference "Happy Hour" Meetup @ <a href="https://worldofbeer.com/Locations/DowntownStPete">World of Beer St. Pete</a> Sponsored by <a href="http://www.ibm.com/design/">IBM Design</a></p>
                </li>
            </ul>
        </li>
        <li class="day day3">
            <div class="day_header">
                <h2 class="date">Friday 6/17 | Main Conference Day 2</h2>
            </div>
            <ul>
            
                <li class="break">
                    <p><span class="time">8:00am to 9:00am</span> Check in (We'll have coffee & light breakfast food) - Location: The Palladium Theater 253 Fifth Ave. N, St. Petersburg, FL 33701 (<a href="https://goo.gl/maps/RLYqc">Map</a>)</p>
                </li>
                
                
                
                <li class="session">
                    <p>Start Up @ 9:00am</p>
                </li>
                
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Badass Motion Design for Interactive</h5>
                    </div>
                    <h3 class="speaker">Ron Edelen</h3>
                    <div class="description">
                        <p>My early career started as a motion designer for ABC, Discovery Channel, FoxSports, AMC and the NFL Network. Fast forward 10 years and I am now carving out best practices for motion design as a driving force for UX. This talk will focus on achieving new interactive paradigms by dissecting large and small format touch and gestures experiences for Volvo Trucks, Honeywell, BMW, Wake Tech and others.</p>
                    </div>
                </li>

      <li class="session">
                    <div class="session_header">
                        <h5 class="title">Responsive Design: Beyond Our Devices</h5>
                    </div>
                    <h3 class="speaker">Ethan Marcotte</h3>
                    <div class="description">
                        <p>In this age of device diversity, we’ve been focusing less on pages, and more on _patterns_: reusable bits of design and content we stitch together into responsive design systems. But those patterns bring puzzles: how should they adapt, and why? And how do we, well, design with them? Let’s look at a few answers to those questions, and start moving our design practices beyond the screens in front of us.</p>
                    </div>
                </li>
                
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">React.js: Thinking State First</h5>
                    </div>
                    <h3 class="speaker">Doug Neiner</h3>
                    <div class="description">
                        <p>This talk will be an introduction to React, an ultra-fast, somewhat opinionated user-interface library from Facebook. React is a joy to use and boasts great performance on both desktop and mobile devices. More than just another library, React encourages developers to take approaches that make the resulting code simpler to understand, more predictable in behavior, and easier to test. Dive into using ReactJS and learn how thinking state first will change how you approach front end javascript development.</p>
                    </div>
                </li>
                
                
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Speaker Panel - Talks Recap/Q&amp;A</h5>
        </div>
                    <h3 class="speaker">Previous Speakers</h3>
                    <div class="description">The previous speakers will assemble on-stage for a wrap up discussion and some audience Q&amp;A</div>
                </li>
                
                
                
                <li class="break">
                    <p><span class="time">12:00pm</span> Lunch Break (1.5 hours) Enjoy Lunch Around Downtown St. Pete.</p>
                </li>
                
                <li class="session">
                    <p class="time">Start Back up @ 1:30pm</p>
                </li>

      <li class="session">
                    <div class="session_header">
                        <h5 class="title">Flexing Your Layout Muscles - A Pragmatic Look At Flexbox</h5>
                    </div>
                    <h3 class="speaker">Greg Rewis</h3>
                    <div class="description">
                        <p>A funny thing happened on the way to building a modern CSS Framework — one where IE8 and IE9 were no longer pulling on our coat tails. Suddenly positioning, float left and right, and display table and inline-block weren't our only layout options. We realized we had entered a world where we could solve some of our usual challenges in a more modern way. Enter flexbox, with it’s combination of simplicity, complexity, joy, and frustration. Drawing from real-world examples, we’ll examine some of the more common layout challenges that flexbox simplifies, as well as some real-world gotchas we’ve experienced.
</p></p>
                    </div>
                </li>
                
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Bridging the gap between design and development</h5>
                    </div>
                    <h3 class="speaker">Amanda Cheung</h3>
                    <div class="description">
                <p>Designers and developers often have specific goals when creating interactive experiences. Because our creative processes overlap and influence one another, knowing each other’s considerations is key to designing and implementing experiences that are both usable and performant. How can designers help developers? How can developers help designers? In this presentation, we will explore communication and collaboration practices that help in this process.</p>
                    </div>
                </li>
                
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Lazy-loading ES2015 modules in the browser</h5>
                    </div>
                    <h3 class="speaker">Tiago Garcia</h3>
                    <div class="description">
                        <p>Learn about loading code during page load time vs lazy loading, then how to load ES2015 modules both synchronously (during page load) and asynchronously (lazy-load) using System.js over Babel, as well as how to use JSPM to organize this process and resolve dependencies from NPM and GitHub.
</p>
                    </div>
                </li>      
                
                
                <li class="session">
                    <div class="session_header">
                        <h5 class="title">Closing Keynote</h5>
        </div>
                    <h3 class="speaker">Carl Smith</h3>
                    <div class="description"></div>
                </li>          
            
            
                <!-- li class="break">
                    <p><span class="time">7:00pm to 10:0pam</span> Conference Closing Meetup TBD</p>
                </li -->
            </ul>
        <li>
    <ul>
</div>


<!-- <div class="wrapper hero">
    <h3>Food, fun and all the learning that you can pack into a two day conference.</h3>
</div> -->


<div class="wrapper venue">

    <div class="section_header">
        <h2 class="section_title">The Venue(s)</h2>
        <p>Our speakers deserve a beautiful stage from which to present and the Palladium Theatre has long been that stage. We love the venue and think you will too!</p>
    </div>

    <div class="content clearfix">
      <h2>The Main Event</h2>
        <h3>The Palladium Theatre in St. Petersburg, Florida</h3> 
        <img src="img/venue.jpg" alt="The Palladium Theatre in St.Petersburg, Florida">
        <p>The Palladium, located in downtown St. Petersburg’s cultural center, is part of what makes Tampa Bay great. It's also where Front End has called home for the past few years.</p>
        <p>With its two venues, the 850-seat main concert hall; Hough Hall, as well as its intimate listening room The Side Door, The Palladium fosters artistically and culturally diverse performing arts, educational and film programs that bring artists and audiences together in a first-class professional, affordable setting.</p>
        <p>You can learn more about the Palladium Theatre by checking out the <a href="http://www.mypalladium.org/">official website.</a></p>
    </div>
</div>
<div class="wrapper hotel">
    
    <!--
    <div class="content clearfix">
      <h2>Hotel</h2>
        Courtyard St. Petersburg Downtown - $142/night<br />
        <a class="button button_blue" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Front%20End%20Design%20Conference%5Etpasd%60FEDFEDA%7CFEDFEDB%60142.00%60USD%60false%605/20/15%605/22/15%604/29/15&app=resvlink&stop_mobi=yes">Book Your Room</a>
    </div>
    -->
    
</div>
    
    

 