---
layout: layouts/2016.njk
permalink: /2016/speakers/
title: Front-End Conf 2016 Speakers
---

<div class="wrapper speakers">
    <div class="section_header">
        <h2 class="section_title">Meet the Speakers</h2>
        <p>The quality of a conference is largely defined by the quality of the presenters. The Front-End Design Conference has always worked hard to find a truly engaging and thoughtful lineup and this year is no different.</p>
    </div>
    <ul class="content">
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/aaron-draplin.jpg" alt="Aaron Draplin" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://draplin.com">Aaron Draplin</a></h3>
                <p>Draplin Design, Co.<br /><a href="http://twitter.com/draplin">@draplin</a></p>
                <p>Raised in the Michigan Northwoods, schooled at the Minneapolis College of Art and Design, and currently hunkered down in the mighty Pacific Northwest, the Draplin Design Co. proudly rolls up its sleeves on a number of projects related to the Print, Identity, Web Development, Illustration and Gocco Muscle categories. We make stuff for Coal Headwear, Union Binding Co., Field Notes, Richmond Fontaine, Nike, Wired, Timberline, Ford Motor Co., Viva Voce, Hutchco, Patagonia, Chunklet, Incase, Giro, Cobra Dogs, Burton Snowboards, Hughes Entertainment, Megafaun and even the Obama Administration, if you can believe that. We pride ourselves on a high level of craftsmanship and quality that keeps us up late into the wet Portland night.</p>
                <!--
                <h3>Logo Tips, Tricks, Triumphs, Turds, Threats and Tales from the DDC</h3>
                -->                    
            </div>
        </li>
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/ethan-marcotte.jpg" alt="Ethan Marcotte" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://abookapart.com/products/responsive-design-patterns-principles">Ethan Marcotte</a></h3>
                <p>Responsive Web Design<br /><a href="http://twitter.com/beep">@beep</a></p>
                <p>Ethan Marcotte is an independent designer/developer who is passionate about beautiful design, elegant code, and the intersection of the two. Over the years his clientele has included New York Magazine, the Sundance Film Festival, the Boston Globe, and the W3C.</p>
                <p>Ethan coined the term “responsive web design” to describe a new way of designing for the ever-changing Web and, if given the chance, will natter on excitedly about it—he even went so far as to write a book on the topic. A popular and experienced speaker, he is also the coauthor of Jeffrey Zeldman’s Designing With Web Standards (3rd Edition), and a contributing writer to Dan Cederholm’s Handcrafted CSS.</p>
                <p>Ethan lives in Cambridge, Massachusetts, and would like to be an unstoppable robot ninja when he grows up. Beep.</p>
                <!--
                <h3></h3>
                <p></p>
                -->
            </div>
        </li>
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/samantha-warren.jpg" alt="Samantha Warren" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://adobe.com/">Samantha Warren</a></h3>
                <p>Adobe<br /><a href="http://twitter.com/samanthatoy">@samanthatoy</a></p>
                <p>Samantha is designer, art director, and the maker of StyleTil.es. She works with wide range of organizations from small startups to large tech companies to make their products and brands more awesome. Previously at Twitter, Samantha specializes in a blend of visual design and user experience strategy. She has been designing for the web for more than 12 years and frequently speaks at industry conferences about design process, practical UX tactics, and Style Tiles.</p>
                <p>When she is not in the studio she is obsessing over mid-century modern furniture, exploring San Francisco parks, learning how to be a better ceramicist, and hanging with @JimJones and Grace the cross-eyed cat.</p>
                <!--
                <h3>Mind The Gap: Becoming a better designer by owning your blind spots</h3>
                <p>As a designer you have great taste, and you know what looks good — and what works. But what happens when the things you make don’t live up to your own standards? Whether you are a designer, developer or just want to make something new, we all have discouraging moments where what we make doesn’t align with our original expectations. How do you get past that crippling feeling? Samantha shares how she overcomes these hangups and reframes them as a solution, not only as a designer but also as a aspiring ceramicist. Learn how to make the intimidating journey of creating an invaluable part of your design process for you and your clients.</p>
                -->
            </div>
        </li>
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/sam-kapila.jpg" alt="Sam Kapila" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://theironyard.com/">Sam Kapila</a></h3>
                <p>The Iron Yard<br /><a href="http://twitter.com/samkap">@samkap</a></p>
                <p>Sam Kapila is a designer, educator, and person living in Austin, TX with two cats and a lot of coffee. She is the Director of Instruction at The Iron Yard. She likes to spend a lot of time with responsive web design, web typography, podcasting and speaking about design, and cooking. She grew up on the Dutch island of Curaçao, and have lived in India, Florida, South Carolina, and Greece.</p>
                <!--
                <h3>Design Research</h3>
                <p>Making design decisions can be subjective and arbitrary. How can designers, developers, and clients make objective decisions that are backed by valid reasons? In this talk, I’ll cover aspects of design research, considering accessibility, usability, device technology, and branding strategy, helping kick projects off on the right foot.</p>
                -->
            </div>
        </li>
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/ron-edelen.jpg" alt="Ron Edelen" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://www.myjive.com/">Ron Edelen</a></h3>
                <p>MyJive<br /><a href="http://twitter.com/ronedelen">@ronedelen</a></p>
                <p>Ron is a cofounder of Myjive, a digital agency based out of Charlotte, N.C. He started his career working for motion design studios in Los Angeles, Calif., where he began blending his passion for film, pop culture, fine arts and emerging technology.</p>
                <!--
                <h3>Badass Motion Design for Interactive</h3>
                <p>My early career started as a motion designer for ABC, Discovery Channel, FoxSports, AMC and the NFL Network. Fast forward 10 years and I am now carving out best practices for motion design as a driving force for UX. This talk will focus on achieving new interactive paradigms by dissecting large and small format touch and gestures experiences for Volvo Trucks, Honeywell, BMW, Wake Tech and others.</p>
                -->
            </div>
        </li>
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/doug-neiner.jpg" alt="Doug Neiner" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://code.dougneiner.com/">Doug Neiner</a></h3>
                <p>LeanKit<br /><a href="http://twitter.com/dougneiner">@dougneiner</a></p>
                <p>Doug is a Senior Software Engineer at LeanKit where he works with their incredible web team to build client side applications and related node.js services. He has been developing for the web since he was fourteen and loves complex challenges and picking up new skills. Since his first technical talk at a jQuery Conference in 2010, Doug has spoken to both design and development audiences at conferences in the US and Europe.</p>
                <p>When not crafting for the web at LeanKit, Doug will often be busy in any number of non-technical hobbies or activities around his home in Iowa. Whether he is playing with his five kids, woodworking in his basement, reupholstering a chair, or serving on city council, there is always some new skill to learn or activity to tackle.</p>
                <!--
                <h3>React.js: Thinking State First</h3>
                <p>This talk will be an introduction to React, an ultra-fast, somewhat opinionated user-interface library from Facebook. React is a joy to use and boasts great performance on both desktop and mobile devices. More than just another library, React encourages developers to take approaches that make the resulting code simpler to understand, more predictable in behavior, and easier to test. Dive into using ReactJS and learn how thinking state first will change how you approach front end javascript development.</p>
                -->
            </div>
        </li>
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/smith-schwartz.jpg" alt="Smith Schwartz" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://www.saydaily.com/">Smith Schwartz</a></h3>
                <p>Say Media<br /><a href="http://twitter.com/smithschwartz">@smithschwartz</a></p>
                <p>Smith Schwartz is a former museum experience designer, digital and reverse nomad. She currently lives in Lexington, Kentucky and is a front-end developer and designer at Say Media, building the future of web-based publishing.</p>
                <!--
                <h3>Well-Designed Development: Sass for Engineers</h3>
                <p>It's not uncommon for back-end engineers to outnumber web designers and front-end devs 5 to 1. So, how do we as maintainers of front-end architecture help unruly coders fall in line when they write Sass files? We start by laying out straightforward and precise internal guidelines and styleguides, then make sure to communicate these clearly and effectively all while keeping in mind the ultimate goal: building stronger teams that understand the many aspects of the project, styles and design included. This talk will layout a roadmap for workshops, tailor­made for your engineering team, to help them better understand the fundamentals of how writing shiny Sass goes hand-­in-­hand with great design. In the end, we hope to get everyone excited about Sass that compiles to clean, coherent CSS that makes everyone’s day a little bit brighter.</p>
                -->
            </div>
        </li>
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/rachel-smith.jpg" alt="Rachel Smith" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://codepen.io/">Rachel Smith</a></h3>
                <p>Codepen<br /><a href="http://twitter.com/rachsmithtweets">@rachsmithtweets</a></p>
                <p>Another Aussie in LA. Totes profesh pixel pusher, JavaScript wrangler and triple hearter Works at CodePen.</p>
                <!--
                <h3>Beyond Boxes</h3>
                <p>As an industry we’ve refined our design and development skills to a point where we’re consistently creating clean and beautiful sites and apps with design systems based around grids. Our work is so consistent that some have gone as far to say it is bordering on boring! Join Rachel as she gives you a peak inside the creative web - where people are breaking out of mainstream design trends to create unique interactive experiences. In this talk you’ll learn how to get started writing your own creative code as well as see how a little motion and a willingness to experiment can bring User Interfaces to life.</p>
                -->
            </div>
        </li>
        
        
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/matt-griffin.jpg" alt="Matt Griffin" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://www.bearded.com/">Matt Griffin</a></h3>
                <p>Bearded<br /><a href="http://twitter.com/elefontpress">@elefontpress</a></p>
                <p>Matt Griffin is a designer and founder of Bearded and Wood Type Revival. Matt is a writer, speaker, and A List Apart columnist. He is the director of the upcoming documentary film What Comes Next Is the Future.</p>
                <!--
                <h3>I, Web Designer</h3>
                <p>Matt Griffin (founder, Bearded) has been thinking about what it means to be a "web designer," grappling with the many (and sometimes misunderstood) disciplines that come into play. All of the rapid changes in technology we grapple with every day have resulted in a shifting landscape of skills and responsibilities. What’s a designer to do? Luckily, Matt is in the unique position to answer this question from a variety of perspectives and experiences.
                <p>To create his documentary film about the web, What Comes Next Is the Future, Matt conducted dozens of hours of interviews, many of which could not make it into the final film. This talk draws on that additional footage, capturing the thoughts and experiences of industry leaders Trent Walton (founder, Paravel), Irene Au (operating partner, Khosla Ventures), Ethan Marcotte (author, Responsive Web Design), Indi Young (founder, Adaptive Path), Brad Frost (author, Atomic Design), Yesenia Perez-Cruz, Kelly Goto (founder, gotoresearch), and many more.</p>
                <p>With Matt as a guide, these luminaries' perspectives create a cohesive, multi-faceted view of the modern web industry and a designer’s place in it.</p>
                -->
            </div>
        </li>
        
        
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/gabriel-levine.jpg" alt="Gabriel Levine" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://levinebakerlaw.com/">Gabriel Levine</a></h3>
                <p>Levine Baker Law<br /><a href="http://twitter.com/MyLawyerGabe">@MyLawyerGabe</a></p>
                <p>Gabe, aka @MyLawyerGabe, is a New Media attorney, who specializes in representing web and software designers and developers. He's well known for his role in Mike Monteiro's F@#k You Pay Me Creative Mornings talk, as well as for his blog and podcast.</p>
                <p>Gabe is a partner at the San Francisco law firm of Levine & Baker LLP, and has been recognized as Super Lawyers Rising Star six years in a row.</p>
                <p>Before becoming a soldier of justice and right, Gabe spent some time goofing off in Santa Barbara (where he "earned" a bachelor's degree from UCSB and drove a cab for a year)... and then he basically kicked law school's ass. Gabe also runs a lot, and is a Coach for the Leukemia & Lymphoma Society's Team in Training.</p>
                <!--
                <h3>Workshop: Your Business and the Law 101</h3>
                <p>Gabe will take you through his top ten list of do's and dont's for your small business/web design business. Then he will run you through several business and legal focused exercises to make you an even stronger more well informed small business leader.</p>
                -->
            </div>
        </li>
        
        
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/amanda-cheung.jpg" alt="Amanda Cheung" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://dockyard.com/">Amanda Cheung</a></h3>
                <p>Amanda is the lead UX developer at DockYard, a design-driven software consultancy based out of Boston, MA. She comes from a visual background having graduated with a BFA in painting, but another part of her brain fell in love with CSS. Finding better user experience solutions by balancing designers' and developers' priorities fascinates her. She is always trying to improve the designer-developer relationship. Amanda is also an instructor at MassArt, a co-organizer of the Boston CSS Meetup and a teacher for Girl Develop It.</p>
                <!--
                <h3>Bridging the gap between design and development</h3>
                <p>Designers and developers often have specific goals when creating interactive experiences. Because our creative processes overlap and influence one another, knowing each other’s considerations is key to designing and implementing experiences that are both usable and performant. How can designers help developers? How can developers help designers? In this presentation, we will explore communication and collaboration practices that help in this process.</p>
                -->
            </div>
        </li>
        
        
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/tiago-garcia.jpg" alt="Tiago Garcia" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://www.tiagorg.com/">Tiago Garcia</a></h3>
                <p>Tiago Garcia is a Technical Manager at Avenue Code, heavily interested in cutting-edge front-end technologies. He organizes the Backbone.js Hackers meetup in San Francisco too. He is Brazilian, but you don't need to be sorry for Brazil's takedown at the World Cup, that was well-deserved. The World Cup is over and talking about JavaScript has been much more interesting ever since. You can check out his other talks at http://tiagorg.com and follow him on Twitter at @tiagooo_romero</p>
                <!--
                <h3>Workshop: Your Business and the Law 101</h3>
                <p>Gabe will take you through his top ten list of do's and dont's for your small business/web design business. Then he will run you through several business and legal focused exercises to make you an even stronger more well informed small business leader.</p>
                -->
            </div>
        </li>
        
        
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/greg-rewis.jpg" alt="Greg Rewis" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://www.salesforce.com/">Greg Rewis</a></h3>
                <p>Salesforce<br /><a href="http://twitter.com/garazi">@garazi</a></p>
                <p>Greg has been passionate about the web ever since putting his first “home page” online in 1994. His career has taken him around the world – from a start-up in Hamburg, Germany, to the glory days of the web at Macromedia and Adobe, and finally to his role as Principal Developer Evangelist at Salesforce focusing on front-end technologies. When he's not writing Javascript or CSS, you can find him dreaming about sailing his catamaran around the world.</p>
                <!--
                <h3>Flexing Your Layout Muscles - A Pragmatic Look At Flexbox</h3>
                <p>A funny thing happened on the way to building a modern CSS Framework — one where IE8 and IE9 were no longer pulling on our coat tails. Suddenly positioning, float left and right, and display table and inline-block weren't our only layout options. We realized we had entered a world where we could solve some of our usual challenges in a more modern way. Enter flexbox, with it’s combination of simplicity, complexity, joy, and frustration. Drawing from real-world examples, we’ll examine some of the more common layout challenges that flexbox simplifies, as well as some real-world gotchas we’ve experienced.
</p>
                -->
            </div>
        </li>
        
        
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/carl-smith.jpg" alt="Carl Smith" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://bureauofdigital.com/">Carl Smith</a></h3>
                <p>Bureau Of Digital<br /><a href="http://twitter.com/carlsmith">@carlsmith</a></p>
                <p>Carl Smith is an irreverant ditcher of the nine-to-five and mortal enemy of the overworked lifestyle. Owner and founder of nGen Works, Carl’s role is that of an advisor, to nGen and other companies, on how to create self-sustaining teams that perform at the highest levels. Carl has made a name for himself by creating a new framework for how we get things done, and by enabling us to realign our creative communities. When he’s not conducting business experiments with companies around the world, he’s busy sculpting a new face for the world of work… and play.</p>
                <!--
                <h3>Closing Keynote</h3>
                <p></p>
                -->
            </div>
        </li>
        
        
        
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/michel-ferreira.jpg" alt="Michel Ferreira" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://booking.com">Michel Ferreira</a></h3>
                <p>Booking.com<br /><a href="http://twitter.com/multimichel">@multimichel</a></p>
                <p>Michel has been working with design for almost 20 years now and has had the chance of working with a variety of clients, from ground-floor start-ups to multi-national corporations all over the globe - such as Coca-Cola, MTV, NBA, amongst many, many others. Using his passion for testing and a drive to always learn, he now works as a Designer at Booking.com where he uses data and design to improve the experience for their most loyal and valuable group of customers in every platform.</p>
                <!--
                <h3>Workshop: Data and Design sitting in a tree</h3>
                <p>Learn the best practices of A/B Testing to prove value and learn to validate design ideas</p>
                <p>A/B tests have been around for a while and you’ve probably heard or read a lot about it. This is the chance to the take the next step and dive in to performing your own A/B tests and guiding your design decisions with data. In this workshop, we’ll look at the best practices in A/B testing, common pitfalls and how testing can take your design skills and your professional value to the next level. Challenge the trends and learn to not just follow the crowds. You’ll leave with the knowledge and the key to get clients and stakeholders to understand the value of validating designs against business goals.</p>
                -->
            </div>
        </li>
        
        <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/andy-warburton.jpg" alt="Andy Warburton" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://booking.com">Andy Warburton</a></h3>
                <p>Booking.com<br /><a href="http://twitter.com/awarburton">@awarburton</a></p>
                <p>An old-timer in the world of web design, Andy Warburton has been building websites since the late 90’s. From humble beginnings in a small web design agency, Andy currently works as a Senior UX Designer at Booking.com - the worlds largest online hotel reservation website - where he uses empathy and a/b testing to help make booking a hotel a little less painful and a lot more profitable.</p>
                <!--
                <h3>Workshop: Data and Design sitting in a tree</h3>
                <p>Learn the best practices of A/B Testing to prove value and learn to validate design ideas</p>
                <p>A/B tests have been around for a while and you’ve probably heard or read a lot about it. This is the chance to the take the next step and dive in to performing your own A/B tests and guiding your design decisions with data. In this workshop, we’ll look at the best practices in A/B testing, common pitfalls and how testing can take your design skills and your professional value to the next level. Challenge the trends and learn to not just follow the crowds. You’ll leave with the knowledge and the key to get clients and stakeholders to understand the value of validating designs against business goals.</p>
                -->
            </div>
        </li>
        
        
          <li>
            <div class="speaker_img">
                <div>
                    <img src="/img/2016/speakers/scott-padgett.jpg" alt="Dr. Scott Padgett" />
                </div>
            </div>
            <div class="speaker_info">
                <h3><a href="http://twitter.com/antiboniver">Dr. Scott Padgett</a></h3>
                <p>Musical Stylings<br /><a href="http://twitter.com/antiboniver">@antiboniver</a></p>
                <p>Dr. Scott Padgett is a music writer, producer & archivist dating back to his college days as a program director at WUSC radio in Columbia, SC. He followed that with radio programming & production work in the new frontier of the 'FM underground'.</p>
                <p>A stint as music editor at the southeast's pioneering alternative newsweekly Osceola Magazine led to becoming the first music writer/columnist at Free Times Magazine. His work appeared in Billboard, the Village Voice, Rolling Stone and practcally every other regional art/political outlet extant through the early nineties.</p>
                <p>After a stint in radio in Los Angeles & later at Warner Brothers Studios, he returned to the south where he and co-conspirator Steve Gibson vowed to bring live spectrum-spanning music to the masses. Thus was born the legendary Rockafellas music venue and artist management company.</p>
                <p>Working through Ian Copeland's legendary musical talent booking firm FBI, the likes of Soundgarden, the Red Hot Chili Peppers, Smashing Pumpkins, et. al. were initially exposed to club venues all over the U.S.</p>
                <p>He is a contributor and social media monitor for semi-important e-music rags as well as several fly-by-night blogs and has a music industry specific twitter account @AntiBonIver which draws on a digest of 104 music news outlets for content.</p>
                <!--
                <h3>Musical Stylings @ FEDC</h3>
                <p></p>
                -->
            </div>
        </li>
        
        
    </ul>
</div> 
    
    

 