---
layout: layouts/2016.njk
permalink: /2016/workshops/
title: Front-End Conf 2016 Workshops
---

<div class="wrapper schedule">

    <div class="section_header">
        <h2 class="section_title">Workshops</h2>  
    </div>

    <ul class="content">
        <li class="day day1">
            <div class="day_header">
                <h2 class="date">Wednesday 6/15 | Workshops</h2>
            </div>
            <ul>
            
            <li class="session">
                    <p>**Bonus: Portfolio Review by our sponsor <a href="http://www.creativecircle.com/">Creative Circle</a> <em>(So have that portfolio ready to show off!)</em><br />**Two walk-in sessions 10 a.m. to 12 p.m. and from 2 p.m. to 5 p.m.</p>
                </li>
            
                <li class="session">
                    <div class="session_header">
                        
                        <p class="time">9:00am - 12:00pm</p>
                        
                        <h5 class="title">Ethan Marcotte<br />Responsive Design: Patterns & Principles</h5>
                        
                        <p>(1/2 Day)</p>
                        
                        <p>
                        By now, the fundamentals of responsive design—fluid grids, flexible images, and media queries—have been pretty well covered. But as the bulk of our design work has moved from pages to reusable patterns, we’ve got a host of new challenges. In this workshop, we’ll look at common approaches for designing and documenting especially challenging patterns, as well as strategies to get your team or clients on board with a pattern-driven approach.
                        </p>
                        
                    </div>
                </li>
                <li class="break">
                    <p><span class="time">12:00pm to 1:00pm</span> Lunch Break (1.5 hours) Enjoy Lunch Around Downtown St. Pete.</p>
                </li>
                
                
                
                
                <li class="session">
                    <div class="session_header">
                        <p class="time">1:30pm - 4:00pm</p>
                          <h5 class="title">Michel Ferreira &amp; Andy Warburton<br />Data and Design sitting in a tree</h5>
                        
                        <p>(1/2 Day)</p>
                        
                        <p>
<p><strong>Learn the best practices of A/B Testing to prove value and learn to validate design ideas</strong></p>
<p>A/B tests have been around for a while and you’ve probably heard or read a lot about it. This is the chance to the take the next step and dive in to performing your own A/B tests and guiding your design decisions with data. In this workshop, we’ll look at the best practices in A/B testing, common pitfalls and how testing can take your design skills and your professional value to the next level. Challenge the trends and learn to not just follow the crowds. You’ll leave with the knowledge and the key to get clients and stakeholders to understand the value of validating designs against business goals.</p>                           </p>

                    </div>
                </li>
                
                
                <li class="break">
                    <p><span class="time">7:00pm to 10:00pm</span> Welcome/Kick-off Party - Location: The Iron Yard 260 1st Ave S (Suite 300) St Petersburg, FL 33701 (<a href="https://goo.gl/maps/WIyrm">Map</a>)</p>
                </li>
            </ul>
        </li>
    <ul>
</div>

<div class="wrapper venue">
    <div class="content clearfix">
      <h2>Workshops Venue</h2>
        <h3>The Palladium Theatre in St. Petersburg, Florida</h3> 
        <img src="img/venue.jpg" alt="The Palladium Theatre in St.Petersburg, Florida">
        <p>The Palladium, located in downtown St. Petersburg’s cultural center, is part of what makes Tampa Bay great. It's also where Front End has called home for the past few years.</p>
        <p>With its two venues, the 850-seat main concert hall; Hough Hall, as well as its intimate listening room The Side Door, The Palladium fosters artistically and culturally diverse performing arts, educational and film programs that bring artists and audiences together in a first-class professional, affordable setting.</p>
        <p>You can learn more about the Palladium Theatre by checking out the <a href="http://www.mypalladium.org/">official website.</a></p>
    
    </div>
</div>

    

 