<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>Front-End Design Conference // St. Petersburg, Florida // April 19-21, 2017</title>	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">	
	<!-- Open Graph Stuff -->
	<meta name="description" content="Front-End Design Conference in St. Petersburg, Florida on April 19-21, 2017 | A conference for designers & developers.">
	<meta name="keywords" content="Front-End Design Conference, FEDC, Web Conference, Design, Development, Business, Marketing, St. Petersburg, Tampa, Florida">
	<meta property="og:title" content="Front-End Design Conference // St. Petersburg, Florida // April 19-21, 2017"/>
	<meta property="og:image" content="http://frontenddesignconference.com/fedc-icon.jpg"/>
	<meta property="og:site_name" content="Front-End Design Conference"/>
	<meta property="og:url" content="http://frontenddesignconference.com"/>
	<meta property="og:description" content="A conference for designers &amp; developers."/>
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:image" content="" />
	<!-- FB Stuff -->
	<meta property="fb:app_id" content="" />
	<meta property="article:author" content="https://www.facebook.com/Front-EndDesign" />
	<meta property="article:publisher" content="https://www.facebook.com/Front-EndDesign" />	
	<!-- Twitter Stuff -->
	<meta name="twitter:card" content="summary" /> 
	<!-- 'summary', 'summary_large_image' -->
	<meta name="twitter:site" content="@Front-Endconf" />
	<meta name="twitter:creator" content="@Front-Endconf" />

    <script src="https://use.typekit.net/mcl8czo.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
	
    <link rel="stylesheet" href="{{ '/css/2017.css' | url }}">
</head>

<body>

    <?php require "icons.php" ?>

    <div id="site_wrapper" class="site_wrapper"> <!-- CLOSES in footer.php -->

        <div class="mobile_overlay"></div>

        <header id="site_header">

            <div class="mobile_header">
                <a id="nav_trigger" class="navigation_link" href="">Menu</a>
                <!-- <a class="register_button" href="https://account.unmatchedstyle.com/register/fedc2017/">Register</a> -->
            </div>

            <nav id="main_site_navigation" class="main_site_navigation">
                <ul class="clearfix">
                    <li class="home_button"><a href="/2017"><img src="/img/2017/svg/fedc2016logosmall.svg" alt=""></a></li> 
                    <li><a href="/2017/schedule">Schedule</a></li>                
                    <li><a href="/2017/workshops">Workshops</a></li>                
                    <li><a href="/2017/speakers">Speakers</a></li>
                    <li><a href="/2017/about">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="nav_register_button"><a href="#">Register</a></li>
                </ul>
            </nav>

            <img class="hero_logo" src="/img/2017/svg/fedc2016logo.svg" alt="Front-End Design Conference Logo">

        </header>

        <div class="page_content">

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

      
        <div class="content">
            <div class="stay_informed">
                <!-- <h3>Dan Denney has built an amazing event over the last few years and it gets better every time! <a href="http://frontenddesign.tumblr.com/post/104365452033/dan-denney-is-a-hero">Read more about the partnership.</a></h3> -->
                <div class="mailinglist_form">
                   <!--
                    <form class="clearfix" action="http://frontenddesignconference.us2.list-manage.com/subscribe/post?u=040435af75d83823cc94edc9b&amp;id=88b2a28d01" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                        <h3><label for="email">Keep up to date on The Front End Design Conference.</label></h3>
                        <input type="text" name="EMAIL" id="email" placeholder="Your email...">
                        <button class="button button_blue" type="submit">Sign Up</button>
                    </form>
                    -->
                    
                     <form action="http://frontenddesignconference.us2.list-manage.com/subscribe/post?u=040435af75d83823cc94edc9b&amp;id=88b2a28d01" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="signup validate" target="_blank" novalidate>
                            
                     <h3><label for="email">Sign up to hear more about FEDC</label></h3>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email Address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_304ef1419c812109265422add_e5791e58de" value=""></div>
                    
                    <button class="button blue" type="submit">Go</button>
                    
                </div>

                <div class="social">
                    <div class="social-icon">
                        <a href="http://lanyrd.com/2017/fedc/"><svg class="icon icon-lanyrd"><use xlink:href="#icon-lanyrd"></use></svg><span class="mls"> Lanyrd</span></a>
                    </div>
                    <div class="social-icon">
                        <a href="http://twitter.com/frontendconf"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg><span class="mls"> Twitter</span></a>
                    </div>
                    <div class="social-icon">
                        <a href="https://www.facebook.com/FrontEndDesign"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg><span class="mls"> Facebook</span></a>
                    </div>
                </div>
            </div>
            
            
            <div class="sponsors">
                <h3>Sponsors:</h3>
                <br>
           		<!-- <a class="bureau"   href="http://bureauofdigital.com/"></a> -->
				<!--
				<a class="prprl" href="http://purplerockscissors.com/"></a>
				-->
				<a class="cc" href="http://www.creativecircle.com/"></a>
           		<a class="bda" href="http://bureauofdigital.com/"></a>
            </div>
            
            <div class="stakeholders">
                <h3>Presented by:</h3>
                <br>
                <a class="ums" href="http://www.unmatchedstyle.com">UnmatchedStyle</a>
            </div>
            
            <div class="footer">
            
            <p class="secondary_nav">If you would like to be a part of FEDC as a sponsor, please check out the <a href="2017-frontend-prospectus.pdf">Sponsor Prospectus</a>.</p>
            
                <nav>
                    <p>
                        <a href="/2017">FEDC</a> | 
                        <a href="/2017/schedule">Schedule</a> |                
                        <a href="/2017/workshops">Workshops</a> |                
                        <a href="speakers.php">Speakers</a> |
                        <a href="about.php">About</a> |
                        <a href="contact.php">Contact</a> |
                        <a href="https://account.unmatchedstyle.com/register/fedc2017/">Register</a> 
                    </p>
                </nav>
                <p>
                    <a href="http://www.frontenddesignconference.com/2016/">2016</a> |
                    <a href="http://www.frontenddesignconference.com/2015/">2015</a> |
                    <a href="http://www.frontenddesignconference.com/2014-portland.html">2014 Portland</a> |
                    <a href="http://www.frontenddesignconference.com/2014-st-pete.html">2014 St. Pete</a> |
                    <a href="http://www.frontenddesignconference.com/2013.html">2013</a> | 
                    <a href="http://www.frontenddesignconference.com/2012.html">2012</a> | 
                    <a href="http://www.frontenddesignconference.com/2011.html">2011</a> | 
                    <a href="http://www.frontenddesignconference.com/2010.html">2010</a> | 
                    <a href="http://www.frontenddesignconference.com/2009.html">2009</a>
                </p>

                <p class="secondary_nav">&copy; 2017 Front End Design Conference & UnmatchedStyle.com | <a href="terms.php">Terms</a></p>
                
            </div>
        </div> <!-- END .content -->
    </div> <!-- END .site_wrapper -->
</body>

    <script src="/js/2017.js"></script>


</html>