---
layout: layouts/base.njk
---

{% set css %}
  {% include "prism.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<article class="p-8 longform">
  <header class="mx-auto sm:max-w-4xl">
    <h1>{{ title }}</h1>
  </header>
  <div class="sm:max-w-2xl mx-auto">
    {{ content | safe }}
  </div>
</article>
