<ul class="nav">
	<li {% if mixture.url == "index" %}class="current"{% endif %}><a href="/">Home</a></li>
  <li {% if mixture.url == "2013" %}class="current"{% endif %}><a href="/2013">2013</a></li>
	<li {% if mixture.url == "2012" %}class="current"{% endif %}><a href="/2012">2012</a></li>
  <li {% if mixture.url == "2011" %}class="current"{% endif %}><a href="/2011">2011</a></li>
  <li {% if mixture.url == "2010" %}class="current"{% endif %}><a href="/2010">2010</a></li>
  <li {% if mixture.url == "2009" %}class="current"{% endif %}><a href="/2009">2009</a></li>
</ul>