---
layout: layouts/2019.njk
permalink: /2019/
title: Front-End Conf 2019
---


    <header id="site_header" class="offset_content call_to_register ">
        <div class="inner">

            <div class="logo_container">
                <img src="/img/2019/svg/fedc-logo-2019.svg" alt="">
            </div>
            <div class="narrow_col">

                <h2>A Conference for Web Professionals Who Love their Community, the Web, and Learning.</h2>
                <div>
                    <p>St. Petersburg, Florida / <span>April 25<sup>th</sup>-26<sup>th</sup> 2019</span> / The Paladium Theatre</p>
                    <a class="btn call_to_action intense" href="https://www.cognitoforms.com/P31/FrontEndDesignConference2019" target="_new" class="button">REGISTER FOR 2019</a>
                </div>
            </div>
        </div>
    </header>


	
    <div class="speaker_content offset_content dark">
	    
	    
	    
        <div class="inner two_col">
            <header class="sidebar">
                <h2>The quality of a conference is largely defined by the quality of the presenters. </h2>
                <p>We always work hard to find a truly engaging and thoughtful lineup and this year is no different</p>
                <a class="btn call_to_action" href="/2019/speakers" class="button">SPEAKER DETAILS</a>
            </header>
            
            

            <ul class="home_speakers main_col">
                <li>
                    <a href="2019/speakers">
                        <img src="/img/2019/speakers/carl-smith.jpg" alt="Carl Smith" />
                        <span>Carl Smith</span>
                    </a>
                </li>
                <li class="triangle triangle_left">
                    <div></div>
                </li>
                <li>
                    <a href="2019/speakers">
                        <img src="/img/2019/speakers/amber-stickel.jpg" alt="Amber Stickel" />
                        <span>Amber Stickel</span>
                    </a>
                </li>
                <li>
                    <a href="2019/speakers">
                         <img src="/img/2019/speakers/eric-dodds.jpg" alt="Eric Dodds" />
                        <span>Eric Dodds</span>
                    </a>
                </li>
                <li class="triangle triangle_right">
                    <div></div>
                </li>
                <li>
                    <a href="2019/speakers">
                        <img src="/img/2019/speakers/wren_lanier.jpg" alt="Wren Lanier" />
                        <span>Wren Lanier</span>
                    </a>
                <li>
                    <a href="2019/speakers">
                        <img src="/img/2019/speakers/jared-ponchot.jpg" alt="Jared Ponchot" />
                        <span>Jared Ponchot</span>
                    </a>
                </li>
                <li>
                    <a href="2019/speakers">
                        <img src="/img/2019/speakers/rob-harr.jpg" alt="Rob Harr" />
                        <span>Rob Harr</span>
                    </a>
                </li>
                
            
            
           
                
                
                
                
                <li class="blank">
                    <div></div>
                </li>
               
              
              
                <li class="triangle triangle_top">
                    <div></div>
                </li>
                <li>
                    <a href="2019/speakers">
                        <img src="/img/2019/speakers/bermon-painter.jpg" alt="Bermon Painter" />
                        <span>Bermon Painter</span>
                    </a>
                </li>            
                 <li>
                    <a href="2019/speakers">
                        <img src="/img/2019/speakers/andy-vitale.jpg" alt="Andy Vitale" />
                        <span>Andy Vitale</span>
                    </a>
                <li>
                
                
                <li>
                    <div><a class="btn call_to_action" href="/2019/speakers" class="button">ALL SPEAKERS</a></div>
                </li>
                
                
                
                <!--
                <li class="triangle triangle_bottom">
                    <div></div>
                </li>
                <li class="blank">
                    <div></div>
                </li>


                
                <li>
                    <a href="2019/speakers">
                        <img src="/img/2019/speakers/tone/ron-edelen.jpg" alt="Ron Edelen" />
                        <span>Ron Edelen</span>
                    </a>
                </li>
                <li class="blank">
                    <div></div>
                </li>
            
            
            -->
            
                </ul>
            
        </div>
        
        
        
    </div>