---
layout: layouts/2019.njk
permalink: /2019/schedule/
title: Front-End Conf 2019 Schedule
---

    <div class="section_header offset_content">
        <div class="inner">
            <h2 class="section_title">Schedule</h2>
            <p>Front End Design Conference is traditionally made up of a workshop day and two full days of keynote style talks. Workshops range from 1/2 day to full day seminars.</p>
            <p>
                <a href="/2019/workshops">Wednesday 4.24</a> | <a href="#thursday">Thursday 4.25</a> | <a href="#friday">Friday 4.26</a>
            </p>    
        </div>
    </div>

    <div class="schedule offset_content dark">
        <div class="inner">
	        
	        <div class="day day1">
                <div class="day_header">
                    <a name="thursday"></a>
                    <h2 class="date">Wednesday 4/24 | Workshop & Welcome</h2>
                </div>
                <ul>
                    <li class="break">
                    	<h5 class="title">Workshop</h5>
                    	
                        <p><span class="time">10:00am - 5:00pm</span> Design Thinking – Innovation to Implementation with Bermon Painter (Full Day)</p>
                        <p><a href="/2019/workshops">More Info & Location</a></p>
                        
                    </li>
                    <li class="break">
                    	<h5 class="title">CodePen Meetup @ BigSea HQ</h5>
                        <p><span class="time">6:00pm - 9:00pm</span> Show and tell pre-Front End Conf meetup- bring your favorite pen to share and let's geek out!  Who knows, on the eve of the conf we may have some special guests</p>
                    <p><a href="https://nvite.com/CodePenStPete/lgqn3w">RSVP HERE</a></p>
                    </li>
                </ul>
	        </div>    

	        
	        
            <div class="day day2">
                <div class="day_header">
                    <a name="thursday"></a>
                    <h2 class="date">Thursday 4/25 | Main Conference Day 1</h2>
                </div>
                <ul>
                    <li class="break">
                        <p><span class="time">9:00am to 10:00am</span> Check in (We'll have coffee &amp; light breakfast food) - Location: The Palladium Theater 253 Fifth Ave. N, St. Petersburg, FL 33701 (<a href="https://goo.gl/maps/RLYqc" target="_new">Map</a>)</p>
                    </li>
                    <li class="session session_time">
                        <p class="time">Start Up @ 10:00am</p>
                    </li>
                    
                    
                    
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Opening Keynote</h5>
                        </div>
                        <h3 class="speaker">Carl Smith</h3>
                        <div class="description">
                            <p></p>
                        </div>
                    </li>
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Designing Design Systems</h5>
                        </div>
                        <h3 class="speaker">Jared Ponchot</h3>
                        <div class="description">
                            <p><a href="https://speakerdeck.com/jponch/designing-design-systems-fedc-2019" target="_new">Talk Slide Deck</a><br />
                            <a href="http://bit.ly/designing-design-systems" target="_new">Talk Resources</a></p>
                        </div>
                    </li>
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Making the Jump from Agency Life to Product Designer</h5>
                        </div>
                        <h3 class="speaker">Andrea Cannistra</h3>
                        <div class="description">
                            <p><a href="https://www.andreacannistra.com/slides/agency-to-product/" target="_new">Talk Slide Deck</a></p>
                        </div>
                    </li>
                   
                   
                    <li class="break">
                        <p><span class="time">12:00pm</span> Lunch Break (1.5 hours) Enjoy Lunch Around Downtown St. Pete.</p>
                    </li>
                    <li class="session session_time">
                        <p class="time">Start Back Up @ 1:30pm</p>
                    </li>
                   
                   <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Running Awesome Discovery Projects</h5>
                        </div>
                        <h3 class="speaker">Rob Harr</h3>
                        <div class="description">
                            <p></p>
                        </div>
                    </li>
                    
                    
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Design Systems at Indeed</h5>
                        </div>
                        <h3 class="speaker">Amber Stickel & Andrew Fischler</h3>
                        <div class="description">
                            <p></p>
                        </div>
                    </li>
                    
                    
                      <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Start a podcast</h5>
                        </div>
                        <h3 class="speaker">Frederick Weiss, Jenell Pizarro &amp; Brian Hinton</h3>
                        <div class="description">
                    <p><a href="slides/start-a-podcast.pdf" target="_new">Talk Slide Deck</a></p>
                        </div>
                    </li>
                    
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Always Designing: From Designer To Design Leader</h5>
                        </div>
                        <h3 class="speaker">Andy Vitale</h3>
                        <div class="description">
                    <p><a href="slides/FEDC_2019.pdf" target="_new">Talk Slide Deck</a></p>
                        </div>
                    </li>
                    <!--
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">talktitle</h5>
                        </div>
                        <h3 class="speaker">speakername</h3>
                        <div class="description">
                            Talk Description Coming Soon...
                        </div>
                    </li>  
                    
                    -->   
                    
                          
                    <li class="break">
                        <p><span class="time">7:00pm to 9:00pm</span> Conference "Happy Hour" Meetup @ <a href="http://parkrecdtsp.com/">Park &amp; Rec</a> (<a href="https://goo.gl/maps/75GDAqrXNX7rPuji8">Map</a>)<!-- Sponsored by <a href=""></a> --></p>
                    </li>
                </ul>
            </div>
            <div class="day day3">
                <div class="day_header"><a name="friday"></a>
                    <h2 class="date">Friday 4/26 | Main Conference Day 2</h2>
                </div>
                <ul>
                    <li class="break">
                        <p><span class="time">9:00am to 10:00am</span> Check in (We'll have coffee & light breakfast food) - Location: The Palladium Theater 253 Fifth Ave. N, St. Petersburg, FL 33701 (<a href="https://goo.gl/maps/RLYqc">Map</a>)</p>
                    </li>
                    <li class="session session_time">
                        <p class="time">Start Up @ 10:00am</p>
                    </li>
                    
	                    
                    
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Understanding the mechanics of data-driven growth and marketing</h5>
                        </div>
                        <h3 class="speaker">Eric Dodds</h3>
                        <div class="description">
                            <p><a href="https://www.yieldgroup.xyz/blog/yield-group-front-end-design-conference-2019" target="_new">Talk Slide Deck</a></p>
                        </div>
                    </li>
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Designing Better Features by Solving Better Problems</h5>
                        </div>
                        <h3 class="speaker">Wren Lanier</h3>
                        <div class="description">
                    <p><a href="slides/WrenLanier-SolvingBetterProblems.pdf" target="_new">Talk Slide Deck</a></p>
                        </div>
                    </li>
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Designing for Real Life</h5>
                        </div>
                        <h3 class="speaker">Michelle Brownstein</h3>
                        <div class="description">
                    <p><a href="slides/FEDC2019-Designforreallife-MichelleBrownstein.pdf" target="_new">Talk Slide Deck</a></p>
                        </div>
                    </li> <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Why UI Matters: The Chips and Pickle Story</h5>
                        </div>
                        <h3 class="speaker">Dean Schuster</h3>
                        <div class="description">
                    <p></p>	
                        </div>
                    </li>
                    
                    
                    
                    <li class="break">
                        <p><span class="time">12:00pm</span> Lunch Break (1.5 hours) Enjoy Lunch Around Downtown St. Pete.</p>
                    </li>
                    
                    <li class="session session_time">
                        <p class="time">Start Back Up @ 1:30pm</p>
                    </li>
                    
                     <li class="session">    
                        <div class="session_header">
                            <h5 class="title">How to be successful in a remote job and company.</h5>
                        </div>
                        <h3 class="speaker">Brad Miller</h3>
                        <div class="description">
                            <p></p>
                        </div>
                    </li>
                    
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">The Power and Flexibility of CSS Variables</h5>
                        </div>
                        <h3 class="speaker">Guil Hernandez</h3>
                        <div class="description">
                    <p><a href="slides/Guil_H_The-Power-and-Flexibility-of-CSS-Variables.pdf" target="_new">Talk Slide Deck</a></p>
                        </div>
                    </li>
                    
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">The Inherent Value of Building Useless Shit</h5>
                        </div>
                        <h3 class="speaker">Adam Kuhn</h3>
                        <div class="description">
                            <p></p>
                        </div>
                    </li>
                    
                    
                    
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">The Awesomeness that is CSS Animations</h5>
                        </div>
                        <h3 class="speaker">Giovanni DiFeterici &amp; Bryce Bigger</h3>
                        <div class="description">
                    <p><a href="https://codepen.io/collection/DdRxxz/" target="_new">Talk Resources</a></p>
                        </div>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>

    <div class="venue offset_content dark">
        <div class="inner two_col">

            <div class="sidebar">
                <h2 class="section_title">The Venue(s)</h2>
                <p>Our speakers deserve a beautiful stage from which to present and the Palladium Theatre has long been that stage. We love the venue and think you will too!</p>
            </div>

            <div class="main_col clearfix">
                <h2>The Main Event</h2>
                <h3>The Palladium Theatre in St. Petersburg, Florida</h3> 
                <img src="img/venue.jpg" alt="The Palladium Theatre in St.Petersburg, Florida">
                <p>The Palladium, located in downtown St. Petersburg’s cultural center, is part of what makes Tampa Bay great. It's also where Front End has called home for the past few years.</p>
                <p>With its two venues, the 850-seat main concert hall; Hough Hall, as well as its intimate listening room The Side Door, The Palladium fosters artistically and culturally diverse performing arts, educational and film programs that bring artists and audiences together in a first-class professional, affordable setting.</p>
                <p>You can learn more about the Palladium Theatre by checking out the <a href="http://www.mypalladium.org/">official website.</a></p>
            </div>
            
        </div>
    </div>

    <div class="hotel">
        <!--
        <div class="content clearfix">
       		<h2>Hotel</h2>
            Courtyard St. Petersburg Downtown - $142/night<br />
            <a class="button button_blue" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Front%20End%20Design%20Conference%5Etpasd%60FEDFEDA%7CFEDFEDB%60142.00%60USD%60false%605/20/15%605/22/15%604/29/15&app=resvlink&stop_mobi=yes">Book Your Room</a>
        </div>
        --> 
    </div>    
    

 
