---
layout: layouts/2019.njk
permalink: /2019/speakers/
title: Front-End Conf 2019 Speakers
---

    <div class="section_header offset_content">
        <div class="inner">
            <h2 class="section_title">Speakers</h2>
            <p>The quality of a conference is largely defined by the quality of the presenters. The Front-End Design Conference has always worked hard to find a truly engaging and thoughtful lineup and this year is no different.</p>
            <!--p>
	            <a href="#ethan-marcotte">Ethan Marcotte</a> | <a href="#carl-smith">Carl Smith</a> | <a href="#kuan-luo">Kuan Luo</a> | <a href="#jared-ponchot">Jared Ponchot</a> | <a href="#chris-coyier">Chris Coyier</a> | <a href="#rob-harr">Rob Harr</a> | <a href="#bermon-painter">Bermon Painter</a> | <a href="#mina-markham">Mina Markham</a> | <a href="#tera-simon">Tera Simon</a> | <a href="#tim-smith">Tim Smith</a> | <a href="#ron-edelen">Ron Edelen</a> | <a href="#samantha-warren">Samantha Warren</a> | <a href="#eric-portis">Eric Portis</a> | <a href="#kelly-knight">Kelly Knight</a> | <a href="#munish-dabas">Munish Dabas</a>
            </p -->    
        </div>
    </div>

    <div class="offset_content dark">
        <div class="inner">
	        
	        <h2>Full Lineup Coming ASAP!</h2>
	        
	        <br /><br /><br />
	       
            <ul class="speakers">
                
                <li><a name="carl-smith"></a>
                    <img src="/img/2019/speakers/tone/carl-smith.jpg" alt="Carl Smith" />
                    <h3>Carl Smith</h3>
                    <p>Bureau of Digital<br />
                    <a href="http://twitter.com/carlsmith">@carlsmith</a></p>
                    <p>A theater major who decided to act like he understood business, Carl spent 14 years in advertising before launching his digital agency, nGen Works, in 2003.</p>
                    <p>nGen ran for 12 years, constantly experimenting with different models of management and team structure, including the Jellyfish Model which was flat before flat was cool.</p>
                    <p>Towards the end of nGen’s run, Carl attended the very first Bureau event and fell madly in love with the concept of building community in the web industry. So much so that a few years later he closed nGen to take over the Bureau in 2016. Now Carl spends every day connecting digital professionals to give them the support they need.</p>
                    
                    <h2></h2>
                    <p></p>
                </li>
                
                
                <li><a name="wren_lanier"></a>
                    <img src="/img/2019/speakers/wren_lanier.jpg" alt="Wren Lanier" />
                    <h3>Wren Lanier</h3>
                    <p>Highrise<br />
                    <a href="http://twitter.com/heywren">@heywren</a></p>
                    <p>Wren Lanier leads design and UX at Highrise.</p>
                    <p>Wren is a product designer who loves to work on interesting problems with passionate, cross-functional software teams. </p>

                    <p>With over 12 years of experience making software for the web, she’s helped everyone from new startups to Fortune 500 companies create better, more user-centric products.</p>

                    <p>She lives in Durham, NC with her husband & daughter, where she leads the UX team at Apiture, an API-first digital banking startup.</p>
                    
                    <h2>TALK:Designing Better Features by Solving Better Problems</h2>
                    <p></p>
                </li>
                
                
                <li><a name="amber-stickel"></a>
                    <img src="/img/2019/speakers/amber-stickel.jpg" alt="Amber Stickel" />
                    <h3>Amber Stickel</h3>
                    <p><br />
                    <a href="http://twitter.com/ambling_amber">@ambling_amber</a></p>
                    <p>Amber Stickel is a designer and developer based in Austin, Texas. She currently works as a Design Technologist where she utilizes her multidisciplinary skillset to help define Design Systems at Indeed.</p>

                    <p>Before Indeed, she collaborated with some talented folks at IBM to validate design decisions and guide production implementation through high-fidelity prototypes. She originally got her start in sunny Tampa Bay wearing many hats for local agencies and startups. On second thought, you could probably say her affinity to create countless MySpace themes is where she _really_ got her start.</p>

                    <p>When she's not by her computer, you can find her spending time with her husband (most likely playing Overwatch), eating sushi, or talking about her cats.</p>
                    
                    <h2>The Golden Era of Tools (and Systems)</h2>
                    <p>Once upon a time, when it came to designing a website or web asset, it was often done in tools that weren’t made for the web (we’re looking at you Adobe). We now have more options for tools than ever before tailored to our specific needs as digital product designers and developers, including design systems.</p> 


                    <p>With all of these options at our fingertips, it’s easier than ever to feel overwhelmed about what is the best path to take, especially when you’re trying to build a system that scales. We’ll be talking about some of our favorite tools as designers and developers, how they can increase your collaboration and velocity, and how to evaluate what the best option is for your team.</p>
                </li>
                
                
                <li><a name="andrew-fischler"></a>
                    <img src="/img/2019/speakers/andrew-fischler.jpg" alt="Andrew Fischler" />
                    <h3>Andrew Fischler</h3>
                    <p><br />
                    <a href="http://twitter.com/ajfischler">@ajfischler</a></p>
                    <p>Andrew is a multidisciplinary UX Designer and a founding member of the design system team at Indeed.</p>

                    <p>Starting as a web designer in NJ and NYC, he eventually moved to San Francisco to find new challenges. While working at Redfin he found himself in the gravitation pull of a growing field of “Design Systems”; fascinated by its primary focus of bringing order to chaos at scale.  He went on to bring this interest to Indeed, where the focus on building a design culture was growing exponentially. The opportunities to build, deploy and evangelize their system became a natural progression in his career.</p>

                    <p>When not chained to his desk or deep in thought, you’ll find him spending time with his wife, cat, and dog — all who have more Instagram followers than he does.  He also spends more time than he should watching cartoons (American Dad, et al) or diving into some turf wars in Splatoon 2.</p>
                    
                    <h2>The Golden Era of Tools (and Systems)</h2>
                     <p>Once upon a time, when it came to designing a website or web asset, it was often done in tools that weren’t made for the web (we’re looking at you Adobe). We now have more options for tools than ever before tailored to our specific needs as digital product designers and developers, including design systems.</p> 


                    <p>With all of these options at our fingertips, it’s easier than ever to feel overwhelmed about what is the best path to take, especially when you’re trying to build a system that scales. We’ll be talking about some of our favorite tools as designers and developers, how they can increase your collaboration and velocity, and how to evaluate what the best option is for your team.</p>
                </li>
                
                
                 <li><a name="rob-harr"></a>
                    <img src="/img/2019/speakers/rob-harr.jpg" alt="Rob Harr" />
                    <h3>Rob Harr</h3>
                    <p>Sparkbox<br />
                    <a href="http://twitter.com/robertHarr">@robertHarr</a></p>
                    <p>As Vice President of Sparkbox Rob is responsible for the operations and financials of the company. With a background in software development, Rob is always ready to challenge the development process. On any given day Rob meets with prospective clients, works with employees, and continues to evolve the business of Sparkbox.</p>
                    
                    <h2>Making sure the Juice is Worth the Squeeze.</h2>
                    <p></p>
                </li>
                
                <li><a name="andy-vitale"></a>
                    <img src="/img/2019/speakers/andy-vitale.jpg" alt="Andy Vitale" />
                    <h3>Andy Vitale</h3>
                    <p><br />
                    <a href="http://twitter.com/andyvitale">@andyvitale</a></p>
                    <p>Andy Vitale is the UX Director, Wholesale Banking at SunTrust Bank, one of the nation’s largest financial services companies, where he is focused on translating human insights into actionable experiences to improve the product and service ecosystem within the finance industry. Andy is responsible for leading all user experience efforts for SunTrust’s wholesale banking solutions, advancing design strategies and driving design awareness as a critical function for competitive advantage and market differentiation.</p>

                    <p>Andy holds a Master’s Degree in User Experience Design and has previously held multiple roles as a designer, entrepreneur, education department chair, and design leader. With a proven ability to lead change and process improvements, Andy has developed strategies and design solutions for multiple industries within diverse organizations ranging from startups to Fortune ranked companies. He is a relentless user experience evangelist, with a passion for cognitive thinking and humanizing technology, driven by a user-centered passion that takes cross-functional teams, and their products, from good to great.</p>
 
                    <p>Aside from his primary role at SunTrust, Andy serves as Director of Design Impact for AIGA Minnesota and is an adjunct professor for Kent State University’s User Experience Design graduate program. He is also a member of the UXPA Cleveland Senior Advisory Board and the Program Advisory Committee for the Graphic Design & Interactive Media Program at the University of Wisconsin-Stout. Andy often writes about design and speaks at industry conferences and events.</p>

                    <p>When not untangling complexities or building design teams, Andy is an enthusiast of seasonal victuals, as evident by his social media poses. An avid sneaker collector, fan of lucha libre, and aficionado and curator of all things peculiar, you can get in touch with him to talk design, or other interesting things at <a href="http://www.andyvitale.com">www.andyvitale.com</a></p>

                    
                    <h2>Always Designing: From Designer To Design Leader</h2>
                    <p><strong>Description:</strong><br />
As organizations become more customer-centric, it’s time for designers to grow. Those who have demonstrated value are ready to become leaders and drive change within their organizations. But does leadership mean you have to stop designing? Absolutely not. As a leader, you’ll apply your skills and processes towards solving a new variety of problems, with amplified complexity. These challenges require insight into the organization and how it operates, so you can bring everyone together and solve user needs while also meeting business objectives.</p>

<p>In this presentation, Andy examines the varying landscapes and challenges of being a design leader. You’ll learn how to lead no matter where you are in your career as well as explore practical takeaways for maturing the design function within your organization and understanding your role in making it happen.</p>

<p><strong>Attendees will learn to:</strong><br />

Identify and understand different type of leaders and their traits<br />
Learn how to lead based on experience level and personal growth objectives<br />
Develop empathy for your boss and other leaders in your organization<br />
Understand how the complexity of design problems increases as you continue to advance in your leadership path
</p>

                </li>
                
                
                
                <!--
                
                 <li><a name="kevin-mandeville"></a>
                    <img src="/img/2019/speakers/kevin-mandeville.jpg" alt="Kevin Mandeville" />
                    <h3>Kevin Mandeville</h3>
                    <p>Email Wizard<br />
                    <a href="http://twitter.com/kevinmandeville">@kevinmandeville</a></p>
                    <p>I am an award-winning HTML email designer & developer. I specialize in creating innovative, interactive, and responsive HTML email experiences for subscribers.

Creator of <a href="https://emailtees.com/">EmailTees</a>. Host of <a href="https://www.kevinmandeville.com/show">The Kevin Mandeville Show</a>.</p>
                    
                    <h2>How to build modern emails in 2019</h2>
                    <p></p>
                </li>
                -->
                
                
                
                <li><a name="eric-dodds"></a>
                    <img src="/img/2019/speakers/eric-dodds.jpg" alt="Eric Dodds" />
                    <h3>Eric Dodds</h3>
                    <p><br />
                    <a href="http://twitter.com/ericdodds">@ericdodds</a></p>
                    <p>I work in technology and play in the mountains. I’m passionate about strong coffee, following Christ, being a loving husband and father, and changing companies and lives through the work I do each day. Coffee helps with the last three.

                    <p>I currently run a company called Yield Group, which is a marketing technology company that helps businesses collect, process, analyze and take action the data they need to grow.</p>

                    <p>Before my current adventure started, I co-founded and ran marketing at The Iron Yard, which became the largest in-person code school in the world. Before my journey into the wild west of entrepreneurship, I worked as a marketing strategist and project manager for brands like Best Buy, Double Day, and Colonial Williamsburg.</p>

                    <p>When I’m not at work you’re likely to find me playing with my son, reading, in the woods mountain biking, tinkering in my shop, or delivering flowers for my wife’s business.</p>

                    <p>If you want to know more, keep reading, <a href="https://ericdodds.com/ask">ask me a question</a>, <a href="http://eepurl.com/br-o61">subscribe to this blog via email</a> or <a href="http://twitter.com/ericdodds">follow me on Twitter</a> (warning, I&#8217;m not the most avid tweeter).</p>
                    
                    <h2>Understanding the mechanics of data-driven growth and marketing</h2>
                    <p>Eric Dodds, who has over a decade of experience in digital marketing and growth at all types of companies, will break down the fundamental mechanics of how top growth teams and marketers approach their work. The content will be light on theory and packed full of practical knowledge and examples. A few topics include: the math of sales and marketing funnels, basic acquisition data tagging and reporting and leveraging personas to drive growth. </p>
                </li>
                
                
                <li><a name="jared-ponchot"></a>
                    <img src="/img/2019/speakers/jared-ponchot.jpg" alt="Jared Ponchot" />
                    <h3>Jared Ponchot</h3>
                    <p><br />
                    <a href="http://twitter.com/jponch">@jponch</a></p>
                    <p>Jared is the Creative Director at Lullabot where he helps lead a talented, fully distributed team of strategists, designers and developers. Over the years they've designed and built sites for well-known brands  and institutions like NBC, IBM, This Old House, Syfy, Intel, Harvard, MIT and more. Lullabot’s focus on projects with large editorial teams managing complex content models has helped Jared and his team build unique expertise when it comes to creating design systems that work at scale. Jared loves helping organizations use design thinking to simplify complexity, find focus, build alignment and make great experiences for the audiences they serve.</p>

                    <p>Jared is known as jponch on Drupal.org and on <a href="http://twitter.com/jponch">Twitter</a> and <a href="http://dribbble.com/jponch">Dribbble</a>.</p>
                    
                    <h2>Designing Design Systems</h2>
                    <p></p>
                </li>
                
                
                
                
                <li><a name="bermon-painter"></a>
                    <img src="/img/2019/speakers/bermon-painter.jpg" alt="Bermon Painter" />
                    <h3>Bermon Painter</h3>
                    <p>Innovation & Strategy Lead, EY Digital<br />
                    <a href="http://twitter.com/bermonpainter">@bermonpainter</a></p>
                    <p>Bermon has spent the past 20 years with a focus on product strategy, design, and web development across a handful of industries. In his current role at EY Digital, Bermon leads innovation initiatives that help organizations create holistic experiences, digital products, and services, with an eye towards delivering value to customers. Bermon is also responsible for building out and staffing the EY wavespace™ in Charlotte, a physical innovation space equipped with accelerator programs, co-creation activities, and facilitated design thinking sessions that help teams get in the mindset of approaching challenging problems differently, reinforcing the value of diverse thinking, and creating solutions through rapid prototyping.</p>

                    <p>As the innovation and strategy lead at EY digital, Bermon applies his expertise in experience strategy, design thinking, agile and lean methodologies, and interface design and development. He frequently speaks at conferences and facilitates workshops around the world. In his local community, Bermon organizes and hosts numerous free community events, holds weekly office hours, hosts a quarterly mini-conference called FusionConf, and leads the Charlotte IxDA chapter.</p>

                    <p>Before joining EY, Bermon led various cross-discipline teams that crafted end-to-end enterprise products and services.  His claim to fame is having designed the Sass logo. In his free time, he enjoys drinking a tasty frosted mug of root beer while maniacally twisting his mustache.</p>



                    
                    <h2>Design Thinking – Innovation to Implementation</h2>
                    <p>What is the best way to think through challenging problems, recognize areas for innovation, generate market opportunities, and enrich customer value? Design thinking is a creative problem-solving methodology that helps transform complex problems into valuable opportunities by putting the customers’ needs first. By being people centric, design thinking refocuses our efforts on the customer (internal or external) and offers enormous potential for innovation and competitive advantage in our solutions. 
 

                    <p><h3>In this hands-on workshop you’ll discover:</h3></p>
The fundamentals of the design thinking methodology<br />
The fallacy of innovation<br />
Ways to bring greater collaboration among business, technology, and design teams
Tactical exercises that you can apply to your client projects to get to the root of their challenges to help craft the right solutions to the right problems<br />
Practical methods to integrate design thinking activities into the full development lifecycle<br />
                </li>
                
                <li><a name="michelle-brownstein"></a>
                    <img src="/img/2019/speakers/michelle-brownstein.jpg" alt="Michelle Brownstein" />
                    <h3>Michelle Brownstein</h3>
                    <p>Associate Director of User Experience (UX) at 352 Inc.<br />
                    <a href="https://www.linkedin.com/in/michellebrownsteindezayas/">michellebrownsteindezayas</a></p>
                    <p>I’m the Associate Director of User Experience at 352 Inc., an innovation and growth firm. Though I've worked in the web industry since 2008, I have applied usability principles to everything in my life long before I learned the phrase “user experience.” I've worn many digital hats over the years, from interactive design and coding to UX research, strategy and usability. Backed by a M.S. in psychology, I have helped clients like Wells Fargo, Cummins, 3M, Fifth Third Bank, and Cox Automotive create lasting connections with their customers.</p>
                    
                    <h2>Designing for Real Life</h2>
                    <p>User-centered design is good in theory, but ensuring it's good in practice takes additional effort. We’ll explore some companies who do this well so we can learn from their success.</p>
                </li>
                
                <li><a name="andrea-cannistra"></a>
                    <img src="/img/2019/speakers/andrea-cannistra.jpg" alt="Andrea Cannistra" />
                    <h3>Andrea Cannistra</h3>
                    <p>Product Designer for Gooee<br />
                    <a href="http://twitter.com/acannist">@acannist</a></p>
                    <p>Andrea is a Product Designer for Gooee, located in St. Petersburg, Florida. She was born in Chicago, Illinois and moved to Florida right before high school. She taught herself to code in her early teens and graduated from Ringling College of Art & Design with a degree in Graphic & Interactive Communications. After, she received her Masters degree from Savannah College of Art & Design with a degree in Motion Media Design. She spent 10 years as a designer and front end developer at several digital agencies in Sarasota, Florida before taking on her current role at Gooee. In 2014, she co-founded the Girl Develop It Tampa Bay Chapter where she was a chapter leader and instructor for 4 years teaching women in the community how to code.</p>
                    
                    <h2>Making the Jump from Agency Life to Product Designer</h2>
                    <p>The transition from designing for multiple clients to a more focused and user-centric product designer can be a challenge.</p>

<p>Agency life offers project diversity that is unmatched in the startup world, but with it comes the stress of client meetings, wild time constraints, and the struggle of billable hours. Product Design offers more of work/life balance and the opportunity to spend more time becoming an expert on a specific user for one perfect product.</p>

<p>In this lightning talk, we will hit the high notes on what to know before making the jump from agency life to product designer.</p>
                </li>
                
                
                <li><a name="brad-miller"></a>
                    <img src="/img/2019/speakers/brad-miller.jpg" alt="Brad Miller" />
                    <h3>Brad Miller</h3>
                    <p>VP, Associate Director of New Client Strategy @ 10up<br />
                    <a href="http://twitter.com/imbradmiller">@imbradmiller</a></p>
                    <p>Brad Miller was the co-founder of Lift UX, a design and development agency which was recently acquired by <a href="http://www.10up.com">10up</a>. As part of the acquisition of Lift UX, Brad joined the fantastic team at 10up as the new Vice President & Associate Director, Client Strategy.</p>

<p>He has over 14 years of experience in strategy, user experience design, business management, business development, project management, creative direction, and quality assurance. He has had the pleasure of providing this expertise to some fantastic clients over the years including Disney, Facebook, AMC TV, IFC, Sundance TV, BBC, WE tv, Frito-Lay, Microsoft, Sara Lee, Allergan, HID Global, Chewy.com, GoDaddy, Tenaris and many others. He loves creating user experiences, providing excellent customer service, coaching other entrepreneurs, and building long-lasting relationships.</p>
                    
                    <h2>How to be successful in a remote job and company.</h2>
                    <p>How to be successful in a remote job and company. I ran a company for over 7 years doing a remote work and managing teams. I recently joined an agency going from 10-12 person staff to a 170+ and growing. I have a few things to share and could provide some great feedback on what companies like 10up are looking for in remote workers.</p>
                </li>
                
                 
                <li><a name="adam-kuhn"></a>
                    <img src="/img/2019/speakers/adam-kuhn.jpg" alt="Adam Kuhn" />
                    <h3>Adam Kuhn</h3>
                    <p>konghq.com<br />
                    <a href="http://twitter.com/cobra_winfrey">@cobra_winfrey</a></p>
                    <p>	Front end developer and creative coder hellbent on pushing the boundaries of CSS to the breaking point. Formerly of digital marketing powerhouse Big Sea, I now spend my days handling front end web duties at San Francisco startup Kong Inc and my nights at CodePen building out absurd and (seemingly) useless UI concepts. Organizer of CodePen St. Pete and passionate advocate for web animation. Check him out on Codepen at <a href="https://codepen.io/cobra_winfrey/">codepen.io/cobra_winfrey</a></p>
                    
                    <h2>The Inherent Value of Building Useless Shit</h2>
                    <p>I spend a lot of time writing creative CSS & JS- probably too much (ask my wife). While the value of building out endless variations on animated toggle switches and experimental art with SVG filters appears elusive, it turned out to be a massive boost in landing me a position I never saw coming, receiving an offer without a proper portfolio to speak of. Turns out building banal concepts at CodePen offers much more value than simply a playground to expand concepts and express oneself through coded- potential employers actually spend time carefully considering these creative endeavors. I'd like to share a few demos of said projects and correllate them with the feedback from the recruiting team at Kong to demonstrate the tangible career impact of creative coding.</p>
                </li>
                
                <li><a name="frederick-weiss"></a>
                    <img src="/img/2019/speakers/frederick-weiss.jpg" alt="Frederick Weiss" />
                    <h3>Frederick Weiss</h3>
                    <p>Co-host @ThunderNerds<br />
                    <a href="http://twitter.com/frederickweiss">@frederickweiss</a></p>
                    <p>Creative Director, Product Designer & Dev with over 20 years experience defining, designing & developing strategic solutions. ⚡️ Host on @ThunderNerds</p>
                    
                    <h2>Start a podcast</h2>
                    <p>

1. Why exactly do you want to make a podcast?<br /> 
2. Do you have something to say of value, or do you just want to get your opinions out there?<br />
3. Do you have the time, how often are you going to do this?<br />
4. What equipment do you actually need?<br />
5. Is it as easy as it looks?<br />
6. Shit ppl don't tell you about<br /><br />

We'll touch on points from this video https://youtu.be/XeSwbJzW70g and way more.</p>
                </li>
                
                <li><a name="jenell-pizarro"></a>
                    <img src="/img/2019/speakers/jenell-pizarro.jpg" alt="Jenell Pizarro" />
                    <h3>Jenell Pizarro</h3>
                    <p>Co-host @ThunderNerds<br />
                    <a href="http://twitter.com/nellarro">@nellarro</a></p>
                    <p>Jenell Pizarro is a junior developer and teacher's assistant at Skillcrush. She is an advocate for diversity in tech and is a member of various groups like Lady Developers, a group that champions female developers of all ages. Upon graduation from The Iron Yard, Jenell started Open Code Orlando which seeks to pair senior and junior developers to work on projects together and maintain an open line of communication between juniors and those they look up to as mentors.</p>
                    
                    <h2>Start a podcast</h2>
                    <p></p>
                </li>
                
                <li><a name="brian-hinton"></a>
                    <img src="/img/2019/speakers/brian-hinton.jpg" alt="Brian Hinton" />
                    <h3>Brian Hinton</h3>
                    <p>Co-host @ThunderNerds<br />
                    <a href="http://twitter.com/mrbrianhinton">@mrbrianhinton</a></p>
                    <p>Hello! I’m Brian, a passionate designer with years of experience working with some exciting startups. </p>

<p>I enjoy traveling, and my most recent journey was hiking along the various trails of the Blue Ridge Parkway in North Carolina.</p>

<p>I love to connect with other Designers / Developers. If you are in the Tampa Bay area don't hesitate to reach out to me, and we can get some coffee.</p>
                    
                    <h2>Start a podcast</h2>
                    <p></p>
                </li>
                
                
                 <li><a name="guil-hernandez"></a>
                    <img src="/img/2019/speakers/guil-hernandez.jpg" alt="Guil Hernandez" />
                    <h3>Guil Hernandez</h3>
                    <p>Treehouse<br />
                    <a href="http://twitter.com/guilh">@guilh</a></p>
                    <p>Guil is a senior software development instructor at <a href="https://teamtreehouse.com/guil">Treehouse</a>, an online school that aims to bring affordable technology education to everyone. His focus is on Full Stack JavaScript and Front End Web Development.</p> 

<p>When he's not recording courses or writing about code, you'll find him exploring South Florida with his wife, baby boy, and hyperactive Australian Shepherd.</p>
                    
                    <h2>The Power and Flexibility of CSS Variables</h2>
                    <p>CSS can be immensely repetitive, and maintaining it can be cumbersome. If you're using a CSS preprocessor like Sass, you're already used to declaring variables to store and keep track of values in your stylesheets. Now you can use variables directly in your CSS -- no special processing tools necessary!</p>

<p>CSS variables (custom properties) are a game changer in web development, and there are plenty of differences and advantages to using them over preprocessor variables. In fact, CSS variables offer more flexibility and power than preprocessor variables:</p>
<p>
* They have dynamic capabilities -- you can update values at runtime<br />
* They inherit, cascade and can be scoped to any CSS selector or DOM element<br />
* They make theming components easier than ever<br />
* You can even read/write CSS variable values from your JavaScript!</p>
                </li>
	                
                
                <li><a name="gio"></a>
                    <img src="/img/2019/speakers/gio.jpg" alt="Giovanni DiFeterici" />
                    <h3>Giovanni DiFeterici</h3>
                    <p><a href="https://epiccreature.com/">Epic Creature</a></p>
                    <p>
                    <a href="http://twitter.com/giodif">giodif</a></p>
                    <p>I am a developer, artist and educator who has worked with clients and instututions of all sizes and in many capacities. I've led teams and taught hundreds of students. I like to work on difficult problems that need a creative touch. Game dev, complex software design, animations, websites... you name it, I'd like to help you build it. I am the author of a book about the <a href="https://www.amazon.com/Web-Designers-Roadmap-Giovanni-DiFeterici/dp/0987247859/ref=sr_1_1?s=books&ie=UTF8&qid=1524672383&sr=1-1&keywords=the+web+designers+roadmap">creative process for designing websites</a>.<br /></p>
                    
                    <h2>The Awesomeness that is CSS Animations</h2>
                    <p></p>
                </li>
                
                <li><a name="bryce"></a>
                    <img src="/img/2019/speakers/bryce.jpg" alt="Bryce Bigger" />
                    <h3>Bryce Bigger</h3>
                    <p><a href="https://epiccreature.com/">Epic Creature</a></p>
                    <p>
                    <a href="http://twitter.com/brycebigger">brycebigger</a></p>
                    <p>I've worn many hats over the years, including web designer, creative lead, lead developer, game developer, 3D artist, GIS mapping specialist, instructor, project manager, speaker, and business owner. I've spoken at several design industry conferences, including ConvergeSE, Syntax Conference, and AdobeMAX. I also wrote the book on <a href="https://www.amazon.com/Build-Your-Autonomous-NERF-Blaster/dp/0071802754/ref=sr_1_1?ie=UTF8&qid=1524672254&sr=8-1&keywords=autonomous+nerf+blaster">building an autonomous NERF blaster</a>.<br /></p>
                    
                    <h2>The Awesomeness that is CSS Animations</h2>
                    <p></p>
                </li>
	                
                
                <li><a name="deanschuster"></a>
                    <img src="/img/2019/speakers/deanschuster.jpg" alt="Dean Schuster" />
                    <h3>Dean Schuster</h3>
                    <p><a href="https://truematter.com/"truematter</a></p>
                    <p>
                    <a href="http://twitter.com/ExperienceDean">ExperienceDean</a></p>
                    <p>Founder and partner of truematter, a user experience strategy firm, Dean has been advocating for user-centered digital products his entire career. He oversees truematter’s UX practice, leading strategic engagements for innovative regional organizations as well as the Fortune 100.</p>

                    <p>Dean’s work has always included researching, prototyping, and testing digital products with real users. He regularly speaks, writes, and teaches on experience design, user experience strategy, usability, user research, content strategy, and building UX-focused teams.</p>

                    <p>It’s not all UX all the time (even though it’s close). Dean is also an avid ultra marathoner, reader, and traveler.</p>


                    
                    <h2>Why UI Matters: The Chips and Pickle Story</h2>
                    <p>The smallest interface decisions are enormously important. In fact, they can even mean the difference between life and death. Together, we’ll explore major impact stemming from minor UI blunders. Along the way we’ll encounter jet fighters, nuclear power plants, missile alert systems, and the cash register at Jason’s Deli.</p>

                    <p>If UX decisions are this significant, then our day-to-day work is imbued with great purpose and value. We help businesses save and make serious money. We keep people safe from disaster and yes, even pickles. You hardly need a better reason to get up in the morning.</p>
                </li>
                
                
                
               <li><a name="scott-padgett"></a>
                    <img src="/img/2019/speakers/scott-padgett.jpg" alt="Scott Padgett" />
                    <h3>Scott Padgett</h3>
                    <p>Musical Stylings<br />
                    <a href="http://twitter.com/antiboniver">@antiboniver</a></p>
                    <p>Dr. Scott Padgett is a music writer, producer & archivist dating back to his college days as a program director at WUSC radio in Columbia, SC. He followed that with radio programming & production work in the new frontier of the 'FM underground'.</p>

                    <p>A stint as music editor at the southeast's pioneering alternative newsweekly Osceola Magazine led to becoming the first music writer/columnist at Free Times Magazine. His work appeared in Billboard, the Village Voice, Rolling Stone and practcally every other regional art/political outlet extant through the early nineties.</p>

                    <p>After a stint in radio in Los Angeles & later at Warner Brothers Studios, he returned to the south where he and co-conspirator Steve Gibson vowed to bring live spectrum-spanning music to the masses. Thus was born the legendary Rockafellas music venue and artist management company.</p>

                    <p>Working through Ian Copeland's legendary musical talent booking firm FBI, the likes of Soundgarden, the Red Hot Chili Peppers, Smashing Pumpkins, et. al. were initially exposed to club venues all over the U.S.</p>

                    <p>He is a contributor and social media monitor for semi-important e-music rags as well as several fly-by-night blogs and has a music industry specific twitter account @AntiBonIver which draws on a digest of 104 music news outlets for content.</p>
                    
                    <h2>Sick Tunes...</h2>
                    <p></p>
                </li>
                
                
            </ul>
            
        </div>
    </div>    
    

 
    

 
