---
layout: layouts/2019.njk
permalink: /2019/workshops/
title: Front-End Conf 2019 Workshops
---

    <div class="section_header offset_content">
        <div class="inner">
            <h2 class="section_title">Workshop</h2>  
            <p>Workshops are more in-depth instruction and discussion of topics related to the main event's keynotes.</p>
        </div>
    </div>

    <div class="schedule offset_content dark">
        <div class="inner">

	        
	        
            <div class="day day1">
                <ul>
                    <li class="session session_time">
                        <p class="time">10:00am - 5:00pm **SOLD OUT**</p>
                    </li>
                    <li class="session">
                        <div class="session_header">
                            <a name="bermon-painter"></a>
                            <h5 class="title">Design Thinking – Innovation to Implementation</h5>
                        </div>
                        <h3 class="speaker"><a href="/2019/speakers#bermon-painter">Bermon Painter</a></h3>
                        <div class="description">
                            <p>What is the best way to think through challenging problems, recognize areas for innovation, generate market opportunities, and enrich customer value? Design thinking is a creative problem-solving methodology that helps transform complex problems into valuable opportunities by putting the customers’ needs first. By being people centric, design thinking refocuses our efforts on the customer (internal or external) and offers enormous potential for innovation and competitive advantage in our solutions. </p>
                            
                            <p><h3>In this hands-on workshop you’ll discover:</h3></p>
The fundamentals of the design thinking methodology<br />
The fallacy of innovation<br />
Ways to bring greater collaboration among business, technology, and design teams
Tactical exercises that you can apply to your client projects to get to the root of their challenges to help craft the right solutions to the right problems<br />
                            
                            <p>Located @ <a href="https://suncoast.io/" target="_new">Suncoast Developer's Guild</a></p>
            <p>
	        2220 Central Ave<br />
St. Petersburg, FL, 33712
            </p>
            <p><a href="https://goo.gl/maps/4mS7GYqeRQB2" target="_new">(Google Map)</a></p>
            
                            
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>   
    
   
        
    <div class="venue offset_content">
        <div class="inner">
       		
        </div>
    </div>
    
    

 
 
    

 
