---
layout: layouts/2018.njk
permalink: /2018/
title: Front-End Conf 2018
---


    <header id="site_header" class="offset_content call_to_register ">
        <div class="inner">

                        <div class="logo_container">
                <svg
                    version="1.1"
                    id="logo"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 580 163.3"
                    style="enable-background:new 0 0 576 163.3;"
                    xml:space="preserve">

                    <style type="text/css">
                        .st0{fill:#FF0000;}
                        .st1{fill:#FFFFFF;}
                        .st2{fill:#FF0000;}
                    </style>

                    <g id="bottom">
                        <!-- <path id="k" class="st0" d="M447.6,134.1c-0.1,0-0.3,0-0.4-0.1c-0.4-0.2-0.6-0.5-0.6-0.9v-27.7c0-0.6,0.4-1,1-1h27.7
                            c0.4,0,0.8,0.2,0.9,0.6s0.1,0.8-0.2,1.1l-27.7,27.7C448.1,134,447.8,134.1,447.6,134.1z M448.6,106.4v24.3l24.3-24.3H448.6z"/> -->
                        <path id="j" class="st0" d="M102.5,131.3c-0.1,0-0.3,0-0.4-0.1c-0.4-0.2-0.6-0.5-0.6-0.9V63.7c0-0.6,0.4-1,1-1h66.7
                            c0.4,0,0.8,0.2,0.9,0.6c0.2,0.4,0.1,0.8-0.2,1.1L103.2,131C103,131.2,102.8,131.3,102.5,131.3z M103.5,64.7v63.3l63.3-63.3H103.5z"
                            />
                        <path id="i" class="st0" d="M213.6,96.6h-36.5c-0.4,0-0.8-0.2-0.9-0.6s-0.1-0.8,0.2-1.1l36.5-36.5c0.3-0.3,0.7-0.4,1.1-0.2
                            c0.4,0.2,0.6,0.5,0.6,0.9v36.5C214.6,96.1,214.1,96.6,213.6,96.6z M179.5,94.6h33.1V61.5L179.5,94.6z"/>
                    </g>
                    <g id="fedc">
                        <path id="ff" class="st1" d="M1.9,143.2h42.9c1,0,1.9-0.8,1.9-1.9l0,0V98c0-1,0.8-1.9,1.9-1.9l0,0h15.3c1,0,1.9-0.8,1.9-1.9l0,0
                            V50.9c0-1,0.8-1.9,1.9-1.9l0,0h38.9c1,0,1.9-0.8,1.9-1.9l0,0V13.6c0-1-0.8-1.9-1.9-1.9l0,0H1.9C0.8,11.8,0,12.6,0,13.6l0,0v127.7
                            C0,142.4,0.8,143.2,1.9,143.2z"/>
                        <path id="ee" class="st1" d="M122.6,11.9v129.6c0,1,0.8,1.9,1.9,1.9l0,0H229c1,0,1.9-0.8,1.9-1.9l0,0V108c0-1-0.8-1.9-1.9-1.9l0,0
                            h-38.9c-1,0-1.9-0.8-1.9-1.9l0,0V60.9c0-1-0.8-1.9-1.9-1.9l0,0H171c-1,0-1.9-0.8-1.9-1.9l0,0v-6.2c0-1,0.8-1.9,1.9-1.9l0,0h58
                            c1,0,1.9-0.8,1.9-1.9l0,0V13.8c0-1-0.8-1.9-1.9-1.9l-106.4-0.2V11.9z"/>
                        <path id="dd" class="st1" d="M287.4,11.9h-39.2c-1.2,0-2.2,1-2.2,2.2v127.2c0,1.2,1,2.2,2.2,2.2h39.2c36.4,0,65.8-29.5,65.8-65.8
                            l0,0l0,0C353.2,41.3,323.8,11.9,287.4,11.9L287.4,11.9z"/>
                        <g id="cc">
                            <path class="st1" d="M435.1,70.2l42.6-41.6c0.8-0.8,0.8-2.1-0.1-2.8c-25.4-20.5-62.3-20.5-87.7,0c-0.9,0.7-0.9,2-0.1,2.8
                                l42.6,41.6C433.1,71,434.4,71,435.1,70.2z"/>
                            <path class="st1" d="M383.3,34.9c-0.8-0.8-2.2-0.7-2.9,0.1c-22.4,26.5-20.9,65.8,4.5,90.6s65.6,26.3,92.7,4.4
                                c0.9-0.7,0.9-2,0.1-2.8L383.3,34.9z"/>
                        </g>
                    </g>
                    <g id="ex">
                        <path class="st2" d="M535.4,38.1c-8.2,0-16.3,2.5-23.3,7.4c-1,0.7-1.1,2.2-0.3,3.1L534,70.8c0.4,0.4,0.9,0.6,1.4,0.6s1-0.2,1.4-0.6
                            L559,48.6c0.9-0.9,0.8-2.3-0.3-3.1C551.8,40.5,543.6,38.1,535.4,38.1L535.4,38.1z"/>
                        <path class="st2" d="M566.9,54.5c-0.5,0-1,0.2-1.4,0.5l-22.2,22.2c-0.8,0.8-0.8,2.1,0,2.8l22.2,22.2c0.4,0.4,0.9,0.6,1.4,0.6
                            c0.6,0,1.2-0.3,1.7-0.9c9.9-13.9,9.9-32.7,0-46.6C568.1,54.7,567.5,54.5,566.9,54.5L566.9,54.5z"/>
                        <path class="st2" d="M504,54.4c-0.6,0-1.2,0.3-1.7,0.9c-9.9,13.9-9.9,32.7,0,46.6c0.4,0.6,1,0.8,1.7,0.8c0.5,0,1-0.2,1.4-0.5
                            L527.6,80c0.7-0.7,0.7-2,0-2.8L505.4,55C505,54.6,504.5,54.4,504,54.4L504,54.4z"/>
                        <path class="st2" d="M535.4,85.9c-0.5,0-1,0.2-1.4,0.6l-22.2,22.2c-0.9,0.9-0.8,2.3,0.3,3.1c7,5,15.1,7.4,23.3,7.4
                            s16.3-2.5,23.3-7.4c1-0.7,1.1-2.2,0.3-3.1l-22.2-22.2C536.4,86.1,535.9,85.9,535.4,85.9L535.4,85.9z"/>
                    </g>
                    <g id="top">
                        <path id="h" class="st0" d="M267.8,153.2h-88.7c-0.4,0-0.8-0.2-0.9-0.6c-0.2-0.4-0.1-0.8,0.2-1.1l88.7-88.7
                            c0.3-0.3,0.7-0.4,1.1-0.2c0.4,0.2,0.6,0.5,0.6,0.9v88.7C268.8,152.7,268.4,153.2,267.8,153.2z M181.6,151.2h85.3V65.9L181.6,151.2z
                            "/>
                        <path id="g" class="st0" d="M77.2,135c-0.3,0-0.5-0.1-0.7-0.3L28.8,87c-0.3-0.3-0.4-0.7-0.2-1.1s0.5-0.6,0.9-0.6h47.7
                            c0.6,0,1,0.4,1,1V134c0,0.4-0.2,0.8-0.6,0.9C77.4,135,77.3,135,77.2,135z M31.9,87.3l44.3,44.3V87.3H31.9z"/>
                        <path id="f" class="st0" d="M258.4,54.4c-0.1,0-0.3,0-0.4-0.1c-0.4-0.2-0.6-0.5-0.6-0.9V25.8c0-0.6,0.4-1,1-1h27.7
                            c0.4,0,0.8,0.2,0.9,0.6s0.1,0.8-0.2,1.1l-27.7,27.7C258.9,54.3,258.7,54.4,258.4,54.4z M259.4,26.8V51l24.3-24.3H259.4z"/>
                        <!-- <path id="e_1_" class="st0" d="M118.9,51.4c-0.1,0-0.3,0-0.4-0.1c-0.4-0.2-0.6-0.5-0.6-0.9V22.8c0-0.6,0.4-1,1-1h27.7
                            c0.4,0,0.8,0.2,0.9,0.6s0.1,0.8-0.2,1.1l-27.7,27.7C119.4,51.3,119.2,51.4,118.9,51.4z M119.9,23.8V48l24.3-24.3H119.9z"/> -->
                        <path id="d" class="st0" d="M410.3,90.7h-88.7c-0.6,0-1-0.4-1-1V1c0-0.4,0.2-0.8,0.6-0.9c0.4-0.2,0.8-0.1,1.1,0.2L411,89
                            c0.3,0.3,0.4,0.7,0.2,1.1S410.7,90.7,410.3,90.7z M322.7,88.7h85.3L322.7,3.4V88.7z"/>
                        <path id="c" class="st0" d="M11.7,75.3c-0.1,0-0.3,0-0.4-0.1c-0.4-0.2-0.6-0.5-0.6-0.9V24.7c0-0.6,0.4-1,1-1h49.7
                            c0.4,0,0.8,0.2,0.9,0.6s0.1,0.8-0.2,1.1L12.4,75C12.2,75.2,11.9,75.3,11.7,75.3z M12.7,25.7v46.3l46.3-46.3H12.7z"/>
                        <path id="b" class="st0" d="M421.7,112.3c-0.1,0-0.3,0-0.4-0.1c-0.4-0.2-0.6-0.5-0.6-0.9V44.7c0-0.6,0.4-1,1-1h66.7
                            c0.4,0,0.8,0.2,0.9,0.6c0.2,0.4,0.1,0.8-0.2,1.1L422.4,112C422.2,112.2,421.9,112.3,421.7,112.3z M422.7,45.7v63.3l63.3-63.3H422.7
                            z"/>
                        <path id="l" class="st0" d="M404.3,163.3c-0.3,0-0.5-0.1-0.7-0.3L354,113.4c-0.3-0.3-0.4-0.7-0.2-1.1c0.2-0.4,0.5-0.6,0.9-0.6h49.7
                            c0.6,0,1,0.4,1,1v49.7c0,0.4-0.2,0.8-0.6,0.9C404.6,163.3,404.5,163.3,404.3,163.3z M357.1,113.7l46.3,46.3v-46.3H357.1z"/>
                        <path id="a_1_" class="st0" d="M138.2,75.7c0.3,0,0.5,0.1,0.7,0.3l49.7,49.7c0.3,0.3,0.4,0.7,0.2,1.1c-0.2,0.4-0.5,0.6-0.9,0.6
                            h-49.7c-0.6,0-1-0.4-1-1V76.7c0-0.4,0.2-0.8,0.6-0.9C137.9,75.7,138,75.7,138.2,75.7z M185.4,125.3l-46.3-46.3v46.3H185.4z"/>
                    </g>
                    </svg>
            </div>
            <div class="narrow_col">

                <h2>Celebrating 10 years of FEDC and the incredible community of speakers and attendees that have been with us all the way.</h2>
                <div>
                    <p>St. Petersburg, Florida / <span>April 25<sup>th</sup>-27<sup>th</sup></span> / The Paladium Theatre</p>
                    <a class="btn call_to_action intense" href="#" class="button">REGISTER FOR 2019</a>
                </div>
            </div>
        </div>
    </header>

    <div class="speaker_content offset_content dark">
        <div class="inner two_col">
            <header class="sidebar">
                <h2>An amazing group of world class speakers</h2>
                <p>We are assembling a lineup worthy of FEDC's 10th anniversary. You won't be let down.</p>
                <a class="btn call_to_action" href="/2018/speakers" class="button">FULL SPEAKER LINEUP</a>
            </header>

            <ul class="home_speakers main_col">
                <li>
                    <a href="2018/speakers">
                        <img src="/img/2018/speakers/tone/ethan-marcotte.jpg" alt="Ethan Marcotte" />
                        <span>Ethan Marcotte</span>
                    </a>
                </li>
                <li class="triangle triangle_left">
                    <div></div>
                </li>
                <li>
                    <a href="2018/speakers">
                        <img src="/img/2018/speakers/tone/chris-coyier.jpg" alt="Chris Coyier" />
                        <span>Chris Coyier</span>
                    </a>
                </li>
                <li>
                    <a href="2018/speakers">
                        <img src="/img/2018/speakers/tone/ramya-mahalingam.jpg" alt="Ramya Mahalingam" />
                        <span>Ramya Mahalingam</span>
                    </a>
                </li>
                <li class="triangle triangle_right">
                    <div></div>
                </li>
                <li>
                    <a href="2018/speakers">
                        <img src="/img/2018/speakers/tone/kuan-luo.jpg" alt="Kuan Luo" />
                        <span>Kuan Luo</span>
                    </a>
                <li>
                    <a href="2018/speakers">
                        <img src="/img/2018/speakers/tone/jared-ponchot.jpg" alt="Jared Ponchot" />
                        <span>Jared Ponchot</span>
                    </a>
                </li>
                <li>
                    <a href="2018/speakers">
                        <img src="/img/2018/speakers/tone/mina-markham.jpg" alt="Mina Markham" />
                        <span>Mina Markham</span>
                    </a>
                </li>
                
                
                
                
                
                <!--
                <li class="blank">
                    <div></div>
                </li>
               --> 
                <li class="triangle triangle_top">
                    <div></div>
                </li>
                
                <li>
                    <a href="2018/speakers">
                        <img src="/img/2018/speakers/tone/bermon-painter.jpg" alt="Bermon Painter" />
                        <span>Bermon Painter</span>
                    </a>
                </li>                
                <li>
                    <a href="2018/speakers">
                        <img src="/img/2018/speakers/tone/tera-simon.jpg" alt="Tera Simon" />
                        <span>Tera Simon</span>
                    </a>
                </li>
                
                <li class="triangle triangle_bottom">
                    <div></div>
                </li>
                <li class="blank">
                    <div></div>
                </li>


                <li class="triangle triangle_top">
                    <div></div>
                </li>
                <li>
                    <a href="2018/speakers">
                        <img src="/img/2018/speakers/tone/ron-edelen.jpg" alt="Ron Edelen" />
                        <span>Ron Edelen</span>
                    </a>
                </li>
                <li class="blank">
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
