---
layout: layouts/2018.njk
permalink: /2018/speakers/
title: Front-End Conf 2018 Speakers
---

    <div class="section_header offset_content">
        <div class="inner">
            <h2 class="section_title">Speakers</h2>
            <p>The quality of a conference is largely defined by the quality of the presenters. The Front-End Design Conference has always worked hard to find a truly engaging and thoughtful lineup and this year is no different.</p>
            <p>
	            <a href="#ethan-marcotte">Ethan Marcotte</a> | <a href="#carl-smith">Carl Smith</a> | <a href="#kuan-luo">Kuan Luo</a> | <a href="#jared-ponchot">Jared Ponchot</a> | <a href="#chris-coyier">Chris Coyier</a> | <a href="#rob-harr">Rob Harr</a> | <a href="#bermon-painter">Bermon Painter</a> | <a href="#mina-markham">Mina Markham</a> | <a href="#tera-simon">Tera Simon</a> | <a href="#tim-smith">Tim Smith</a> | <a href="#ron-edelen">Ron Edelen</a> | <a href="#samantha-warren">Samantha Warren</a> | <a href="#eric-portis">Eric Portis</a> | <a href="#kelly-knight">Kelly Knight</a> | <a href="#munish-dabas">Munish Dabas</a>
            </p>    
        </div>
    </div>

    <div class="offset_content dark">
        <div class="inner">
	        
	        
	        
            <ul class="speakers">
                <li><a name="ethan-marcotte"></a>
                    <img src="img/speakers/tone/ethan-marcotte.jpg" alt="Ethan Marcotte" />
                    <h3>Ethan Marcotte</h3>
                    <p>Responsive Web Design<br />
                    <a href="http://twitter.com/beep">@beep</a></p>
                    <p>Ethan Marcotte is an independent designer/developer who is passionate about beautiful design, elegant code, and the intersection of the two. Over the years his clientele has included New York Magazine, the Sundance Film Festival, the Boston Globe, and the W3C.</p>
                    <p>Ethan coined the term “responsive web design” to describe a new way of designing for the ever-changing Web and, if given the chance, will natter on excitedly about it—he even went so far as to write a book on the topic. A popular and experienced speaker, he is also the coauthor of Jeffrey Zeldman’s Designing With Web Standards (3rd Edition), and a contributing writer to Dan Cederholm’s Handcrafted CSS.</p>
                    <p>Ethan lives in Cambridge, Massachusetts, and would like to be an unstoppable robot ninja when he grows up. Beep.</p>
                    
                    
<h2>The Map and The Territory</h2>
<p>When we create for the web, we participate in a kind of public art. We code, we design, we build for an audience, making digital experiences that provide a service, that create joy, or that simply connect readers with words written half a world away. But in this session we’ll revisit what we’ve learned about responsive design, and ensure our content, not just our design, is readily accessible to them wherever they are. In doing so, we’ll look at some ways in which our audience reshapes the way we think about our medium, and see where they might be leading us—and the web—next.</p>
                    
                </li>
                <li><a name="carl-smith"></a>
                    <img src="img/speakers/tone/carl-smith.jpg" alt="Carl Smith" />
                    <h3>Carl Smith</h3>
                    <p>Bureau of Digital<br />
                    <a href="http://twitter.com/carlsmith">@carlsmith</a></p>
                    <p>A theater major who decided to act like he understood business, Carl spent 14 years in advertising before launching his digital agency, nGen Works, in 2003.</p>
                    <p>nGen ran for 12 years, constantly experimenting with different models of management and team structure, including the Jellyfish Model which was flat before flat was cool.</p>
                    <p>Towards the end of nGen’s run, Carl attended the very first Bureau event and fell madly in love with the concept of building community in the web industry. So much so that a few years later he closed nGen to take over the Bureau in 2016. Now Carl spends every day connecting digital professionals to give them the support they need.</p>
                    
                    <h2>Secrets of a Client Whisperer</h2>
                    <p>The following may sound a little too familiar.</p>

 <p>A client seeks you out. They give you thousands of dollars in advance. Then, inexplicably, they do everything in their power to ruin your life and make the project a miserable failure... Or do they? What is it that causes clients to lose faith so quickly?</p>

 <p>In this talk, Carl will walk you through how to nurture blossoming client relationships, run successful client projects, and ultimately become a bona fide client whisperer.</p>

 <p>During this session, Carl will cover:<br />
•Establishing trust with a client<br />
•Setting and maintaining expectations<br />
•Having tough conversations<br />
•Negotiating project conflict<br />
•Utilizing leverage<br />
•Keeping your client and team in sync<br />
•The power of transparency</p>
                </li>
                <li><a name="kuan-luo"></a>
                    <img src="img/speakers/tone/kuan-luo.jpg" alt="Kuan Luo" />
                    <h3>Kuan Luo</h3>
                    <p>Cockroach Labs<br />
                    <a href="http://twitter.com/kuanluo">@kuanluo</a></p>
                    <p>Kuan is passionate about optimizing small design teams to ship ambitious products. She is currently the Director of Design at <a href="https://www.cockroachlabs.com/">Cockroach Labs</a>, maker of the next-generation SQL database CockroachDB. Trained as a journalist and graphic designer, Kuan sees design as an humanistic investigation to tell a meaningful story. Prior to joining the enterprise world, she dabbled in design agencies and ultimately found her home leading in-house design efforts at The Washington Post and Etsy, delivering tools for the best of journalism and e-commerce. Somewhere in between, her startup Grand St. was acquired (by Etsy).</p>
                    
                    
	                    <h2>How to Kick Ass While Wearing Many Hats</h2>
<p>Being the only designer at a company is hard. You wear many hats: designer, product manager, editor, researcher, and occasionally office furniture coordinator. In this webinar, you will learn how to drive prioritization, get useful critique, and leverage your non-designer co-workers... you'll be a powerhouse design team of one in an environment where design is a foreign language.
	                    </p>
                    
                </li>
                <li><a name="jared-ponchot"></a>
                    <img src="img/speakers/tone/jared-ponchot.jpg" alt="Jared Ponchot" />
                    <h3>Jared Ponchot</h3>
                    <p>Lullabot<br />
                    <a href="http://twitter.com/jponch">@jponch</a></p>
                    <p>Jared is the Creative Director at Lullabot where he helps lead a talented, fully distributed team of strategists, designers and developers. Over the years they've designed and built sites for well-known brands  and institutions like NBC, This Old House, Syfy, Intel, Harvard, MIT and more. Lullabot’s focus on projects with large editorial teams managing complex content models has helped Jared and his team build unique expertise when it comes to creating design systems that work at scale. Jared loves helping organizations use design thinking to simplify complexity, find focus, build alignment and make great experiences for the audiences they serve.</p>
                    
                    <h2>Ensuring Value in Our Work</h2>

<p>We live in a world increasingly shaped by big data and a desire to “mathify” all of our decisions, especially design decisions. Never-the-less, as designers we often struggle to both sell and ensure the value of the work we do. In this session we’ll take a look at the ROI of design as well as some practical ways to shape our projects and processes to ensure value in our work.</p>
                </li>
                <li><a name="chris-coyier"></a>
                    <img src="img/speakers/tone/chris-coyier.jpg" alt="Chris Coyier" />
                    <h3>Chris Coyier</h3>
                    <p>Codepen &amp; CSS Tricks<br />
                    <a href="http://twitter.com/chriscoyier">@chriscoyier</a></p>
                    <p>Howdy! I'm a web designer and developer. I built <a href="https://css-tricks.com">CSS-Tricks</a>, a website all about building websites, going strong for 10 years.</p>
                    <p>I'm the co-founder of <a href="https://codepen.io">CodePen</a>, a playground for front-end web development. It’s a social development environment for front end designers and developers.</p>
                    <p>Along with Dave Rupert, I'm the co-host of a podcast called <a href="https://shoptalkshow.com">ShopTalk</a>, a show about (you guessed it), building websites. </p>
                    <p>I've spoken at events and given workshops all over the world. I've also written two books: <a href="https://abookapart.com/products/practical-svg">Practical SVG</a> and <a href="https://digwp.com/book/">Digging Into WordPress</a>.</p>
                    
                    
                    <h2>The All-Powerful Front-End Developer</h2>

<p>Without servers, we'd have no way to share our creations with the world. The internet is, without metaphor, just a bunch of servers tied together with wires. In a bit of a paradox, servers are _less_ essential to our work than they've ever been.  We can now do things on the front end that used to require a back end. When we do need a back end, our front end skills can be put to work, giving us some surprisingly powerful new abilities. Join Chris on a whirlwind tour of the tools, tech, and code that puts more power than ever into our front-end hands.</p>
                    
                    
                </li>
                



                
                <li><a name="rob-harr"></a>
                    <img src="img/speakers/tone/rob-harr.jpg" alt="Rob Harr" />
                    <h3>Rob Harr</h3>
                    <p>Sparkbox<br />
                    <a href="http://twitter.com/robertHarr">@robertHarr</a></p>
                    <p>As Vice President of Sparkbox Rob is responsible for the operations and financials of the company. With a background in software development, Rob is always ready to challenge the development process. On any given day Rob meets with prospective clients, works with employees, and continues to evolve the business of Sparkbox.</p>
                    
                    <h2>Running Awesome Discovery Projects</h2>
                    <p>The largest risk in any digital project is building the wrong thing. Yet you’re expected to define a project scope and provide an estimate after just a few conversations. Then you have to manage to that budget for the life of the project regardless of what else you learn. This is nuts. One of your most important constraints–budget–is defined when you know the least about the project, the beginning. Running digital projects is hard. When expectations are mismanaged (or forced too early) during initial client conversations, running digital projects is nearly impossible. A few conversations and a quick estimate do not provide what you need to build the right thing.</p>

<p>During this talk, we will discuss how you can implement Awesome Discovery Projects to dive into a project with confidence while removing some of the largest risks. You’ll be armed with a thoughtful, scoped roadmap to provide more accurate estimates and be able to correctly set client expectations for the rest of the engagement.</p>
                    
                </li>
                
                
                <li><a name="samantha-warren"></a>
                    <img src="img/speakers/tone/samantha-warren.jpg" alt="Samantha Warren" />
                    <h3>Samantha Warren</h3>
                    <p>Adobe<br />
                    <a href="http://twitter.com/samanthatoy">@samanthatoy</a></p>
                    <p>As the Experience Design Manager for Adobe Stock and Typekit Samantha leads the product design team and vision for Adobe’s creative marketplace. She has been a Design Director for agencies on the East Coast, a product design consultant for startups across Silicon Valley, and a designer at Twitter. She loves the outdoors, painting, mid-century modern furniture, and her cross-eyed cat.</p>
                    
                    <h2>Taking a Design Stretch</h2>
                    <p>Product design can be a delicate balance of iteration and forward thinking innovation. Ideas for the future can come from the craziest places and without concrete illustration few people will be able to follow you to grander places. This is the story of how our product design team decided to take a step back and Design Stretch into developing a longterm vision for our product while keeping the day to day of our product moving forward.</p>
                    <p><a href="https://medium.com/thinking-design/design-stretches-how-teams-at-adobe-innovate-while-they-iterate-95906acd50a3">Related Article: Design Stretches: How Teams at Adobe Innovate While They Iterate</a></p>
                </li>
                
                
                <li><a name="bermon-painter"></a>
                    <img src="img/speakers/tone/bermon-painter.jpg" alt="Bermon Painter" />
                    <h3>Bermon Painter</h3>
                    <p>Cardinal<br />
                    <a href="http://twitter.com/bermonpainter">@bermonpainter</a></p>
                    <p>A rootbeer drinking, cupcake eating, Spanish speaking, piano playing, handlebar mustache wearing designer/developer hybrid living in the glorious city of Charlotte, NC.</p>
                    <p>Bermon is the organizer of various community groups for user experience designers and front-end developers, and the organizer of Blend Conference, a 3-day multi-track event for user experience strategists, designers and developers. He also leads the user experience team for Cardinal Solutions’ Charlotte office where he consults with large enterprise clients on interesting problems across user experience, design and front-end development.</p>
                    <p>In his free time he contributes to http://sass-lang.com/ and is the father of the Sass logo</p>
                    
                    <h2>Rapid Prototyping with Vue.js</h2>
                    <p></p>
                </li>
                
                
                <li><a name="mina-markham"></a>
                    <img src="img/speakers/tone/mina-markham.jpg" alt="Mina Markham" />
                    <h3>Mina Markham</h3>
                    <p>Slack<br />
                    <a href="http://twitter.com/MinaMarkham">@MinaMarkham</a></p>
                    
                    <p><a href="http://mina.codes/">Mina Markham</a> is a front-end architect, CSS junkie and design system enthusiast. She writes code for a living, currently as a Senior Engineer at Slack.</p>
                    <p>Previously at Hillary for America, her work on the Pantsuit pattern library has been spotlighted in WIRED, Fast Company, and Communication Arts.</p> 
                    <p>A prolific public speaker, Mina has appeared at events worldwide, including CSS Dev Conf, Fluent, and Future of Web Design. In addition, she’s the co-organizer of Front Porch, a front-end conference which prides itself on showcasing and fostering new speakers.</p>
                    
                    <h2>Styling Hillary – A Design System for all Americans</h2>
                    <p>A comprehensive design system is a critical tool for maintaining a consistent UI during rapid development that spans multiple codebases.</p>
                    <p>During the 2016 US presidential campaign, Mina spent most of her time building and refining Pantsuit, the design system that powered many of the applications hosted on hillaryclinton.com.</p>
                    <p>In this talk, Mina will share successes and failures from nearly two years at Hillary for America, including creating CSS architecture and implementing a redesign of the main website.</p>
				</li>
                
                
                <li><a name="tera-simon"></a>
                    <img src="img/speakers/tone/tera-simon.jpg" alt="Tera Simon" />
                    <h3>Tera Simon</h3>
                    <p>PointSource<br />
                    <a href="http://twitter.com/tcaldsimon">@tcaldsimon</a></p>
                    
                    <p>Fondly known as a Southern Belle with Yankee flair, Tera Simon works with PointSource, a Globant Company as their Delivery Director. She has over a decade of Project Management experience. Her attention to detail and grasp of usability empower her to see projects evolve on schedule and within scope, while achieving the high level of quality that she is recognized for delivering. Tera has the ability to combine traditional graphic design awareness and new media technologies with classic sensibilities, and apply this not just to her clients' projects, but also to her team.</p>

<p>When she’s not sprinting from meeting to meeting, you can find her supporting local breweries, travelling, and educating anyone that will listen on why football is the greatest sport around.</p>
                    
                    <h2>Generational Misfits - Designing for the next Generation.</h2>

<p>Objective: Move over Xennials and Millennials, the Plurals are here. Gen Z, the post-millennials, and they are the largest and most diverse cohort in U.S. History.  Their normal is the old unconventional and we have to adapt how we design to truly engage this tech-savvy bunch.</p>

<p>I remember the first time an AOL CD-ROM appeared in my parent’s mailbox. It promised me thousands of minutes to connect with others through our computer. A computer, that up until that moment, had been used primarily for solitaire.</p>

<p>I patiently waited for the program to load. Nothing happened. Where was my Internet? I didn’t realize I needed a phone line to connect. I “borrowed” a phone cord from my parents room and figured out how to connect the computer’s modem to the phone jack. For the first time, I heard the strange sound of dial up, and the word “Connected!” appeared. I was online.</p>

<p>Learning to use the web has changed slightly since then. While everything in the past had to be self-taught, we can now get degrees or go to bootcamps to learn all kinds of Internet technology. Indeed, staying abreast of the latest techniques is a must for designers and developers to do their jobs. As part of that education, we need to stay focused on trends within new Generations. GenZ is the first generation who are truly digital natives. They make up 25% of the population, representing how future technology users will navigate the web and expect applications and interfaces to work. By paying attention to how GenZ uses technology, we can both improve the quality of our own work and make future technology more accessible and useful going forward.</p>

<p>What you'll learn:<br />
Understanding what's a Generational Misfit<br />
Who is Gen Z<br />
How does Gen Z use technology<br />
How to design for Gen Z<br />
What to market to Gen Z<br />
What does the future have in store
</p>
                    
				</li>
                
                
                <li><a name="tim-smith"></a>
                    <img src="img/speakers/tone/tim-smith.jpg" alt="Tim Smith" />
                    <h3>Tim Smith</h3>
                    <p>Freelancer<br />
                    <a href="http://twitter.com/smithtimmytim">@smithtimmytim</a></p>
                    
                    <p><a href="https://ttimsmith.com/">Tim Smith</a> is a designer and frontend developer from Saint Paul, MN. He’s worked on the web for a decade, working with different companies and clients. Tim writes The Bold Report, a blog about design, development, technology, and most importantly, Star Wars. When away from his desk, he spends time with his amazing wife Kelly, eating brunch, watching movies, walking the mall, and other sappy-sounding couple stuff.</p>
                    
                    <h2>Let’s Learn CSS Grid</h2>
                    <p>CSS Grid Layout is gaining more browser support everyday! But what is it? How does it work? Why should you use it? And what are some practical ways you can incorporate it into your project? I’ll show you how CSS Grid solves layout problems we’ve had for years, and how it’s a great compliment to the other layout tools we have.</p>
                    
				</li>
                
                
                <li><a name="kelly-knight"></a>
                    <img src="img/speakers/tone/kelly-knight.jpg" alt="Kelly Knight" />
                    <h3>Kelly Knight</h3>
                    <p>Google<br />
                    <!-- a href="http://twitter.com/ronedelen">@ronedelen</a></p -->
                    
                    <p>A UX Engineering lead at Google, Kelly leads a team of front-end specialists focused on providing excellent user experiences through prototyping, education, tools and technical mentorship. She's been coding for the web since 1998 and worked at various companies before joining Google in 2008. In her 10 year journey at Google she's developed tools and workshops utilized across the company. She's known for her advocacy of the value of prototyping and commitment to empowering the UX Engineering community.</p>
                    
                    <h2>UX Engineering @ Google (Co-presenter)</h2>
<p>UX Engineering is a relatively nascent role in our industry, but it's crucial to the product design lifecycle. As creative tinkerers, UXEs rapidly turn concepts into reality through prototyping and develop tools to empower design teams. Learn how this discipline operates at Google, its history, the impact we're making there, and find out if your passions, interests, and skillset make you an ideal fit for this unique role.</p> 
                    
                    
				</li>
                
                
                <li><a name="munish-dabas"></a>
                    <img src="img/speakers/tone/munish-dabas.jpg" alt="Munish Dabas" />
                    <h3>Munish Dabas</h3>
                    <p>Google<br />
                    <a href="http://twitter.com/munishdabas">@munishdabas</a></p>
                    
                    <p>A UX Engineer at Google, Munish applies his user-centric iterative design approach to lead prototyping efforts across Google Maps. Prior to Google he was a product design lead at Amazon, a lead technologist at Sports Illustrated Digital where his work garnered awards from The FWA and AdAge, and an interactive developer at award-winning digital agency Fantasy. He's also an avid educator, having been an adjunct professor of Interactive Design at NYU and Parsons in the past.</p>
                    
                    <h2>UX Engineering @ Google (Co-presenter)</h2>
<p>UX Engineering is a relatively nascent role in our industry, but it's crucial to the product design lifecycle. As creative tinkerers, UXEs rapidly turn concepts into reality through prototyping and develop tools to empower design teams. Learn how this discipline operates at Google, its history, the impact we're making there, and find out if your passions, interests, and skillset make you an ideal fit for this unique role.</p> 
                    
                    
                    
				</li>
                
                
                <li><a name="ron-edelen"></a>
                    <img src="img/speakers/tone/ron-edelen.jpg" alt="Ron Edelen" />
                    <h3>Ron Edelen</h3>
                    <p>MyJive<br />
                    <a href="http://twitter.com/ronedelen">@ronedelen</a></p>
                    
                    <p>Ron is a cofounder of Myjive, a digital agency based out of Charlotte, N.C. He started his career working for motion design studios in Los Angeles, Calif., where he began blending his passion for film, pop culture, fine arts and emerging technology.</p>
                    
                    <h2>The UX of Interactive Virtual & Augmented Reality - Category: UX&Design</h2>
                    <p>
- A "start small" and "rapid prototyping" approach to VR and AR<br />
- 5 best-practices for designing interactivity within an infinite canvas<br />
- We'll show 2 epic failures... so you can walk a different path<br />
- Attendees will get hands-on Oculas Rift demos; trigger open discussion
- Are you ready, player one?
                    </p>
                    
				</li>
                
                
                <li><a name="eric-portis"></a>
                    <img src="img/speakers/tone/eric-portis.jpg" alt="Eric Portis" />
                    <h3>Eric Portis</h3>
                    <p>Cloudinary<br />
                    <!-- a href="http://twitter.com/ronedelen">@ronedelen</a></p -->
                    
                    <p>Eric is a Developer Advocate at Cloudinary where he works to build a better toolset for managing images on the web. He’s also a card-carrying and tee-shirt-wearing member of the Responsive Issues Community Group – a rag-tag band of everyday developers who worked with standards bodies and browser vendors to upgrade the <img> element for the responsive web. He loves learning through teaching and building and lives on an island in the Pacific Northwest.</p>
                    
                    <h2>Lazy and Progressive: Image loading and perceived performance</h2>
                    <p>Like teenagers, web pages go through some jarring transitions as they develop. This talk is about
that awkward time *after* a page’s content and/or layout has loaded, but *before* the images
come in.</p>	

 <p>What can we do to make this time shorter, or, at least *feel* shorter? How can we use it to set
user's expectations, and minimize nasty surprises? And why, sometimes, should we try to
intentionally make this time as *long as possible*, so that images arrive *just in time* rather than
*as soon as possible*?
</p>	
 <p>In this talk, we’ll discuss the code-y hows and UX-y whys of lazy and progressive image loading
on the web.</p>	
               
                
                
            </ul>
            
        </div>
    </div>
    
    

 
    

 