---
layout: layouts/2017.njk
permalink: /2017/
title: Front-End Conf 2017
---

    <div class="section_header call_to_register">
        <h2>A Conference for Web Professionals Who Love their Community, the Web, and Learning.</h2>

        <div>
            <p>St. Petersburg, Florida</br><span>April 19-21<sup>st</sup></span></p>
            <a class="call_to_action" href="https://account.unmatchedstyle.com/register/fedc2017/" class="button">Register Now</a>
        </div>
    </div>
    <div class="content speaker_content">
        <h2>Speakers</h2>
        <ul class="speakers">
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/josh-higgins.jpg" alt="Josh Higgins" />
                    <span>Josh Higgins</span>
                </a>
            </li>
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/ben-callahan.jpg" alt="Ben Callahan" />
                    <span>Ben Callahan</span>
                </a>
            </li>
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/carl-smith.jpg" alt="Carl Smith" />
                    <span>Carl Smith</span>
                </a>
            </li>
            
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/amber-stickel.jpg" alt="Amber Stickel" />
                    <span>Amber Stickel</span>
                </a>
            </li>
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/matt-griffin.jpg" alt="Matt Griffin" />
                    <span>Matt Griffin</span>
                </a>
            </li>
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/megan-zlock.jpg" alt="Megan Zlock" />
                    <span>Megan Zlock</span>
                </a>
            </li>
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/tera-simon.jpg" alt="Tera Simon" />
                    <span>Tera Simon</span>
                </a>
            </li>
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/stephanie-young.jpg" alt="Stefanie Young" />
                    <span>Stefanie Young</span>
                </a>
            </li>
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/anna-stout.jpg" alt="Anna Stout" />
                    <span>Anna Stout</span>
                </a>
            </li>
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/ayumi-bennett.jpg" alt="Ayumi Fukuda Bennett" />
                    <span>Ayumi Fukuda Bennett</span>
                </a>
            </li>
            
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/jenell-pizarro.jpg" alt="Jenell Pizarro" />
                    <span>Jenell Pizarro</span>
                </a>
            </li>
            
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/jed-schneider.jpg" alt="Jed Schneider" />
                    <span>Jed Schneider</span>
                </a>
            </li>
            
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/sergio-cruz.jpg" alt="Sergio Cruz" />
                    <span>Sergio Cruz</span>
                </a>
            </li>
            
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/Ryan-Cromwell.jpg" alt="Ryan Cromwell" />
                    <span>Ryan Cromwell</span>
                </a>
            </li>
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/daniel-flynn.jpg" alt="Daniel Flynn" />
                    <span>Daniel Flynn</span>
                </a>
            </li>
            <li>
                <a href="/2017/speakers">
                    <img src="/img/2017/speakers/jeremy-hedges.jpg" alt="Jeremy Hedges" />
                    <span>Jeremy Hedges</span>
                </a>
            </li>
            
        </ul>
        
        <center>
            <a class="call_to_action" href="/2017/schedule" class="button">Speaker Schedule</a>
        </center>
        
    </div>

