---
layout: layouts/2017.njk
permalink: /2017/schedule/
title: Front-End Conf 2017 Schedule
---
<div class="wrapper schedule">
		
		<!--
        <div class="section_header">
            <h2 class="section_title">Schedule</h2>  
        </div>
        -->

        <ul class="content">
        
        <!--
        <li class="day day1">
                <div class="day_header">
                    <h2 class="date">Full Schedule Coming Soon...</h2>
                </div>
        </li>
        </ul>  
        -->
        
            <li class="day day1">
                <div class="day_header">
                    <h2 class="date">Wednesday 4/19 | Workshops</h2>
                </div>
                <ul>
                    <li class="session">
                        <p>Amazing Workshops: <span class="time"><a href="workshops.php">Check out all the workshop Details Here</a></p>
                    </li>
                    <li class="break">
                        <p><span class="time">7:00pm to 10:00pm</span> The Iron Yard Open House & Kick Off Party for Front End Design Conference <!-- a href="http://www.meetup.com/The-Iron-Yard-Tampa-Bay/events/231742909/">Sign up here, it's FREE</a --></p>
                        <p>
                        	260 1st Ave South, Suite 300, St. Petersburg, FL (<a href="https://www.google.com/maps?f=q&hl=en&q=260+1st+Ave+South,+Suite+300,+Saint+Petersburg,+FL,+us">map</a>)
                        </p>

                        <p>We are located on the third floor of the white, Station House Building. Take the gold elevator on the outside of the building to the third floor. Parking is available at the metered spaces out front or paid parking is available at parking garages.</p>
                    </li>
                </ul>
            </li>

            <li class="day day2">
                <div class="day_header">
                    <h2 class="date">Thursday 4/20 | Main Conference Day 1</h2>
                </div>
                <ul>
                
                    <li class="break">
                        <p><span class="time">8:00am to 9:00am</span> Check in (We'll have coffee & light breakfast food) - Location: The Palladium Theater 253 Fifth Ave. N, St. Petersburg, FL 33701 (<a href="https://goo.gl/maps/RLYqc">Map</a>)</p>
                    </li>
                    
                    <li class="session">
                        <p class="time">Start Up @ 9:00am</p>
                    </li>
					
					
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">State of the Industry Report</h5>
                        </div>
                        <h3 class="speaker">Carl Smith</h3>
                        <div class="description">
                            <p>Every year there are digital agencies that are having their best year ever and holding on as their companies experience rapid growth. At the same time there are shops that are struggling and are convinced that the sky is falling. Yet it never seems to come crashing down.</p>

                            <p><strong>So what’s really going on?</strong></p>

                            <p>That’s what the Bureau set out to find with our end of the year survey which was sent out to hundreds of shops. By asking them questions about their business methodologies, project management philosophy, tech stack, digital product focus and other criteria a picture started to take place.</p>

                            <p>What are the trends across different characteristics of the industry? How did specialists do versus generalists? Were agile shops more successful than waterfall shops? What were the regional trends across North America? Did a shop's approach to billing make a difference in whether they won business?</p>

                            <p>Carl will share the findings of the 2016 Bureau End of Year Survey. Then we can all stop worrying about the sky falling and focus on building great products.</p>
                        </div>
                    </li>


                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Scope Creep - the project killer</h5>
                        </div>
                        <h3 class="speaker">Tera Simon</h3>
                        <div class="description">
                            <p>For those working in technology you will come across a variety of different clients. Some will become your best friends and others you wish you would have never met. It is important to understand how to work with any client type, how to manage their expectations, and know when to tell them no.</p>
                        </div>
                    </li>
                              
					
					
                    <li class="session">    
                        <div class="session_header">
                            <h5 class="title">Web Applications Are Real<br />(and Designing Them Is Hard)</h5>
                        </div>
                        <h3 class="speaker">Matt Griffin</h3>
                        <div class="description">
                            <p>Is there such a thing as a web application? How is it different than a website? We could argue semantics all day, but it can be useful to define a certain category of website as a thing closer to software; a thing that involves more complicated user workflows and functionality.</p> 

<p>Designing for these kinds of task-oriented experiences is quite different than designing informational pages or systems – no matter how large and taxonomically challenging. At Bearded, Matt Griffin and his team have a lot of experience designing responsive web applications, and they’ve developed processes, techniques, and strategies that help them create successful experiences time and again.</p>

<p>In this talk, Bearded founder Matt Griffin will walk you through their approach to web application design, covering topics such as:</p>
<ul>
<li>Initial project research</li>
<li>Stakeholder workshops and consensus-building</li>
<li>A user-centered design approach to feature specification</li>
<li>Designing workflows that work</li>
<li>Creating and testing prototypes</li>
<li>When and how to use a diverse set of deliverables</li>
<li>Keeping projects on track and stakeholders in the loop</li>
</ul>

                        </div>
                    </li>
                   
                    
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Speaker Panel - Talks Recap/Q&amp;A</h5>
						</div>
                        <h3 class="speaker">Previous Speakers</h3>
                        <div class="description">The previous speakers will assemble on-stage for a wrap up discussion and some audience Q&amp;A</div>
                    </li>

                    <li class="break">
                        <p><span class="time">12:00pm</span> Lunch Break (1.5 hours) Enjoy Lunch Around Downtown St. Pete.</p>
                    </li>
                    
                    
                    
                    <li class="session">
                        <p class="time">Start Back Up @ 1:30pm</p>
                    </li>
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">A Return to HTML</h5>
                        </div>
                        <h3 class="speaker">Megan Zlock</h3>
                        <div class="description">
                            <p>In the age of Client-Side Apps and JavaScript dominance, let's take a step back and not forget our bread-and-butter mark-up language: HTML. Good HTML isn't just good for standard's sake; it leads to better SEO, Accessibility, cross-browser development, speech interfaces, content portability, and compatibility with 3rd-party services. Will discuss these benefits as well as touch on microformats and some under-utilized and newer HTML tags.</p>
                        </div>
                    </li>
                                       
                   
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Everything is a prototype</h5>
                        </div>
                        <h3 class="speaker">Amber Stickel</h3>
                        <div class="description">
                            <p>"Everything is a prototype" is something you will commonly hear throughout IBM Design studios. But what exactly does that mean for small teams and tight deadlines?  A common misconception is that prototyping can eat into your final delivery, costing your team valuable time and resources. In fact, it’s the complete opposite. Rapid and iterative design generates quality feedback early and often, all while validating design decisions and shortening the path to final delivery along the way.</p>
<p>In this talk, we will explore the practice and principles behind prototyping for rapid and iterative design, and how using these principals promote team collaboration, shorten delivery, and ultimately lead to a better, more informed design.</p>
                        </div>
                    </li>
                    
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Borrowing from Math Class</h5>
                        </div>
                        <h3 class="speaker">Jed Schneider</h3>
                        <div class="description">
                            <p>How principles of functional programming are informing product development</p>
                        <p>Functional Programming is one of the oldest programming paradigms, but even five years ago it was still considered a niche discipline, but in the last several years it has gained much momentum in all areas of software development. In front end application development, libraries like lodash, React and Redux have driven a strong adoption among JavaScript developers. However, it is not just development that is being fundamentally changed as a result of ‘functional thinking’. Product development is also undergoing a shift in focus and execution as we begin to think in terms of functional principles. What happens when we start thinking in terms of functional principles, and how does it inform product decisions?</p>
                        </div>
                    </li>
                                       
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Speaker Panel - Talks Recap/Q&amp;A</h5>
						</div>
                        <h3 class="speaker">Previous Speakers</h3>
                        <div class="description">The previous speakers will assemble on-stage for a wrap up discussion and some audience Q&amp;A</div>
                    </li>
                
                    <li class="break">
                        <p><span class="time">7:00pm to 9:00pm</span> Conference "Happy Hour" Meetup @ <a href="https://worldofbeer.com/Locations/DowntownStPete">World of Beer St. Pete</a></p>
                    </li>
                </ul>
            </li>
            <li class="day day3">
                <div class="day_header">
                    <h2 class="date">Friday 4/21 | Main Conference Day 2</h2>
                </div>
                <ul>
                
                    <li class="break">
                        <p><span class="time">8:00am to 9:00am</span> Check in (We'll have coffee & light breakfast food) - Location: The Palladium Theater 253 Fifth Ave. N, St. Petersburg, FL 33701 (<a href="https://goo.gl/maps/RLYqc">Map</a>)</p>
                    </li>
                    
                    
                    
                    <li class="session">
                        <p>Start Up @ 9:00am</p>
                    </li>
                    
                    
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Building a Human-Centered Culture</h5>
                        </div>
                        <h3 class="speaker">Ben Callahan</h3>
                        <div class="description">
                            <p>Most of us have learned the hard way that technical projects don’t fail for technical reasons. Politics, egos, misunderstandings ... working with people is a messy business. And yet, every experience we create alongside our human clients is intended to make life a little better for a human user.</p> 
<p>So how do we create an environment where our people can work alongside other people to create exceptional experiences for the people: our users? In this session, Ben will talk about how to holistically develop the people you work with, leading to better retention, better work, and happier teammates and clients.</p>
                        </div>
                    </li>
                                       
                   
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Cut down the work in making websites responsive for mobile</h5>
                        </div>
                        <h3 class="speaker">Stefanie Young</h3>
                        <div class="description">
                            <p>Through CSS, Flexbox and SASS, there are many techniques to cut down the amount of work needed to make a website responsive for mobile. We’ll talk about measurement options outside of the pixel, SEO, using min and max widths to cut down on media queries and discuss using vectors and images well.</p>
<p>This talk is great for those who are just starting to learn CSS or web design, but still helpful to those who have been creating sites for a few years. I try to not push too far into the depth of CSS with this talk but push the audience to think more about their user and their experience across multiple devices.</p>
                        </div>
                    </li>
                    
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Staying Sane (dot) JS</h5>
                        </div>
                        <h3 class="speaker">Sergio Cruz</h3>
                        <div class="description">
                            <p>Some things change very often, others not so much. Libraries come and go, but JavaScript has stayed consistent. In this talk I will highlight techniques used at Code School for teaching and internal development that keeps us sane & safe from rewriting courses every two weeks.</p>

</p>Learn:</p>
<ul>
<li>how to master the JavaScript ecosystem;</li>
<li>how to tune out noise in our industry;</li>
<li>why great development practices will always stay great</li>
</ul>

                        </div>
                    </li>

					                    
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Speaker Panel - Talks Recap/Q&amp;A</h5>
						</div>
                        <h3 class="speaker">Previous Speakers</h3>
                        <div class="description">The previous speakers will assemble on-stage for a wrap up discussion and some audience Q&amp;A</div>
                    </li>
                    
                    
                    
                    <li class="break">
                        <p><span class="time">12:00pm</span> Lunch Break (1.5 hours) Enjoy Lunch Around Downtown St. Pete.</p>
                    </li>
                    
                    <li class="session">
                        <p class="time">Start Back up @ 1:30pm</p>
                    </li>

					<li class="session">
                        <div class="session_header">
                            <h5 class="title">The Junior Developer & You</h5>
                        </div>
                        <h3 class="speaker">Jenell Pizarro</h3>
                        <div class="description">
                            <p>The need for mentorship and outreach for junior developers.</p>
                            <p>How mentoring a junior developer helps you and your company.</p>
                            <p>How long it takes for the average junior developer to get a job, what they can offer, how it affects your company and your community.</p>
                            <p>Hiring for potential, work ethic, and growth as opposed to skill.</p>
                        </div>
                    </li>
                                       
                   
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">TBA</h5>
                        </div>
                        <h3 class="speaker">Anna Stout</h3>
                        <div class="description">
                            <p>...</p>
                        </div>
                    </li>
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Punks Not Dead</h5>
                        </div>
                        <h3 class="speaker">Josh Higgins</h3>
                        <div class="description">
                            <p>From a touring musician on MCA/Universal Records to Design Director for President Obama to a Creative Director at Facebook, I realized that punk influenced my approach during each experience. It fostered independence, confidence and taught me it’s not about me, its about we. This took me decades to figure out but I will try to share in under an hour.</p>
                        </div>
                    </li>

                </ul>
            <li>
        <ul>
    </div>
    



    <!-- <div class="wrapper hero">
        <h3>Food, fun and all the learning that you can pack into a two day conference.</h3>
    </div> -->
   

    <div class="wrapper venue">

        <div class="section_header">
            <h2 class="section_title">The Venue(s)</h2>
            <p>Our speakers deserve a beautiful stage from which to present and the Palladium Theatre has long been that stage. We love the venue and think you will too!</p>
        </div>

        <div class="content clearfix">
        	<h2>The Main Event</h2>
            <h3>The Palladium Theatre in St. Petersburg, Florida</h3> 
            <img src="/img/2017/venue.jpg" alt="The Palladium Theatre in St.Petersburg, Florida">
            <p>The Palladium, located in downtown St. Petersburg’s cultural center, is part of what makes Tampa Bay great. It's also where Front End has called home for the past few years.</p>
            <p>With its two venues, the 850-seat main concert hall; Hough Hall, as well as its intimate listening room The Side Door, The Palladium fosters artistically and culturally diverse performing arts, educational and film programs that bring artists and audiences together in a first-class professional, affordable setting.</p>
            <p>You can learn more about the Palladium Theatre by checking out the <a href="http://www.mypalladium.org/">official website.</a></p>
        </div>
    </div>
    <div class="wrapper hotel">
        
        <!--
        <div class="content clearfix">
       		<h2>Hotel</h2>
            Courtyard St. Petersburg Downtown - $142/night<br />
            <a class="button button_blue" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Front%20End%20Design%20Conference%5Etpasd%60FEDFEDA%7CFEDFEDB%60142.00%60USD%60false%605/20/15%605/22/15%604/29/15&app=resvlink&stop_mobi=yes">Book Your Room</a>
        </div>
        -->
        
    </div>