---
layout: layouts/2017.njk
permalink: /2017/workshops/
title: Front-End Conf 2017 Workshops
---

    <div class="wrapper schedule">
		
		<!--
        <div class="section_header">
            <h2 class="section_title">Workshops</h2>  
        </div>
        -->

        <ul class="content">
                
       
            <li class="day day1">
                <div class="day_header">
                    <h2 class="date">Wednesday 4/19 | Workshops</h2>
                </div>
                <ul>
                    <li class="session">
                        <div class="session_header">
                            
                            <p class="time">9:00am - 4:00pm</p>
                            
                            <h5 class="title">Matt Griffin &amp; Jeremy Hedges<br />Introduction to Usability Testing </h5>
                            
                            <p>(Full Day)</p>
                            
								<p>A successful web product meets not just the needs of your organization, but also the needs of your users. Usability testing – done early and often – is a critical way to check stakeholder and web team assumptions. It bridges the gap between what we expect and what people actually do. Through a hands-on, interactive workshop, Bearded will train your team to:</p>
								<ul>
								<li>Decide at what points in product development to perform testing</li>
								<li>Recruit usability testing participants</li>
								<li>Test remotely vs. in an in-house usability lab</li>
								<li>Decide whether to perform moderated vs. unmoderated testing</li>
								<li>Test on multiple devices</li>
								<li>Create a protocol that is free of bias and gets you the data you need</li>
								<li>Facilitate and record sessions</li>
								<li>Analyze sessions to strategize next-step revisions</li>
								</ul>
                            </p>
                            
                        </div>
                    </li>
                    
                    
                    
                    
                    
                    <li class="session">
                        <div class="session_header">
                            
                            <p class="time">9:00am - 4:00pm</p>
                            
                            <h5 class="title">Daniel Flynn &amp; Ryan Cromwell<br />Build Right: Modern Javascript</h5>
                            
                            <p>(Full Day)</p>
                            
							<p>Whether it’s a website or web app, building with today’s JavaScript ecosystem can appear daunting. Customers, users, and Google demand great performance over finicky mobile networks and smooth experiences across a broadening array of devices, all while the underlying language—JavaScript—continuously evolves. In this workshop, you’ll receive hands-on experience architecting modern JavaScript systems alongside insight into JavaScript’s evolving role on the web.</p>

<p><strong>Modern Javascript Promise</strong></p>

<p>We’ll discuss the role of JavaScript in today’s web as well as the tools powering modern JavaScript development.</p>

<p>Throughout the workshop, we’ll examine some of the features making their way into developers’ hands, enabling a more concise, literate, and safe codebase.</p> 

<strong>Together, we’ll practice:</strong>
<ul>
<li>Javascript Classes</li>
<li>Modules, Babel, and Webpack</li>
<li>Architecting Modern JavaScript Apps and Sites</li>
<li>Patterns for Frontend JavaScript</li>
<li>Isomorphic and Progressive Enhancement</li>
<li>Build Tooling</li>
<li>Repository Organization</li>
</ul>
<strong>Five Questions (that the workshop will answer)</strong>
<ul>
<li>What features are coming to Javascript?</li>
<li>Why should I use these new features?</li>
<li>How can we use these features today?</li>
<li>How do modern Javascript features change how we build applications?</li>
<li>How do we upgrade existing code to use new features?</li>
<li>What do modern Javascript repositories look like?</li>
<li>What is Webpack doing? How does Webpack work? Why should I use Webpack or Babel?</li>
<li>How can we support older browsers while using these new language features?</li>
</ul>
                            </p>
                            
                        </div>
                    </li>
                    
                    
                    <li class="session">
                        <div class="session_header">
                            
                            <p class="time">9:00am - 4:00pm</p>
                            
                            <h5 class="title">Anna Stout &amp; Ayumi Fukuda Bennett<br />Speak: A Soup-to-Nuts Public Speaking Workshop for Women in Tech </h5>
                            
                            <p>(Full Day)</p> <p>THIS IS A FREE WORKSHOP</p>
                            
							<p><i>Presented by Astute.Co and Startup Southerner</i></p>

<p>Did you know that only 25% of speakers at tech events are women? We're changing that.</p>

<p>Have you wondered how speakers at conferences just get up on stage and talk? Do you feel like you don't know enough to be a public speaker?</p>

<p>In this workshop, we will demystify the misconceptions around speaking in public and give you the tools to deliver a conference session with confidence. The key to public speaking isn't about imagining the audience in underwear–It comes down to preparation and support. We're here to increase the number of women speaking at tech conferences by providing both.</p>

<p>Come learn about the specific attributes that make for a memorable presentation. During this one day workshop we'll go over the basics of message construction and delivery. You'll receive practical advice, in-class exercises and more to make you a better, more confident public speaker. After the workshop, we'll keep connected with resources and reminders about upcoming open CFPs.</p>

<p><strong>What to Expect:</strong></p> 
<p>By the end of the workshop, you should expect to have covered the following:</p>
<ul>
<li>Identify key components that make your presenters informative and engaging</li>
<li>Demystify and debunk misconceptions around speaking in public</li>
<li>Outline basics for presentation construction</li>
<li>All the tech needs: slide deck software, must-have cords, etc.</li>
<li>And more!</li>
</ul>
<p>At the end of the workshop, attendees will leave with everything they need to submit a CFP, including:</p>
<ul>
<li>Topic(s)</li>
<li>Description</li>
<li>a short bio</li>
<li>headshot</li>
<li>brief speaking sample video</li>
<li>Resources on upcoming conferences accepting CFPs</li>
</ul>
                            
                        </div>
                    </li>                   
                   
                   
                                       
                    
                    <li class="session">
	                    <div class="session_header">
	                        <p class="time">7:00pm to 10:00pm</p>
	                        <h5 class="title">Welcome/Kick-off Party</h5>
	                        <p>
	                        <strong>Location:</strong> The Iron Yard 260 1st Ave S (Suite 300) St Petersburg, FL 33701 (<a href="https://goo.gl/maps/WIyrm">Map</a>)
	                        </p>
	                    </div>
                    </li>
                </ul>
            </li>
        <ul>
    </div>
    
   
    <div class="wrapper venue">
        <div class="content clearfix">
       		<h2>Workshops Venue</h2>
            <h3>The Iron Yard St. Petersburg Campus</h3> 
            <img src="img/tiy-stpete.jpg" alt="The Iron Yard St. Petersburg Campus">
            <p>The Iron Yard Academy teaches intensive, three-month courses that mentor you into a professional junior-level programmer. Our program goes far beyond tactical skills and teaches you to think like a software engineer. Programming is a lifelong study, and our process shows you to learn how to learn so you remain highly valuable for the rest of your career.</p>
            <p>Learn more about The Iron Yard Academy from their <a href="http://theironyard.com/academy/">official website.</a></p>
        </div>
    </div>
    
    

 

      
    

 
