@font-face {
  font-family: "ChunkFiveFF";
  src: url('/public/styles/fonts/Chunkfive-webfont.eot');
  src: url('/public/styles/fonts/Chunkfive-webfont.eot?#iefix') format("embedded-opentype"), url('/public/styles/fonts/Chunkfive-webfont.woff') format("woff"), url('/public/styles/fonts/Chunkfive-webfont.ttf') format("truetype"), url('/public/styles/fonts/Chunkfive-webfont.svg#ChunkFive') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url('/public/styles/fonts/MuseoSans_300-webfont.eot');
  src: url('/public/styles/fonts/MuseoSans_300-webfont.eot?#iefix') format("embedded-opentype"), url('/public/styles/fonts/MuseoSans_300-webfont.woff') format("woff"), url('/public/styles/fonts/MuseoSans_300-webfont.ttf') format("truetype"), url('/public/styles/fonts/MuseoSans_300-webfont.svg#MuseoSans') format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IcoMoon";
  src: url('/public/styles/fonts/icomoon.eot');
  src: url('/public/styles/fonts/icomoon.eot?#iefix') format("embedded-opentype"), url('/public/styles/fonts/icomoon.woff') format("woff"), url('/public/styles/fonts/icomoon.ttf') format("truetype"), url('/public/styles/fonts/icomoon.svg#IcoMoon') format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 46, sass/_settings.sass */
[data-icon]:before {
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-family: "icomoon";
  font-weight: normal;
  line-height: 1;
  position: relative;
  top: 0.1em;
  speak: none;
}

/* line 61, sass/_settings.sass */
.logo-carbon {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -1714px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-custom-bags-hq {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -1171px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-doctype-tv {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -323px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-expressionengine {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -959px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-freshbooks {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -535px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-fuel {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 0;
  height: 106px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-github {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -853px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-grooveshark {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -1489px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-invision {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -641px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-javi-fick {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -1926px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-less-films {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -225px;
  height: 84px;
  width: 200px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-lessaccounting {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -747px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-offscreen {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -1277px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-pixelmator {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -119px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-relevance {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -1595px;
  height: 106px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-shopify {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -1383px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-stickermule {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -1820px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-threadbird {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -429px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 61, sass/_settings.sass */
.logo-wufoo {
  display: inline-block;
  background-image: url('/public/images/sponsors-sadeb9b56bd.png');
  background-position: 0 -1065px;
  height: 93px;
  width: 160px;
  -webkit-background-size: 200px auto;
  -moz-background-size: 200px auto;
  -o-background-size: 200px auto;
  background-size: 200px auto;
}

/* line 82, sass/_settings.sass */
.list-inline, .sponsor-list, .presentation, .tweet, .schedule > li, header,
footer {
  zoom: 1;
}
/* line 84, sass/_settings.sass */
.list-inline:before, .sponsor-list:before, .presentation:before, .tweet:before, .schedule > li:before, header:before,
footer:before, .list-inline:after, .sponsor-list:after, .presentation:after, .tweet:after, .schedule > li:after, header:after,
footer:after {
  content: "";
  display: table;
}
/* line 88, sass/_settings.sass */
.list-inline:after, .sponsor-list:after, .presentation:after, .tweet:after, .schedule > li:after, header:after,
footer:after {
  clear: both;
}

/* line 1, sass/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 9, sass/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* line 12, sass/_reset.sass */
body {
  line-height: 1;
}

/* line 15, sass/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 18, sass/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 22, sass/_reset.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 27, sass/_reset.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 31, sass/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 35, sass/_reset.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, sass/_base.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, sass/_base.sass */
html {
  background: #fefefe;
}

/* line 11, sass/_base.sass */
body {
  color: #333333;
  font-family: "Museo Sans", "MuseoSans", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}
@media (min-width: 768px) {
  /* line 11, sass/_base.sass */
  body {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  /* line 11, sass/_base.sass */
  body {
    font-size: 16px;
  }
}

/* line 24, sass/_base.sass */
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.fake-and:after,
.h4,
.h5 {
  color: #b51f24;
  font-family: "ChunkFive", "ChunkFiveFF", Georgia, sans-serif;
}

/* line 37, sass/_base.sass */
h1,
.h1 {
  border-bottom: 1px solid #f9f9f9;
  font-size: 2em;
  margin: 1em 0 0.5em 0;
  text-align: center;
}
@media (min-width: 1024px) {
  /* line 37, sass/_base.sass */
  h1,
  .h1 {
    font-size: 7em;
    margin: 0;
  }
}

/* line 47, sass/_base.sass */
h2,
.h2 {
  border-bottom: 1px solid #f9f9f9;
  font-size: 1.5em;
  margin: 2em 0 0.5em 0;
  text-align: center;
  text-shadow: 1px 1px 0 white;
}
@media (min-width: 1024px) {
  /* line 47, sass/_base.sass */
  h2,
  .h2 {
    font-size: 4em;
    margin: 1em 0 0.5em 0;
  }
}

/* line 58, sass/_base.sass */
h3,
.h3,
.fake-and:after {
  border-bottom: 1px solid #f9f9f9;
  color: #888888;
  font-size: 1.25em;
  margin: 2em 0 0.5em 0;
}
@media (min-width: 768px) {
  /* line 58, sass/_base.sass */
  h3,
  .h3,
  .fake-and:after {
    font-size: 1.75em;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  /* line 58, sass/_base.sass */
  h3,
  .h3,
  .fake-and:after {
    font-size: 3em;
  }
}

/* line 70, sass/_base.sass */
h4,
.h4 {
  color: #333333;
  font-size: 1.2em;
  line-height: 1.2;
}
@media (min-width: 768px) {
  /* line 70, sass/_base.sass */
  h4,
  .h4 {
    font-size: 1.5em;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  /* line 70, sass/_base.sass */
  h4,
  .h4 {
    font-size: 2.25em;
  }
}
/* line 80, sass/_base.sass */
h4 + p,
.h4 + p {
  margin-top: 0.25em;
}

/* line 83, sass/_base.sass */
h5,
.h5 {
  color: #333333;
  font-size: 1.1em;
}

/* line 88, sass/_base.sass */
p {
  margin: 0.5em 0;
}
/* line 90, sass/_base.sass */
p + p {
  margin-top: 1.5em;
}

/* line 95, sass/_base.sass */
a {
  color: #b51f24;
  text-decoration: none;
}
/* line 98, sass/_base.sass */
a:hover, a:focus {
  color: #e2585c;
}

/* line 102, sass/_base.sass */
strong {
  font-weight: bold;
}

/* line 105, sass/_base.sass */
img,
svg,
iframe {
  max-width: 100%;
}

/* line 112, sass/_base.sass */
.inner {
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
}

/* line 120, sass/_base.sass */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 130, sass/_base.sass */
.list-inline li {
  float: left;
}

/* line 133, sass/_base.sass */
.list-bulleted {
  list-style: disc;
}
/* line 135, sass/_base.sass */
.list-bulleted li {
  margin-left: 1.5em;
}

/* line 138, sass/_base.sass */
.list-numbered {
  list-style: decimal;
}
/* line 140, sass/_base.sass */
.list-numbered li {
  margin-left: 1.5em;
}

/* line 144, sass/_base.sass */
.list-spaced li + li {
  margin-top: 1em;
}

/* line 7, sass/_home.sass */
.home header {
  border-bottom: 1px solid white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}
@media (min-width: 1024px) {
  /* line 7, sass/_home.sass */
  .home header {
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
  }
}
/* line 15, sass/_home.sass */
.home h1,
.home h2,
.home h3,
.home .h1,
.home .h2,
.home .h3,
.home .fake-and:after {
  border: none;
}
/* line 23, sass/_home.sass */
.home h2,
.home .h2,
.home h3,
.home .h3,
.home .fake-and:after,
.home p > span {
  line-height: 1.05;
}
/* line 30, sass/_home.sass */
.home h2 > span,
.home h3 > span,
.home p > span {
  display: block;
}
/* line 35, sass/_home.sass */
.home h2 > .fit-08 {
  color: #888888;
}
/* line 38, sass/_home.sass */
.home .fit-009 {
  margin: 0;
}
/* line 41, sass/_home.sass */
.home .fit-045 {
  margin-top: 1em;
}
/* line 45, sass/_home.sass */
.home .florida .h3, .home .florida .fake-and:after {
  position: relative;
  top: 5.5em;
}
@media (min-width: 768px) {
  /* line 45, sass/_home.sass */
  .home .florida .h3, .home .florida .fake-and:after {
    top: 3.5em;
  }
}
@media (min-width: 1250px) {
  /* line 45, sass/_home.sass */
  .home .florida .h3, .home .florida .fake-and:after {
    top: 4.5em;
  }
}
/* line 52, sass/_home.sass */
.home .florida img {
  margin-top: -1.75em;
}
/* line 55, sass/_home.sass */
.home .mission {
  color: #595959;
  line-height: 1.3;
  margin: 0 0 1.75em 0;
}
@media (min-width: 768px) {
  /* line 55, sass/_home.sass */
  .home .mission {
    margin-top: 0.5em;
  }
}
/* line 63, sass/_home.sass */
.home .counts .h3, .home .counts .fake-and:after {
  margin-top: -1em;
}
@media (min-width: 768px) {
  /* line 63, sass/_home.sass */
  .home .counts .h3, .home .counts .fake-and:after {
    margin-top: 1em;
  }
}
/* line 68, sass/_home.sass */
.home .workshop,
.home .tickets {
  text-align: center;
}
/* line 73, sass/_home.sass */
.home .tickets .h2 {
  margin: 0.5em 0 0 0;
}
/* line 75, sass/_home.sass */
.home .tickets .h3, .home .tickets .fake-and:after {
  margin: -0.5em 0 0 0;
}
/* line 78, sass/_home.sass */
.home .btn {
  margin-bottom: 3em;
}
/* line 81, sass/_home.sass */
.home .btn.btn-alt {
  display: block;
  font-size: 0.75em;
  margin: 1em auto;
  position: relative;
  top: -0.5em;
}
@media (min-width: 480px) {
  /* line 81, sass/_home.sass */
  .home .btn.btn-alt {
    display: inline-block;
    font-size: 0.4em;
    margin: 0 0 1em;
    top: -0.7em;
  }
}
/* line 93, sass/_home.sass */
.home .attendees-2013 {
  display: none;
  margin: 5em 0;
}
/* line 96, sass/_home.sass */
.home .attendees-2013 + .btn {
  margin: 3em 0;
}
/* line 98, sass/_home.sass */
.home .attendees-2013.is--visible {
  display: block;
}
/* line 101, sass/_home.sass */
.home .is--invisible {
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  font-size: 0;
  visibility: hidden;
}

/* line 109, sass/_home.sass */
.stage {
  margin-bottom: 4em;
  position: relative;
  width: 100%;
}
/* line 113, sass/_home.sass */
.stage .bg-stage {
  display: block;
  width: 100%;
}
/* line 116, sass/_home.sass */
.stage .stage-character {
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  bottom: 9%;
  cursor: pointer;
  left: 0;
  position: absolute;
  width: 10%;
  z-index: 1;
}
/* line 124, sass/_home.sass */
.stage .stage-character:nth-child(3) {
  left: 10%;
}
/* line 126, sass/_home.sass */
.stage .stage-character:nth-child(5) {
  left: 20%;
}
/* line 128, sass/_home.sass */
.stage .stage-character:nth-child(7) {
  left: auto;
  right: 30%;
}
/* line 131, sass/_home.sass */
.stage .stage-character:nth-child(9) {
  left: auto;
  right: 20%;
}
/* line 134, sass/_home.sass */
.stage .stage-character:nth-child(11) {
  left: auto;
  right: 10%;
}
/* line 137, sass/_home.sass */
.stage .stage-character:nth-child(11).is--active {
  right: 20%;
}
/* line 139, sass/_home.sass */
.stage .stage-character:nth-child(13) {
  left: auto;
  right: 0;
}
/* line 142, sass/_home.sass */
.stage .stage-character:nth-child(13).is--active {
  right: 18%;
}
/* line 144, sass/_home.sass */
.stage .stage-character.is--active {
  bottom: 17%;
  left: 27%;
  width: 36%;
  z-index: 0;
}
/* line 149, sass/_home.sass */
.stage .stage-character.is--active:nth-child(5) {
  left: 30%;
}
/* line 151, sass/_home.sass */
.stage .stage-character.is--active:nth-child(7) {
  left: auto;
  right: 32%;
}
/* line 154, sass/_home.sass */
.stage .stage-character.is--active:nth-child(9) {
  left: auto;
  right: 35%;
}
/* line 157, sass/_home.sass */
.stage .stage-character.is--active:nth-child(11), .stage .stage-character.is--active:nth-child(13) {
  left: auto;
  right: 34%;
}
@media (min-width: 768px) {
  /* line 144, sass/_home.sass */
  .stage .stage-character.is--active {
    left: 29%;
  }
}
/* line 163, sass/_home.sass */
.stage .stage-info {
  color: white;
  font-size: 0;
  left: 19%;
  position: absolute;
  text-align: left;
  text-shadow: none;
  top: 20%;
  width: 60%;
}
/* line 172, sass/_home.sass */
.stage .stage-info span {
  float: right;
}
/* line 174, sass/_home.sass */
.stage .stage-info a {
  color: #f2bd38;
  font-size: 0;
  position: absolute;
  top: -2em;
}
/* line 179, sass/_home.sass */
.stage .stage-info a:hover {
  color: #f5ca60;
}
/* line 181, sass/_home.sass */
.stage .stage-info .icn-before, .stage .stage-info .stage-link:before, .stage .stage-info .stage-twitter:before {
  -webkit-font-smoothing: antialiased;
  font-family: "IcoMoon";
  font-style: normal;
  font-weight: normal;
  margin-right: 0.25em;
  line-height: 1;
  position: relative;
  speak: none;
  top: 0.15em;
}
/* line 191, sass/_home.sass */
.stage .stage-info .stage-link {
  left: 0;
}
/* line 193, sass/_home.sass */
.stage .stage-info .stage-link:before {
  content: "b";
}
/* line 196, sass/_home.sass */
.stage .stage-info .stage-twitter {
  right: 0;
}
/* line 198, sass/_home.sass */
.stage .stage-info .stage-twitter:before {
  content: "t";
}
/* line 201, sass/_home.sass */
.stage .stage-info.is--active {
  -webkit-transition: font-size 250ms linear;
  -moz-transition: font-size 250ms linear;
  -o-transition: font-size 250ms linear;
  transition: font-size 250ms linear;
  font-size: 18px;
}
/* line 204, sass/_home.sass */
.stage .stage-info.is--active:nth-child(4) {
  left: 5%;
  width: 80%;
}
/* line 207, sass/_home.sass */
.stage .stage-info.is--active:nth-child(10) {
  left: 15%;
  width: 70%;
}
/* line 210, sass/_home.sass */
.stage .stage-info.is--active:nth-child(14) {
  left: 13%;
}
/* line 212, sass/_home.sass */
.stage .stage-info.is--active a {
  -webkit-transition: font-size 250ms linear;
  -moz-transition: font-size 250ms linear;
  -o-transition: font-size 250ms linear;
  transition: font-size 250ms linear;
  font-size: 6px;
}
@media (min-width: 768px) {
  /* line 201, sass/_home.sass */
  .stage .stage-info.is--active {
    font-size: 42px;
    left: 18%;
    top: 23%;
    width: 65%;
  }
  /* line 220, sass/_home.sass */
  .stage .stage-info.is--active:nth-child(2) {
    left: 23%;
    width: 55%;
  }
  /* line 223, sass/_home.sass */
  .stage .stage-info.is--active:nth-child(4) {
    left: 9%;
    width: 75%;
  }
  /* line 226, sass/_home.sass */
  .stage .stage-info.is--active:nth-child(10) {
    left: 18%;
    width: 63%;
  }
  /* line 229, sass/_home.sass */
  .stage .stage-info.is--active:nth-child(8) {
    left: 18%;
    width: 54%;
  }
  /* line 232, sass/_home.sass */
  .stage .stage-info.is--active:nth-child(6) {
    left: 23%;
    width: 54%;
  }
  /* line 235, sass/_home.sass */
  .stage .stage-info.is--active:nth-child(14) {
    left: 15%;
    width: 54%;
  }
  /* line 238, sass/_home.sass */
  .stage .stage-info.is--active a {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  /* line 201, sass/_home.sass */
  .stage .stage-info.is--active {
    font-size: 48px;
  }
  /* line 242, sass/_home.sass */
  .stage .stage-info.is--active a {
    font-size: 16px;
  }
}
@media (min-width: 1240px) {
  /* line 201, sass/_home.sass */
  .stage .stage-info.is--active {
    font-size: 60px;
  }
  /* line 246, sass/_home.sass */
  .stage .stage-info.is--active a {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  /* line 201, sass/_home.sass */
  .stage .stage-info.is--active {
    font-size: 80px;
  }
  /* line 250, sass/_home.sass */
  .stage .stage-info.is--active a {
    font-size: 22px;
  }
}

/* line 253, sass/_home.sass */
.fake-and {
  position: relative;
}

/* line 255, sass/_home.sass */
.fake-and:after {
  color: #888888;
  content: "&";
  display: block;
  margin-top: 1.5em;
}
@media (min-width: 768px) {
  /* line 255, sass/_home.sass */
  .fake-and:after {
    margin-left: 1em;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 1.25em;
  }
}
@media (min-width: 1024px) {
  /* line 255, sass/_home.sass */
  .fake-and:after {
    top: 2.75em;
  }
}

/* line 9, sass/_prev-events.sass */
.sponsor-list p {
  max-width: 180px;
  text-align: left;
}
/* line 12, sass/_prev-events.sass */
.sponsor-list li {
  margin-bottom: 4em;
  text-align: center;
  vertical-align: top;
}
/* line 16, sass/_prev-events.sass */
.sponsor-list li p {
  margin: 0 auto;
}
@media (min-width: 480px) {
  /* line 12, sass/_prev-events.sass */
  .sponsor-list li {
    display: inline-block;
    width: 49%;
  }
}
@media (min-width: 680px) {
  /* line 12, sass/_prev-events.sass */
  .sponsor-list li {
    width: 32%;
  }
}
@media (min-width: 960px) {
  /* line 12, sass/_prev-events.sass */
  .sponsor-list li {
    width: 24%;
  }
}

/* line 31, sass/_prev-events.sass */
.past-speaker {
  margin-bottom: 2em;
  max-width: 360px;
  padding: 2em 0;
  text-align: left;
  vertical-align: top;
}
/* line 37, sass/_prev-events.sass */
.past-speaker img,
.past-speaker object {
  display: inline-block;
  width: 49%;
}
/* line 41, sass/_prev-events.sass */
.past-speaker h4 {
  font-size: 1.8em;
}
/* line 43, sass/_prev-events.sass */
.past-speaker h5 {
  font-family: "Museo Sans", "MuseoSans", Helvetica, sans-serif;
  font-size: 1.2em;
}
/* line 46, sass/_prev-events.sass */
.past-speaker a {
  font-size: 1.1em;
}
/* line 48, sass/_prev-events.sass */
.past-speaker i {
  color: #c7c7c7;
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
}
/* line 53, sass/_prev-events.sass */
.past-speaker .block-to-inline li {
  margin: 0.35em 0;
}
@media (min-width: 370px) {
  /* line 53, sass/_prev-events.sass */
  .past-speaker .block-to-inline li {
    display: block;
  }
}
@media (min-width: 850px) {
  /* line 53, sass/_prev-events.sass */
  .past-speaker .block-to-inline li {
    display: inline-block;
  }
  /* line 61, sass/_prev-events.sass */
  .past-speaker .block-to-inline li + li {
    margin-left: 2em;
  }
}
@media (min-width: 480px) {
  /* line 31, sass/_prev-events.sass */
  .past-speaker {
    display: inline-block;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  /* line 31, sass/_prev-events.sass */
  .past-speaker {
    width: 45%;
  }
  /* line 69, sass/_prev-events.sass */
  .past-speaker:nth-child(even) {
    margin-left: 8%;
  }
}
@media (min-width: 1200px) {
  /* line 31, sass/_prev-events.sass */
  .past-speaker {
    display: inline-block;
    padding: 1em 0;
  }
  /* line 75, sass/_prev-events.sass */
  .past-speaker h5 {
    font-size: 1.1em;
  }
  /* line 77, sass/_prev-events.sass */
  .past-speaker a {
    font-size: 0.95em;
  }
  /* line 79, sass/_prev-events.sass */
  .past-speaker:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media (min-width: 1300px) {
  /* line 84, sass/_prev-events.sass */
  .past-speaker:nth-child(3n+2) {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (min-width: 1400px) {
  /* line 89, sass/_prev-events.sass */
  .past-speaker:nth-child(3n+2) {
    margin-left: 9%;
    margin-right: 9%;
  }
}

/* line 93, sass/_prev-events.sass */
.no-slides {
  width: 100%;
}

/* line 98, sass/_prev-events.sass */
.past-2012 {
  margin-top: 3em;
}
/* line 100, sass/_prev-events.sass */
.past-2012 img {
  height: 180px;
  margin: 2em auto;
}
@media (min-width: 768px) {
  /* line 104, sass/_prev-events.sass */
  .past-2012 h3 {
    font-size: 1.75em;
  }
  /* line 107, sass/_prev-events.sass */
  .past-2012 .block-to-half:first-child {
    padding-right: 4em;
  }
  /* line 109, sass/_prev-events.sass */
  .past-2012 .block-to-half:last-child {
    padding-left: 4em;
  }
}
@media (min-width: 1024px) {
  /* line 112, sass/_prev-events.sass */
  .past-2012 h3 {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  /* line 115, sass/_prev-events.sass */
  .past-2012 img {
    height: 465px;
  }
}

/* line 123, sass/_prev-events.sass */
.prev-2011 .dan,
.prev-2010 .dan,
.prev-2009 .dan {
  max-height: 190px;
}
@media (min-width: 768px) {
  /* line 123, sass/_prev-events.sass */
  .prev-2011 .dan,
  .prev-2010 .dan,
  .prev-2009 .dan {
    max-height: 380px;
  }
}
/* line 128, sass/_prev-events.sass */
.prev-2011 aside h3,
.prev-2010 aside h3,
.prev-2009 aside h3 {
  margin-bottom: 1em;
}

/* line 132, sass/_prev-events.sass */
.prev-2009 h5 {
  margin-top: 1.25em;
}

/* line 7, sass/_presentation.sass */
.presentation h1 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
/* line 10, sass/_presentation.sass */
.presentation h1.long-title {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
@media (min-width: 768px) {
  /* line 7, sass/_presentation.sass */
  .presentation h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 1024px) {
  /* line 7, sass/_presentation.sass */
  .presentation h1 {
    font-size: 4em;
  }
}
/* line 18, sass/_presentation.sass */
.presentation h4 {
  font-size: 2em;
  margin: 0.25em 0;
}
/* line 21, sass/_presentation.sass */
.presentation aside {
  background: #f9f9f9;
  padding: 2em;
}
/* line 24, sass/_presentation.sass */
.presentation aside img {
  display: inline-block;
  width: 48%;
}
@media (min-width: 1024px) {
  /* line 29, sass/_presentation.sass */
  .presentation .iframe {
    float: left;
    width: 65% !important;
  }
  /* line 32, sass/_presentation.sass */
  .presentation aside {
    float: right;
    width: 30%;
  }
}

/* line 39, sass/_presentation.sass */
.tweets > li {
  margin-bottom: 2em;
  vertical-align: top;
}
@media (min-width: 600px) and (max-width: 1023px) {
  /* line 39, sass/_presentation.sass */
  .tweets > li {
    display: inline-block;
    width: 45%;
  }
  /* line 45, sass/_presentation.sass */
  .tweets > li:nth-child(even) {
    margin-left: 8%;
  }
}
@media (min-width: 1024px) {
  /* line 39, sass/_presentation.sass */
  .tweets > li {
    display: inline-block;
    width: 30%;
  }
  /* line 50, sass/_presentation.sass */
  .tweets > li:nth-child(3n+2) {
    margin: 0 3%;
  }
}

/* line 53, sass/_presentation.sass */
.tweet {
  padding-left: 68px;
}

/* line 57, sass/_presentation.sass */
.tw-profile {
  float: left;
  margin-left: -68px;
  width: 58px;
}
/* line 61, sass/_presentation.sass */
.tw-profile a {
  display: inline-block;
}
/* line 63, sass/_presentation.sass */
.tw-profile img {
  border: 5px solid #f9f9f9;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.1);
}

/* line 67, sass/_presentation.sass */
.tw-tweet {
  background: #f9f9f9;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.1);
  font-size: 0.8em;
  padding: 0.75em;
  position: relative;
  text-shadow: 1px 1px 0 white;
  width: 100%;
}
/* line 76, sass/_presentation.sass */
.tw-tweet:before {
  border-top: 12px solid transparent;
  border-right: 10px solid rgba(17, 17, 17, 0.05);
  border-bottom: 12px solid transparent;
  content: "";
  height: 0;
  left: -0.75em;
  position: absolute;
  top: 13px;
  width: 0;
}
/* line 86, sass/_presentation.sass */
.tw-tweet:after {
  border-top: 12px solid transparent;
  border-right: 10px solid #f9f9f9;
  border-bottom: 12px solid transparent;
  content: "";
  height: 0;
  left: -0.75em;
  position: absolute;
  top: 10px;
  width: 0;
}

/* line 1, sass/_nav.sass */
nav {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: left 250ms linear;
  -moz-transition: left 250ms linear;
  -o-transition: left 250ms linear;
  transition: left 250ms linear;
  background: #f9f9f9;
  position: fixed;
  height: 100%;
  left: 100%;
  padding-top: 4em;
  top: 0;
  z-index: 2;
  width: 40%;
}
@media (min-width: 768px) {
  /* line 1, sass/_nav.sass */
  nav {
    width: 20%;
  }
}
@media (min-width: 1024px) {
  /* line 1, sass/_nav.sass */
  nav {
    width: 15%;
  }
}
/* line 16, sass/_nav.sass */
nav a {
  -webkit-transition: opacity 750ms linear;
  -moz-transition: opacity 750ms linear;
  -o-transition: opacity 750ms linear;
  transition: opacity 750ms linear;
  border-bottom: 1px solid #f1f1f1;
  color: #b51f24;
  display: block;
  padding: 0.75em 1em;
  text-align: center;
}
/* line 23, sass/_nav.sass */
nav a + a {
  border-top: 1px solid white;
}
/* line 25, sass/_nav.sass */
nav a:hover {
  background: #b51f24;
  color: white;
}
/* line 28, sass/_nav.sass */
nav a:hover.current {
  background: none;
  color: #b51f24;
  cursor: normal;
}
/* line 32, sass/_nav.sass */
nav a.current {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  cursor: normal;
}
/* line 35, sass/_nav.sass */
nav a.sub {
  font-size: 0.8em;
  padding-right: 2em;
}
/* line 38, sass/_nav.sass */
nav.is--active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  left: 60%;
}
@media (min-width: 768px) {
  /* line 38, sass/_nav.sass */
  nav.is--active {
    left: 80%;
  }
}
@media (min-width: 1024px) {
  /* line 38, sass/_nav.sass */
  nav.is--active {
    left: 85%;
  }
}

/* line 45, sass/_nav.sass */
.nav--trigger {
  -webkit-transition: all 260ms linear;
  -moz-transition: all 260ms linear;
  -o-transition: all 260ms linear;
  transition: all 260ms linear;
  height: 64px;
  padding-top: 13px;
  position: absolute;
  right: 0;
  text-align: center;
  top: -0.25em;
  width: 2em;
  z-index: 3;
}
/* line 55, sass/_nav.sass */
.nav--trigger.is--active {
  position: fixed;
  right: 40%;
  top: -0.25em;
}
@media (min-width: 768px) {
  /* line 55, sass/_nav.sass */
  .nav--trigger.is--active {
    right: 20%;
  }
}
@media (min-width: 1024px) {
  /* line 55, sass/_nav.sass */
  .nav--trigger.is--active {
    right: 15%;
  }
}

/* line 6, sass/_registration.sass */
.registration i {
  color: #e9e9e9;
}

/* line 11, sass/_registration.sass */
.price {
  color: #333333;
  display: block;
  font-size: 6em;
  line-height: 1;
  margin: 0.25em 0 0.1em;
}

/* line 20, sass/_registration.sass */
.workshop-character {
  display: inline-block;
  width: 100px;
}
@media (min-width: 768px) {
  /* line 20, sass/_registration.sass */
  .workshop-character {
    width: 140px;
  }
}
@media (min-width: 1024px) {
  /* line 20, sass/_registration.sass */
  .workshop-character {
    width: 156px;
  }
  /* line 28, sass/_registration.sass */
  .workshop-character + .workshop-character {
    margin-left: 1em;
  }
}

/* line 32, sass/_registration.sass */
.meet-ups i {
  display: block;
  font-size: 87px;
  line-height: 1;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 32, sass/_registration.sass */
  .meet-ups i {
    font-size: 127px;
  }
}
@media (min-width: 1024px) {
  /* line 32, sass/_registration.sass */
  .meet-ups i {
    font-size: 143px;
  }
}

/* line 44, sass/_registration.sass */
h3.schedule,
h3.locations,
h3.speakers {
  margin: 1em 0 0.5em 0;
}

/* line 50, sass/_registration.sass */
.schedule > li {
  background: #f9f9f9;
  margin: 0.5em 0;
}
/* line 54, sass/_registration.sass */
.schedule p,
.schedule img {
  float: left;
  margin: 0;
  vertical-align: middle;
}
/* line 59, sass/_registration.sass */
.schedule p {
  padding: 0 0 0.5em 0.5em;
}
@media (min-width: 768px) {
  /* line 59, sass/_registration.sass */
  .schedule p {
    padding: 0 0 0 0.5em;
  }
  /* line 63, sass/_registration.sass */
  .schedule p:last-child {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  /* line 66, sass/_registration.sass */
  .schedule p:last-child {
    width: 57%;
  }
}
/* line 68, sass/_registration.sass */
.schedule p + p {
  padding: 0;
}
/* line 70, sass/_registration.sass */
.schedule img {
  height: 51px;
}
/* line 72, sass/_registration.sass */
.schedule .h2 {
  font-size: 1.5em;
}
/* line 74, sass/_registration.sass */
.schedule .h4 {
  font-size: 1.2em;
  line-height: 51px;
  margin-left: 0;
}
@media (min-width: 768px) {
  /* line 74, sass/_registration.sass */
  .schedule .h4 {
    margin-left: 0.25em;
  }
}
/* line 80, sass/_registration.sass */
.schedule .h5 {
  display: block;
}
/* line 82, sass/_registration.sass */
.schedule .time {
  height: 51px;
  line-height: 51px;
  min-width: 150px;
}
@media (min-width: 850px) {
  /* line 82, sass/_registration.sass */
  .schedule .time {
    background: #f1f1f1;
  }
}
@media (min-width: 1024px) {
  /* line 82, sass/_registration.sass */
  .schedule .time {
    min-width: 170px;
  }
}

/* line 91, sass/_registration.sass */
ol.schedule {
  margin-bottom: 2em;
}
/* line 93, sass/_registration.sass */
ol.schedule + .h4 {
  margin-bottom: 1em;
}

/* line 99, sass/_registration.sass */
.locations ul {
  margin-bottom: 3em;
}

/* line 106, sass/_registration.sass */
.places h4 {
  margin-top: 3em;
}
/* line 108, sass/_registration.sass */
.places a {
  display: block;
}
/* line 110, sass/_registration.sass */
.places li {
  display: inline-block;
  margin: 1em 0 1em;
  vertical-align: top;
}
@media (min-width: 768px) {
  /* line 110, sass/_registration.sass */
  .places li {
    width: 30%;
  }
  /* line 116, sass/_registration.sass */
  .places li:nth-child(3n+2), .places li:nth-child(3n+3) {
    margin-left: 4%;
  }
}

/* line 122, sass/_registration.sass */
h3.day-two {
  border-bottom: none;
  margin: -0.5em 0 0 0;
  text-align: center;
}

/* line 128, sass/_registration.sass */
.day-two h4 {
  margin-top: 1em;
  padding-left: 1em;
}
/* line 131, sass/_registration.sass */
.day-two i {
  color: #e9e9e9;
  margin-left: -1em;
}
@media (min-width: 768px) {
  /* line 135, sass/_registration.sass */
  .day-two p {
    padding-left: 1.75em;
  }
}
@media (min-width: 1024px) {
  /* line 138, sass/_registration.sass */
  .day-two p {
    padding-left: 3em;
  }
}
/* line 140, sass/_registration.sass */
.day-two .h5 {
  margin-top: 2em;
  padding-left: 0;
}

/* line 7, sass/_modules.sass */
.btn {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #b51f24;
  border: 1px solid #89181b;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 4px 0 #89181b;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "ChunkFive", "ChunkFiveFF", Georgia, sans-serif;
  font-size: 1.5em;
  line-height: 1;
  padding: 0.9em 1.5em 0.75em;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px 0 #89181b;
}
/* line 24, sass/_modules.sass */
.btn:hover {
  background: #a41c21;
  color: white;
}
/* line 27, sass/_modules.sass */
.btn:active {
  background: #a41c21;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 2px 0 #89181b;
  position: relative;
  top: 2px;
}
/* line 32, sass/_modules.sass */
.btn.btn-alt {
  background: #67b11b;
  border: 1px solid #6cba1c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 4px 0 #34590d;
  text-shadow: -1px -1px 0 #4d8514;
}
/* line 37, sass/_modules.sass */
.btn.btn-alt:hover {
  background: #5d9f18;
}

/* line 43, sass/_modules.sass */
.video-wrapper {
  background: #f9f9f9;
  text-align: center;
}
/* line 46, sass/_modules.sass */
.video-wrapper .inner {
  max-width: 900px;
}

@media (min-width: 768px) {
  /* line 51, sass/_modules.sass */
  .block-to-half {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
  /* line 56, sass/_modules.sass */
  .block-to-half.solo {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  /* line 61, sass/_modules.sass */
  .block-to-one-third {
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }
}

@media (min-width: 768px) {
  /* line 67, sass/_modules.sass */
  .block-to-two-thirds {
    display: inline-block;
    vertical-align: top;
    width: 66%;
  }
}

@media (min-width: 370px) {
  /* line 75, sass/_modules.sass */
  .block-to-inline {
    margin-top: 0.5em;
  }
  /* line 78, sass/_modules.sass */
  .block-to-inline li {
    display: inline-block;
  }
  /* line 80, sass/_modules.sass */
  .block-to-inline li + li {
    margin-left: 2em;
  }
}

/* line 85, sass/_modules.sass */
.center-to-left {
  text-align: center;
}
@media (min-width: 768px) {
  /* line 85, sass/_modules.sass */
  .center-to-left {
    text-align: left;
  }
}

/* line 93, sass/_modules.sass */
.wrapper--thirds .block-to-one-third + .block-to-one-third {
  margin-top: 2em;
}
@media (min-width: 768px) {
  /* line 96, sass/_modules.sass */
  .wrapper--thirds .block-to-one-third {
    width: 30%;
  }
  /* line 98, sass/_modules.sass */
  .wrapper--thirds .block-to-one-third + .block-to-one-third {
    margin: 0 0 0 2%;
  }
}
@media (min-width: 768px) and (min-width: 855px) {
  /* line 101, sass/_modules.sass */
  .wrapper--thirds .block-to-one-third + .block-to-one-third {
    margin-left: 4%;
  }
}

/* line 106, sass/_modules.sass */
.wrapper--halves .block-to-half:last-child {
  margin-top: 2em;
}
@media (min-width: 768px) {
  /* line 110, sass/_modules.sass */
  .wrapper--halves .block-to-half:first-child {
    padding-right: 3em;
  }
  /* line 112, sass/_modules.sass */
  .wrapper--halves .block-to-half:last-child {
    margin-top: 0;
    padding-left: 3em;
  }
}

@media (min-width: 768px) {
  /* line 118, sass/_modules.sass */
  .wrapper--two-thirds-third .block-to-one-third {
    padding-left: 2em;
  }
}
@media (min-width: 1024px) {
  /* line 121, sass/_modules.sass */
  .wrapper--two-thirds-third .block-to-one-third {
    padding-left: 3em;
  }
}
@media (min-width: 1200px) {
  /* line 124, sass/_modules.sass */
  .wrapper--two-thirds-third .block-to-one-third {
    padding-left: 4em;
  }
}

/* line 127, sass/_modules.sass */
.space-top {
  margin-top: 1em;
}

/* line 9, sass/_attendee.sass */
.attendees {
  text-align: center;
}

/* line 12, sass/_attendee.sass */
.attendee {
  border: 1px solid #f1f1f1;
  border-radius: 0.5em;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.02);
  display: inline-block;
  margin: 1em;
  width: 220px;
  padding: 1em 0 0 0;
  vertical-align: top;
}

/* line 22, sass/_attendee.sass */
.attendee-avatar {
  background: white;
  float: none;
  height: 100px;
  margin: 0 auto;
  padding: 0.25em;
  width: 100px;
}

/* line 30, sass/_attendee.sass */
.attendee-year {
  background: whitesmoke;
  border-radius: 0 0 0.5em 0.5em;
  font-size: 0.75em;
  margin-top: 0.5em;
  padding: 0.5em 0;
  width: 100%;
}
/* line 37, sass/_attendee.sass */
.attendeeFirst .attendee-year {
  background: #c1dbd9;
  color: #4c847f;
}
/* line 40, sass/_attendee.sass */
.attendeeSecond .attendee-year {
  background: #ced6e2;
  color: #556c8f;
}
/* line 43, sass/_attendee.sass */
.attendeeThird .attendee-year {
  background: #aeaeae;
  color: white;
}
/* line 46, sass/_attendee.sass */
.attendeeFourth .attendee-year {
  background: #111111;
  color: white;
}
/* line 49, sass/_attendee.sass */
.attendeeFifth .attendee-year {
  background: #b51f24;
  color: white;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2);
}

/* line 54, sass/_attendee.sass */
.attendee-name {
  font-family: "ChunkFive", "ChunkFiveFF", Georgia, sans-serif;
  font-size: 1.2em;
  margin: 0.5em 0 0 0;
  position: relative;
  text-align: center;
  z-index: 10;
}
/* line 61, sass/_attendee.sass */
.attendeeFirst .attendee-name {
  color: #4c847f;
}
/* line 63, sass/_attendee.sass */
.attendeeSecond .attendee-name {
  color: #556c8f;
}
/* line 65, sass/_attendee.sass */
.attendeeThird .attendee-name {
  color: #aeaeae;
}
/* line 67, sass/_attendee.sass */
.attendeeFourth .attendee-name {
  color: #111111;
}
/* line 69, sass/_attendee.sass */
.attendeeFifth .attendee-name {
  color: #b51f24;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.2);
}

/* line 73, sass/_attendee.sass */
.attendee-name,
.attendee-company,
.attendee-title {
  padding: 0 1em;
}

/* line 78, sass/_attendee.sass */
.attendee-title {
  font-size: 0.875em;
}

/* line 81, sass/_attendee.sass */
.attendee-company {
  color: #999999;
  font-size: 0.875em;
}

/* line 85, sass/_attendee.sass */
.attendee-twitter,
.attendee-github,
.attendee-dribbble,
.attendee-codepen,
.attendee-website {
  display: inline-block;
  margin: 0.5em 5px 0.5em 0;
  vertical-align: top;
}
/* line 93, sass/_attendee.sass */
.attendee-twitter i,
.attendee-github i,
.attendee-dribbble i,
.attendee-codepen i,
.attendee-website i {
  display: inline-block;
}
/* line 96, sass/_attendee.sass */
.attendee-twitter:hover i,
.attendee-github:hover i,
.attendee-dribbble:hover i,
.attendee-codepen:hover i,
.attendee-website:hover i {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 100, sass/_attendee.sass */
.attendee-codepen a {
  display: block;
  height: 16px;
  position: relative;
  top: 2px;
  width: 16px;
}
@media (min-width: 1200px) {
  /* line 100, sass/_attendee.sass */
  .attendee-codepen a {
    top: 3px;
    width: 18px;
  }
}

/* line 110, sass/_attendee.sass */
.attendee-twitter i {
  color: #1dadeb;
}

/* line 112, sass/_attendee.sass */
.attendee-github i {
  color: black;
}

/* line 114, sass/_attendee.sass */
.attendee-dribbble i {
  color: #cc3a70;
}

/* line 116, sass/_attendee.sass */
.attendee-website i {
  color: #d8d9d5;
  color-padding: 38px 0 0 100px;
  color-width: 150px;
}
/* line 121, sass/_attendee.sass */
.attendee-website i .attendee-name {
  font-size: 1.2em;
  margin: 0.25em 0 0 0;
}

/* line 5, sass/_inbox.sass */
sup {
  font-family: "Museo Sans", "MuseoSans", Helvetica, sans-serif;
  font-size: smaller;
  position: relative;
  top: 2px;
  vertical-align: super;
}

/* line 12, sass/_inbox.sass */
.contact {
  margin: 0.5em auto;
  color: #999999;
}
/* line 15, sass/_inbox.sass */
.contact i {
  background: #222222;
  border: 1px solid #444444;
  border-radius: 15px;
  color: white;
  display: inline-block;
  height: 30px;
  padding-top: 3px;
  width: 30px;
}
/* line 24, sass/_inbox.sass */
.contact a {
  margin-left: 0.25em;
}
/* line 27, sass/_inbox.sass */
.contact a:hover i {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 30, sass/_inbox.sass */
.pricing .btn {
  margin: 1em auto;
}

/* line 33, sass/_inbox.sass */
.soon {
  margin: 1.25em 0 0 0;
}

/* line 36, sass/_inbox.sass */
.workshop {
  max-width: 960px;
}
/* line 38, sass/_inbox.sass */
.workshop h4 {
  margin: 1em 0 0.25em;
}
/* line 40, sass/_inbox.sass */
.workshop .cta {
  margin: 3em 0 0 0;
}
/* line 42, sass/_inbox.sass */
.workshop .cta h5 {
  margin-top: 1em;
}

/* line 45, sass/_inbox.sass */
.sites > div {
  background: #f9f9f9;
  padding: 1em;
}

/* line 49, sass/_inbox.sass */
.show-title {
  margin: 1em auto 0.5em;
}

/* line 52, sass/_inbox.sass */
.h3.workshop, .workshop.fake-and:after {
  margin: 0.5em auto;
}

/* line 22, sass/app.sass */
header,
footer {
  background: #f9f9f9;
  padding: 0.5em 1em;
}

/* line 28, sass/app.sass */
header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
@media (min-width: 768px) {
  /* line 28, sass/app.sass */
  header {
    position: static;
  }
}
/* line 37, sass/app.sass */
header i {
  cursor: pointer;
  color: #aeaeae;
  float: right;
  font-size: 1.5em;
  margin-top: 0.25em;
}

/* line 44, sass/app.sass */
.logo {
  color: #b51f24;
  cursor: pointer;
  float: left;
  font-family: "ChunkFive", "ChunkFiveFF", Georgia, sans-serif;
  font-size: 24px;
  text-shadow: 0 1px 1px white;
}
/* line 51, sass/app.sass */
.logo span {
  color: #aeaeae;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-top: -0.75em;
  text-transform: lowercase;
}

/* line 61, sass/app.sass */
main {
  padding-top: 4em;
}
/* line 63, sass/app.sass */
.home main {
  padding-top: 0;
}
@media (min-width: 768px) {
  /* line 61, sass/app.sass */
  main {
    padding-top: 0;
  }
}

/* line 70, sass/app.sass */
footer {
  background: #333333;
  margin-top: 2em;
  padding-top: 1em;
  text-align: center;
}
/* line 75, sass/app.sass */
footer li {
  display: inline-block;
}
/* line 78, sass/app.sass */
footer li + li:before {
  content: "-";
  color: #bababa;
  margin: 0 0.5em;
}
/* line 82, sass/app.sass */
footer a {
  color: white;
}

/* line 85, sass/app.sass */
.mixture {
  color: #999999;
  display: inline-block;
  margin-bottom: 1em;
  text-align: center;
  vertical-align: middle;
}
/* line 91, sass/app.sass */
.mixture img {
  display: inline-block;
  margin: 0 0 0 0.5em;
  position: relative;
  top: 10px;
  width: 32px;
}

/* line 100, sass/app.sass */
.center-group {
  text-align: center;
}

/* line 103, sass/app.sass */
.coming-soon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 106, sass/app.sass */
.temp {
  color: white;
  display: block;
  font-family: "ChunkFive", "ChunkFiveFF", Georgia, sans-serif;
  left: 0;
  line-height: 1;
  margin: 0.5em auto 0 auto !important;
  padding: 0 20%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

/* line 119, sass/app.sass */
.sub-title {
  text-align: center;
  margin: -1em 0 1em 0;
}

/* line 123, sass/app.sass */
.dark-sub-title {
  color: #333333;
}

/* line 126, sass/app.sass */
.holy-shit-pay-attention-to-me {
  background: rgba(255, 229, 69, 0.6);
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
}
/* line 131, sass/app.sass */
#hotels + .holy-shit-pay-attention-to-me {
  margin-bottom: 1em;
}

/* line 135, sass/app.sass */
.sold-out h3 {
  margin-top: 0.5em;
}
/* line 137, sass/app.sass */
.sold-out h3 + p {
  margin-top: -1em;
}
