/*
Error: No files were found in the load path matching "sponsors/*.png". Your current load paths are: /Users/dandenney/Documents/repos/dandenney/front-end-conf/compass/public/images
        on line 55 of /Users/dandenney/Documents/repos/dandenney/front-end-conf/public/styles/sass/_settings.sass
        from line 3 of /Users/dandenney/Documents/repos/dandenney/front-end-conf/public/styles/sass/app.sass

50:   display: inline-block
51:   font-family: $font-highlight
52:   font-size: 36px
53:   margin-bottom: 0.25em
54:   text-shadow: 0 1px 1px #fff
55:   span
56:     color: scale-color($color-feature, $lightness: -30%)
57:     display: block
58:     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
59:     font-size: 23px
60:     margin-top: -.75em

Backtrace:
/Users/dandenney/Documents/repos/dandenney/front-end-conf/public/styles/sass/_settings.sass:55
/Users/dandenney/Documents/repos/dandenney/front-end-conf/public/styles/sass/app.sass:3
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/sprite_importer.rb:89:in `files'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/sass_extensions/sprites/sprite_map.rb:19:in `from_uri'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/sass_extensions/functions/sprites.rb:78:in `sprite_map'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/script/tree/funcall.rb:140:in `_perform'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/script/tree/node.rb:50:in `perform'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:450:in `visit_variable'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `block in with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:115:in `with_frame'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:308:in `block (2 levels) in visit_import'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:308:in `map'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:308:in `block in visit_import'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:88:in `block in with_import'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:115:in `with_frame'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:88:in `with_import'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:305:in `visit_import'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `block in with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:115:in `with_frame'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/stack.rb:79:in `with_base'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/tree/root_node.rb:20:in `render'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/engine.rb:268:in `render'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/plugin/compiler.rb:486:in `update_stylesheet'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/plugin/compiler.rb:208:in `each'
/Applications/Mixture.app/Contents/Resources/gems/sass/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/bin/compass:30:in `block in <main>'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/bin/compass:44:in `call'
/Applications/Mixture.app/Contents/Resources/gems/compass-1.0.1/bin/compass:44:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: No files were found in the load path matching \"sponsors/*.png\". Your current load paths are: /Users/dandenney/Documents/repos/dandenney/front-end-conf/compass/public/images\A         on line 55 of /Users/dandenney/Documents/repos/dandenney/front-end-conf/public/styles/sass/_settings.sass\A         from line 3 of /Users/dandenney/Documents/repos/dandenney/front-end-conf/public/styles/sass/app.sass\A \A 50:   display: inline-block\A 51:   font-family: $font-highlight\A 52:   font-size: 36px\A 53:   margin-bottom: 0.25em\A 54:   text-shadow: 0 1px 1px #fff\A 55:   span\A 56:     color: scale-color($color-feature, $lightness: -30%)\A 57:     display: block\A 58:     font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif\A 59:     font-size: 23px\A 60:     margin-top: -.75em"; }
