{% layout "current" %}

{% block content %}

  <section class="home--intro">

      <div class="cell--a tac">

        <p class="location--intro tal">Front-End Conf is an event to celebrate the wonderful people in our industry and to share knowledge. This year, we will be celebrating in 2 cities.</p>

        <div class="home--locations tal">

          <article class="location--stpete">
            <h2>St. Petersburg, FL</h2>
            <p>Workshop: July 10, Conf: July 11-12</p>
            <p class="mbf tac">
              <a class="btn" href="/st-pete">Details</a>
            </p>
          </article>

          <article class="location--portland mtl">
            <h2>Portland, OR</h2>
            <p class="mbf">Workshop: August 21, Conf: August 22, Meetups: August 23</p>
            <p class="mbf mtf tac"><small>Details pending...</small></p>
          </article>

        </div>

      </div>

  </section>

{% endblock %}
