{% block content %}

  <section class="home videos">

    <h1>2013 Rocked</h1>

    <div class="block-to-half video-wrapper">

      <h4>Live Shop Talk Show</h4>

      <iframe src="//player.vimeo.com/video/72548909?byline=0&amp;portrait=0" width="280" height="158" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="fitvid"></iframe>

    </div>

    <div class="block-to-half video-wrapper">

      <h4>2013 Wrap-Up</h4>

      <iframe src="http://player.vimeo.com/video/70512830?byline=0&amp;portrait=0" width="280" height="158" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen class="fitvid"></iframe>

    </div>

  </section>

  <section class="home inner">
    
    <img src="{{ "map.svg" | asset_url }}" alt="map marking Florida and Oregon, with text 2014 2 locations 2 formats" >

    <div class="block-to-half">

      <h2>Portland</h2>

      <p>We recently found out that <a href="http://www.webvisionsevent.com">WebVisions</a> is in Portland in May, so we're now looking at July or August. This will be a much different style of event to match up with the area.</p>

    </div>

    <div class="block-to-half">

      <h2>St. Pete</h2>

      <p>We're looking to bring the fun back a little earlier in '14, possibly in May. We'll share details as soon as we can, with the goal of having tickets for sale in January.</p>

    </div>

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="http://frontenddesignconference.us2.list-manage2.com/subscribe/post?u=040435af75d83823cc94edc9b&amp;id=88b2a28d01" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <label for="mce-EMAIL">Add your email to our MailChimp list for updates on future events!</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>

    <!--End mc_embed_signup-->

  </section>

{% endblock %}