{% block content %}

  <section class="preview">

    <h1>2014 St. Pete</h1>

    <p class="intro">Front-End Conf is annual event where a few hundred awesome people get togther to share knowledge and celebrate our community.</p>

    <article class="workshop">

      <h2>Workshop - July 10</h2>

      <div class="sparkbox">

        <figure>
        	<img src="{{ "rob-tarr.png" | asset_url }}" alt="Rob Tarr" width="176" />
        	<figcaption>Rob Tarr</figcaption>
        </figure>

        <img src="{{ "frontend-tooling.png" | asset_url }}" alt="Frontend Tooling" class="workshop--brand" width="112" />

        <figure>
          <img src="{{ "neil-renicker.png" | asset_url }}" alt="Neil Renicker" width="176" />
          <figcaption>Neil Renicker</figcaption>
        </figure>



        <h3>Frontend Developer Tooling</h3>
        <p>The Build Right Frontend Tooling Workshop will help you eliminate development pain and friction by introducing you to modern development processes and tools. Staying ahead of the curve is difficult, and it's easy to quickly feel out-of-date or left behind.</p>

        <button class="show--trigger btn--hollow mbm mtm">Details</button>

        <div class="show--content is-hidden">

          <p>We'll help you make the leap into Preprocessors of all kinds, plumb the depths of your favorite text editors, get you up and running with source control (tldr; use it!), discover browser development tools, and explore the best ways to test your code across a range of browsers and devices. To top it all off, we’ll mix in all the other tasty essentials you’ll want to know about: the dreaded terminal, performance tuning, automated deployment, and much more!</p>

          <p>We want you to walk away from our workshop feeling empowered to work faster, cleaner, and with more confidence in your frontend development role. We promise that you'll leave the workshop with your head overflowing with alternatives that challenge the way you're writing code today and that you'll be ready to hit the ground running tomorrow. Workshop topics include:</p>

          <ul>
            <li>Productivity</li>
            <li>Source control</li>
            <li>Design tools</li>
            <li>Templating</li>
            <li>Editors</li>
            <li>Preprocessing</li>
            <li>Browser / Dev tools</li>
            <li>Local Servers</li>
            <li>Automated Deployment</li>
            <li>Browser/Device Testing</li>
          </ul>

        </div>

      </div>

    </article>

    <article>

      <h2>Conference, July 11-12</h2>

      <p class="intro">St. Petersburg, Florida - Our locations for the events are pending contracts, but they will all be downtown.</p>

      <ol>
        <li>
          <h4>July 11</h4>
          <p><strong>(7)</strong> 45 Minute Presentations and an evening party. The speakers will be announced soon...</p>
        </li>
        <li>
          <h4>July 12</h4>
          <p><strong>(10)</strong> 25 Minute Presentations. The speakers are coming from an open call and will be announced late April.</p>
        </li>
      </ol>

    </article>

    <article>

      <h2>Call For Speakers</h2>

      <p class="h5">If you had only one shot, or one opportunity, to speak at this year's Front-End Conf... Would you capture it? Or just let it slip?</p>

      <div class="its-late">

        <figure>
          <img src="{{ "carl-smith-2014.jpg" | asset_url }}" alt="Carl Smith" width="200" />
          <figcaption>Carl Smith</figcaption>
        </figure>


        <p>We're doing something new this year. In the past, the second day was filled with attendee presentations on a volunteer basis. This year, Carl Smith will be kicking off the second day and helping us choose the other 9 speakers. We'll be covering travel and lodging expenses for everyone that is chosen. <a href="https://dandenney.wufoo.com/forms/frontend-conf-call-for-speakers">Submit a talk!</a></p>

      </div>

    </article>

    <article class="coc">

      <h5>Conference Code of Conduct</h5>
      <p>We have been lucky each year to have an event filled with kind and respectful people. This event is run by a family and we consider all attendees our new friends. That said, we would like to make sure that we will not tolerate harrassment of any kind. We will deal with any complaint swiftly and professionally.</p>

    </article>

    <p class="tac">
      <strong class="db mbm h5">Conference Only = $175</strong>
      <strong class="db mbm h5">Workshop Only = $300</strong>
      <strong class="db mbm h5">Conference + Workshop = $475</strong>
      <a class="btn" href="http://tito.io/dandenney/frontendconf">Registration is available</a>
    </p>

  </section>

{% endblock %}
