---
layout: layouts/archive.njk
permalink: /2009/
title: Front-End Conf 2009
---
<h1 class="year ta-c">2009</h1>

<img alt="Illustration of 2009 speakers" class="d-b mb-8 mx-auto" src="/img/2009.png" width="675" />

<h2 class="ta-c">Speakers</h2>

<section class="d-f fw-w jc-c">
  <article class="speaker">
    <div class="images">
      <img src="/img/speakers/fabio-sasso.jpg" alt="Fabio Sasso" width="120">
      <img src="/img/characters/fabio-sasso.png" alt="Fabio Sasso" class="character" width="120">
    </div>
    <h3>Fabio Sasso</h3>
    <p>Fabio is a graphic, web designer and enthusiast from Porto Alegre, very south of Brazil. He is the co-founder of a design studio called Zee and runs a blog called <a href="http://abduzeedo.com">Abduzeedo</a> where he shares his thoughts, cool sites, and tutorials.</p>
    <a class="ai-c d-f" href="https://twitter.com/#!/abduzeedo"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" />@abduzeedo</a>
    <h4>Design Inspiration</h4>
    <p>Finding inspiration is a wonderful part of beginning a new project. Fabio Sasso will be discussing the ways in which he finds inspiration and how the Brazilian culture influences his work. He runs Abduzeedo and has published over 250 Daily Inspiration posts so far....</p>
  </article>
  <article class="speaker">
    <div class="d-f">
      <img src="/img/speakers/grant-friedman.jpg" alt="Grant Friedman" height="120" width="120">
      <img src="/img/characters/grant-friedman.png" alt="Grant Friedman" class="character" width="120">
    </div>
    </div>
    <h3>Grant Friedman</h3>
    <p>Grant Friedman is often hired to kill bad design, with her weapon of choice, ExpressionEngine. She has been an active part of the web, designing and developing for 10 years, and through her efforts, has been considered (on blog list posts) one of the best women designers in the world and an amazing female role model for web designers.</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/colorburned">@colorburned</a></p>
    <h4>Techniques for Creating & Using Design Resources</h4>
    <p>In this presentation you will learn how to create your own Photoshop/Illustrator brushes and patterns. You will then learn how to combine those resources with textures to create your own unique design.</p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/jonathan-longnecker.jpg" alt="Jonathan Longnecker" height="120" width="120">
      <img src="/img/characters/jonathan-longnecker.png" alt="Jonathan Longnecker" class="character" width="120">
    </div>
    <h3>Jonathan Longnecker</h3>
    <p>Jonathan Longnecker has been living and breathing design since he graduated back in 2001. Well, actually before that but he didn't know it yet. He and Nate were rocking out in their band and needed a website and some t-shirts. Cue the "ah-ha!" moment. Yeah, he started then and hasn't stopped yet...</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/necker47">@necker47</a></p>
    <h4>Why ExpressionEngine is Great for Designers</h4>
    <p>If you're a designer who wants to create awesome websites without worrying about the restrictions of layouts, functionality and templates, then you should give ExpressionEngine a try. It's the most flexible publishing system you'll ever use, and it puts the visual and code power back in your hands. Join us as we take a look at how you can get up and running with ExpressionEngine.</p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/chris-coyier.jpg" alt="Chris Coyier" height="120" width="120">
      <img src="/img/characters/chris-coyier.svg" alt="Chris Coyier" class="character" width="120">
    </div>
    <h3>Chris Coyier</h3>
    <p>Chris Coyier is a mild-mannered web designer by day. Long hours of helping clients with their website needs keeps lots of ideas flowing for CSS-Tricks, his web design blog and community site. In addition to client work, Chris has built a number of other sites aimed at aiding the web design and developer.</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/chriscoyier">@chriscoyier</a></p>
    <h4>Using jQuery to Pick Up Where CSS Leaves Off</h4>
    <p>If you are already fairly comfortable with HTML and CSS the learning curve for getting into jQuery is deliciously small. That's a great thing, because jQuery extends your toolbox as a designer and makes some amazing things possible. In this presentation you'll learn how to accomplish things that CSS is notoriously bad at, do things that CSS just can't do, and see a variety of practical solutions to real-world design problems.</p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/andrew-maier.jpg" alt="Andrew Maier" height="120" width="120">
      <img src="/img/characters/andrew-maier.png" alt="Andrew Maier" class="character" width="120">
    </div>
    <h3>Andrew Maier</h3>
    <p>Andrew is a professional front-end developer with interests in interface engineering, usability, and human-computer interaction. He has worked both independently as a freelancer/entrepreneur and as a member of highly focused teams. When he's not blogging about user experience at uxbooth.com, he can usually be found at the local independent coffee shop, reading books on the subject and sippin' the good stuff.</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/andrewmaier">@andrewmaier</a></p>
    <h4>Affordances in Modern Web Design</h4>
    <p>How do your users decide what actions lie behind a given interface element? For example: what makes a button a button? In this talk, we'll focus on the logical underpinnings of design; drawing on research in the fields of product design and ergonomics. We'll examine the foundations of usability and what it means to interaction design. Finally, we'll explore what it means to "overdesign" an application, and how you can avoid it.</p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/john-ashenden.jpg" alt="John Ashenden" height="120" width="120">
      <img src="/img/characters/john-ashenden.png" alt="John Ashenden" class="character" width="120">
    </div>
    <h3>John Ashenden</h3>
    <p>John Ashenden bathes daily in a pool of creativity. Living in Gainesville, FL, he is, among other things, an experienced web designer and developer. John's work has been featured in a number of distinguished periodicals and design showcases. His day's are currently spent as Creative Director for Grooveshark, a free-music streaming service, which has quickly become one of the world's leading resources for free and on-Demand music....</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/ashenden">@ashenden</a></p>
    <h4>How to Make it Better</h4>
    <p>John Ashenden will be showing how to "make it better"! Design is in the details and this presentation will show how to use customized elements to capture the attention of your visitors and maximize their experience.</p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/kevin-hale.jpg" alt="Kevin Hale" height="120" width="120">
      <img src="/img/characters/kevin-hale.png" alt="Kevin Hale" class="character" width="120">
    </div>
    <h3>Kevin Hale</h3>
    <p>Kevin Hale is the Co-founder of Infinity Box Inc, a Y Combinator seeded company. He is responsible for safe guarding and designing the user experience of their online HTML form builder, Wufoo. Kevin writes about interface design issues for the web development blog, Particletree and served as Editor-in-Chief of the web development magazine, Treehouse. As a child, Kevin was the kid in class who who ate a box of crayons for a dollar.</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/ilikevests">@ilikevests</a></p>
    <h4>How to Design Web Apps People Love</h4>
    <p>As part of the Wufoo team, Kevin Hale is no stranger to creating wonderful web apps. In his presentation, Kevin will be showing how to focus on user interaction in order to create an experience that users will love.</p>
  </article>
</section>

<section>
  <h2 class="ta-c">Sponsors</h2>
  <ul class="sponsors">
    <li>
      <a href="https://wufoo.com">
        <img alt="Wufoo" src="/img/sponsors/wufoo.png" width="120" />
      </a>
      <p>
        <a href="http://wufoo.com">Wufoo</a> 
        - Wufoo was our primary supporting sponsor and really made a difference in us being able to run the event again. They make forms easy + fast + fun.
      </p>
    </li>
    <li>
      <a href="http://lessaccounting.com">
        <img alt="Less Accounting" src="/img/sponsors/lessaccounting.png" width="120" />
      </a>
      <p>
        <a href="http://lessaccounting.com">LessAccounting</a> 
        - Small business accounting software
      </p>
    </li>
    <li>
      <a href="http://shopify.com">
        <img alt="Shopify" src="/img/sponsors/shopify.png" width="120" />
      </a>
      <p>
        <a href="http://shopify.com">Shopify</a> 
        - Simple, beautiful and flexible ecommerce solution
      </p>
    </li>
    <li>
      <a href="http://pixelmator.com">
        <img alt="Pixelmator" src="/img/sponsors/pixelmator.png" width="120" />
      </a>
      <p>
        <a href="http://pixelmator.com">Pixelmator</a>
        - Powerful image editing app or OS X
      </p>
    </li>
    <li>
      <a href="http://expressionengine.com">
        <img alt="ExpressionEngine" src="/img/sponsors/expressionengine.png" width="120" />
      </a>
      <p>
        <a href="http://expressionengine.com">ExpressionEngine</a>
        - Professional content management system
      </p>
    </li>
    <li>
      <a href="http://grooveshark.com">
        <img alt="Grooveshark" src="/img/sponsors/grooveshark.png" width="120" />
      </a>
      <p>
        <a href="http://grooveshark.com">Grooveshark</a>
        - Listen to free music online
      </p>
    </li>
    <li>
      <a href="http://fuelbrandnetwork.com">
        <img alt="FUEL Brand Network" src="/img/sponsors/fuel.png" width="120" />
      </a> 
      <p>
        <a href="http://fuelbrandnetwork.com">FUEL Brand Network</a>
        - Editorial sites dedicated to creative development
    </p></li>
  </ul>
</section>

<section>
  <h2 class="ta-c">The first event in 2009</h2>
  <figure class="ai-c d-f fw-w jc-c">
    <img alt="Illustration of Dan and the Front-End Conf sign" src="/img/front-end-dan.svg" width="380" />
    <figcaption class="ml-4@lg">
      <p>Everyone remembers their first time: Lots of anticipation, getting flustered and it being over very quickly. So, I'll never forget my first time introducing Front-End on stage. This event was so cool because it proved that we (Cherrie and I) could do it. The entire event was coordinated and marketed via Twitter, including the initial speaker invitations. It went really well and <a href="https://twitter.com/ericazares">Eric Azares</a> assured that there would be more by offering to buy a ticket to next year's as the day wrapped up. That felt awesome.</p>
      <p>The speakers made the day. They each rocked in their own way and were completely approachable. They set the tone for everything that I wanted Front-End Conf to be.</p>
      <p>- Dan</p>
    </figcaption>
  </figure>
</section>

