---
layout: layouts/archive.njk
permalink: /2010/
title: Front-End Conf 2010
---
<h1 class="year ta-c">2010</h1>

<img alt="Photo of the 2010 speakers" class="d-b mb-8 mx-auto" src="/img/photos/2010.jpg" width="675" />

<h2 class="ta-c">Speakers</h2>

<section class="d-f fw-w jc-c">
  <article class="speaker">
    <div class="images">
      <img src="/img/speakers/larissa-meek.jpg" alt="Larissa Meek" width="120">
      <img src="/img/characters/larissa-meek.png" alt="Larissa Meek" class="character" width="120">
    </div>
    <h3>Larissa Meek</h3>
    <p><strong>Learning to Love Ideas: Brainstorming 101</strong></p>
    <p>Larissa has over 9 years of experience of designing for the web and is a standards enthusiast who is well versed in design trends, usability, CSS and HTML. She has worked on a multitude of diverse brands such as Oxygen Networks, Bacardi, Ruby Tuesday, MOJOHD, Howard Stern and Warner Brothers...</p>
    <a class="ai-c d-f" href="https://twitter.com/#!/larissameek"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" />@larissameek</a>
  </article>
  <article class="speaker">
    <div class="d-f">
      <img src="/img/speakers/lea-alcantara.jpg" alt="Lea Alcantara" height="120" width="120">
      <img src="/img/characters/lea-alcantara.png" alt="Lea Alcantara" class="character" width="120">
    </div>
    </div>
    <h3>Lea Alcantara</h3>
    <p><strong>The Art of Self-Branding</strong></p>
    <p>Larissa has over 9 years of experience of designing for the web and is a standards enthusiast who is well versed in design trends, usability, CSS and HTML. She has worked on a multitude of diverse brands such as Oxygen Networks, Bacardi, Ruby Tuesday, MOJOHD, Howard Stern and Warner Brothers...</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/lealea">@lealea</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/niki-brown.jpg" alt="Niki Brown" height="120" width="120">
      <img src="/img/characters/niki-brown.png" alt="Niki Brown" class="character" width="120">
    </div>
    <h3>Niki Brown</h3>
    <p><strong>Design is in the Details</strong></p>
    <p>Niki has been designing since they were a little kid - drawing cartoons, making fake newspapers, and planning their plot to take over the world. (Just kidding). Their early interests in design were heightened when they got their first computer, it was love at first sight! They made their first website in 1996, with the help of geocities and word-art. Now the rest is history. Fast forward to today - they're all grown up with a nifty degree that says they knows what they're doing.</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/nikibrown">@nikibrown</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/meagan-fisher.jpg" alt="Meagan Fisher" height="120" width="120">
      <img src="/img/characters/meagan-fisher.png" alt="Meagan Fisher" class="character" width="120">
    </div>
    <h3>Meagan Fisher</h3>
    <p><strong>How to Take Your Designs from Wireframes to Beautiful Finished Products</strong></p>
    <p>Meagan Fisher is a web designer who works through the night to create simple interfaces and well-written markup. When not conspiring with SimpleBits to take over the world, she creates web magic with her own clients. Along the way she has worked with Rails Machine, Halogen Guides, Airbag Industries, Change.org, and MTV.</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/owltastic">@owltastic</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/jina-bolton.jpg" alt="Jina Bolton" height="120" width="120">
      <img src="/img/characters/jina-bolton.png" alt="Jina Bolton" class="character" width="120">
    </div>
    <h3>Jina</h3>
    <p><strong>CSS Organization and Workflow</strong></p>
    <p>Jina is an interaction designer at Crush + Lovely. Previously, Jina worked at Apple, Inc. as a visual interaction designer and front end web developer. She enjoys making pretty websites, and then she likes writing and speaking about it. Jina co-authored Fancy Form Design and The Art & Science of CSS; she also was an expert reviewer and wrote the foreword for Sexy Web Design.</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/jina">@jina</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/sarah-parmenter.jpg" alt="Sarah Parmenter" height="120" width="120">
      <img src="/img/characters/sarah-parmenter.svg" alt="Sarah Parmenter" class="character" width="120">
    </div>
    <h3>Sarah Parmenter</h3>
    <p><strong>Principles of UI Design</strong></p>
    <p>Sarah was brought up on computers from an early age and always knew her career would be in IT. The story of exactly how she came to be a web designer is a long-winded one, and quite surreal, but in 2003 she took the plunge and started her own business, and hasn't looked back since.</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/sizzy">@sizzy</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/adelle-charles.jpg" alt="Adelle Charles" height="120" width="120">
      <img src="/img/characters/adelle-charles.png" alt="Adelle Charles" class="character" width="120">
    </div>
    <h3>Adelle Charles</h3>
    <p><strong>Fuel Your Brand</strong></p>
    <p>As Chief Creative Officer, Adelle oversees the creative and strategic direction of Fuel Brand, Inc., which she co-founded with her partner Joshua Smibert. A designer and entrepreneur at heart, Adelle has a Bachelor of Fine Arts degree in Graphic Design from RIT and has won various awards for her past work in television.</p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/adellecharles">@adellecharles</a></p>
  </article>
</section>

<section>
  <h2 class="ta-c">Sponsors</h2>
  <ul class="sponsors">
    <li>
      <a href="https://wufoo.com">
        <img alt="Wufoo" src="/img/sponsors/wufoo.png" width="120" />
      </a>
      <p>
        <a href="http://wufoo.com">Wufoo</a> 
        - Making forms easy + fast + fun.
      </p>
    </li>
    <li>
      <a href="http://freshbooks.com">
        <img alt="FreshBooks" src="/img/sponsors/freshbooks.png" width="120" />
      </a>
      <p>
        <a href="http://freshbooks.com">Freshbooks</a> 
        - The Leader in Online Invoicing
      </p>
    </li>
    <li>
      <a href="http://doctype.tv"><img alt="DocType" src="/img/sponsors/doctype-tv.png" width="120" />
      </a>
      <p>
        <a href="http://doctype.tv">Docype TV</a> 
        - With Nick Pettit and Jim Hoskins
      </p>
    </li>
    <li>
      <a href="http://grooveshark.com">
        <img alt="Grooveshark" src="/img/sponsors/grooveshark.png" width="120" />
      </a>
      <p>
        <a href="http://grooveshark.com">Grooveshark</a>
        - Listen to free music online
      </p>
    </li>
    <li>
      <a href="http://fuelbrandnetwork.com">
        <img alt="FUEL Brand Network" src="/img/sponsors/fuel.png" width="120" />
      </a> 
      <p>
        <a href="http://fuelbrandnetwork.com">FUEL Brand Network</a>
        - Editorial sites dedicated to creative development
    </p></li>
  </ul>
</section>

<section>
  <h2 class="ta-c">Our second event, in 2010</h2>
  <figure class="ai-c d-f fw-w jc-c">
    <img alt="Illustration of Dan and the Front-End Conf sign" src="/img/front-end-dan.svg" width="380" />
    <figcaption class="ml-4@lg">
      <p>In 2010, we wanted to do something different. In between events, there had been these 2 posts (<a href="http://www.fuelyourinterface.com/10-interface-rockstars-you-should-know-about/">here</a> and <a href="http://www.fuelyourinterface.com/ten-women-you-need-to-know-in-interface-design">here</a>) where some issues were brought up in our community. So, we decided to run our same event but invite only amazing ladies in the community. It could only work well if we never brought it up. I think we pulled it off and we were only one fish sandwich away from perfection.</p>
      <p>Again, the speakers made the day, continuing in the new #frontendconf tradition of delivering awesome presentations and being very approachable. I owe a special thank you to <a href="https://twitter.com/denisejacobs">Denise Jacobs</a> for stepping up and sharing as well.</p>
      <p>- Dan</p>
    </figcaption>
  </figure>
</section>

