---
layout: layouts/archive.njk
permalink: /2011/
title: Front-End Conf 2011
---
<h1 class="year ta-c">2011</h1>

<div class="mx-auto vimeo-container">
  <div class="vimeo">
    <iframe src="https://player.vimeo.com/video/27638526?h=14dd5fe68c" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<h2 class="ta-c">Speakers</h2>

<section class="d-f fw-w jc-c speakers-minimal">
  <article class="speaker">
    <div class="images">
      <img src="/img/speakers/james-may.jpg" alt="James May" width="120">
      <img src="/img/characters/james-may.svg" alt="James May" class="character" width="120">
    </div>
    <h3>James May</h3>
    <p><strong>Better Design Through Discovery</strong></p>
    <a class="ai-c d-f" href="https://twitter.com/#!/monooptical"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" />@monooptical</a>
  </article>
  <article class="speaker">
    <div class="d-f">
      <img src="/img/speakers/stephanie-fields.jpg" alt="Stephanie Fields" height="120" width="120">
      <img src="/img/characters/stephanie-fields.svg" alt="Stephanie Fields" class="character" width="120">
    </div>
    </div>
    <h3>Stephanie Fields</h3>
    <p><strong>Better Design Through Discovery</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/lilsooner">@lilsooner</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/ryan-singer.jpg" alt="Ryan Singer" height="120" width="120">
      <img src="/img/characters/ryan-singer.svg" alt="Ryan Singer" class="character" width="120">
    </div>
    <h3>Ryan Singer</h3>
    <p><strong>UI Design Decisions</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/rjs">@rjs</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/doug-neiner.jpg" alt="Doug Neiner" height="120" width="120">
      <img src="/img/characters/doug-neiner.svg" alt="Doug Neiner" class="character" width="120">
    </div>
    <h3>Doug Neiner</h3>
    <p><strong>jQuery Nuts, Bolts and Bling</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/dougneiner">@dougneiner</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/ethan-marcotte.jpg" alt="Ethan Marcotte" height="120" width="120">
      <img src="/img/characters/ethan-marcotte.svg" alt="Ethan Marcotte" class="character" width="120">
    </div>
    <h3>Ethan Marcotte</h3>
    <p><strong>Responsive Web Design</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/beep">@beep</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/brandon-jones.jpg" alt="Brandon Jones" height="120" width="120">
      <img src="/img/characters/brandon-jones.svg" alt="Brandon Jones" class="character" width="120">
    </div>
    <h3>Brandon Jones</h3>
    <p><strong>Making Money with Web Design</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/makedesign">@makedesign</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/chris-coyier.jpg" alt="Chris Coyier" height="120" width="120">
      <img src="/img/characters/chris-coyier.svg" alt="Chris Coyier" class="character" width="120">
    </div>
    <h3>Chris Coyier</h3>
    <p><strong>CSS Pseudo Elements for Fun and Profit</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/chriscoyier">@chriscoyier</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/allison-house.jpg" alt="Allison House" height="120" width="120">
      <img src="/img/characters/allison-house.svg" alt="Allison House" class="character" width="120">
    </div>
    <h3>Allison House</h3>
    <p><strong>Web Typography and the Case of the Voluptuous Curl</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/house">@house</a></p>
  </article>
</section>

<section>
  <h2 class="ta-c">Sponsors</h2>
  <ul class="sponsors">
    <li>
      <a href="http://freshbooks.com">
        <img alt="FreshBooks" src="/img/sponsors/freshbooks.png" width="120" />
      </a>
      <p>
        <a href="http://freshbooks.com">Freshbooks</a> 
        - The Leader in Online Invoicing
      </p>
    </li>
    <li>
      <a href="http://thinkrelevance.com">
        <img alt="relevance" src="/img/sponsors/relevance.png" width="120" />
      </a>
      <p>
        <a href="http://thinkrelevance.com">Relevance</a> 
        - We Know Software
      </p>
    </li>
    <li>
      <a href="http://carbonads.com"><img alt="Carbon Ads" src="/img/sponsors/carbon.png" width="120" />
      </a>
      <p>
        <a href="http://carbonads.com">Carbon Ads</a>
        - Single, relevant ad that appeals to visitors of websites with common influence
      </p>
    </li>
    <li>
      <a href="http://threadbird.com">
        <img alt="Threadbird" src="/img/sponsors/threadbird.png" width="120" />
      </a>
      <p>
        <a href="http://threadbird.com">Threadbird</a>
        - Quality Screen Printing
      </p>
    </li>
    <li>
      <a href="http://stickermule.com">
        <img alt="stickermule" src="/img/sponsors/stickermule.png" width="120" />
      </a> 
      <p>
        <a href="http://stickermule.com">Stickermule</a>
        - Custom stickers that kick ass
      </p>
    </li>
    <li>
      <a href="http://custombagshq.com">
        <img alt="Custom Bags HQ" src="/img/sponsors/custom-bags-hq.png" width="120" />
      </a> 
      <p>
        <a href="http://custombagshq.com">CustomBags HQ</a> 
        - Custom Printed Bags
      </p>
    </li>
    <li>
      <a href="http://javifick.com">
        <img alt="Javi Fick" src="/img/sponsors/javi-fick.png" width="120" />
      </a> 
      <p>
        <a href="http://javifick.com">Javi Fick Motion Art</a> 
        - A visual artist, of sorts
      </p>
    </li>
    <li>
      <a href="http://lessaccounting.com">
        <img alt="Less Accounting" src="/img/sponsors/lessaccounting.png" width="120" />
      </a>
      <p>
        <a href="http://lessaccounting.com">LessAccounting</a> 
        - Small business accounting software
      </p>
    </li>
    <li>
      <a href="http://lessfilms.com">
        <img alt="Less Films" src="/img/sponsors/less-films.png" width="120" />
      </a>
      <p>
        <a href="http://lessfilms.com">Less Films</a> 
        - Ridiculously good at crafting videos that increase sales
      </p>
    </li>
  </ul>
</section>

<section>
  <h2 class="ta-c">The Third Time Was a Charm</h2>
  <figure class="ai-c d-f fw-w jc-c">
    <img alt="Illustration of Dan and the Front-End Conf sign" src="/img/front-end-dan.svg" width="380" />
    <figcaption class="ml-4@lg">
      <p>We learned so much in the first 2 years and made enough friends that the third year really took off. We have always intended for this to be a small event, so we had set a 200 ticket cap. We were very fortunate to sell out a month early, which freed us up to focus on making the day special instead of promoting. The results were fantastic and we found a wonderful new location.</p>
      <p>The speakers rocked the day, continuing in the #frontendconf tradition of delivering awesome presentations and being very approachable. We also focused a lot more on being approachable ourselves because we had so much less stress with being sold out. The Day 2 presentations were really good as well and we even had a small contest for another character.</p>
      <p>- Dan</p>
    </figcaption>
  </figure>
</section>

