---
layout: layouts/archive.njk
permalink: /2012/
title: Front-End Conf 2012
---
<h1 class="year ta-c">2012</h1>

<div class="mx-auto vimeo-container">
  <div class="vimeo">
    <iframe src="http://player.vimeo.com/video/44957854" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<h2 class="ta-c">Speakers</h2>

<section class="d-f fw-w jc-c speakers-minimal">
  <article class="speaker">
    <div class="images">
      <img src="/img/speakers/jason-vanlue.jpg" alt="Jason Vanlue" width="120">
      <img src="/img/characters/jason-vanlue.svg" alt="Jason Vanlue" class="character" width="120">
    </div>
    <h3>Jason Vanlue</h3>
    <p><strong>Three Pipe Problems and How Design Can Solve Them</strong></p>
    <a class="ai-c d-f" href="https://twitter.com/#!/jasonvanlue"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" />@jasonvanlue</a>
  </article>
  <article class="speaker">
    <div class="d-f">
      <img src="/img/speakers/darcy-clarke.jpg" alt="Darcy Clarke" height="120" width="120">
      <img src="/img/characters/darcy-clarke.svg" alt="Darcy Clarke" class="character" width="120">
    </div>
    </div>
    <h3>Darcy Clarke</h3>
    <p><strong>Front-End Techniques for the Modern Web</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/darcy_clarke">@darcy_clarke</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/gio-difeterici.jpg" alt="Giovanni DiFeterici" height="120" width="120">
      <img src="/img/characters/gio-difeterici.svg" alt="Giovanni DiFeterici" class="character" width="120">
    </div>
    <h3>Giovanni DiFeterici</h3>
    <p><strong>Conceptual Design</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/giodif">@giodif</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/bermon-painter.jpg" alt="Bermon Painter" height="120" width="120">
      <img src="/img/characters/bermon-painter.svg" alt="Bermon Painter" class="character" width="120">
    </div>
    <h3>Bermon Painter</h3>
    <p><strong>CSS Preprocessors: Stylus, LESS and Sass, oh my!</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/bermonpainter">@bermonpainter</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/carl-smith.jpg" alt="Carl Smith" height="120" width="120">
      <img src="/img/characters/carl-smith.svg" alt="Carl Smith" class="character" width="120">
    </div>
    <h3>Carl Smith</h3>
    <p><strong>Choose!</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/carlsmith">@carlsmith</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/dave-rupert.jpg" alt="Dave Rupert" height="120" width="120">
      <img src="/img/characters/dave-rupert.svg" alt="Dave Rupert" class="character" width="120">
    </div>
    <h3>Dave Rupert</h3>
    <p><strong>Flexible Media in Responsive Web Design</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/davatron5000">@davatron5000</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/sarah-parmenter.jpg" alt="Sarah Parmenter" height="120" width="120">
      <img src="/img/characters/sarah-parmenter.svg" alt="Sarah Parmenter" class="character" width="120">
    </div>
    <h3>Sarah Parmenter</h3>
    <p><strong>The Future of iOS</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/sazzy">@sazzy</a></p>
  </article>
</section>

<section>
  <h2 class="ta-c">Sponsors</h2>
  <ul class="sponsors">
    <li>
      <a href="http://github.com">
        <img alt="github" src="/img/sponsors/github.png" width="120" />
      </a>
      <p>
        <a href="http://github.com">Github</a>
        - Version control for software development and so much more
      </p>
    </li>
    <li>
      <a href="http://invisionapp.com">
        <img alt="InVision" src="/img/sponsors/invision.png" width="120" />
      </a>
      <p>
        <a href="http://invisionapp.com">InVision</a>
        - Create Interactive Wireframes &amp; High Fidelity Prototypes
      </p>
    </li>
    <li>
      <a href="http://offscreenmag.com">
        <img alt="Offscreen" src="/img/sponsors/offscreen.png" width="120" />
      </a>
      <p>
        <a href="http://offscreenmag.com">Offscreen Magazine</a>
        - A new, collectible print magazine about the human side of websites and apps.
      </p>
    </li>
    <li>
      <a href="http://carbonads.com"><img alt="Carbon Ads" src="/img/sponsors/carbon.png" width="120" />
      </a>
      <p>
        <a href="http://carbonads.com">Carbon Ads</a>
        - Single, relevant ad that appeals to visitors of websites with common influence
      </p>
    </li>
    <li>
      <a href="http://threadbird.com">
        <img alt="Threadbird" src="/img/sponsors/threadbird.png" width="120" />
      </a>
      <p>
        <a href="http://threadbird.com">Threadbird</a>
        - Quality Screen Printing
      </p>
    </li>
    <li>
      <a href="http://stickermule.com">
        <img alt="stickermule" src="/img/sponsors/stickermule.png" width="120" />
      </a> 
      <p>
        <a href="http://stickermule.com">Stickermule</a>
        - Custom stickers that kick ass
      </p>
    </li>
    <li>
      <a href="http://custombagshq.com">
        <img alt="Custom Bags HQ" src="/img/sponsors/custom-bags-hq.png" width="120" />
      </a> 
      <p>
        <a href="http://custombagshq.com">CustomBags HQ</a> 
        - Custom Printed Bags
      </p>
    </li>
    <li>
      <a href="http://javifick.com">
        <img alt="Javi Fick" src="/img/sponsors/javi-fick.png" width="120" />
      </a> 
      <p>
        <a href="http://javifick.com">Javi Fick Motion Art</a> 
        - A visual artist, of sorts
      </p>
    </li>
  </ul>
</section>

<section>
  <h2 class="ta-c">The Fabulous Fourth</h2>
  <figure class="ai-c d-f fw-w jc-c">
    <img alt="Illustration of Dan and the Front-End Conf sign" src="/img/front-end-dan.svg" width="380" />
    <figcaption class="ml-4@lg">
      <p>What a fantastic event! Thanks to selling out of the 250 spots early, we were able to get most of the work done in advance. Luckily, this meant that we got to spend a bunch of extra time with the awesome people that were here.</p>
      <p>Everyone rocked their part this year. The speakers on both days delivered inspiring and entertaining talks, the attendees were engaged and excited and our awesome team of volunteers kept everything rolling smooth. We sang karaoke until we had no more voices. (Ok, maybe that was just me but others were there too.)</p>
      <p>We were absolutely thrilled with just how active everyone was this year. There were so many get-togethers and groups of people talking and sharing. I can't wait to see how these new-found friendships grow throughout the year.</p>
      <p>- Dan</p>
    </figcaption>
  </figure>
  <h2 class="ta-c">The GitHub After Party</h2>
  <figure class="ai-c d-f fw-w jc-c">
    <img alt="Illustration of a photo booth" src="/img/photo-booth.svg" width="500" />
    <figcaption class="ml-4@lg">
      <p>GitHub is version control for software development and so much more. Whether it's a weekend side project, your favorite open source library, a startup destined for glory, or your company's app, GitHub helps everyone work together with tools for easier collaboration and more visibility. Check it out — open source is free!</p>
      <p>Unofficially, and in my own words, they are a fantastic company that hires extremely talented folks and celebrates being part of the industry. Celebrating seems to be one of their favorite parts as they have a reputation for "bringing the party". This year, they are sponsoring the afterparty so that attendees can have a good time and get to know each other after a day of great talks.</p>
      <p>Check out Github <a href="https://github.com/">github.com</a></p>
    </figcaption>
  </figure>
</section>

