---
layout: layouts/archive.njk
permalink: /2013/
title: Front-End Conf 2013
---
<h1 class="year ta-c">2013</h1>

<div class="mx-auto vimeo-container">
  <div class="vimeo">
    <iframe src="https://player.vimeo.com/video/72548909?h=0064b45b9f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<h2 class="ta-c">Speakers</h2>

<section class="d-f fw-w jc-c speakers-minimal">
  <article class="speaker">
    <div class="images">
      <img src="/img/speakers/nick-walsh.jpg" alt="Nick Walsh" width="120">
      <img src="/img/characters/nick-walsh.svg" alt="Nick Walsh" class="character" width="120">
    </div>
    <h3>Nick Walsh</h3>
    <p><strong>Workshop: MVCSS</strong></p>
    <a class="ai-c d-f" href="https://twitter.com/#!/nickawalsh"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" />@nickawalsh</a>
  </article>
  <article class="speaker">
    <div class="d-f">
      <img src="/img/speakers/drew-barontini.jpg" alt="Drew Barontini" height="120" width="120">
      <img src="/img/characters/drew-barontini.svg" alt="Drew Barontini" class="character" width="90">
    </div>
    </div>
    <h3>Drew Barontini</h3>
    <p><strong>Workshop: MVCSS</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/drewbarontini">@drewbarontini</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/matt-graham.jpg" alt="Matt Graham" height="120" width="120">
      <img src="/img/characters/matt-graham.svg" alt="Matt Graham" class="character" width="120">
    </div>
    <h3>Matt Graham</h3>
    <p><strong>Designers, Developers and the Love They Share</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/michigangraham">@michigangraham</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/michael-parenteau.jpg" alt="Michael Parenteau" height="120" width="120">
      <img src="/img/characters/michael-parenteau.svg" alt="Michael Parenteau" class="character" width="120">
    </div>
    <h3>Michael Parenteau</h3>
    <p><strong>The myth of the half-brained designer... and their magic vacuum</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/parenteau">@parenteau</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/jenn-lukas.jpg" alt="Jenn Lukas" height="120" width="120">
      <img src="/img/characters/jenn-lukas.svg" alt="Jenn Lukas" class="character" width="120">
    </div>
    <h3>Jenn Lukas</h3>
    <p><strong>Hot Links</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/jennlukas">@jennlukas</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/chris-coyier.jpg" alt="Chris Coyier" height="120" width="120">
      <img src="/img/characters/chris-coyier.svg" alt="Chris Coyier" class="character" width="120">
    </div>
    <h3>Chris Coyier</h3>
    <p><strong>CSS is for Computers</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/chriscoyier">@chriscoyier</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/ben-callahan.jpg" alt="Ben Callahan" height="120" width="120">
      <img src="/img/characters/ben-callahan.svg" alt="Ben Callahan" class="character" width="120">
    </div>
    <h3>Ben Callahan</h3>
    <p><strong>Serving RWD Styles</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/bencallahan">@bencallahan</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/doug-neiner.jpg" alt="Doug Neiner" height="120" width="120">
      <img src="/img/characters/doug-neiner.svg" alt="Doug Neiner" class="character" width="120">
    </div>
    <h3>Doug Neiner</h3>
    <p><strong>jQuery Jumble</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/dougneiner">@dougneiner</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/cameron-moll.jpg" alt="Cameron Moll" height="120" width="120">
      <img src="/img/characters/cameron-moll.svg" alt="Cameron Moll" class="character" width="120">
    </div>
    <h3>Cameron Moll</h3>
    <p><strong>Authentic Design</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/cameronmoll">@cameronmoll</a></p>
  </article>
</section>

<section>
  <h2 class="ta-c">Sponsors</h2>
  <ul class="sponsors">
    <li>
      <a href="http://github.com">
        <img alt="github" src="/img/sponsors/github.png" width="120" />
      </a>
      <p>
        <a href="http://github.com">Github</a>
        - Version control for software development and so much more
      </p>
    </li>
    <li>
      <a href="http://invisionapp.com">
        <img alt="InVision" src="/img/sponsors/invision.png" width="120" />
      </a>
      <p>
        <a href="http://invisionapp.com">InVision</a>
        - Create Interactive Wireframes &amp; High Fidelity Prototypes
      </p>
    </li>
    <li>
      <a href="http://offscreenmag.com">
        <img alt="Offscreen" src="/img/sponsors/offscreen.png" width="120" />
      </a>
      <p>
        <a href="http://offscreenmag.com">Offscreen Magazine</a>
        - A new, collectible print magazine about the human side of websites and apps.
      </p>
    </li>
    <li>
      <a href="http://carbonads.com"><img alt="Carbon Ads" src="/img/sponsors/carbon.png" width="120" />
      </a>
      <p>
        <a href="http://carbonads.com">Carbon Ads</a>
        - Single, relevant ad that appeals to visitors of websites with common influence
      </p>
    </li>
    <li>
      <a href="http://threadbird.com">
        <img alt="Threadbird" src="/img/sponsors/threadbird.png" width="120" />
      </a>
      <p>
        <a href="http://threadbird.com">Threadbird</a>
        - Quality Screen Printing
      </p>
    </li>
    <li>
      <a href="http://stickermule.com">
        <img alt="stickermule" src="/img/sponsors/stickermule.png" width="120" />
      </a> 
      <p>
        <a href="http://stickermule.com">Stickermule</a>
        - Custom stickers that kick ass
      </p>
    </li>
    <li>
      <a href="http://custombagshq.com">
        <img alt="Custom Bags HQ" src="/img/sponsors/custom-bags-hq.png" width="120" />
      </a> 
      <p>
        <a href="http://custombagshq.com">CustomBags HQ</a> 
        - Custom Printed Bags
      </p>
    </li>
    <li>
      <a href="http://javifick.com">
        <img alt="Javi Fick" src="/img/sponsors/javi-fick.png" width="120" />
      </a> 
      <p>
        <a href="http://javifick.com">Javi Fick Motion Art</a> 
        - A visual artist, of sorts
      </p>
    </li>
  </ul>
</section>

<section>
  <h2 class="ta-c">A Fantastic Fifth</h2>
  <figure class="ai-c d-f fw-w jc-c">
    <img alt="Illustration of Dan and the Front-End Conf sign" src="/img/front-end-dan.svg" width="380" />
    <figcaption class="ml-4@lg">
      <p>Our fifth event was crazy fun! Adding in an awesome workshop featuring Nick Walsh and Drew Barontini, a special event for our supporters that have attended every year, a live Shop Talk Show, lots of meetups, and some wild karaoke. Oh and we learned some awesome stuff, too.</p>
      <p>We were exhaused by the end of it, but it was soooo worth it.</p>
      <p>- Dan</p>
    </figcaption>
  </figure>
  <h2 class="px-4 ta-c">The GitHub After Party, Take Two</h2>
  <figure class="ai-c d-f fw-w jc-c">
    <img alt="Illustration of a photo booth" src="/img/photo-booth.svg" width="500" />
    <figcaption class="ml-4@lg">
      <p>Github was nice enough to let us borrow Matt Graham for the weekend and throw another after party. The parties are a blast and you can check out the pics to see for yourself.</p>
      <p>GitHub is version control for software development and so much more. Whether it's a weekend side project, your favorite open source library, a startup destined for glory, or your company's app, GitHub helps everyone work together with tools for easier collaboration and more visibility. Check it out — open source is free!</p>
      <p>Check out Github <a href="https://github.com/">github.com</a></p>
    </figcaption>
  </figure>
</section>

