---
layout: layouts/archive.njk
permalink: /2014-st-pete/
title: Front-End Conf 2014 St. Petersburg
---
<h1 class="year ta-c">2014</h1>

<div class="mx-auto vimeo-container">
  <div class="vimeo">
    <iframe src="https://player.vimeo.com/video/331898864" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<h2 class="ta-c">Speakers</h2>

<section class="d-f fw-w jc-c speakers-minimal">
  <article class="speaker">
    <div class="images">
      <img src="/img/speakers/daniel-ryan.jpg" alt="Daniel Ryan" width="120">
      <img src="/img/characters/daniel-ryan.svg" alt="Daniel Ryan" class="character" width="90">
    </div>
    <h3>Daniel Ryan</h3>
    <p><strong>Human First Web Design</strong></p>
    <a class="ai-c d-f" href="https://twitter.com/#!/dryan"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" />@dryan</a>
  </article>
  <article class="speaker">
    <div class="d-f">
      <img src="/img/speakers/rachel-smith.jpg" alt="Rachel Smith" height="120" width="120">
      <img src="/img/characters/rachel-smith.svg" alt="Rachel Smith" class="character" width="90">
    </div>
    </div>
    <h3>Rachel Smith</h3>
    <p><strong>Animating the web in a post-Flash world</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/rachsmithtweets">@rachsmithtweets</a></p>
  </article>
  <article class="speaker">
    <div class="d-f">
      <img src="/img/speakers/drew-barontini.jpg" alt="Drew Barontini" height="120" width="120">
      <img src="/img/characters/drew-barontini.svg" alt="Drew Barontini" class="character" width="90">
    </div>
    </div>
    <h3>Drew Barontini</h3>
    <p><strong>Workshop: MVCSS</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/drewbarontini">@drewbarontini</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/andi-graham.jpg" alt="Andi Graham" height="120" width="120">
      <img src="/img/characters/andi-graham.svg" alt="Andi Graham" class="character" width="90">
    </div>
    <h3>Andi Graham</h3>
    <p><strong>The Right Tool for the Job: Designing in the Browser for Agencies</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/andigrahambsd">@andigrahambsd</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/elyse-holladay.jpg" alt="Elyse Holladay" height="120" width="120">
      <img src="/img/characters/elyse-holladay.svg" alt="Elyse Holladay" class="character" width="90">
    </div>
    <h3>Elyse Holladay</h3>
    <p><strong>I Have No Idea What I'm Doing</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/elyseholladay">@elyseholladay</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/kevin-mandeville.jpg" alt="Kevin Mandeville" height="120" width="120">
      <img src="/img/characters/kevin-mandeville.svg" alt="Kevin Mandeville" class="character" width="90">
    </div>
    <h3>Kevin Mandeville</h3>
    <p><strong>How to Build Kickass Emails</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/KevinMandeville">@KevinMandeville</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/noah-stokes.jpg" alt="Noah Stokes" height="120" width="120">
      <img src="/img/characters/noah-stokes.svg" alt="Noah Stokes" class="character" width="90">
    </div>
    <h3>Noah Stokes</h3>
    <p><strong>Boxes and Grids, Oh My.</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/motherfuton">@motherfuton</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/carl-smith.jpg" alt="Carl Smith" height="120" width="120">
      <img src="/img/characters/carl-smith.svg" alt="Carl Smith" class="character" width="105">
    </div>
    <h3>Carl Smith</h3>
    <p><strong>Lost & Found</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/carlsmith">@carlsmith</a></p>
  </article>
  <article class="speaker">
    <img src="/img/speakers/erica-walker.jpg" alt="Erica Walker" height="120" width="120">
    <h3>Erica Walker</h3>
    <p><strong>Intersecting worlds of web and education: A foray into the Digital Frontier</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/ebwalker101">@ebwalker101</a></p>
  </article>
  <article class="speaker">
    <img src="/img/speakers/amanda-cheung.jpg" alt="Amanda Cheung" height="120" width="120">
    <h3>Amanda Cheung</h3>
    <p><strong>Styling Forms Semantically & Accessibly</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/acacheung">@acacheung</a></p>
  </article>
  <article class="speaker">
    <img src="/img/speakers/rob-harr.jpg" alt="Rob Harr" height="120" width="120" />
    <h3>Rob Harr</h3>
    <p><strong>Let's Be Brutally Honest About Operations and Pricing for Web Agencies</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/robertharr">@robertharr</a></p>
  </article>
  <article class="speaker">
    <img src="/img/speakers/travis-miller.jpg" alt="Travis Miller" height="120" width="120" />
    <h3>Travis Miller</h3>
    <p><strong>Remote. Commit. Push.</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/travismillerweb">@travismillerweb</a></p>
  </article>
  <article class="speaker">
    <img src="/img/speakers/andrew-norcross.jpg" alt="Andrew Norcross" height="120" width="120" /> 
    <h3>Andrew Norcross</h3>
    <p><strong>No Control - How To Design For An Unknown Result</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/norcross">@norcross</a></p>
  </article>
  <article class="speaker">
    <img src="/img/speakers/mina-markham.jpg" alt="Mina Markham" height="120" width="120" > 
    <h3>Mina Markham</h3>
    <p><strong>SMACSS Your Sass Up</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/MinaMarkham">@MinaMarkham</a></p>
  </article>
  <article class="speaker">
    <img src="/img/speakers/matthew-carver.jpg" alt="Matthew Carver" height="120" width="120" />
    <h3>Matthew Carver</h3>
    <p><strong>Contextually Aware Web Design</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/matthew_carver">@matthew_carver</a></p>
  </article>
  <article class="speaker">
    <img src="/img/speakers/jason-beaird.jpg" alt="Jason Beaird" height="120" width="120" />
    <h3>Jason Beaird</h3>
    <p><strong>Design Pattern Craftsmanship</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/jasongraphix">@jasongraphix</a></p>
  </article>
  <article class="speaker">
    <img src="/img/speakers/mason-stewart.jpg" alt="Mason Stewart" height="120" width="120" />
    <h3>Mason Stewart</h3>
    <p><strong>A frontender builds a backend: learning to think with your eyes closed</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/masondesu">@masondesu</a></p>
  </article>
</section>

<section>
  <h2 class="ta-c">Sponsors</h2>
  <ul class="sponsors">
    <li>
      <a href="http://theironyard.com">
        <img alt="The Iron Yard" src="/img/sponsors/iron-yard.svg" width="120" />
      </a>
      <p>
        <a href="http://theironyard.com">The Iron Yard</a>
        - Learn to code. Get a job. Guaranteed.
      </p>
    </li>
    <li>
      <a href="http://mailchimp.com">
        <img alt="Mailchimp" src="/img/sponsors/mailchimp.svg" width="180" />
      </a>
      <p>
        <a href="http://mailchimp.com">Mailchimp</a>
        - Send Better Email
      </p>
    </li>
    <li>
      <a href="http://offscreenmag.com">
        <img alt="Offscreen" src="/img/sponsors/offscreen.png" width="120" />
      </a>
      <p>
        <a href="http://offscreenmag.com">Offscreen Magazine</a>
        - A new, collectible print magazine about the human side of websites and apps.
      </p>
    </li>
    <li>
      <a href="http://threadbird.com">
        <img alt="Threadbird" src="/img/sponsors/threadbird.png" width="120" />
      </a>
      <p>
        <a href="http://threadbird.com">Threadbird</a>
        - Quality Screen Printing
      </p>
    </li>
    <li>
      <a href="http://stickermule.com">
        <img alt="stickermule" src="/img/sponsors/stickermule.png" width="120" />
      </a> 
      <p>
        <a href="http://stickermule.com">Stickermule</a>
        - Custom stickers that kick ass
      </p>
    </li>
    <li>
      <a href="http://javifick.com">
        <img alt="Javi Fick" src="/img/sponsors/javi-fick.png" width="120" />
      </a> 
      <p>
        <a href="http://javifick.com">Javi Fick Motion Art</a> 
        - A visual artist, of sorts
      </p>
    </li>
  </ul>
</section>

