---
layout: layouts/archive.njk
permalink: /2014-portland/
title: Front-End Conf 2014 St. Petersburg
---
<h1 class="year ta-c">2014</h1>

<div class="mx-auto vimeo-container">
  <div class="vimeo">
    <iframe src="https://player.vimeo.com/video/331898864" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<h2 class="ta-c">Speakers</h2>

<section class="d-f fw-w jc-c speakers-minimal">
  <article class="speaker">
    <div class="images">
      <img src="/img/speakers/daniel-ryan.jpg" alt="Daniel Ryan" width="120">
      <img src="/img/characters/daniel-ryan.svg" alt="Daniel Ryan" class="character" width="90">
    </div>
    <h3>Daniel Ryan</h3>
    <p><strong>Human First Web Design</strong></p>
    <a class="ai-c d-f" href="https://twitter.com/#!/dryan"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" />@dryan</a>
  </article>
  <article class="speaker">
    <div class="d-f">
      <img src="/img/speakers/rachel-smith.jpg" alt="Rachel Smith" height="120" width="120">
      <img src="/img/characters/rachel-smith.svg" alt="Rachel Smith" class="character" width="90">
    </div>
    </div>
    <h3>Rachel Smith</h3>
    <p><strong>Animating the web in a post-Flash world</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/rachsmithtweets">@rachsmithtweets</a></p>
  </article>
  <article class="speaker">
    <div class="d-f">
      <img src="/img/speakers/ben-callahan.jpg" alt="Ben Callahan" height="120" width="120">
      <img src="/img/characters/ben-callahan.svg" alt="Ben Callahan" class="character" width="90">
    </div>
    </div>
    <h3>Ben Callahan</h3>
    <p><strong>Small Screen Nav</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/bencallahan">@bencallahan</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/bermon-painter.jpg" alt="Bermon Painter" height="120" width="120">
      <img src="/img/characters/bermon-painter.svg" alt="Bermon Painter" class="character" width="90">
    </div>
    <h3>Bermon Painter</h3>
    <p><strong>Fostering Collaboration with Pattern Libraries and Rapid Prototyping</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/bermonpainter">@bermonpainter</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/chris-coyier.jpg" alt="Chris Coyier" height="120" width="120">
      <img src="/img/characters/chris-coyier.svg" alt="Chris Coyier" class="character" width="90">
    </div>
    <h3>Chris Coyier</h3>
    <p><strong>SVG is for Everybody</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/chriscoyier">@chriscoyier</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/jason-vanlue.jpg" alt="Matthew Carver" height="120" width="120" />
      <img src="/img/characters/jason-vanlue.svg" alt="Matthew Carver" class="character" width="100">
    </div>
    <h3>Jason VanLue</h3>
    <p><strong>Design Pattern Craftsmanship</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/jasonvanlue">@jasonvanlue</a></p>
  </article>
  <article class="speaker">
    <div>
      <img src="/img/speakers/matthew-carver.jpg" alt="Matthew Carver" height="120" width="120" />
    </div>
    <h3>Matthew Carver</h3>
    <p><strong>Contextually Aware Web Design</strong></p>
    <p class="ai-c d-f"><img alt="Twitter bird icon" class="mr-2" src="/img/twitter-blue.svg" width="20" /><a href="https://twitter.com/#!/matthew_carver">@matthew_carver</a></p>
  </article>
</section>

<section>
  <h2 class="ta-c">Sponsors</h2>
  <ul class="sponsors">
    <li>
      <a href="http://mailchimp.com">
        <img alt="Mailchimp" src="/img/sponsors/mailchimp.svg" width="180" />
      </a>
      <p>
        <a href="http://mailchimp.com">Mailchimp</a>
        - Send Better Email
      </p>
    </li>   
    <li>
      <a href="http://javifick.com">
        <img alt="Javi Fick" src="/img/sponsors/javi-fick.png" width="120" />
      </a> 
      <p>
        <a href="http://javifick.com">Javi Fick Motion Art</a> 
        - A visual artist, of sorts
      </p>
    </li>
  </ul>
</section>

