---
layout: layouts/2015.njk
permalink: /2015/
title: Front-End Conf 2015
---

<div class="wrapper hero site_header">
        <div class="site_header_inner">
            <div class="logo_header">
                <div class="logo">
                    <img src="/img/2015/svg/logo.svg" alt="Front-End Design Conference Logo">
                </div>
                <div class="date">May 21st-22nd 2015 // St. Petersburg, Fl</div>
             </div>
            <div class="site_header_info">
                <div class="site_header_info_inner">
                    <h2>A Conference for Web Professionals Who Love their Community, the Web, and Learning.</h2>
                    <div class="call_to_register content">
                        <h3>Tickets are $250</h3>
                        <a href="https://account.unmatchedstyle.com/register/front-end-conf/" class="button">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper speakers">
        <div class="section_header">
            <h2 class="section_title">Meet the Speakers</h2>
            <p>The quality of a conference is largely defined by the quality of the presenters. The Front-End Design Conference has always worked hard to find a truly engaging and thoughtful lineup and this year is no different.</p>
        </div>
        <ul class="content">
            <li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/chris-coyier.jpg" alt="Chris Coyier" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="http://CSS-Tricks.com">Chris Coyier</a></h3>
                    <p>CSS Tricks, CodePen<br /><a href="http://twitter.com/chriscoyier">@chriscoyier</a></p>
                </div>
            </li><li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/james-white.jpg" alt="James White" />   
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="http://blog.signalnoise.com/">James White</a></h3>
                    <p>SignalNoise Studio<br /><a href="http://twitter.com/SignalNoise">@SignalNoise</a></p>
                </div>
            </li><li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/sophie-shepherd.jpg" alt="Sophie Shepherd" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="http://sophieshepherd.com/">Sophie Shepherd</a></h3>
                    <p>Ushahidi<br /><a href="http://twitter.com/sophshepherd">@sophshepherd</a></p>
                </div>
            </li><li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/paul-armstrong.jpg" alt="Paul Armstrong" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="https://www.choremonster.com/">Paul Armstrong</a></h3>
                    <p>Choremonster<br /><a href="http://twitter.com/wiseacre">@wiseacre</a></p>
                </div>
            </li><li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/jared-ponchot.jpg" alt="Jared Ponchot" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="http://www.lullabot.com/">Jared Ponchot</a></h3>
                    <p>Lullabot<br /><a href="http://twitter.com/jponch">@jponch</a></p>
                </div>
            </li><li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/wren_lanier.jpg" alt="Wren Lanier" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="https://highrisehq.com/">Wren Lanier</a></h3>
                    <p>Highrise<br /><a href="http://twitter.com/heywren">@heywren</a></p>
                </div>
            </li><li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/katie-kovalcin.jpg" alt="Katie Kovalcin" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="https://www.seesparkbox.com/">Katie Kovalcin</a></h3>
                    <p>Sparkbox<br /><a href="http://twitter.com/katiekovalcin">@katiekovalcin</a></p>
                </div>
            </li><li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/garth-braithwaite.jpg" alt="Garth Braithwaite" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="http://www.adobe.com/">Garth Braithwaite</a></h3>
                    <p>Adobe<br /><a href="http://twitter.com/GarthDB">@GarthDB</a></p>
                </div>
            </li><li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/erik-runyon.jpg" alt="Erik Runyon" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="http://erikrunyon.com/">Erik Runyon</a></h3>
                    <p>University of Notre Dame<br /><a href="http://twitter.com/erunyon">@erunyon</a></p>
                </div>
            </li> 
            
            <li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/amanda-cheung.jpg" alt="Amanda Cheung" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="http://dockyard.com/">Amanda Cheung</a></h3>
                    <p>UX developer at DockYard<br /><a href="http://twitter.com/acacheung">@acacheung</a></p>
                </div>
            </li> 
            
            <li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/val-head.jpg" alt="Val Head" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="http://www.valhead.com/">Val Head</a></h3>
                    <p>Valhead.com<br /><a href="http://twitter.com/vlh">@vlh</a></p>
                </div>
            </li> 
            
            <li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/jonathan-snook.jpg" alt="Jonathan Snook" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="http://snook.ca/">Jonathan Snook</a></h3>
                    <p>Shopify<br /><a href="http://twitter.com/snookca">@snookca</a></p>
                </div>
            </li> 
            
            <li>
                <div class="speaker_img">
                    <div>
                        <img src="/img/2015/speakers/damon-deaner.jpg" alt="Damon Deaner" />
                    </div>
                </div>
                <div class="speaker_info">
                    <h3><a href="http://ibm.com/design">Damon Deaner</a></h3>
                    <p>IBM Design<br /><a href="http://twitter.com/damondeaner">@damondeaner</a></p>
                </div>
            </li>        
           </ul>
           
			<div class="section_header">
				<h2 class="section_title">Workshop(s)</h2>
				<p>The workshops are on May 20th. There are full day and half day workshops. Full info on all coming soon...</p>
			</div>
			
			<ul class="content">
			
            <li>
				<div class="speaker_img">
				    <div>
				        <img src="/img/2015/speakers/val-head.jpg" alt="Val Head" />
				    </div>
				</div>
				<div class="speaker_info">
				    <h3><a href="http://www.valhead.com/">Val Head</a></h3>
				    <p>Valhead.com<br /><a href="http://twitter.com/vlh">@vlh</a></p>
				    <p><a href="#">Interface Animation For The Web (Full Day)</a></p>
				</div>
            </li><li>
				<div class="speaker_img">
				    <div>
				        <img src="/img/2015/speakers/jonathan-snook.jpg" alt="Jonathan Snook" />
				    </div>
				</div>
				<div class="speaker_info">
				    <h3><a href="http://snook.ca/">Jonathan Snook</a></h3>
				    <p>Shopify<br /><a href="http://twitter.com/snookca">@snookca</a></p>
				    <p><strike>SMACSS Workshop (Full Day)</strike><br />SOLD OUT</p>
				</div>
            </li><li>
				<div class="speaker_img">
				    <div>
				        <img src="/img/2015/speakers/adam-simpson.jpg" alt="Adam Simpson" />
				    </div>
				</div>
				<div class="speaker_info">
				    <h3><a href="http://buildright.io/">Adam Simpson</a></h3>
				    <p>Spark Box<br /><a href="http://twitter.com/a_simpson">@a_simpson</a></p>
				    <p><a href="#">Build Right: Frontend Tooling Workshop (1/2 Day)</a></p>
				</div>
            </li><li>
				<div class="speaker_img">
				    <div>
				        <img src="/img/2015/speakers/daniel-flynn.jpg" alt="Daniel Flynn" />
				    </div>
				</div>
				<div class="speaker_info">
				    <h3><a href="http://buildright.io/">Daniel Flyn</a></h3>
				    <p>Spark Box<br /><a href="http://twitter.com/dflynn15">@dflynn15</a></p>
				    <p><a href="#">Build Right: Frontend Tooling Workshop (1/2 Day)</a></p>
				</div>
            </li><li>
				<div class="speaker_img">
				    <div>
				        <img src="/img/2015/speakers/rob-tarr.jpg" alt="Rob Tarr" />
				    </div>
				</div>
				<div class="speaker_info">
				    <h3><a href="http://buildright.io/">Rob Tarr</a></h3>
				    <p>Spark Box<br /><a href="http://twitter.com/robtarr">@robtarr</a></p>
				    <p><a href="#">Build Right: Frontend Testing Workshop (1/2 Day)</a></p>
				</div>
            </li><li>
				<div class="speaker_img">
				    <div>
				        <img src="/img/2015/speakers/ryan-cromwell.jpg" alt="Ryan Cromwell" />
				    </div>
				</div>
				<div class="speaker_info">
				    <h3><a href="http://buildright.io/">Ryan Cromwell</a></h3>
				    <p>Spark Box<br /><a href="http://twitter.com/cromwellryan">@cromwellryan</a></p>
				    <p><a href="#">Build Right: Frontend Testing Workshop (1/2 Day)</a></p>
				</div>
            </li>  
        </ul>
    </div>
	
	<!--
    <div class="wrapper call_for_speakers">
        <div>
            <h2>Would You Like to Speak at FrontEnd?</h2>
            <p>We are taking a limited number of presentation proposals for the 2015 conference and would love to hear from some new voices. If you would like to speak at next year's event, please submit a talk idea.</p>
            <a href="https://period3.wufoo.com/forms/front-end-design-2015-speakertalk-proposal/" class="call_for_speakers_button button">Submit a Talk</a>    
        </div>
    </div>
    -->

<!--
    <div class="wrapper hero">
        <p id="video_container_target">
        	<iframe src="//player.vimeo.com/video/101293183?color=ed4153&title=0&byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
        </p>
    </div>
-->    

    <div class="wrapper schedule">

        <div class="section_header"><a name="schedule"></a>
            <h2 class="section_title">Schedule</h2>  
        </div>
        <ul class="content">
            <li class="day day1">
                <div class="day_header">
                    <h2 class="date">Wednesday 5/20 | Workshops</h2>
                </div>
                <ul>
                
                    <li class="break">
                        <p><span class="time">8:00am to 9:00am</span> Check in &amp; Breakfast - Location: The Iron Yard 260 1st Ave S (Suite 300) St Petersburg, FL 33701 (<a href="https://goo.gl/maps/WIyrm">Map</a>)</p>
                    </li>
                    
                    <li class="session">
                        <div class="session_header">
                            <p class="time">9:00am - 5:00pm</p>
                            <h5 class="title"><a href="#">Interface Animation for the Web</a> (Full Day)</h5>
                        </div>
                    </li>
                    <li class="session">
                        <div class="session_header">
                            <p class="time">9:00am - 5:00pm</p>
                            <h5 class="title"><a href="#">SMACSS Workshop</a> (Full Day)</h5>
                        </div>
                    </li>
                    <li class="session">
                        <div class="session_header">
                            <p class="time">9:00am - 12:00pm</p>
                            <h5 class="title"><a href="#">Build Right: Frontend Tooling Workshop</a> (1/2 Day)</h5>
                        </div>
                    </li>
                    <li class="break">
                        <p><span class="time">12:00pm to 1:30pm</span> Lunch Break</p>
                    </li>
                    <li class="session">
                        <div class="session_header">
                            <p class="time">1:30pm - 5:00pm</p>
                            <h5 class="title"><a href="#">Build Right: Frontend Testing Workshop</a> (1/2 Day)</h5>
                        </div>
                    </li>
                    <li class="break">
                        <p><span class="time">7:00pm to 10:00pm</span> Welcome/Kick-off Party - Location: The Iron Yard 260 1st Ave S (Suite 300) St Petersburg, FL 33701 (<a href="https://goo.gl/maps/WIyrm">Map</a>)</p>
                    </li>
                </ul>
            </li>
            <li class="day day2">
                <div class="day_header">
                    <h2 class="date">Thursday 5/21 | Main Conference Day 1</h2>
                </div>
                <ul>
                
                    <li class="break">
                        <p><span class="time">8:00am to 9:00am</span> Check in (We'll have coffee & light food) - Location: The Palladium Theater 253 Fifth Ave. N, St. Petersburg, FL 33701 (<a href="https://goo.gl/maps/RLYqc">Map</a>)</p>
                    </li>

                    <li class="session">    
                        <div class="session_header">
                            <p class="time">Start Up @ 9:00am</p>
                            <h5 class="title">Designers Can Open Source</h5>
                            <h3 class="speaker">Garth Braithwaite</h3>
                        </div>
                        <div class="description">
                            <p>This session will cover a few topics in relation to open source design, including: Open source licenses, Benefits of open sourcing design work, How to open source work, How to contribute design to open source projects, How to make friends with other designers. This topic is aimed at designers and some development practices will be discussed.</p>
                        </div>
                    </li>

                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Becoming a YOU-shaped person</h5>
                            <h3 class="speaker">Jonathan Snook</h3>
						</div>
                        <div class="description">
                            <p>A jack of all trades and master of none. We’re told that we can either go deep on a particular topic or go general. After all, how can someone know everything about everything? However, with the right focus and plenty of time, we can become magical unicorns of design and development.</p>
                        </div>
                    </li>
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Style Guides: For Clients, for Products, and For Yourself</h5>
                            <h3 class="speaker">Sophie Shepherd</h3>
						</div>
                        <div class="description">
                            <p>In the world of ever-changing design deliverables, a browser-based style guide serves as an anchor to the design system, and bridges the gap between design and front-end development. While a style guide is almost always a good idea, many factors determine what it should define and how it should be used in the lifecycle of the project. In her talk, Sophie will cover what a style guide should contain and how it can be used by a whole team (not only designers and developers!) — and how these things differ for client work, internal products, and open source products.</p>
                        </div>
                    </li>

                    <li class="break">
                        <p><span class="time">12:00pm</span> Lunch Break (1.5 hours) Enjoy Lunch Around Downtown St. Pete.</p>
                    </li>
                    
                    <li class="session">
                        <div class="session_header">
                            <p class="time">Start Back Up @ 1:30pm</p>
                            <h5 class="title">Building a Sustainable Culture of Great Design at Scale</h5>
                            <h3 class="speaker">Damon Deaner</h3>
                        </div>
                        <div class="description">
                            <p>IBMers around the world are working to relentlessly reinvent our 104-year-old company and we’re using IBM Design Thinking to help us scale this transformation. We’re creating a global culture of design, the world’s largest design team, and a large global network of studios. This transformation is enabling us to deliver delightful user experiences founded on world-class front end engineering. We’re building design into everything we do, changing the way we work.</p>

<p>Since 2013 we are proud to have nearly doubled the number of our designers and front end engineers into our studios worldwide and into fulfilling and challenging careers. This effort continues at full speed today. I’m happy to share with you how we’re building scalable design and front end development programs within one of the world’s largest technology companies.</p>
                        </div>
                    </li>
                    
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">How Monsters And Fart Jokes Made Me A Better Designer</h5>
                            <h3 class="speaker">Paul Armstrong</h3>
                        </div>
                        <div class="description">
                            <p>Paul has over 18 years of graphic design experience with brands like Subway, New Balance, Harrah’s Casino, and Facebook, and then some other brands you’ve never heard of, nor would remember. Currently, he is the co-founder and Chief Creative Officer of <a href="https://www.choremonster.com/">ChoreMonster</a> (though he does not carry a badge), where he designs the overall brand experience on the web and all mobile platforms, helps craft words, illustrates monsters and draws farts.</p>
                        </div>
                    </li>
                
                    <li class="break">
                        <p><span class="time">Afternoon Break</span></p>
                    </li>

                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Responsible Data Visualization</h5>
                            <h3 class="speaker">Amanda Cheung</h3>
                        </div>
                        <div class="description">
                            <p>Many of us are visual learners. Charts and graphs display data in ways that benefit retention and comprehension. How can we build graphic representations of information that creates a better experience for our users? What are things we should worry about when designing and implementing data visualizations in our web applications? These graphs are innately visual, but it's our responsibility to make them accessible as well! First, we'll go over traditional formats for charting then dive deeper into more customized situations.</p>
                        </div>
                    </li>
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Masters of the Universe</h5>
                            <h3 class="speaker">James White</h3>
						</div>
                        <div class="description">
                            <p>In order to reach our goals in the upside-down world of graphic design, you need to be a rogue. A misfit. A renegade. James White from the Signalnoise Studio has based his career on doing things outside of the ordinary, turning his back on boardrooms and creative briefs in order to chase his design dreams with vengeance and rock n’ roll. He will be telling his story while discussing personal projects built from love and ambition in his small home office in Dartmouth, Nova Scotia. These led to him working with respected people all over the world, from his favourite metal band to film juggernaut Kevin Smith. James will talk about chasing your creative path, building your personal body of work, the value of supporting friends, and never forgetting the artist inside.</p>
                        </div>
                    </li>
                
                    <li class="break">
                        <p><span class="time">7:00pm to 9:00pam</span> Conference "Happy Hour" Meetup, Location: <a href="http://thebirchwood.com/" target="_blank">The Birchwood Canopy</a></p>
                    </li>
                </ul>
            </li>
            <li class="day day3">
                <div class="day_header">
                    <h2 class="date">Friday 5/22 | Main Conference Day 2</h2>
                </div>
                <ul>
                
                    <li class="break">
                        <p><span class="time">9:00am to 10:00am</span> Check in (We'll have coffee & light food) - Location: The Palladium Theater 253 Fifth Ave. N, St. Petersburg, FL 33701 (<a href="https://goo.gl/maps/RLYqc">Map</a>)</p>
                    </li>

                    <li class="session">
                        <div class="session_header">
                            <p class="time">Start up @ 10:00am</p>
                            <h5 class="title">The Path to Performance</h5>
                            <h3 class="speaker">Katie Kovalcin</h3>
						</div>
                        <div class="description">
                            <p><a href="http://kovalc.in/">Katie</a> is a designer at <a href="http://seesparkbox.com/">Sparkbox</a>. She is the 2014 Net Awards Young Designer of the Year, a teacher for Girl Develop It, and a writer for various publications. She strongly values collaboration with her teammates, performance in design, and beautifully smart design systems. She loves her dog and iced coffee more than anything formerly mentioned.</p>
                        </div>
                    </li>

                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">Designing Together Apart</h5>
                            <h3 class="speaker">Jared Ponchot</h3>
                        </div>
                        <div class="description">
                            <p>Whether you call yourself a designer or a developer or a strategist or something else, the work we do is creative work. Many teams are now doing this work from multiple locations, spread out across cities, states and even countries.</p>
<p>In this session we’ll look at the fundamental building blocks for creative work, and how you can create and nurture these things whether you’re working together in the same room, or in teams spread out across the world</p>
                        </div>
                        
                    </li>
                    <li class="session">
                        <div class="session_header">
                            <h5 class="title">How Designers Fail</h5>
                            <h3 class="speaker">Wren Lanier</h3>
                            <p class="description">Wren is a designer with a passion for creating beautiful digital products. Since she started working on the web over 12 years ago, she’s done a little bit of everything—from advising startups on UX best practices to pushing pixels for Fortune 500 companies. When she's not building internet things, she enjoys eating bagels, making trouble, and taking naps.</p>
                        </div>
                        
                    </li>
                    <li class="break">
                        <p><span class="time">12:00pm</span> Lunch Break (1.5 hours) Enjoy Lunch Around Downtown St. Pete.</p>
                    </li>
                    <li class="session">
                        <div class="session_header">
                            <p class="time">Start Back up @ 1:30pm</p>
                            <h5 class="title">Think Like A Motion Designer</h5>
                            <h3 class="speaker">Val Head</h3>
						</div>
                        <div class="description">
                            <p>With the current state of CSS and JavaScript the web has seriously stepped up its animation game. As web designers and developers we’ve never had to understand animation principles like we do now. Smart animation comes from thinking like a motion designer when adding animations and transitions to our web work. There is a huge depth of knowledge we can pull from while we design and build the new UIs of the web.</p>
                            <p>In this session we’ll cover key animation principles like timing, offsets, arcs, and others as they apply to UI work on the web. And we’ll demonstrate how to pull off common animation tricks of the trade in CSS. This is your one-hour crash course into becoming a web animation pro!</p>
                        </div>
                        
                    </li>
                    <li class="session">
                        
                        <div class="session_header">
                            <h5 class="title">The modern web's &#60;img&#62; problem</h5>
                            <h3 class="speaker">Erik Runyon</h3>
                        </div>
                        <div class="description">
                            <p>We can all agree that web performance is a serious problem that warrants our time and effort. Recent reports indicate that the average website is now over 2MB, with images accounting for over 70% of that weight. But fear not, there are many approaches to alleviating our image problem. We'll look at several real-world examples of how to deal with image overload, as well as some recent additions to modern browsers that will help us in our fight against one-size-fits-all image bloat.</p>
                        </div>
                        
                    </li>
                
                    <li class="break">
                        <p><span class="time">Afternoon Break</span></p>
                    </li>
                    
                    <li class="session"> 
                        <div class="session_header">
                            <h5 class="title">SVG is For Everybody</h5>
                            <h3 class="speaker">Chris Coyier</h3>
						</div>
                        <div class="description">
                            <p>While SVG isn’t exactly new, browser support is just getting to the point that we can use the SVG format without much worry. And even if we do need fallbacks for older browsers, we now have modern tools that make creating these fallbacks easy. All this makes right now the perfect time to learn about SVG and how it can help you in everyday web design. Perhaps the most compelling reason of all, though, is that SVG images look sharp at any dimension with tiny file sizes—which is great for making responsive websites responsibly.
                        </div>
                    </li>
                
                    <li class="break">
                        <p><span class="time">7:00pm to 10:0pam</span> Conference Closing Meetup, Location: <a href="http://greenbenchbrewing.com/">Green Bench Brewing</a> (<a href="https://goo.gl/maps/z6cKE">Map</a>)<br />There will be a <a href="http://greenbenchbrewing.com/events/?event_id1=218">food truck at Green Bench tonight</a> and there is a really good Tex-Mex eat-in or take-out restaurant right next door called <a href="http://www.redmesamercado.com/">Mercado</a>.</p>
                    </li>
                </ul>
            <li>
        <ul>
    </div>


    <div class="wrapper hero">
        <h3>Food, fun and all the learning that you can pack into a two day conference.</h3>
    </div>
   

    <div class="wrapper venue">

        <div class="section_header">
            <h2 class="section_title">The Venue(s)</h2>
            <p>Our speakers deserve a beautiful stage from which to present and the Palladium Theatre has long been that stage. We love the venue and think you will too!</p>
        </div>

        <div class="content clearfix">
        	<h2>The Main Event</h2>
            <h3>The Palladium Theatre in St. Petersburg, Florida</h3> 
            <img src="/img/2015/venue.jpg" alt="The Palladium Theatre in St.Petersburg, Florida">
            <p>The Palladium, located in downtown St. Petersburg’s cultural center, is part of what makes Tampa Bay great. It's also where Front End has called home for the past few years.</p>
            <p>With its two venues, the 850-seat main concert hall; Hough Hall, as well as its intimate listening room The Side Door, The Palladium fosters artistically and culturally diverse performing arts, educational and film programs that bring artists and audiences together in a first-class professional, affordable setting.</p>
            <p>You can learn more about the Palladium Theatre by checking out the <a href="http://www.mypalladium.org/">official website.</a></p>
        </div>
        
        <div class="content clearfix">
       		<h2>Workshops</h2>
            <h3>The Iron Yard St. Petersburg Campus</h3> 
            <img src="/img/2015/tiy-stpete.jpg" alt="The Iron Yard St. Petersburg Campus">
            <p>The Iron Yard Academy teaches intensive, three-month courses that mentor you into a professional junior-level programmer. Our program goes far beyond tactical skills and teaches you to think like a software engineer. Programming is a lifelong study, and our process shows you to learn how to learn so you remain highly valuable for the rest of your career.</p>
            <p>Learn more about The Iron Yard Academy from their <a href="http://theironyard.com/academy/">official website.</a></p>
        </div>
        
        <div class="content clearfix">
       		<h2>Hotel</h2>
            Courtyard St. Petersburg Downtown - $142/night<br />
        <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Front%20End%20Design%20Conference%5Etpasd%60FEDFEDA%7CFEDFEDB%60142.00%60USD%60false%605/20/15%605/22/15%604/29/15&app=resvlink&stop_mobi=yes">Book with this link</a>
        </div>
        
        
        
        
    </div>
    </div>

