---
layout: layouts/2024-minimal.njk
title: Front-End Conf 2024
---

<style>
  body {
    background: #b51f24;
    color: #f4e9dd;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    position: relative;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav.d-f-center.p-4 {
    display: none;
  }

  time {
    font-size: 1.25rem;
    font-weight: 600;
  }

  time + p {
    font-weight: 300;
    margin-top: 0;
  }

  h1 {
    margin: 0;
  }

  h1 + p {
    margin-top: 0;
  }

  a {
    color: #ffc64a;
    font-weight: 600;
    transtion: opacity 0.5s ease;
  }

  a:active, a:focus, a:hover {
    color: #ffc64a;
    opacity: 0.75;
  }

  main {
    padding: 1rem;
  }

  nav {
    background-color: #7b1518;
    display: flex;
    justify-content: center;
    position: sticky;
  }

  nav a {
    padding: 1rem;
  }

  @media screen and (min-width: 600px) {
    main {
      margin-inline: auto;
      max-width: 39em;
    }
  }
</style>

<nav>
  <a href="#day-one">April 25</a>
  <a href="#party">Party</a>
  <a href="#day-one">April 26</a>
</nav>

<main>

  <p><strong>Code of Conduct</strong> Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers. - <a href="https://confcodeofconduct.com">Source</a> </p>

  <h1>Palladium Theater</h1>
  <p><a href="https://maps.app.goo.gl/wbr5C8dd5UJbF63B9">253 Fifth Ave. N, St. Petersburg, FL 33701</a></p>
  <p>Parking is available in the lot connected to the theater and across the street</p>

  <h2 id="day-one">Day One - April 25</h2>
  <ol>
    <li>
      <time datetime="08:30">9:30</time> - <time datetime="09:30">9:40</time>
      <p>
        Welcome and Intro
      </p>
    </li>
    <li>
      <time datetime="08:30">8:30</time> - <time datetime="09:30">9:30</time>
      <p>
        Breakfast: Food and drinks in the downstairs area, with plenty of tables
      </p>
    </li>
    <li>
      <time datetime="09:40">9:40</time> - <time datetime="10:25">10:25</time>
      <p>
        Improving Accessibility Through Design Systems - <strong>Homer Gaines</strong>
        </p>
    </li>
    <li>
      <time datetime="10:25">10:25</time> - <time datetime="10:55">10:55</time>
      <p>Snack break</p>
    </li>
    <li>
      <time datetime="10:55">10:55</time> - <time datetime="11:40">11:40</time>
      <p>
        Modern CSS For Dynamic Component-Based Architecture - <strong>Stephanie Eckles</strong>
      </p>
    </li>
    <li>
      <time datetime="11:40">11:40</time> - <time datetime="1:15">1:15</time>
      <p>
        Lunch break
      </p>
    </li>
    <li>
      <time datetime="1:15">1:15</time> - <time datetime="2:00">2:00</time>
      <p>
        Talk It Out: Using Natural Language with AI to go from idea to PoC - <strong>Brandon Mitchell</strong>
      </p>
    </li>
    <li>
      <time datetime="2:00">2:00</time> - <time datetime="2:15">2:15</time>
      <p>
        Chat Break
      </p>
    </li>
    <li>
      <time datetime="2:15">2:15</time> - <time datetime="3:00">3:00</time>
      <p>
        It's Not For Looking At: Building Impactful Design Systems - <strong>Elyse Holladay</strong>
      </p>
    </li>
    <li>
      <time datetime="3:00">3:00</time> - <time datetime="3:30">3:30</time>
      <p>
        Snack Break
      </p>
    </li>
    <li>
      <time datetime="3:30">3:30</time> - <time datetime="4:15">4:15</time>
      <p>
        How I Fell In Love With Astro - <strong>James Quick</strong>
      </p>
    </li>
    <li id="party">
      <time datetime="6:00">6:00</time> - <time datetime="9:00">9:00</time>
      <p>
        Party - St Petersburg Shuffleboard Club - <a href="https://maps.app.goo.gl/KMx1oBGvhe3aFPpq7">559 Mirror Lake Dr N, St. Petersburg, FL 33701</a>
      </p>
    </li>
  </ol>

  <h2 id="day-two">Day Two - April 26</h2>
  <ol>
    <li>
      <time datetime="09:00">9:00</time> - <time datetime="10:00">10:00</time>
      <p>
        Breakfast: Food and drinks in the downstairs area, with plenty of tables
      </p>
    </li>
    <li>
      <time datetime="09:40">9:40</time> - <time datetime="10:25">10:25</time>
      <p>
        Wisdom from the Trees - <strong>Ben Callahan</strong>
      </p>
    </li>
    <li>
      <time datetime="10:45">10:45</time> - <time datetime="11:15">11:15</time>
      <p>Snack break</p>
    </li>
    <li>
      <time datetime="11:15">11:15</time> - <time datetime="12:00">12:00</time>
      <p>
        Building a blog-sharing generator - <strong>Cassidy Williams</strong>
      </p>
    </li>
    <li>
      <time datetime="12:00">12:00</time> - <time datetime="1:30">1:30</time>
      <p>
        Lunch break
      </p>
    </li>
    <li>
      <time datetime="12:15">12:15</time> - <time datetime="1:15">1:15</time>
      <p>
        Optional Discussion of The Question downstairs
      </p>
    </li>
    <li>
      <time datetime="1:30">1:30</time> - <time datetime="2:15">2:15</time>
      <p>
        So what is "design quality" anyway and why is it so hard to achieve? - <strong>Cameron Moll</strong>
      </p>
    </li>
    <li>
      <time datetime="2:15">2:15</time> - <time datetime="2:45">2:45</time>
      <p>
        Snack Break
      </p>
    </li>
    <li>
      <time datetime="2:45">2:45</time> - <time datetime="3:30">3:30</time>
      <p>
        Should Designers No Code? - <strong>Jine Anne</strong>
      </p>
    </li>
    <li>
      <time datetime="3:30">3:30</time> - <time datetime="3:45">3:45</time>
      <p>
        Chat Break
      </p>
    </li>
    <li>
      <time datetime="3:45">3:45</time> - <time datetime="4:30">4:30</time>
      <p>
        A Starwipe is Born: View Transitions, Scroll-based Animations & Other Interactions You Might Not Need That Third-Party Library For - <strong>Adam Kuhn</strong>
      </p>
    </li>
    <li>
      <time datetime="5:30">5:30ish</time> - ???
      <p>
        Hanging at Park & Rec - <a href="https://maps.app.goo.gl/qeH2sbUTWmimYtpq6">100 4th St S, St. Petersburg, FL 33701</a>
      </p>
      <p>
        For anyone still in town and wanting to keep the fun going, we'll head over to Park & Rec
      </p>
    </li>
  </ol>

</main>





